{% extends 'base.html' %}

{% block content %}

  <main id="main">
  <section class="section-sec-0-40" >
      <div class="container">
        <div class="row">
          <div class="col-lg-7 section-fpad wow fadeInLeft">
                <h2 class="subhead-small-blk">Tap Into New Business Opportunities with Our List of Manufacturing Businesses</h2>
                <p align="justify">The manufacturing industry is a vast industry that contributes immensely to a nation's growth. Manufacturing activities involve turning raw materials into semi-finished or finished goods, ready for consumption. The industry supports various sectors and contributes a massive $2.3 trillion to the US GDP. Safe to say, if you want to tap into this vast and competitive industry, you need access to a robust database that lets you target top decision-makers in this industry. And a manufacturing industry email list from Span Global Services lets you do just that. </p>
                <p align="justify">Span Global Services' manufacturing industry mailing list is a comprehensive database of relevant decision-makers and industry professionals to help you pitch your product or service to the right audience. With an updated and verified <a href="https://www.spanglobalservices.com/email-lists" target="_blank">email list</a>, you can interact with manufacturing industry experts, managers, buyers, operators, and more. </p>
                <p align="justify">Our team of data experts works tirelessly to collect and clean data from several ethical sources to ensure you get access to only the most genuine leads.</p>

                <a href="https://www.spanglobalservices.com/connect-with-us" class="green-btn circle-fa">Connect With US! &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a>
          </div>
          <div class="col-lg-5 mb-4 wow fadeInRight">
               <div class="mx-800">
                            <div class="contact-side">
	<h4>GET A FREE QUOTE</h4>
	<p>We have got you covered on all your email and direct marketing needs</p>
    <div class="form">
         
			
		    <form name="f12" id="contact-form" action="https://www.spanglobalservices.com/scripts/formmail" method="post" onSubmit="return validationcon()" > 		
			<input type="hidden" name="returnURL" value="https://www.spanglobalservices.com/thanks">
			<input name="title" type="hidden" value="Contact Request from Span Global Services">


			  <div class=" form-row">
              	<div class="col-lg-6 form-group">
                	<div class="input-container">
                        <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name*">
                        <i class="fa fa-user icon"></i>
                    </div>
                </div>
                <div class="col-lg-6 form-group">
                	<div class="input-container">
                    	<input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name">
                        <i class="fa fa-user icon"></i>
                    </div>
              		
                </div>
              </div>
			  
			   <div class=" form-row">
              	<div class="col-lg-6 form-group">
                	<div class="input-container">
              			<input type="email" class="form-control" name="email" id="email" placeholder="Business Email*">
                    	<i class="fa fa-envelope icon"></i>
                    </div>
                </div>
                <div class="col-lg-6 form-group">
                	<div class="input-container">
              			<input type="text" class="form-control" name="phone" id="phone" placeholder="Business Phone*">
                        <i class="fa fa-phone icon"></i>
                    </div>
                </div>
              </div>
			
			
              <div class=" form-row">
              	
                <div class="col-lg-12 form-group">
                	<div class="input-container">
                		<input type="text" name="company" class="form-control" id="company" placeholder="Company Name*">
                        <i class="fa fa-briefcase icon"></i>
                    </div>
              		
                </div>
              </div>
			  
			   <div class=" form-row">
              	
                <div class="col-lg-12 form-group">
                	<div class="input-container">
                		
                        <select name="contact" class="form-control">
  <option value="">No. of contacts</option>
  <option value="Less than 10k">Less than 10k</option>
  <option value="10k-50k">10k-50k</option>
  <option value="50k-100k">50k-100k</option>
  <option value="100k+">100k+</option>
</select>
                    </div>
              		
                </div>
              </div>
            
              
              
              <div class="form-group">
              	<textarea class="form-control " name="comments" rows="1" placeholder="Message*"></textarea>
              </div>
              <div class="form-group">
              <label ><input name="newslettersubscribe" value="newslettersubscribe" checked="" type="checkbox"> I would like to subscribe to your Newsletter.</label>
              </div>
              
              <div class="form-group mt-4"><button type="submit" class="circle-fa" >Submit Data Counts and Quote Request &nbsp; <i class="fa icon ion-android-arrow-forward"></i></button></div>
          </form>
     </div>
</div>              </div>
          </div>
          <div class="clearfix"></div>
        </div>
        </div>
    </section>
      
    <section class="section-sec-0-40 " >
    <div class="container" style="box-shadow: -1px 7px 25px #dddddd;">
       <div class="row">
          <div class="col-lg-6 mb-4 wow fadeInLeft" style="padding: 60px 40px 0px">
            <h2 class="subhead-small-blk">Reach Out to the Right People with a Well-Segmented Manufacturers Email Database</h2>
            <p style="text-align:Justify;">In this digital era, where your target audience is exposed to tons of similar content from competitors, you cannot expect your marketing campaigns to be successful overnight. What you need is a highly-targeted strategy backed by data to connect with your customer at the right time and in the right place.</p>
            <p style="text-align:Justify;">We understand this, which is why we bring you a well-segmented list of manufacturing companies so that your sales and marketing teams don't have to spend hours sorting through the information. You can plan and execute personalized marketing messaging with access to segmented data fields, such as-</p>
            
           
          </div>
          <div class="col-lg-6 manufacture-user-bg wow fadeInRight" style="padding: 60px 40px 30px;background-color: #e0e0e0;">
           <div class="white-back">
                  <ul class="bullet-list" style="display:inline-block;"> 
                    <li>Name</li>
                    <li> Company name</li>
                    <li> Job title</li>
                     <li>Email address</li>
                    <li> Phone number</li>
                    <li> Industry</li>
                   </ul> 
                  <ul class="bullet-list" style="display:inline-block;">
                   <li> NAICS code</li>
                        <li> SIC code</li>
                        <li> Location</li>
                        <li> Company size</li>
                        <li> Company Revenue</li>
                        <li> Asset size
                        </li>
                  </ul>
              </div>
            <p style="text-align:Justify;" class="pt-8">And many more. Moreover, our database is 100% opt-in and in compliance with local and global data laws. This means you won't ever have to worry about missing your prospects' inboxes. You can pitch your business with the right messaging and build lasting connections to increase your revenue.</p>
          </div>
       </div>
    </div>
  </section>
  
  <section class="section-sec-0-40">
    <div class="container">
      <div class="row">
          <div class="col-lg-12 wow fadeInLeft">
            <h2 class="subhead-small-blk text-center">List of Top 20 Manufacturing Companies</h2>
            <p class="text-center"><strong>When it comes to your marketing campaigns, data accuracy matters immensely. You need precise data at your disposal to reach the right accounts and boost your credibility. Here are the top 20 manufacturing companies in the US that you can access with our manufacturers' email database-</strong></p>
          </div>
      </div>

      <div class="row">
          <div class="col-lg-12 wow fadeInLeft ">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table ">
              <colgroup>
                <col>
                <col>
                <col>
                 <col>
                <col>
              </colgroup>
              <thead class="table-list">
                <tr>
                  <th scope="col">Company Name</th>
                  <th scope="col">Website</th>
                  <th scope="col">Country</th>
                  <th scope="col">Employee size</th>
                  <th scope="col">Revenue</th>
                </tr>
              </thead>
              <tbody class="table-body">
                <tr>
                  <td>THOR Industries</td>
                  <td>thorindustries.com</td>
                  <td>US</td>
                  <td>10,001+</td>
                  <td>$16 Billion</td>
                </tr>
                <tr>
                  <td>Align Technology</td>
                  <td>aligntech.com</td>
                  <td>US</td>
                  <td>9,212</td>
                  <td>$4 Billion</td>
                </tr>
                <tr>
                  <td>Pilgrim's Pride</td>
                  <td>pilgrims.com</td>
                  <td>US</td>
                  <td>10,001+</td>
                  <td>$15 Billion</td>
                </tr>
                 <tr>
                  <td>Patrick Industries Inc.</td>
                  <td>patrickind.com</td>
                  <td>US</td>
                  <td>10,001+</td>
                  <td>$4 Billion</td>
                </tr>
                 <tr>
                  <td>LCI Industries</td>
                  <td>lcindustries.com</td>
                  <td>US</td>
                  <td>10,001+</td>
                  <td>$5.2 Billion</td>
                </tr>
                 <tr>
                  <td>Sherwin-Williams Co.</td>
                  <td>Sherwin-williams.com</td>
                  <td>US</td>
                  <td>50,001+</td>
                  <td>$20 Billion</td>
                </tr>
                 <tr>
                  <td>Sanderson Farm</td>
                  <td>sandersonfarm.com</td>
                  <td>US</td>
                  <td>11,001+</td>
                  <td>$2.68 Billion</td>
                </tr>
                 <tr>
                  <td>Lear Corporation</td>
                  <td>lear.com</td>
                  <td>US</td>
                  <td>30,001+</td>
                  <td>$19 Billion</td>
                </tr>
                 <tr>
                  <td>The Clorox Company</td>
                  <td>thecloroxcompany.com</td>
                  <td>US</td>
                  <td>5,001-10,000</td>
                  <td>$7 Billion</td>
                </tr>
                 <tr>
                  <td>Lancaster Colony Corporation</td>
                  <td>lancastercolony.com</td>
                  <td>US</td>
                  <td>501-1,000</td>
                  <td>$1 Billion</td>
                </tr>
                <tr>
                  <td>Caterpillar</td>
                  <td>caterpillar.com</td>
                  <td>US</td>
                  <td>107,700</td>
                  <td>$52 Billion</td>
                </tr>
                <tr>
                  <td>Johnson & Johnson</td>
                  <td>jnj.com</td>
                  <td>US</td>
                  <td>141,700</td>
                  <td>$93.77 Billion</td>
                </tr>
                <tr>
                  <td>Ford Motors</td>
                  <td>ford.com</td>
                  <td>US</td>
                  <td>10,001+</td>
                  <td>$134 Billion</td>
                </tr>
                <tr>
                  <td>Analog Devices</td>
                  <td>analog.com</td>
                  <td>US</td>
                  <td>20,000+</td>
                  <td>$9 Billion</td>
                </tr>
                <tr>
                  <td>Boeing</td>
                  <td>boeing.com</td>
                  <td>US</td>
                  <td>140,000+</td>
                  <td>$61 Billion</td>
                </tr>
                <tr>
                  <td>Illinois Tool Works</td>
                  <td>itw.com</td>
                  <td>US</td>
                  <td>25,000+</td>
                  <td>$14 Billion</td>
                </tr>
                <tr>
                  <td>Emerson</td>
                  <td>emerson.com</td>
                  <td>US</td>
                  <td>10,001+</td>
                  <td>$18 Billion</td>
                </tr>
                <tr>
                  <td>Chevron Corp</td>
                  <td>chevron.com</td>
                  <td>US</td>
                  <td>50,000+</td>
                  <td>$176 Billion</td>
                </tr>
                <tr>
                  <td>Nor-Cal Beverage Co.</td>
                  <td>ncbev.com</td>
                  <td>US</td>
                  <td>500-1,000</td>
                  <td>$222 Billion</td>
                </tr>
                 <tr>
                  <td>General Dynamics</td>
                  <td>gd.com</td>
                  <td>US</td>
                  <td>10,001+</td>
                  <td>$9.39 Billion</td>
                </tr>
              </tbody>
            </table>
             </div>

          </div>
      </div>
      
    </div>
  </section> 
  <section class="grey-sec-light snow-sec" >
    <div class="container">
       <div class="row  pb-3 mt-3 wow fadeInRight" style="padding-top:80px">
          <div class="col-lg-6 mb-4 wow fadeInRight paddingr-50">
             <h2 class="subhead-small-blk">Why Choose Manufacturing Database from Span Global Services?</h2>
             <p style="text-align:Justify;">Wondering how a manufacturing industries list can help boost your business? For starters, building an email database in-house is an overwhelming and challenging process. You might run into data quality issues like missing information, inaccurate segmentation, human errors, and more. But a reliable data provider like Span Global Services makes things easy. </p>
             <p style="text-align:Justify;">Our data experts offer you a comprehensive database for manufacturing companies, which is accurate, verified, and authentic. Secondly, with our database, you can launch multi-channel marketing campaigns through email, SMS, social media, events, and more. The best part? Our data is highly actionable, which means you can personalize messaging across all these channels to engage your prospects and boost conversions. </p>
          </div>
          <div class="col-lg-6 mb-4 wow fadeInLeft">
            <h2 class="subhead-small-blk">Moreover, you can enjoy the following benefits with our manufacturing industry business list-</h2>
            <ul class="green-star-list">
                  <li> Upto 95% deliverability </li>
                  <li> Offers global reach </li>
                  <li> CAN-SPAM compliant </li>
                  <li> 100% verified data </li>
                  <li> Permission-based contact information </li>
                  <li> Multi-channel marketing capabilities </li>
                  <li> Sourced from ethical sources </li>
                  <li> Generate leads with email marketing </li>
                  <li> Tap into new markets
                  </li>
            </ul>
           
        </div>
       </div>
    </div>
  </section>

    <section class="section-sec-40-0 m-sec" >
    <div class="container">
       <div class="row  mt-3 wow fadeInRight">
          
          <div class="col-lg-6  wow fadeInLeft paddingr-50">
            <h2 class="subhead-small-blk">Make the Most of Your Marketing Efforts with Our Manufacturing Industry Email List</h2>
            <p style="text-align:Justify;">If you have a product that can cater to the specific needs of the manufacturing industry, a reliable manufacturing companies mailing list is all you need to reach top decision-makers. Our <a href="https://www.spanglobalservices.com/mailing-lists">mailing lists</a> allow you to explore newer markets with access to a global database. So, you can reach out to relevant leads in the US, the UK, Australia, Asia, Canada, and more.</p>
            <p style="text-align:Justify;" >Besides, our data is ethically sourced from several reliable sources, including yellow pages, conferences, business listings, online surveys, newsletters, public directories, and more. Once this data is collected, it undergoes regular check-ups to ensure you always have access to the freshest, most accurate, and error-free data.</p>
            <p style="text-align:Justify;">Having an authentic database can make all the difference to your marketing campaigns. You can identify the best accounts to target, create content to address their unique needs, and convert them into loyal customers. Further, you can customize this database based on location, demographics, specialization, sector, and so on. </p>
            <p style="text-align:Justify;">So, boost your business reach today with Span Global Services' manufacturing companies email lists. </p>
          </div>
          <div class="col-lg-6  wow fadeInRight">
            <a href="#requestquote"><img src="../assets/img/manufacturing-companies-mailing-list.jpg" alt="manufacturing industry email list" title="" class="repo-img extra-height"></a>
          </div>
       </div>
    </div>
  </section>
 
      
  <div id="requestquote">
  <p>&nbsp;</p>
  </div>
  
  <section class="free-quote-sec" >
      <div class="container">
      <div class="row">
          <div class="col-lg-5 wow fadeInRight centeralign">
            <div>
            <h2>GET A FREE QUOTE</h2>
            <p>Finding the right data can be<br/> 
            complicated, so we are here to help </p>
            </div>
          </div>
          <div class="col-lg-7 wow fadeInRight">
            <div class="contact-quote">
    <div class="form">
          <form method="post" name="contactside" class="contactForm" onsubmit="return fnValidationContactside()" action="https://www.spanglobalservices.com/scripts/formmail" enctype="multipart/form-data">
            <input name="subject" type="hidden" value="Contact Details from Span Global Services">
            <input name="redirect_url" type="hidden" value="https://www.spanglobalservices.com/thanks">
              <div class=" form-row">
              	<div class="col-lg-6 form-group">
              		<input type="text" name="fname" class="form-control" id="fname" placeholder="First Name*">
                </div>
                <div class="col-lg-6 form-group">
              		<input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name*">
                </div>
                <div class="col-lg-6 form-group">
                	<input type="email" class="form-control" name="email" id="email" placeholder="Business Email*">              		
                </div>
                <div class="col-lg-6 form-group">
                	<input type="text" class="form-control" name="phone" id="phone" placeholder="Phone*">            		
                </div>
              </div>
			  
			     <div class="form-row">
              	
                <div class="col-lg-12 form-group">
                	<div class="input-container">
                		
                        <select name="contact" class="form-control">
  <option value="">No. of contacts</option>
  <option value="Less than 10k">Less than 10k</option>
  <option value="10k-50k">10k-50k</option>
  <option value="50k-100k">50k-100k</option>
  <option value="100k+">100k+</option>
</select>
                    </div>
              		
                </div>
              </div>
                            
              <div class="form-group">
              	<textarea class="form-control " name="comments" rows="2" placeholder="Requirements"></textarea>
              </div>
              <div class="form-group"><button type="submit" class="circle-fa" >CLICK HERE TO SUBMIT</button></div>
          </form>
     </div>
</div>          </div>
      </div>
      </div>
  </section>
   
    
</main>
  

{% endblock %}