{% extends 'base.html' %}
{% block extra_css %}
    <style>
        .crypto-head {
            background-color: green;
            color: white;
            margin-top: 0px;
        }

        .crypto-head p {
            color: white;
            font-size: 16px;
            text-align: left;
            padding-top: 6px;
        }

        #header {
            padding: 0px 0;
        }

        #header .crypto-head .div-hd {
            margin-top: 6px;
            float: left;
            margin-left: 300px;
        }

        #header .crypto-head .div-hd img {
            padding-left: 16px;
        }

        @media screen and (max-width:768px) {
            #header .crypto-head .div-hd {
                display: none;
            }
            .crypto-head p {
                color: white;
                font-size: 12px;
                text-align: center;
                padding-top: 4px;
                margin-left: 0px;
            }
        }
    </style>

    <style>
        .nav-menu .high-text a {
            color: #036532;
            font-weight: bold;
            font-size: 13px;
        }

        .nav-menu ul li a {
            padding: 7px;
        }

        .nav-menu ul li ul li a {
            padding: 7px;
        }

        .nav-menu ul li ul li a:hover {
            padding: 7px;
            background-color: #1e8c09;
            ;
            color: #fff;
        }

        .nav-menu ul li ul {
            margin: 0;
            padding: 0px;
        }
    </style>
    <style>
        .file-form-control {
            display: block;
            width: 100%;
            height: calc(2.5em + 1.75rem + 2px);
        }
    </style>

{% endblock %}

{% block content %}

    <section class="inner-banner contact-appending-banner">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-3 wow fadeInLeft"></div>
                    <div class="col-lg-6 mb-3 wow fadeInLeft">
                        <h1>Contact Appending</h1>
                        <p>Establish new connections within organizations and widen the scope of your campaign.</p>
                        <p>Gain a comprehensive and current list of key decision makers with Contact Appending.</p>
                        <div class="mt-4"> <a href="#" data-toggle="modal" data-target="#send-message" class="white-br-btn circle-fa">Append Data &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <main id="main">
        <section class="section-sec-0-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 section-fpad wow fadeInLeft">
                        <h2 class="subhead-small-blk">Contact Appending Services</h2>
                        <p><strong>How to prospect to various decision makers within an organization</strong></p>
                        <p>Contact appending adds multiple contacts of key decision makers within an organization. In this way you gain a comprehensive list of contacts with their current titles, providing you with information on the best person to contact.</p>
                        <p>With organizational structure changing frequently, keeping track of changing titles and job roles is a challenge. <a href="/" title="Affluence Business Inc"><strong>Affluence Business Inc</strong></a>                            has current information about contact details of various titles within an organization. With our <strong>contact appending services</strong> you can gain:</p>
                        <ul class="space-list">
                            <li>A wider market within the same company</li>
                            <li>Establish new connections </li>
                            <li>Increase marketing campaign effectiveness and ROI </li>
                        </ul>
                        <p>Appending contacts from the same company gives you a good advantage. You get to contact the desired contact and also get a good source of engagement within the same company. This amplifies your efforts multi-fold. It also helps
                            you get to people who are new to your business, opening new doors and creating new opportunities. When you have run a <strong>contact append</strong> on your dataset, it increases your campaign scope and directly affects your
                            deliverability and in-turn, you gain a higher ROI. The positive aspects of <strong>contact appending</strong> are many.</p>
                        <p>Sign up for our <strong>contact appending services</strong> and improve the effectiveness of your marketing campaigns. All you need to do is give us your <a href="#" title="Email Database">email database</a>                            and we will give you the appended list in less than 7 business days.</p>
                        <p><strong>Fill in the gaps in your database, with our niche appending services:</strong></p>
                        <div class="row sicon">
                            <div class="col-lg-4 mb-4 ">
                                <a href="/email-appending/" title="Email Appending">
                                    <div class="icon"><img src="/static/assets/img/email-appending-thumb.jpg" alt="Email Appending" class="respo-img" /> </div>
                                    <p class="description">Email<br/> Appending</p>
                                </a>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <a href="/phone-appending/" title="Phone Appending">
                                    <div class="icon"><img src="/static/assets/img/phone-appending-thumb.jpg" alt="Phone Appending" class="respo-img" /> </div>
                                    <p class="description">Phone<br/> Appending</p>
                                </a>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <a href="/contact-appending/" title="Contact Appending">
                                    <div class="icon"><img src="/static/assets/img/contact-appending-thumb.jpg" alt="Contact Appending" class="respo-img" /> </div>
                                    <p class="description">Contact<br/> Appending</p>
                                </a>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <a href="/b2c-email-appending/" title="B2C Email Appending">
                                    <div class="icon">
                                        <img src="/static/assets/img/b2c-email-appending-thumb.jpg" alt="B2C Email Appending" class="respo-img" /> </div>
                                    <p class="description">B2C Email<br/> Appending</p>
                                </a>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <a href="/social-media-profile-appending/" title="Social Media Profile Appending">
                                    <div class="icon"><img src="/static/assets/img/social-profile-appending-thumb.jpg" alt="Social Media Profile Appending" class="respo-img" /> </div>
                                    <p class="description">Social Media<br/>Profile Appending</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 mb-4 wow fadeInRight">
                        <div class="mx-800">
                            <div class="contact-side">
                                <h4>Free Append Test</h4>
                                </br>
                                <div class="form">
                                    {% include 'form.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
        <section class="blue-sec-light">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 wow fadeInRight padlf-none"> <img src="/static/assets/img/data-appending-sub.jpg" alt="Contact Appending" class="full-img" /> </div>
                    <div class="col-lg-6 mb-4 wow fadeInLeft centeralign">
                        <div class="">
                            <h4 class="subhead-big mb-2">Manage Data </h4>
                            <h2 class=" normal-head">before it manages you </h2>
                            <div class="mb-4 mt-4"> <a href="/contact-us/" class="blk-btn ">Let's Talk &nbsp; <i class="fa fa-phone"></i></a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="free-quote-sec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 wow fadeInRight centeralign">
                        <div>
                            <h2>GET A FREE QUOTE</h2>
                            <p>Finding the right data can be<br/> complicated, so we are here to help </p>
                        </div>
                    </div>
                    <div class="col-lg-7 wow fadeInRight">
                        <div class="contact-quote">
                            <div class="form">
                                <form method="post" name="contactside" class="contactForm" onsubmit="return fnValidationContactside()" action=" " enctype="multipart/form-data">
                                    <div class=" form-row">
                                        <div class="col-lg-6 form-group"> <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name*"> </div>
                                        <div class="col-lg-6 form-group"> <input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name*"> </div>
                                        <div class="col-lg-6 form-group"> <input type="email" class="form-control" name="email" id="email" placeholder="Business Email*"> </div>
                                        <div class="col-lg-6 form-group"> <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone*"> </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-lg-12 form-group">
                                            <div class="input-container"> <select name="contact" class="form-control"> <option value="">No. of contacts</option> <option value="Less than 10k">Less than 10k</option> <option value="10k-50k">10k-50k</option> <option value="50k-100k">50k-100k</option> <option value="100k+">100k+</option></select>                                                </div>
                                        </div>
                                    </div>
                                    <div class="form-group"> <textarea class="form-control " name="comments" rows="2" placeholder="Requirements"></textarea> </div>
                                    <div class="form-group"><button type="submit" class="circle-fa">CLICK HERE TO SUBMIT</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


{% endblock %}