{% extends 'base.html' %}

{% block content %}
    <section class="inner-banner social-media-profile-appending-banner">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-3 wow fadeInLeft"></div>
                    <div class="col-lg-6 mb-3 wow fadeInLeft">
                        <h1>Social Media Profile Appending</h1>
                        <p>Get Socially Connected!</p>
                        <p>Get to the top in social media with Social Media Appending.</p>
                        <div class="mt-4"> <a href="#" data-toggle="modal" data-target="#send-message" class="white-br-btn circle-fa">Append Data &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <main id="main">
        <section class="section-sec-0-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 section-fpad wow fadeInLeft">
                        <h2 class="subhead-small-blk">Get in line with the biggies using Social Media Marketing!</h2>
                        <p>The social media revolution started way back in 1990. By 2005 only 8 percent of internet users knew about social media networks. Today, 84 percent of online adults know and use social networking sites actively.</p>
                        <p>Marketers too took time to capture <strong>social media appending</strong> and understand its paybacks. Although platforms are the top priority for many marketers when it comes to branding, marketing operations see social media
                            taking a back seat.</p>
                        <p>However, the facts remain that at least two out of ten customers of <strong>Fortune 500 companies</strong> get captured from <strong>social media append</strong> networks. Reaching out to a prospect socially on the internet is
                            much more efficient than working through most marketing channels.</p>
                        <p>The people-to-people approach that social media enables makes efforts stand out, especially when compared with the ages old business-to-business or business-to-consumer approach.</p>
                        <p><strong>Fill in the gaps in your database, with our niche appending services:</strong></p>
                        <div class="row sicon">
                            <div class="col-lg-4 mb-4 ">
                                <a href="/email-appending" title="Email Appending">
                                    <div class="icon"><img src="/static/assets/img/email-appending-thumb.jpg" alt="Email Appending" class="respo-img" /> </div>
                                    <p class="description">Email<br/> Appending</p>
                                </a>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <a href="/phone-appending" title="Phone Appending">
                                    <div class="icon"><img src="/static/assets/img/phone-appending-thumb.jpg" alt="Phone Appending" class="respo-img" /> </div>
                                    <p class="description">Phone<br/> Appending</p>
                                </a>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <a href="/contact-appending" title="Contact Appending">
                                    <div class="icon"><img src="/static/assets/img/contact-appending-thumb.jpg" alt="Contact Appending" class="respo-img" /> </div>
                                    <p class="description">Contact<br/> Appending</p>
                                </a>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <a href="/b2c-email-appending" title="B2C Email Appending">
                                    <div class="icon"><img src="/static/assets/img/b2c-email-appending-thumb.jpg" alt="B2C Email Appending" class="respo-img" /> </div>
                                    <p class="description">B2C Email<br/> Appending</p>
                                </a>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <a href="/social-media-profile-appending" title="Social Media Profile Appending">
                                    <div class="icon"><img src="/static/assets/img/social-profile-appending-thumb.jpg" alt="Social Media Profile Appending" class="respo-img" /> </div>
                                    <p class="description">Social Media<br/>Profile Appending</p>
                                </a>
                            </div>
                        </div>
                        <div> <img src="/static/assets/img/social-media-profile-appending-sub.jpg" alt="Social Media Profile Appending" class="respo-img" /> </div>
                    </div>
                    <div class="col-lg-5 mb-4 wow fadeInRight">
                        <div class="mx-800">
                            <div class="contact-side">
                                <h4>Free Append Test</h4>
                                </br>
                                <div class="form">
                                    {% include 'form.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
        <section class="free-quote-sec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 wow fadeInRight centeralign">
                        <div>
                            <h2>GET A FREE QUOTE</h2>
                            <p>Finding the right data can be<br/> complicated, so we are here to help </p>
                        </div>
                    </div>
                    <div class="col-lg-7 wow fadeInRight">
                        <div class="contact-quote">
                            <div class="form">
                                <form method="post" name="contactside" class="contactForm" onsubmit="return fnValidationContactside()" action=" " enctype="multipart/form-data"> <input name="subject" type="hidden" value="Contact Details from Affluence Business Inc"> <input name="redirect_url" type="hidden" value=" ">
                                    <div class=" form-row">
                                        <div class="col-lg-6 form-group"> <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name*"> </div>
                                        <div class="col-lg-6 form-group"> <input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name*"> </div>
                                        <div class="col-lg-6 form-group"> <input type="email" class="form-control" name="email" id="email" placeholder="Business Email*"> </div>
                                        <div class="col-lg-6 form-group"> <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone*"> </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-lg-12 form-group">
                                            <div class="input-container"> <select name="contact" class="form-control"> <option value="">No. of contacts</option> <option value="Less than 10k">Less than 10k</option> <option value="10k-50k">10k-50k</option> <option value="50k-100k">50k-100k</option> <option value="100k+">100k+</option></select>                                                </div>
                                        </div>
                                    </div>
                                    <div class="form-group"> <textarea class="form-control " name="comments" rows="2" placeholder="Requirements"></textarea> </div>
                                    <div class="form-group"><button type="submit" class="circle-fa">CLICK HERE TO SUBMIT</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}