
{% extends 'base.html' %}

{% block content %}
<section class="inner-banner professional-list-banner">
    <div class="overlay">
    	<div class="container">
            <div class="row">
              <div class="col-lg-6 mb-3 wow fadeInLeft"></div>
              <div class="col-lg-6 mb-3 wow fadeInLeft">
                    <h1>Attorney Email List</h1>
                    <p>Supercharge Your Marketing Campaigns with the Power of Right Data</p>
                    <div class="mt-4">
                    <a href="#" data-toggle="modal" data-target="#send-message" class="white-br-btn circle-fa">Book Your Data &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a>
                    <h5 class="mt-5 text-white h6"><strong>Last Updated : June 18, 2023</strong></h5>
                </div>
              </div>
            </div>
        </div>
    </div>	
</section>
    <main id="main">
        <section class="section-sec-0-60" style="padding: 0px 0 10px 0;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 section-fpad wow fadeInLeft">
                        <h2 class="subhead-small-blk">Target Top CFOs with Span Global Services’ Customized Mailing Lists</h2>
                        <p style="text-align:Justify;">The CFO or the Chief Financial Officer of a company is a senior executive who manages all the finances and financial activities of the company. Getting in touch with the top CFOs can give your marketing campaigns the boost it needs.
                            An organized list of <strong>CFO Contact Database</strong> might be just what you need to promote your brand across countries through various multi-channel marketing platforms. </p>
                        <p style="text-align:Justify;">Targeting the top CFOs can be beneficial for your business because they are the key decision-makers and officials in any company. CFOs occupy an indispensable position on the company’s board of executives. A <strong>CFO Mailing List</strong>                            will connect you with the CFOs of the most reputed and high-performing companies in the country of your choice. This can bring a fresh perspective to your targeted B2B marketing strategies.</p>
                        <p style="text-align:Justify;">At <a href="https://www.spanglobalservices.com/" title="Span Global Services"><strong>Span Global Services</strong></a>, we have a 100% accurate database of <strong>Chief Financial Officer Email Addresses</strong>. With our 95%
                            deliverability guarantee, we promise to bring to you the most reliable sales-ready leads so that you can grow your business in record time.</p>
                        <h2 class="subhead-small-blk">Customize your CFO Email Database List by</h2>
                        <div class="row respo-icon">
                            <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;"> <img src="https://www.spanglobalservices.com/assets/img/assets-size.png" alt="assets-size" title="assets-size" class="respo-img">
                                <p>Assets Size</p>
                            </div>
                            <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;"> <img src="https://www.spanglobalservices.com/assets/img/company-size.gif" alt="company-size" title="company-size" class="respo-img">
                                <p>Company Size</p>
                            </div>
                            <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;"> <img src="https://www.spanglobalservices.com/assets/img/geographic.png" alt="geographic" title="geographic" class="respo-img">
                                <p>Geographic</p>
                            </div>
                            <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;"> <img src="https://www.spanglobalservices.com/assets/img/industry.gif" alt="industry" title="industry" class="respo-img">
                                <p>Industry</p>
                            </div>
                            <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;"> <img src="https://www.spanglobalservices.com/assets/img/job-title.png" alt="job-title" title="job-title" class="respo-img">
                                <p>Job Title</p>
                            </div>
                            <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;"> <img src="https://www.spanglobalservices.com/assets/img/technology.gif" alt="technology" title="technology" class="respo-img">
                                <p>Technology</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 mb-4 wow fadeInRight">
                        <div class="mx-800">
                            <div class="contact-side">
                                <h4>GET A FREE QUOTE</h4>
                                <p>We have got you covered on all your email and direct marketing needs</p>
                                <div class="form">
                                    <form name="f12" id="contact-form" action="https://www.spanglobalservices.com/scripts/formmail" method="post" onSubmit="return validationcon()"> <input type="hidden" name="returnURL" value="https://www.spanglobalservices.com/thanks"><input name="title" type="hidden" value="Contact Request from Span Global Services">
                                        <div class=" form-row">
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name*"> <i class="fa fa-user icon"></i> </div>
                                            </div>
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name"> <i class="fa fa-user icon"></i> </div>
                                            </div>
                                        </div>
                                        <div class=" form-row">
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="email" class="form-control" name="email" id="email" placeholder="Business Email*"> <i class="fa fa-envelope icon"></i> </div>
                                            </div>
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="text" class="form-control" name="phone" id="phone" placeholder="Business Phone*"> <i class="fa fa-phone icon"></i> </div>
                                            </div>
                                        </div>
                                        <div class=" form-row">
                                            <div class="col-lg-12 form-group">
                                                <div class="input-container"> <input type="text" name="company" class="form-control" id="company" placeholder="Company Name*"> <i class="fa fa-briefcase icon"></i> </div>
                                            </div>
                                        </div>
                                        <div class=" form-row">
                                            <div class="col-lg-12 form-group">
                                                <div class="input-container"> <select name="contact" class="form-control"> <option value="">No. of contacts</option> <option value="Less than 10k">Less than 10k</option> <option value="10k-50k">10k-50k</option> <option value="50k-100k">50k-100k</option> <option value="100k+">100k+</option></select>                                                    </div>
                                            </div>
                                        </div>
                                        <div class="form-group"> <textarea class="form-control " name="comments" rows="1" placeholder="Message*"></textarea> </div>
                                        <div class="form-group"> <label><input name="newslettersubscribe" value="newslettersubscribe" checked="" type="checkbox"> I would like to subscribe to your Newsletter.</label> </div>
                                        <div class="form-group mt-4"><button type="submit" class="circle-fa">Submit Data Counts and Quote Request &nbsp; <i class="fa icon ion-android-arrow-forward"></i></button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
        <section class="grey-sec-light-01" style="box-shadow: -1px 7px 25px #2bb511;">
            <div class="container mb-sec">
                <div class="row">
                    <div class="col-lg-12 pt-5 pb-5 mt-3 wow fadeInRight" style="visibility: visible; animation-name: fadeInLeft;">
                        <h2 class="subhead-small-blk text-center">List of CFO's Covered by Industry :</h2>
                        <div class="row">
                            <div class="col-lg-4 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                <ul class="green-star-list">
                                    <li>List of Banking Industry CFO's</li>
                                    <li>Oil and Gas Industry CFO Leads</li>
                                    <li>Aerospace Industry CFO Email Counts</li>
                                    <li>Manufacturing Industry CFO Contact Lists</li>
                                    <li>Medical Industry CFO Marketing Data</li>
                                </ul>
                            </div>
                            <div class="col-lg-4 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                <ul class="green-star-list">
                                    <li>Insurance Industry CFO Database</li>
                                    <li>Media &amp; Marketing Industry CFO Database</li>
                                    <li>Automotive Industry CFO Contacts</li>
                                    <li>Telecom Industry CFO Contacts</li>
                                    <li>Food and Beverage Industry CFO Leads</li>
                                </ul>
                            </div>
                            <div class="col-lg-4 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                <ul class="green-star-list">
                                    <li>Education Services Industry CFO Database</li>
                                    <li>Call Center Industry CFO Contacts</li>
                                    <li>Telecom Industry CFO Marketing List</li>
                                    <li>List of Biotechnology Industry CFO's</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row mobile-tableview ">
                            <div class="col-lg-12 wow fadeInLeft">
                                <div class="tab-scroll">
                                    <ul class="green-star-list " style="height:150px;overflow-y:scroll;">
                                        <li>List of Banking Industry CFO's</li>
                                        <li>Oil and Gas Industry CFO Leads</li>
                                        <li>Aerospace Industry CFO Email Counts</li>
                                        <li>Manufacturing Industry CFO Contact Lists</li>
                                        <li>Medical Industry CFO Marketing Data</li>
                                        <li>Insurance Industry CFO Database</li>
                                        <li>Media &amp; Marketing Industry CFO Database</li>
                                        <li>Automotive Industry CFO Contacts</li>
                                        <li>Telecom Industry CFO Contacts</li>
                                        <li>Food and Beverage Industry CFO Leads</li>
                                        <li>Education Services Industry CFO Database</li>
                                        <li>Call Center Industry CFO Contacts</li>
                                        <li>Telecom Industry CFO Marketing List</li>
                                        <li>List of Biotechnology Industry CFO's</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="grey-sec-light mb-sec">
            <div class="container-fluid">
                <div class="row mb-sec">
                    <div class="col-lg-6 mb-4 wow fadeInLeft mb-sec mb-sec">
                        <div class="pad-sec mb-sec">
                            <h2 class="subhead-small-blk">Why is Connecting with the Top CFOs Good for Your Business?</h2>
                            <p style="text-align:Justify;">Connecting with the top CFOs will lead you to the most successful companies and help you expand your customer base. A <strong>CFO Mailing Database</strong> will take your business a long way by getting you in touch with the
                                top <a href="https://www.spanglobalservices.com/professional-lists/" title="Professional executives"><strong>Professional executives</strong></a> and key decision-makers across several industries. </p>
                            <p style="text-align:Justify;">CFOs occupy one of the top positions on the company’s board of executives. They manage all finances of the company and make important decisions that impact the functioning of their company greatly. A CFO plays an important
                                role in shaping the company’s business strategies and operations. Besides the financial responsibilities, CFOs are now often directly in charge of procurement.</p>
                            <div class="mt-4"> <a href="https://www.spanglobalservices.com/request-quote" class="dgreen-btn circle-fa">Request for a Quote &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a> </div>
                        </div>
                    </div>
                    <div class="col-lg-6 geotargeted-list-sgs wow fadeInRight"> </div>
                </div>
            </div>
        </section>
        <section class="section-sec-50-40" style="padding: 50px 0 0px 0;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-4 wow fadeInLeft">
                        <h2 class="subhead-small-blk text-center">Data Fields We Provide Includes</h2><a href="#requestquote"><img class="respo-img" src="https://www.spanglobalservices.com/assets/img/CFO-Data-Fields.jpg" alt="CFO-Data-Fields"></a> </div>
                    <div class="col-lg-6 mb-4 wow fadeInRight">
                        <h2 class="subhead-small-blk">Why Span Global Services is Your Ideal Data Partner?</h2>
                        <p style="text-align:Justify;">At Span Global Services, we provide mailing lists that are 100% accurate and obtained from credible sources. Our <a href="https://www.spanglobalservices.com/email-lists" title="Email Database"><strong>email database</strong></a>                            undergoes routine data cleansing so that we can serve you with the most recent and updated data. Our <a href="https://www.spanglobalservices.com/b2b-email-list" title="B2B Email Lists"><strong>B2B Email Lists</strong></a> can
                            get you in touch with the top executives for maximum campaign response and marketing success. </p>
                        <p style="text-align:Justify;">Besides being premium and top-grade, our services are also highly cost-effective. Getting your <strong>CFO Sales Leads</strong> from us will also save you time since our services are entirely consent-based and we will only connect
                            you with the most sales-ready leads, while filtering out the cold contacts. </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-sec-0-60 healthcare-inner-text-bg">
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-5 mb-4 wow fadeInLeft">
                        <div class="dark-green ">
                            <h2>You Can Trust Us for Your B2B Marketing Success</h2>
                        </div>
                    </div>
                    <div class="col-lg-7 section-fpad wow fadeInLeft">
                        <p style="text-align:Justify;">Span Global Services’ database of <strong>CFO Email Addresses</strong> has detailed information about the top CFOs across several industries. You can expect to find several important details in our segmented email lists, such as,
                            the company name, SIC code, number of employees, sales, revenue, date of establishment etc. Industry-wise, you can expect to find mailing lists like Finance and Banking CFO email list, and CFO email lists pertaining to Real
                            Estate Industry, Healthcare Industry, Manufacturing Industry, etc. </p>
                        <p style="text-align:Justify;">With our <strong>CFO Contact Data</strong>, you can either target your local businesses or you can give your brand an international presence. Our global master database covers several regions such as Canada, USA, UK, Australia,
                            Europe, EMEA, APAC, along with the state, city and zip code.</p>
                        <p style="text-align:Justify;">Our trained data experts collect all data from reliable online and offline sources. Once a customer requests for a mailing list, we compile our data from our master database and make a customized list of email addresses as per
                            the criteria demanded by the customer. Our updated database is responsive and we eliminate all irrelevant data so that you can utilize our resources to the optimum without getting any time wasted.</p>
                        <div class="mb-5 mt-4">
                        <a href="https://www.spanglobalservices.com/contact-us" class="green-btn circle-fa">BUY CONTACT DATA NOW &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a> </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-sec-50-40 " style="padding: 50px 0 0px 0;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 wow fadeInLeft">
                        <div class="tab-scroll">
                            <h2 class="subhead-small-blk">Business Success at Pocket-Friendly Costs </h2>
                            <p style="text-align:Justify;">Getting a list of email addresses of CFOs will get you in touch with the top C-level executives of organizations across the world. You will obtain relevant business contacts that will help you make well-informed decisions.
                                Our customized list of <strong>CFO Email Addresses</strong>, segregated via category is cost effective and highly responsive. Connecting with the top CFOs will help you vastly promote your brand name, improve sales and
                                help generate higher ROIs. It will give your marketing strategies an edge and bring exposure to your brand. </p>
                            <p style="text-align:Justify;">Get in touch with Span Global Services today and obtain your <strong>CFO Executives Data</strong> to take your B2B marketing game to the next level!</p>
                            <div class="col-lg-12 wow fadeInLeft"> </div>
                        </div>
                    </div>
        </section>
        <section class="section-sec-small" style="padding: 0px 0 0px 0;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mb-2 text-center wow fadeInLeft ">
                        <h2 class="subhead-small-blk">FAQs </h2>
                    </div>
                    <div class="col-lg-12 mb-5 wow fadeInLeft">
                        <div class="bs-example">
                            <div class="accordion" id="accordionExample">
                                <div class="row">
                                    <div class="col-lg-6 wow fadeInLeft">
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h2 class="mb-0"> <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"><i class="fa fa-plus"></i>How will this CFO email list benefit me?</button> </h2>
                                            </div>
                                            <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>Span Global Services’ premium <strong>CFO Email List</strong> will take your marketing campaigns to a whole new level. With high-quality, targeted data, your sales teams will easily overcome poor response
                                                        rates, low CTRs, and high email bounce rates.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingTwo">
                                                <h2 class="mb-0"> <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"><i class="fa fa-plus"></i>Does this CFO email list contain data from organizations from across the world?</button>                                                    </h2>
                                            </div>
                                            <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>Yes. We have a huge international data network that grants you direct access to top CFOs, executives, and organizations across multiple regions including <strong>Asia, USA, Middle East, UK, Europe,</strong>                                                        and many more. Your brand can now enjoy a global reach.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 wow fadeInLeft">
                                        <div class="card">
                                            <div class="card-header" id="headingthree">
                                                <h2 class="mb-0"> <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"><i class="fa fa-plus"></i>What details will be included in this CFO mailing database?</button> </h2>
                                            </div>
                                            <div id="collapseThree" class="collapse " aria-labelledby="headingthree" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>Span Global Services’ <strong>CFO Marketing Database</strong> contains contacts with a wide range of useful data fields. These include full name, email address, ZIP code, NAICS code, postal address,
                                                        company name, number of employees, industry, SIC code, and many more.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingfour">
                                                <h2 class="mb-0"> <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour"><i class="fa fa-plus"></i>Which industries can I expect to target through the CFO lists?</button> </h2>
                                            </div>
                                            <div id="collapsefour" class="collapse " aria-labelledby="headingfour" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>Our well-segmented <strong>CFO Email Database</strong> will provide you 100% authentic data of top-tier CFOs across a broad spectrum of industries. You will find industry-wise lists including real estate,
                                                        manufacturing, finance & banking, healthcare, and many more.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-sec light-grey-sec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 wow fadeInLeft">
                        <h2 class="subhead-small-blk ">Top Segmented Professional Lists</h2>
                    </div>
                    <div class="col-lg-6 wow fadeInLeft">
                        <div class="dgreen-bg-list-outer">
                            <table class="dgreen-bg-list">
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/professional-lists/ceo-email-list" title="CEO Email Addresses">CEO Email Addresses</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/professional-lists/cto-email-list" title="CTO Contact Data">CTO Contact Data</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/professional-lists/cmo-email-list" title="CMO Mailing Database">CMO Mailing Database</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/professional-lists/cfo-email-list" title="CFO Email Leads">CFO Email Leads</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/professional-lists/cio-email-list" title="CIO Marketing Lists">CIO Marketing Lists</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/database/home-inspectors-email-list" title="Home Inspectors Email Addresses">Home Inspectors Email Addresses</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/database/fire-department-email-list" title="Fire Department Sales Leads">Fire Department Sales Leads</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/database/loan-officer-email-list" title="Loan Officer Email List">Loan Officer Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/database/stockbrokers-email-list" title="StockBrokers Mailing List">StockBrokers Mailing List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/professional-lists/canadian-ceo-email-list" title="Canadian CEO Email List">Canadian CEO Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/professional-lists/canadian-cfo-email-list" title="Canadian CFO Email List">Canadian CFO Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/professional-lists/canadian-cmo-email-list" title="Canadian CMO Email List">Canadian CMO Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/professional-lists/canadian-cpa-email-list" title="Canadian CPA Email List">Canadian CPA Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/professional-lists/canadian-software-developers-email-list" title="Canadian Software Developers Email List">Canadian Software Developers Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/professional-lists/chief-and-vp-of-operations-email-list" title="Chief and VP of Operations Email List">Chief and VP of Operations Email List</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInLeft">
                        <div class="dgreen-bg-list-outer">
                            <table class="dgreen-bg-list">
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/professional-lists/general-manager-email-list" title="General Manager Email List">General Managers Contacts</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/professional-lists/attorney-email-list" title="Attorney Email List">Attorney/Lawyers Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/professional-lists/architect-email-list" title="architect Email List">Email List of Architect's</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/database/merchandise-manager-email-list" title="Merchandise Manager Email List">Merchandise Manager Emails</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/professional-lists/cpa-email-list" title="CPA Email List">CPA Email Addresses</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/professional-lists/event-organizers-email-list" title="Event Organizer Email List">List of Event Organizers</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/database/payroll-email-list" title="Payroll Email List">Payroll Mailing Addresses</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/database/bankruptcy-email-list" title="Bankruptcy Email List">Bankruptcy Mailing Database</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/database/insurance-brokers-email-list" title="Insurance Brokers Email List">Insurance Brokers Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/professional-lists/chief-and-vp-of-quality-email-list" title="Chief and VP of Quality Email List">Chief and VP of Quality Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/professional-lists/chief-and-vp-software-email-list" title="Chief and VP of Software Email List">Chief and VP of Software Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/professional-lists/chro-email-list" title="CHRO Email List">CHRO Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/professional-lists/coo-email-list" title="COO Email List">COO Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/professional-lists/cso-email-list" title="CSO Email List">CSO Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/professional-lists/it-decision-makers-email-list" title="IT Decision Makers Email List">IT Decision Makers Email List</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
        <div id="requestquote"> </div>
        <section class="free-quote-sec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 wow fadeInRight centeralign">
                        <div>
                            <h2>GET A FREE QUOTE</h2>
                            <p>Finding the right data can be<br/> complicated, so we are here to help </p>
                        </div>
                    </div>
                    <div class="col-lg-7 wow fadeInRight">
                        <div class="contact-quote">
                            <div class="form">
                                <form method="post" name="contactside" class="contactForm" onsubmit="return fnValidationContactside()" action="https://www.spanglobalservices.com/scripts/formmail" enctype="multipart/form-data"> <input name="subject" type="hidden" value="Contact Details from Span Global Services"> <input name="redirect_url" type="hidden" value="https://www.spanglobalservices.com/thanks">
                                    <div class=" form-row">
                                        <div class="col-lg-6 form-group"> <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name*"> </div>
                                        <div class="col-lg-6 form-group"> <input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name*"> </div>
                                        <div class="col-lg-6 form-group"> <input type="email" class="form-control" name="email" id="email" placeholder="Business Email*"> </div>
                                        <div class="col-lg-6 form-group"> <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone*"> </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-lg-12 form-group">
                                            <div class="input-container"> <select name="contact" class="form-control"> <option value="">No. of contacts</option> <option value="Less than 10k">Less than 10k</option> <option value="10k-50k">10k-50k</option> <option value="50k-100k">50k-100k</option> <option value="100k+">100k+</option></select>                                                </div>
                                        </div>
                                    </div>
                                    <div class="form-group"> <textarea class="form-control " name="comments" rows="2" placeholder="Requirements"></textarea> </div>
                                    <div class="form-group"><button type="submit" class="circle-fa">CLICK HERE TO SUBMIT</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main> 

    {% endblock %}