{% extends 'base.html' %}

{% block content %}
<section class="inner-banner professional-list-banner">
    <div class="overlay">
    	<div class="container">
            <div class="row">
              <div class="col-lg-6 mb-3 wow fadeInLeft"></div>
              <div class="col-lg-6 mb-3 wow fadeInLeft">
                    <h1>Attorney Email List</h1>
                    <p>Supercharge Your Marketing Campaigns with the Power of Right Data</p>
                    <div class="mt-4">
                    <a href="#" data-toggle="modal" data-target="#send-message" class="white-br-btn circle-fa">Book Your Data &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a>
                    <h5 class="mt-5 text-white h6"><strong>Last Updated : June 18, 2023</strong></h5>
                </div>
              </div>
            </div>
        </div>
    </div>	
</section>
  <main id="main"> 
  <section class="section-sec-0-60" style="padding: 0px 0 10px 0;">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 section-fpad wow fadeInLeft">
               <h2 class="subhead-small-blk">Get Direct Access to Lawyers Email Address and Expand Your Business</h2>
			   
			   <p style="text-align:Justify;">Obtain verified and highly-accurate attorney email list from <a href=/ title="Span Global Services"><strong>Span Global Services</strong></a> and promote your products and services to Attorneys and Lawyers. These legal professionals who offer expertise or services in particular areas of law including corporate, real estate, criminal, family and estate, etc. have quite a bunch of responsibilities on their to-do lists. As a result, contacting them for business services can be a challenge. But, Span Global Services can help you accomplish this task in no time!</p>
			   <p style="text-align:Justify;">According to statistics, the projected revenue of the legal services industry in the US will reach a value of <strong>USD 348.5 billion by the year 2024</strong>. Seize the opportunities this sector has to offer with our authentic <strong>Attorney Email Address</strong>. Time is money when it comes to your marketing campaigns! So, don’t waste time on middle-men, office assistants and the likes. Span Global Services Lawyer Email List lets you directly target highly-qualified lawyers and attorneys from multiple regions, businesses, law agencies, law firms, corporate houses, government agencies, etc. so you get increased engagements and more conversions.</p>
			   
			    <h2 class="subhead-small-blk">Customize your Attorney Email Customers List by </h2>
			   
			   <div class="row respo-icon"> 
			   <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;">
			   <img src="/static/assets/img/assets-size.png" alt="assets-size" title="assets-size" class="respo-img" >
			   <p>Assets Size</p>
			   </div>
			   <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;"> 
			   <img src="/static/assets/img/company-size.gif" alt="company-size" title="company-size" class="respo-img" >
			    <p>Company Size</p>
			   </div> 
			   <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;">
			   <img src="/static/assets/img/geographic.png" alt="geographic" title="geographic" class="respo-img" >
			    <p>Geographic</p>
			   </div> 
			   <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;">
			   <img src="/static/assets/img/industry.gif" alt="industry" title="industry" class="respo-img" >
			    <p>Industry</p>
			   </div>
			   <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;">
			   <img src="/static/assets/img/job-title.png" alt="job-title" title="job-title" class="respo-img" >
			    <p>Job Title</p>
			   </div> 
			   <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;">
			   <img src="/static/assets/img/technology.gif" alt="technology" title="technology" class="respo-img" >
			    <p>Technology</p>
			   </div>
			   
			   
			   </div>
			    
	
           </div>
          <div class="col-lg-5 mb-4 wow fadeInRight">
               <div class="mx-800">
				<div class="contact-side">
	<h4>GET A FREE QUOTE</h4>
	<p>We have got you covered on all your email and direct marketing needs</p>
    <div class="form">
         
			
		    <form name="f12" id="contact-form" action=" " method="post" onSubmit="return validationcon()" >
			<input type="hidden" name="returnURL" value=" ">
			<input name="title" type="hidden" value="Contact Request from Span Global Services">


			  <div class=" form-row">
              	<div class="col-lg-6 form-group">
                	<div class="input-container">
                        <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name*">
                        <i class="fa fa-user icon"></i>
                    </div>
                </div>
                <div class="col-lg-6 form-group">
                	<div class="input-container">
                    	<input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name">
                        <i class="fa fa-user icon"></i>
                    </div>
              		
                </div>
              </div>
			  
			   <div class=" form-row">
              	<div class="col-lg-6 form-group">
                	<div class="input-container">
              			<input type="email" class="form-control" name="email" id="email" placeholder="Business Email*">
                    	<i class="fa fa-envelope icon"></i>
                    </div>
                </div>
                <div class="col-lg-6 form-group">
                	<div class="input-container">
              			<input type="text" class="form-control" name="phone" id="phone" placeholder="Business Phone*">
                        <i class="fa fa-phone icon"></i>
                    </div>
                </div>
              </div>
			
			
              <div class=" form-row">
              	
                <div class="col-lg-12 form-group">
                	<div class="input-container">
                		<input type="text" name="company" class="form-control" id="company" placeholder="Company Name*">
                        <i class="fa fa-briefcase icon"></i>
                    </div>
              		
                </div>
              </div>
			  
			   <div class=" form-row">
              	
                <div class="col-lg-12 form-group">
                	<div class="input-container">
                		
                        <select name="contact" class="form-control">
  <option value="">No. of contacts</option>
  <option value="Less than 10k">Less than 10k</option>
  <option value="10k-50k">10k-50k</option>
  <option value="50k-100k">50k-100k</option>
  <option value="100k+">100k+</option>
</select>
                    </div>
              		
                </div>
              </div>
            
              
              
              <div class="form-group">
              	<textarea class="form-control " name="comments" rows="1" placeholder="Message*"></textarea>
              </div>
              <div class="form-group">
              <label ><input name="newslettersubscribe" value="newslettersubscribe" checked="" type="checkbox"> I would like to subscribe to your Newsletter.</label>
              </div>
              
              <div class="form-group mt-4"><button type="submit" class="circle-fa" >Submit Data Counts and Quote Request &nbsp; <i class="fa icon ion-android-arrow-forward"></i></button></div>
          </form>
     </div>
</div>              </div>
          </div>
          
          <div class="clearfix"></div>
		  
		  
      </div>
<style>
@media screen and (max-width:768px)  {.mb-tab-text .col-sm-2{width:20%} .col-sm-10{width:80%;}}
</style>

 <div class="row">
                    <div class="col-lg-12 section-fpad wow fadeInLeft mb-sec">
                        <div class="mx-700 pb-3 mb-sec">
                            <h2 class="subhead-small-blk text-center">Attorney Mailing Lists by Specialty &
                                Other Details</h2>
                        </div>
                    </div>
                </div>

                <div class="row mb-sec">
                    <div class="col-lg-3 mb-4 wow fadeInRight mb-sec">
                        <div class="tab mb-tab-text">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img src="/static/assets/img/mailing-list.png" alt="Specialty" title="" class="table-icon"/>
                                </div>
                                <div class="col-sm-10">
 <button class="tablinks" onclick="openCity(event,'Company')" id="defaultOpen"> Attorney
                                Mailing Lists by Specialty</button>
                                </div>
                            </div>
                           <div class="row">
                                <div class="col-sm-2">
                                    <img src="/static/assets/img/other-detials.png" alt="Other Details" title="" class="table-icon"/>
                                </div>
                                <div class="col-sm-10">
 <button class="tablinks" onclick="openCity(event, 'Other')">Other Details</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-9 mb-4 wow fadeInRight">

                        <div id="Company" class="tabcontent">
                            <div class="tab-scroll">
                                <table class="border-tab-new01" style="width: 100%;">
                                    <tr>
                                        <th>Category</th>
                                        <th>Counts</th>
                                        <th>Category</th>
                                        <th>Counts</th>
                                    </tr>
                                    <tr>
                                        <td>Bankruptcy Lawyer Email List</td>
                                        <td>15,964</td>
                                        <td>Finance &amp;Securities Lawyer Email List</td>
                                        <td>6,103</td>
                                    </tr>
                                    <tr>
                                        <td>Business Lawyer Email List</td>
                                        <td>11,362</td>
                                        <td>General Practice Lawyer Email List</td>
                                        <td>12,723</td>
                                    </tr>
                                    <tr>
                                        <td>Civil Litigation Lawyer Email List</td>
                                        <td>9,195</td>
                                        <td>Government Lawyer Mailing List</td>
                                        <td>12,476</td>
                                    </tr>
                                    <tr>
                                        <td>Civil Rights Lawyer Email List</td>
                                        <td>8,069</td>
                                        <td>Immigration Lawyer Mailing List</td>
                                        <td>14,306</td>
                                    </tr>
                                    <tr>
                                        <td>Contract Lawyer Mailing List</td>
                                        <td>7,687</td>
                                        <td>Intellectual Property Lawyer List&nbsp;</td>
                                        <td>8,488</td>
                                    </tr>
                                    <tr>
                                        <td>Criminal Lawyer Mailing List</td>
                                        <td>3,034</td>
                                        <td>Mergers &amp; Acquisitions Lawyer List&nbsp;</td>
                                        <td>8,991</td>
                                    </tr>
                                    <tr>
                                        <td>Employment Lawyer Email List</td>
                                        <td>5,817</td>
                                        <td>Military Lawyer Email List</td>
                                        <td>3,144</td>
                                    </tr>
                                    <tr>
                                        <td>Entertainment Lawyer List</td>
                                        <td>6,734</td>
                                        <td>Personal Injury Lawyer Email List</td>
                                        <td>2,489</td>
                                    </tr>
                                    <tr>
                                        <td>Estate Planning Lawyer List</td>
                                        <td>1,828</td>
                                        <td>Real Estate Lawyer Email List</td>
                                        <td>7,636</td>
                                    </tr>
                                    <tr>
                                        <td>Family &amp; Divorce Lawyer List</td>
                                        <td>4,479</td>
                                        <td>Tax Lawyer Email List</td>
                                        <td>3,360</td>
                                    </tr>
                                    </tbody>
                                    <!--<tbody>
<tr>
<th>Category</th>
<th>Category</th>
</tr>
<tr>
<td>Bankruptcy Lawyer Email List</td>
<td>Finance &amp; Securities Lawyer Email List</td>
</tr>
<tr>
<td>Business Lawyer Email List</td>
<td>General Practice Lawyer Email List</td>
</tr>
<tr>
<td>Civil Litigation Lawyer Email List</td>
<td>Government Lawyer Mailing List</td>
</tr>
<tr>
<td>Civil Rights Lawyer Email List</td>
<td>Immigration Lawyer Mailing List</td>
</tr>
<tr>
<td>Contract Lawyer Mailing List</td>
<td>Intellectual Property Lawyer List&nbsp;</td>
</tr>
<tr>
<td>Criminal Lawyer Mailing List</td>
<td>Mergers &amp; Acquisitions Lawyer List&nbsp;</td>
</tr>
<tr>
<td>Employment Lawyer Email List</td>
<td>Military Lawyer Email List</td>
</tr>
<tr>
<td>Entertainment Lawyer List</td>
<td>Personal Injury Lawyer Email List</td>
</tr>
<tr>
<td>Estate Planning Lawyer List</td>
<td>Real Estate Lawyer Email List</td>
</tr>
<tr>
<td>Family &amp; Divorce Lawyer List</td>
<td>Tax Lawyer Email List</td>
</tr>
</tbody>-->
                                </table>
                            </div>
                            <p><i><strong>*Counts may vary slightly due to rigorous quality checks performed at regular intervals.</strong></i></p>
                        </div>

                        <!---- <div id="Data" class="tabcontent">
                            <div class="text-center">
                                <h2 class="subhead-small-blk text-center">Data Fields We Provide</h2>
                                <div class="mx-600">
                                    <img src="/static/assets/img/Attorney_Data_Fields.png"
                                        alt="Data Fields" title="Data Fields" class="respo-img text-center">
                                </div>
                            </div>
                        </div>-->
                        <div id="Other" class="tabcontent">
                            <!--h2 class="subhead-small-blk text-center">Other Details:</h2-->
                            <div class="tab-scroll">

                                <table class="border-tab-new01"
                                    style="width: 100%; border-collapse: collapse; border-spacing: 0px;">
                                    <tbody>
                                        <tr>
                                            <td>List Utility</td>
                                            <td>Email Campaigns, Demand Generation, Social Outreach, Tele Marketing,
                                                Direct Mail</td>
                                        </tr>
                                        <tr>
                                            <td>List Delivery Guarantee</td>
                                            <td>90%+ for Direct mails, 85%+ for Tele-contacts and 65% to 75%+ for emails
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Available Formats</td>
                                            <td>XLS, Text, CSV, TSV</td>
                                        </tr>
                                        <tr>
                                            <td>Turn Around Time (TAT)</td>
                                            <td>7-8 Business Days</td>
                                        </tr>
                                        <tr>
                                            <td>Data Sources</td>
                                            <td>Trade Fairs & Trade Show Organizers, Opt-in Email Addresses, Leading
                                                Journals, Business Directories, Content Creators, Yellow Pages and more
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="mb-4 mt-4 text-center"> <a href="#" data-toggle="modal" data-target="#send-message"
                                class="green-btn circle-fa">Explore Our Global Data Repository! &nbsp; <i
                                    class="fa icon ion-android-arrow-forward"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>




  <section class="grey-sec-light">
      <div class="container-fluid">
	  
        <div class="row">
		<div class="col-lg-6 geotargeted-list-sgs wow fadeInLeft">
          </div>
          <div class="col-lg-6 mb-4 wow fadeInRight mb-sec">
          	<div class="pad-sec mb-sec">
			  <h2 class="subhead-small-blk">Benefits of Procuring Span Global Services’ Lawyers Mailing List</h2> 
		  <p><img src="/static/assets/img/green-right.png" alt="Benefits" title="" class="repo-img" style="width:30px;height:30px;">&nbsp;<strong>200+ unique data attributes</strong> </p>
		  
		   <p><img src="/static/assets/img/green-right.png" alt="Benefits" title="" class="repo-img" style="width:30px;height:30px;">&nbsp;<strong>100% Data Refresh Every Quarter</strong></p>
		    <p><img src="/static/assets/img/green-right.png" alt="Benefits" title="" class="repo-img" style="width:30px;height:30px;">&nbsp;<strong>Customized lists based on user’s need</strong> </p>
			 <p><img src="/static/assets/img/green-right.png" alt="Benefits" title="" class="repo-img" style="width:30px;height:30px;">&nbsp;<strong>Worldwide outreach with data from US, Canada, UK, Europe, Australia, and other countries </strong></p>
			 <p><img src="/static/assets/img/green-right.png" alt="Benefits" title="" class="repo-img" style="width:30px;height:30px;">&nbsp;<strong>Fresh and active data verified quarterly with SMTP & NCOA protocols</strong></p>
			 <p><img src="/static/assets/img/green-right.png" alt="Benefits" title="" class="repo-img" style="width:30px;height:30px;">&nbsp;<strong>All-inclusive data to facilitate multi-channel & cross-channel marketing.</strong></p>
			 
		 
			<div class="mb-4 mt-4">
                    <a href="#" data-toggle="modal" data-target="#send-message" class="green-btn circle-fa">Contact Us Now! &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a>
                </div>
                
            </div>
                
          </div>
          
        </div>
      </div>
</section>



<section class="section-sec-50-40" style="padding: 50px 0 0px 0;">
      <div class="container">
        <div class="row">
         
		<div class="col-lg-6 mb-4 wow fadeInLeft">
		
			<h2 class="subhead-small-blk">Leverage Data-rich Lawyers Email Address to Form Lasting Business Connections</h2>  
                
                <p style="text-align:Justify;">The low quality of data impacts your marketing and can render it useless. In fact, about 42% of B2B marketers are affected by a lack of quality data. We, at Span Global Services, understand how much effort and strategizing goes into developing your marketing campaigns. Therefore, our attorney mailing lists ensures you always get your hands on 100% authentic data with a 95% deliverability rate.</p>
				<p style="text-align:Justify;">Our highly responsive <a href="/buy-targeted-email-list"><strong>targeted email lists</strong></a> include information across 70+ data fields to capture the correct B2B sales leads, including name, email address, company name, contact number, postal address, NAICS code, country name, SIC code, ZIP code, telephone number, and many more.</p>
		</div>
		
		
		<div class="col-lg-6 mb-4 wow fadeInRight">
		<h2 class="subhead-small-blk text-center">Data Fields We Provide Includes</h2>
		<a href="#requestquote"><img class="respo-img" src="/static/assets/img/Attorney-Data-Fields.jpg" alt="Attorney Email Address"></a>
			   
			   
			   </div>
		</div>
          
          <div class="col-lg-12 wow fadeInLeft">
          	<h2 class="subhead-small-blk text-center">Scale Your ROIs Rapidly with Attorney Email Address from Span Global Services</h2>
			<p style="text-align:Justify;">Span Global Services skilled team of data experts performs <a href="/data-appending"><strong>data append</strong></a> and <a href="/data-enrichment-services"><strong>data enrichment</strong></a> procedures to get rid of any errors, redundancies and duplicities in data. Moreover, the data undergoes multiple vetting processes to ensure that our database is full of relevant and fresh data at all times. Our attorneys mailing list will help you reach verified sales prospects by collating data from legal and trustworthy sources only. These include business cards, websites, press conferences, public surveys, yellow pages, seminars, feedback forms, industry directories, government and public records, and many more. With such consent-based information, you can stay assured that your message always hits the right inbox.</p>
			<p style="text-align:Justify;">Creating and maintaining a home-grown <strong>Lawyer Email Address</strong> can take a lot of research. Also, time and budget are often restricted for a campaign. Let Span Global Services do the hard work on your behalf so that your sales and marketing teams can focus on strategizing the perfect marketing campaign.</p>
			<p style="text-align:Justify;">In the US only, there are over 1.33 million lawyers. Thus, the opportunity is abundant for your business to flourish in the region. Still, you need not limit yourself to a specific boundary because our lawyers contact list can provide you geo-centric insights on lawyers and attorneys from across the Middle East, Asia, UK, Europe, Australia and more.</p>
			<p style="text-align:Justify;">Your search for the perfect data partner ends here with Span Global Services. We have over 15 years of experience in the industry. Having served Fortune 500 and Fortune 1000 clients, we know what works for your business better than anyone. Still confused? Well, give our services a try by asking for a free <strong>Lawyers Email Database today</strong>!</p>
			
			<div class="mb-4 mt-4 text-center">
				<a href="#" data-toggle="modal" data-target="#send-message" class="green-btn circle-fa">Get Your FREE Sample Today! &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a>
			</div>
		  
          
          </div>
          
          
          
        </div>
      </div>
 </section>
 
 <section class="section-sec light-grey-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 wow fadeInLeft">
                <h2 class="subhead-small-blk ">Top Segmented Professional Lists</h2>
            </div>

            <div class="col-lg-6 wow fadeInLeft">
                <div class="dgreen-bg-list-outer">
                    <table class="dgreen-bg-list">
                        <tr>
                            <td><a href="/ceo-email-list" title="CEO Email Addresses">CEO Email Addresses</a></td>
                        </tr>
                        <tr>
                            <td><a href="/cto-email-list" title="CTO Contact Data">CTO Contact Data</a></td>
                        </tr>
                        <tr>
                            <td><a href="/cmo-email-list" title="CMO Mailing Database">CMO Mailing Database</a></td>
                        </tr>
                        <tr>
                            <td><a href="/cfo-email-list" title="CFO Email Leads">CFO Email Leads</a></td>
                        </tr>
                        <tr>
                            <td><a href="/cio-email-list" title="CIO Marketing Lists">CIO Marketing Lists</a></td>
                        </tr>
                        <tr>
                            <td><a href="/home-inspectors-email-list" title="Home Inspectors Email Addresses">Home Inspectors Email Addresses</a></td>
                        </tr>
                        <tr>
                            <td><a href="/fire-department-email-list" title="Fire Department Sales Leads">Fire Department Sales Leads</a></td>
                        </tr>
                        <tr>
                            <td><a href="/loan-officer-email-list" title="Loan Officer Email List">Loan Officer Email List</a></td>
                        </tr>
                        <tr>
                            <td><a href="/stockbrokers-email-list" title="StockBrokers Mailing List">StockBrokers Mailing List</a></td>
                        </tr>
                        <tr>
                            <td><a href="/canadian-ceo-email-list" title="Canadian CEO Email List">Canadian CEO Email List</a></td>
                        </tr>
                        <tr>
                            <td><a href="/canadian-cfo-email-list" title="Canadian CFO Email List">Canadian CFO Email List</a></td>
                        </tr>
                        <tr>
                            <td><a href="/canadian-cmo-email-list" title="Canadian CMO Email List">Canadian CMO Email List</a></td>
                        </tr>
                        <tr>
                            <td><a href="/canadian-cpa-email-list" title="Canadian CPA Email List">Canadian CPA Email List</a></td>
                        </tr>
                        <tr>
                            <td><a href="/canadian-software-developers-email-list" title="Canadian Software Developers Email List">Canadian Software Developers Email List</a></td>
                        </tr>
                        <tr>
                            <td><a href="/chief-and-vp-of-operations-email-list" title="Chief and VP of Operations Email List">Chief and VP of Operations Email List</a></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-lg-6 wow fadeInLeft">
                <div class="dgreen-bg-list-outer">
                    <table class="dgreen-bg-list">
                        <tr>
                            <td><a href="/general-manager-email-list" title="General Manager Email List">General Managers Contacts</a></td>
                        </tr>
                        <tr>
                            <td><a href="/attorney-email-list" title="Attorney Email List">Attorney/Lawyers Email List</a></td>
                        </tr>
                        <tr>
                            <td><a href="/architect-email-list" title="architect Email List">Email List of Architect's</a></td>
                        </tr>
                        <tr>
                            <td><a href="/merchandise-manager-email-list" title="Merchandise Manager Email List">Merchandise Manager Emails</a></td>
                        </tr>
                        <tr>
                            <td><a href="/cpa-email-list" title="CPA Email List">CPA Email Addresses</a></td>
                        </tr>
                        <tr>
                            <td><a href="/event-organizers-email-list" title="Event Organizer Email List">List of Event Organizers</a></td>
                        </tr>
                        <tr>
                            <td><a href="/payroll-email-list" title="Payroll Email List">Payroll Mailing Addresses</a></td>
                        </tr>
                        <tr>
                            <td><a href="/bankruptcy-email-list" title="Bankruptcy Email List">Bankruptcy Mailing Database</a></td>
                        </tr>
                        <tr>
                            <td><a href="/insurance-brokers-email-list" title="Insurance Brokers Email List">Insurance Brokers Email List</a></td>
                        </tr>
                        <tr>
                            <td><a href="/chief-and-vp-of-quality-email-list" title="Chief and VP of Quality Email List">Chief and VP of Quality Email List</a></td>
                        </tr>
                        <tr>
                            <td><a href="/chief-and-vp-software-email-list" title="Chief and VP of Software Email List">Chief and VP of Software Email List</a></td>
                        </tr>
                        <tr>
                            <td><a href="/chro-email-list" title="CHRO Email List">CHRO Email List</a></td>
                        </tr>
                        <tr>
                            <td><a href="/coo-email-list" title="COO Email List">COO Email List</a></td>
                        </tr>
                        <tr>
                            <td><a href="/cso-email-list" title="CSO Email List">CSO Email List</a></td>
                        </tr>
                        <tr>
                            <td><a href="/it-decision-makers-email-list" title="IT Decision Makers Email List">IT Decision Makers Email List</a></td>
                        </tr>
                    </table>
                </div>
            </div>


            <div class="clearfix"></div>

        </div>
    </div>
</section>  
 <div id="requestquote">
  
  </div>

<section class="free-quote-sec" >
      <div class="container">
      <div class="row">
      	  <div class="col-lg-5 wow fadeInRight centeralign">
          	<div>
          	<h2>GET A FREE QUOTE</h2>
            <p>Finding the right data can be<br/> 
			complicated, so we are here to help </p>
            </div>
          </div>
          <div class="col-lg-7 wow fadeInRight">
            <div class="contact-quote">
    <div class="form">
          <form method="post" name="contactside" class="contactForm" onsubmit="return fnValidationContactside()" action=" " enctype="multipart/form-data">
            <input name="subject" type="hidden" value="Contact Details from Span Global Services">
            <input name="redirect_url" type="hidden" value=" ">
              <div class=" form-row">
              	<div class="col-lg-6 form-group">
              		<input type="text" name="fname" class="form-control" id="fname" placeholder="First Name*">
                </div>
                <div class="col-lg-6 form-group">
              		<input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name*">
                </div>
                <div class="col-lg-6 form-group">
                	<input type="email" class="form-control" name="email" id="email" placeholder="Business Email*">              		
                </div>
                <div class="col-lg-6 form-group">
                	<input type="text" class="form-control" name="phone" id="phone" placeholder="Phone*">            		
                </div>
              </div>
			  
			     <div class="form-row">
              	
                <div class="col-lg-12 form-group">
                	<div class="input-container">
                		
                        <select name="contact" class="form-control">
  <option value="">No. of contacts</option>
  <option value="Less than 10k">Less than 10k</option>
  <option value="10k-50k">10k-50k</option>
  <option value="50k-100k">50k-100k</option>
  <option value="100k+">100k+</option>
</select>
                    </div>
              		
                </div>
              </div>
                            
              <div class="form-group">
              	<textarea class="form-control " name="comments" rows="2" placeholder="Requirements"></textarea>
              </div>
              <div class="form-group"><button type="submit" class="circle-fa" >CLICK HERE TO SUBMIT</button></div>
          </form>
     </div>
</div>          </div>
      </div>
      </div>
</section>
 
   
    
  </main>
  
  
  {% endblock %}