{% extends 'base.html' %}

{% block content %}
<section class="inner-banner professional-list-banner">
    <div class="overlay">
    	<div class="container">
            <div class="row">
              <div class="col-lg-6 mb-3 wow fadeInLeft"></div>
              <div class="col-lg-6 mb-3 wow fadeInLeft">
                    <h1>Attorney Email List</h1>
                    <p>Supercharge Your Marketing Campaigns with the Power of Right Data</p>
                    <div class="mt-4">
                    <a href="#" data-toggle="modal" data-target="#send-message" class="white-br-btn circle-fa">Book Your Data &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a>
                    <h5 class="mt-5 text-white h6"><strong>Last Updated : June 18, 2023</strong></h5>
                </div>
              </div>
            </div>
        </div>
    </div>	
</section>
    <main id="main">
        <section class="section-sec-0-60" style="padding: 0px 0 10px 0;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 section-fpad wow fadeInLeft mb-sec">
                        <h2 class="subhead-small-blk">Get Direct Access to the Busiest of Executives Across Geographies and Industries</h2>
                        <p style="text-align:Justify;">Our list of CEO email addresses will cut out all the middlemen and give you direct access to some of the most heavily-guarded executives in the world. We have all heard how challenging it can be to be the Chief Executive Officer
                            (CEO) of a company. But, as a marketer, you are painfully aware of how challenging it can be to get access to one.</p>
                        <p style="text-align:Justify;">Have your marketing efforts been failing lately? Tired of having more scars than trophies? Well, though it is natural for busy CEOs to guard their time, you’d be surprised how willing and welcoming they are of marketing conversations
                            that matter. The question is - Are you reaching out to the right professionals with the right message? </p>
                        <p style="text-align:Justify;">Your only hope is to have a <a href="/email-lists" title="Targeted Email Lists"><strong>targeted email list</strong></a> under your belt that connects you directly with the CEOs of your target
                            industry. And since procurement and maintenance of such a <a href="/"><strong>professionals email</strong></a> is a time-consuming and painstaking task, it is best to relay
                            such needs to the data experts of Span Global Services!</p>
                        <h2 class="subhead-small-blk">Customize your CEO Email Database List by</h2>
                        <div class="row respo-icon">
                            <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;"> <img src="/static/assets/img/assets-size.png" alt="assets-size" title="assets-size" class="respo-img">
                                <p>Assets Size</p>
                            </div>
                            <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;"> <img src="/static/assets/img/company-size.gif" alt="company-size" title="company-size" class="respo-img">
                                <p>Company Size</p>
                            </div>
                            <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;"> <img src="/static/assets/img/geographic.png" alt="geographic" title="geographic" class="respo-img">
                                <p>Geographic</p>
                            </div>
                            <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;"> <img src="/static/assets/img/industry.gif" alt="industry" title="industry" class="respo-img">
                                <p>Industry</p>
                            </div>
                            <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;"> <img src="/static/assets/img/job-title.png" alt="job-title" title="job-title" class="respo-img">
                                <p>Job Title</p>
                            </div>
                            <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;"> <img src="/static/assets/img/technology.gif" alt="technology" title="technology" class="respo-img">
                                <p>Technology</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 mb-4 wow fadeInRight">
                        <div class="mx-800">
                            <div class="contact-side">
                                <h4>GET A FREE QUOTE</h4>
                                <p>We have got you covered on all your email and direct marketing needs</p>
                                <div class="form">
                                    <form name="f12" id="contact-form" action=" " method="post" onSubmit="return validationcon()"> <input type="hidden" name="returnURL" value=" "><input name="title" type="hidden" value="Contact Request from Span Global Services">
                                        <div class=" form-row">
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name*"> <i class="fa fa-user icon"></i> </div>
                                            </div>
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name"> <i class="fa fa-user icon"></i> </div>
                                            </div>
                                        </div>
                                        <div class=" form-row">
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="email" class="form-control" name="email" id="email" placeholder="Business Email*"> <i class="fa fa-envelope icon"></i> </div>
                                            </div>
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="text" class="form-control" name="phone" id="phone" placeholder="Business Phone*"> <i class="fa fa-phone icon"></i> </div>
                                            </div>
                                        </div>
                                        <div class=" form-row">
                                            <div class="col-lg-12 form-group">
                                                <div class="input-container"> <input type="text" name="company" class="form-control" id="company" placeholder="Company Name*"> <i class="fa fa-briefcase icon"></i> </div>
                                            </div>
                                        </div>
                                        <div class=" form-row">
                                            <div class="col-lg-12 form-group">
                                                <div class="input-container"> <select name="contact" class="form-control"> <option value="">No. of contacts</option> <option value="Less than 10k">Less than 10k</option> <option value="10k-50k">10k-50k</option> <option value="50k-100k">50k-100k</option> <option value="100k+">100k+</option></select>                                                    </div>
                                            </div>
                                        </div>
                                        <div class="form-group"> <textarea class="form-control " name="comments" rows="1" placeholder="Message*"></textarea> </div>
                                        <div class="form-group"> <label><input name="newslettersubscribe" value="newslettersubscribe" checked="" type="checkbox"> I would like to subscribe to your Newsletter.</label> </div>
                                        <div class="form-group mt-4"><button type="submit" class="circle-fa">Submit Data Counts and Quote Request &nbsp; <i class="fa icon ion-android-arrow-forward"></i></button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
        <section class="grey-sec-light-01" style="box-shadow: -1px 7px 25px #2bb511;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mb-sec pt-5 pb-5 mt-3 wow fadeInRight" style="visibility: visible; animation-name: fadeInLeft;">
                        <h2 class="subhead-small-blk text-center mb-sec">List of CEO's Covered by Industry :</h2>
                        <div class="row">
                            <div class="col-lg-4 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                <ul class="green-star-list">
                                    <li>List of Banking Industry CEO's</li>
                                    <li>Oil and Gas Industry CEO Leads</li>
                                    <li>Aerospace Industry CEO Email Counts</li>
                                    <li>Manufacturing Industry CEO Contact Lists</li>
                                    <li>Medical Industry CEO Marketing Data</li>
                                </ul>
                            </div>
                            <div class="col-lg-4 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                <ul class="green-star-list">
                                    <li>Insurance Industry CEO Database</li>
                                    <li>Media &amp; Marketing Industry CEO Database</li>
                                    <li>Automotive Industry CEO Contacts</li>
                                    <li>Telecom Industry CEO Contacts</li>
                                    <li>Food and Beverage Industry CEO Leads</li>
                                </ul>
                            </div>
                            <div class="col-lg-4 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                <ul class="green-star-list">
                                    <li>Education Services Industry CEO Database</li>
                                    <li>Call Center Industry CEO Contacts</li>
                                    <li>Telecom Industry CEO Marketing List</li>
                                    <li>List of Biotechnology Industry CEO's</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row mobile-tableview ">
                            <div class="col-lg-12 wow fadeInLeft">
                                <div class="tab-scroll">
                                    <ul class="green-star-list " style="height:150px;overflow-y:scroll;">
                                        <li>List of Banking Industry CEO's</li>
                                        <li>Oil and Gas Industry CEO Leads</li>
                                        <li>Aerospace Industry CEO Email Counts</li>
                                        <li>Manufacturing Industry CEO Contact Lists</li>
                                        <li>Medical Industry CEO Marketing Data</li>
                                        <li>Insurance Industry CEO Database</li>
                                        <li>Media &amp; Marketing Industry CEO Database</li>
                                        <li>Automotive Industry CEO Contacts</li>
                                        <li>Telecom Industry CEO Contacts</li>
                                        <li>Food and Beverage Industry CEO Leads</li>
                                        <li>Education Services Industry CEO Database</li>
                                        <li>Call Center Industry CEO Contacts</li>
                                        <li>Telecom Industry CEO Marketing List</li>
                                        <li>List of Biotechnology Industry CEO's</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="grey-sec-light">
            <div class="container-fluid">
                <div class="row mb-sec">
                    <div class="col-lg-6 mb-4 wow fadeInLeft mb-sec">
                        <div class="pad-sec mb-sec">
                            <h2 class="subhead-small-blk mb-sec">Identify the Best Target Audience and Determine the Most Effective Ways to Deliver Your Message</h2>
                            <p style="text-align:Justify;">Your target audience, even CEOs, have their preferred channels of communication. And when contacted via those, you give yourself a better chance at attracting and engaging them with your brand. Span Global Services’ <strong>Chief Executives Email List</strong>                                will aid you in reaching out to your target groups of CEOs across different marketing channels via comprehensive and accurate information. Want to send a highly thoughtful and personalized email? Great! Maybe you’d like
                                to try your hands on cold calling too? No problem! Leverage all opportunities at your disposal for desired results.</p>
                            <div class="mt-4"> <a href="/request-quote" class="dgreen-btn circle-fa">Request A Quote &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a> </div>
                        </div>
                    </div>
                    <div class="col-lg-6 geotargeted-list-sgs wow fadeInRight"> </div>
                </div>
            </div>
        </section>
        <section class="section-sec-50-40" style="padding: 50px 0 0px 0;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-4 wow fadeInLeft">
                        <h2 class="subhead-small-blk text-center">Data Fields We Provide Includes</h2> <a href="#requestquote"><img class="respo-img" src="/static/assets/img/CEO-Data-Fields.jpg" alt="CEO-Data-Fields"></a> </div>
                    <div class="col-lg-6 mb-4 wow fadeInRight">
                        <h2 class="subhead-small-blk">Steer Your Marketing in the Right Direction with Our CEO Mailing Database</h2>
                        <p style="text-align:Justify;">Data is as much a faithful friend, as it can be a terrible foe. When right, it can take your marketing campaigns to unexplored heights, and when not in good shape, it can completely break your business. Our CEO email address list
                            will include such comprehensive and rich data insights into your target groups, from their direct calling numbers to their email addresses, that you can confidently contact them via direct marketing, event marketing, email
                            marketing, or telemarketing, knowing your conversations will not fall on deaf ears.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-sec-0-60 healthcare-inner-text-bg">
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-5 mb-4 wow fadeInLeft">
                        <div class="dark-green ">
                            <h2>Why Choose Span Global Services as Your Data Partner</h2>
                        </div>
                    </div>
                    <div class="col-lg-7 section-fpad wow fadeInLeft">
                        <p style="text-align:Justify;">Our data experts understand how sensitive and challenging it is to target the CEO of a company. After all, these executives hold major decision-making and purchasing powers in the palm of their hands. This is why we take utmost
                            care while developing your CEO email list.</p>
                        <p style="text-align:Justify;">Our data scientists ensure that your CEO email addresses are compiled to be 100% accurate, at least 95% deliverable, and human verified to ensure all information is up-to-date. Plus, we run a rigorous vetting process to ensure
                            that each CEO business email list included in your mailing list is permission-based and would be genuinely interested in your brand and its products and services. </p>
                        <p style="text-align:Justify;">At the time of delivering your <strong>CEO Contact Lists</strong>, we offer services such as data and email appending and data cleansing so that your database remains relevant at all times. Targeting your audience via personalized
                            marketing messages will give you guaranteed business ROIs, quality leads, a better brand image, and long-lasting business connections. </p>
                        <div class="mt-4"> <a href="#" data-toggle="modal" data-target="#send-message" class="green-btn circle-fa">Purchase CEO Contact Data Now! &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a> </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-sec-50-40 " style="padding: 50px 0 0px 0;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 wow fadeInLeft">
                        <h2 class="subhead-small-blk">Target the CEO You Want by Narrowing Down on the Industry and Location You Want </h2>
                        <p style="text-align:Justify;">Our data scientists will collate CEO email addresses based on your specifications – for an industry and a location. You can give your brand local or international relevance as per your business goals.</p>
                        <p style="text-align:Justify;">Want to target more than just US Chief Executives? Choose your intended audience base from regions such as UK, Australia, Middle East, Asia, and more – our global master database can cater to all of them with ease! </p>
                        <h2 class="subhead-small-blk">Steer Clear of All Data-Related Woes with Our CEO Mailing Database</h2>
                        <p style="text-align:Justify;">Several marketers take poor-quality data to be a trivial matter, a matter of insignificance only to later regret their ignorance. Keep in mind that data decays at the whopping rate of 22.5% annually! If your present CEO email addresses
                            that are even slightly short in terms of its accuracy or relevance, you will have to bear what is called the ‘consequences of bad data.’ </p>
                        <p><strong>So, what are these consequences you ask? Take a look –</strong></p>
                        <ul>
                            <li style="list-style-type:none;"><img src="/static/assets/img/green-right.png" alt="" title="" class="repo-img" style="width:25px;height:25px;">&nbsp;Poor business decisions implies = low business ROIs </li>
                            <li style="list-style-type:none;"><img src="/static/assets/img/green-right.png" alt="" title="" class="repo-img" style="width:25px;height:25px;">&nbsp;Business inefficiencies implies = hefty expenses in fixing and rework </li>
                            <li
                                style="list-style-type:none;"><img src="/static/assets/img/green-right.png" alt="" title="" class="repo-img" style="width:25px;height:25px;">&nbsp;Mistrust implies = millions of dollars in fines </li>
                                <li style="list-style-type:none;"><img src="/static/assets/img/green-right.png" alt="" title="" class="repo-img" style="width:25px;height:25px;">&nbsp;Missed business opportunities implies = competitive edge to competitors </li>
                                <li style="list-style-type:none;"><img src="/static/assets/img/green-right.png" alt="" title="" class="repo-img" style="width:25px;height:25px;">&nbsp;Lost revenue, especially detrimental in the case of multi-channel selling </li>
                        </ul>
                        <p style="text-align:Justify;">Cultivating good-quality data for your targeted <a href="/b2b-email-list" title="Business Email List"><strong>business email list</strong></a> and maintaining its integrity at all times will ensure
                            data accuracy, completeness, uniqueness, consistency, and timeliness. Such a database is sure to reap rich business rewards. </p>
                        <p style="text-align:Justify;">Span Global Services’ <a href="/" title="Professional email lists"><strong>Professional Email Lists</strong></a> cover all the above criteria for a robust and thorough customer
                            database and we run frequent verification and hygiene checks to ensure that even if data is going stale, it is taken care of at the get-go. </p>
                        <p style="text-align:Justify;">With our <strong>Chief Executive Officer Email Database</strong>, you can avoid high email bounce-backs, low CTRs, and poor response rates. Plus, you can do all of this without having to empty your pockets! Our Chief Executives
                            mailing address database is available at affordable costs so that your profits do not hurt you in any way.</p>
                        <p style="text-align:Justify;">So, what are you waiting for? Get in touch with our data experts and request for Free sample today. Your journey to marketing success begins here!</p>
                        <div class="mb-4 mt-4 text-center"> <a href="#" data-toggle="modal" data-target="#send-message" class="green-btn circle-fa">Get Your FREE Sample Today! &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a> </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-sec-small pt-3" style="padding: 0px 0 0px 0;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mb-2 text-center wow fadeInLeft ">
                        <h2 class="subhead-small-blk">FAQs </h2>
                    </div>
                    <div class="col-lg-12 mb-5 wow fadeInLeft">
                        <div class="bs-example">
                            <div class="accordion" id="accordionExample">
                                <div class="row">
                                    <div class="col-lg-6 wow fadeInLeft">
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h2 class="mb-0"> <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"><i class="fa fa-plus"></i>How to get the best-vetted CEO email lists?</button> </h2>
                                            </div>
                                            <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>The most efficient way to get your <strong>CEO Mailing List</strong> is to buy one from Span Global Services. We offer customized, cost-efficient email lists to suit your specific business needs. Just
                                                        browse through our website and choose the ‘<a href="/contact-us" title="Buy Now">Buy Now</a>’ option or drop a mail at <a href="mailto:info@affluencebusiness">info@affluencebusiness</a>                                                        to discuss your requirements.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingTwo">
                                                <h2 class="mb-0"> <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"><i class="fa fa-plus"></i>How do I make sure the data I get is genuine?</button> </h2>
                                            </div>
                                            <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>We believe in providing the highest-quality services to our clients. For this, we conduct double-vetting procedures on our data. Moreover, our data experts ensure to update the data frequently so that
                                                        you always get 100% error-free details in your <strong>CEO Email Database</strong>.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 wow fadeInLeft">
                                        <div class="card">
                                            <div class="card-header" id="headingThree">
                                                <h2 class="mb-0"> <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"><i class="fa fa-plus"></i>Can I customize my CEO Mailing list requirement?</button> </h2>
                                            </div>
                                            <div id="collapseThree" class="collapse " aria-labelledby="headingThree" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>Absolutely! At Span Global Services, we are aware that you might need specific details that align with your outreach model. Therefore, we provide <strong>CEO Marketing Lists</strong> that can be customized
                                                        as per your requirements to connect with extensive details of the prospects suited to your business.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingfour">
                                                <h2 class="mb-0"> <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour"><i class="fa fa-plus"></i>What format will I receive my CEO email database?</button> </h2>
                                            </div>
                                            <div id="collapsefour" class="collapse " aria-labelledby="headingfour" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>You can get your <strong>CEO Email List</strong> in easy-to-use formats of .csv, .db, .txt or.xls. After your order gets confirmed successfully, your mailing list will be delivered to your registered
                                                        email address.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-sec light-grey-sec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 wow fadeInLeft">
                        <h2 class="subhead-small-blk ">Top Segmented Professional Lists</h2>
                    </div>
                    <div class="col-lg-6 wow fadeInLeft">
                        <div class="dgreen-bg-list-outer">
                            <table class="dgreen-bg-list">
                                <tr>
                                    <td><a href="/ceo-email-list" title="CEO Email Addresses">CEO Email Addresses</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/cto-email-list" title="CTO Contact Data">CTO Contact Data</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/cmo-email-list" title="CMO Mailing Database">CMO Mailing Database</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/cfo-email-list" title="CFO Email Leads">CFO Email Leads</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/cio-email-list" title="CIO Marketing Lists">CIO Marketing Lists</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/home-inspectors-email-list" title="Home Inspectors Email Addresses">Home Inspectors Email Addresses</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/fire-department-email-list" title="Fire Department Sales Leads">Fire Department Sales Leads</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/loan-officer-email-list" title="Loan Officer Email List">Loan Officer Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/stockbrokers-email-list" title="StockBrokers Mailing List">StockBrokers Mailing List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/canadian-ceo-email-list" title="Canadian CEO Email List">Canadian CEO Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/canadian-cfo-email-list" title="Canadian CFO Email List">Canadian CFO Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/canadian-cmo-email-list" title="Canadian CMO Email List">Canadian CMO Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/canadian-cpa-email-list" title="Canadian CPA Email List">Canadian CPA Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/canadian-software-developers-email-list" title="Canadian Software Developers Email List">Canadian Software Developers Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/chief-and-vp-of-operations-email-list" title="Chief and VP of Operations Email List">Chief and VP of Operations Email List</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInLeft">
                        <div class="dgreen-bg-list-outer">
                            <table class="dgreen-bg-list">
                                <tr>
                                    <td><a href="/general-manager-email-list" title="General Manager Email List">General Managers Contacts</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/attorney-email-list" title="Attorney Email List">Attorney/Lawyers Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/architect-email-list" title="architect Email List">Email List of Architect's</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/merchandise-manager-email-list" title="Merchandise Manager Email List">Merchandise Manager Emails</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/cpa-email-list" title="CPA Email List">CPA Email Addresses</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/event-organizers-email-list" title="Event Organizer Email List">List of Event Organizers</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/payroll-email-list" title="Payroll Email List">Payroll Mailing Addresses</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/bankruptcy-email-list" title="Bankruptcy Email List">Bankruptcy Mailing Database</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/insurance-brokers-email-list" title="Insurance Brokers Email List">Insurance Brokers Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/chief-and-vp-of-quality-email-list" title="Chief and VP of Quality Email List">Chief and VP of Quality Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/chief-and-vp-software-email-list" title="Chief and VP of Software Email List">Chief and VP of Software Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/chro-email-list" title="CHRO Email List">CHRO Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/coo-email-list" title="COO Email List">COO Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/cso-email-list" title="CSO Email List">CSO Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/it-decision-makers-email-list" title="IT Decision Makers Email List">IT Decision Makers Email List</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
        <div id="requestquote"> </div>
        <section class="free-quote-sec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 wow fadeInRight centeralign">
                        <div>
                            <h2>GET A FREE QUOTE</h2>
                            <p>Finding the right data can be<br /> complicated, so we are here to help </p>
                        </div>
                    </div>
                    <div class="col-lg-7 wow fadeInRight">
                        <div class="contact-quote">
                            <div class="form">
                                <form method="post" name="contactside" class="contactForm" onsubmit="return fnValidationContactside()" action=" " enctype="multipart/form-data"> <input name="subject" type="hidden" value="Contact Details from Span Global Services"> <input name="redirect_url" type="hidden" value=" ">
                                    <div class=" form-row">
                                        <div class="col-lg-6 form-group"> <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name*"> </div>
                                        <div class="col-lg-6 form-group"> <input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name*"> </div>
                                        <div class="col-lg-6 form-group"> <input type="email" class="form-control" name="email" id="email" placeholder="Business Email*"> </div>
                                        <div class="col-lg-6 form-group"> <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone*"> </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-lg-12 form-group">
                                            <div class="input-container"> <select name="contact" class="form-control"> <option value="">No. of contacts</option> <option value="Less than 10k">Less than 10k</option> <option value="10k-50k">10k-50k</option> <option value="50k-100k">50k-100k</option> <option value="100k+">100k+</option></select>                                                </div>
                                        </div>
                                    </div>
                                    <div class="form-group"> <textarea class="form-control " name="comments" rows="2" placeholder="Requirements"></textarea> </div>
                                    <div class="form-group"><button type="submit" class="circle-fa">CLICK HERE TO SUBMIT</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main> 

    {% endblock %}

    