{% extends 'base.html' %}

{% block content %}
<section class="inner-banner professional-list-banner">
     <div class="overlay">
          <div class="container">
             <div class="row">
               <div class="col-lg-6 mb-3 wow fadeInLeft"></div>
               <div class="col-lg-6 mb-3 wow fadeInLeft">
                     <h1>Attorney Email List</h1>
                     <p>Supercharge Your Marketing Campaigns with the Power of Right Data</p>
                     <div class="mt-4">
                     <a href="#" data-toggle="modal" data-target="#send-message" class="white-br-btn circle-fa">Book Your Data &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a>
                     <h5 class="mt-5 text-white h6"><strong>Last Updated : June 18, 2023</strong></h5>
                 </div>
               </div>
             </div>
         </div>
     </div>	
 </section>
<main id="main">
     <style>
          .section-fpad2 {
               padding-top: 15px;
          }
     </style>
     <section class="section-sec-0-60">
          <div class="container">
               <div class="row">
                    <div class="col-lg-7 section-fpad wow fadeInLeft">
                         <h2 class="subhead-small-blk">Generate Maximum ROI with Our Authentic CTO Email Lists</h2>
                         <p style="text-align:Justify;">Technology has become imperative to businesses worldwide and the
                              executive level roles have gained momentum. The role of the CTO has thus been aptly
                              defined as the glue between implementation of technology and product strategy.<br>
                         <p style="text-align:Justify;">The <strong>CTO mailing list</strong>, therefore bears
                              significance for technology marketers worldwide. As Big Data and Data Analytics have
                              dominated the business scene, it is time for marketers to be prudent in their business
                              decisions. Investing in a versatile and accurate <strong>CTO mailing list</strong> thus
                              becomes important for global campaign success.</p>
                         <p style="text-align:Justify;">CTO is a coveted designation and the responsibilities vary from
                              managing the organizations research and development and a host of other technological
                              needs. The <strong>CTO email database</strong> by affluence business will help marketers
                              connect with these <a href="/"
                                   title="Professional executives"><strong>Professional executives</strong></a>. Our
                              <strong>B2B email lists</strong> are crafted with precision to ensure seamless business
                              communication.</p>
                         <p style="text-align:Justify;">The roles and responsibilities of the CTO vary from one
                              organization to the other, based on the organizational structure. With decision making
                              powers for the technology infrastructure, the CTO has the authority to augment a host of
                              <strong>technology enabled services</strong> within the organization.</p>
                         <h2 class="subhead-small-blk">Customize your CTO Email Database List by</h2>
                         <div class="row respo-icon">
                              <div class="col-lg-2 wow fadeInLeft text-center"
                                   style="visibility: visible; animation-name: fadeInLeft;"> <img
                                        src="/static/assets/img/assets-size.png"
                                        alt="assets-size" title="assets-size" class="respo-img">
                                   <p>Assets Size</p>
                              </div>
                              <div class="col-lg-2 wow fadeInLeft text-center"
                                   style="visibility: visible; animation-name: fadeInLeft;"> <img
                                        src="/static/assets/img/company-size.gif"
                                        alt="company-size" title="company-size" class="respo-img">
                                   <p>Company Size</p>
                              </div>
                              <div class="col-lg-2 wow fadeInLeft text-center"
                                   style="visibility: visible; animation-name: fadeInLeft;"> <img
                                        src="/static/assets/img/geographic.png"
                                        alt="geographic" title="geographic" class="respo-img">
                                   <p>Geographic</p>
                              </div>
                              <div class="col-lg-2 wow fadeInLeft text-center"
                                   style="visibility: visible; animation-name: fadeInLeft;"> <img
                                        src="/static/assets/img/industry.gif" alt="industry"
                                        title="industry" class="respo-img">
                                   <p>Industry</p>
                              </div>
                              <div class="col-lg-2 wow fadeInLeft text-center"
                                   style="visibility: visible; animation-name: fadeInLeft;"> <img
                                        src="/static/assets/img/job-title.png"
                                        alt="job-title" title="job-title" class="respo-img">
                                   <p>Job Title</p>
                              </div>
                              <div class="col-lg-2 wow fadeInLeft text-center"
                                   style="visibility: visible; animation-name: fadeInLeft;"> <img
                                        src="/static/assets/img/technology.gif"
                                        alt="technology" title="technology" class="respo-img">
                                   <p>Technology</p>
                              </div>
                         </div>
                    </div>
                    <div class="col-lg-5 mb-4 wow fadeInRight">
                         <div class="mx-800">
                              <div class="contact-side">
                                   <h4>GET A FREE QUOTE</h4>
                                   <p>We have got you covered on all your email and direct marketing needs</p>
                                   <div class="form">
                                        {% include 'form.html' %}
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="clearfix"></div>
               </div>
          </div>
     </section>
     <section class="grey-sec-light-01" style="box-shadow: -1px 7px 25px #2bb511;">
          <div class="container">
               <div class="row">
                    <div class="col-lg-12 pt-5 pb-5 mt-3 wow fadeInRight"
                         style="visibility: visible; animation-name: fadeInLeft;">
                         <h2 class="subhead-small-blk text-center">List of CTO's Covered by Industry :</h2>
                         <div class="row">
                              <div class="col-lg-4 wow fadeInLeft"
                                   style="visibility: visible; animation-name: fadeInLeft;">
                                   <ul class="green-star-list">
                                        <li>Aerospace Industry CTO Email Counts</li>
                                        <li>Automotive Industry CTO Contacts</li>
                                        <li>Call Center Industry CTO Contacts</li>
                                        <li>Call Center Industry CTO Contacts</li>
                                        <li>Education Services Industry CTO Database</li>
                                   </ul>
                              </div>
                              <div class="col-lg-4 wow fadeInLeft"
                                   style="visibility: visible; animation-name: fadeInLeft;">
                                   <ul class="green-star-list">
                                        <li>Food and Beverage Industry CTO Leads</li>
                                        <li>Insurance Industry CTO Database</li>
                                        <li>List of Banking Industry CTO's</li>
                                        <li>List of Biotechnology Industry CTO's</li>
                                        <li>Manufacturing Industry CTO Contact Database</li>
                                   </ul>
                              </div>
                              <div class="col-lg-4 wow fadeInLeft"
                                   style="visibility: visible; animation-name: fadeInLeft;">
                                   <ul class="green-star-list">
                                        <li>Media & Marketing Industry CTO Database</li>
                                        <li>Medical Industry CTO Marketing Database</li>
                                        <li>Oil and Gas Industry CTO Leads</li>
                                        <li>Telecom Industry CTO Contacts</li>
                                   </ul>
                              </div>
                         </div>
                         <style>
                              @media screen and (max-width:768px) {
                                   .respo-mb-table {
                                        height: 500px;
                                        overflow-y: scroll;
                                   }

                                   .mb-sec {
                                        margin-top: -20px;
                                   }

                                   .mb-sec2 {
                                        margin-top: 30px;
                                   }
                              }

                              @media screen and (max-width:768px) {
                                   .respo-mb-table-uk {
                                        height: 450px;
                                        overflow-y: scroll;
                                        margin-top: -35px;
                                   }

                                   .respo-mb-table-uk::-webkit-scrollbar {
                                        width: 8px;
                                   }

                                   .respo-mb-table-uk::-webkit-scrollbar-track {
                                        background: gray;
                                   }

                                   .respo-mb-table-uk::-webkit-scrollbar-thumb {
                                        background: black;
                                   }
                              }

                              @media screen and (max-width:1600px) {
                                   .mobile-tableview .tab-scroll {
                                        display: none !important;
                                   }
                              }

                              @media screen and (max-width:768px) {
                                   .respo-green-box .col-lg-4 {
                                        display: none;
                                   }

                                   .green-right-list {
                                        display: none;
                                   }

                                   .mobile-tableview .tab-scroll {
                                        display: block !important;
                                   }

                                   .mobile-tableview {
                                        margin-top: -10px;
                                   }

                                   .mobile-tableview ::-webkit-scrollbar {
                                        width: 8px;
                                   }

                                   .mobile-tableview ::-webkit-scrollbar-track {
                                        box-shadow: inset 0 0 5px grey;
                                        border-radius: 2px;
                                   }

                                   .mobile-tableview ::-webkit-scrollbar-thumb {
                                        background: black;
                                        border-radius: 2px;
                                   }
                              }
                         </style>
                         <div class="row mobile-tableview ">
                              <div class="col-lg-12 wow fadeInLeft">
                                   <div class="tab-scroll">
                                        <ul class="green-star-list " style="height:150px;overflow-y:scroll;">
                                             <li>Aerospace Industry CTO Email Counts</li>
                                             <li>Automotive Industry CTO Contacts</li>
                                             <li>Call Center Industry CTO Contacts</li>
                                             <li>Call Center Industry CTO Contacts</li>
                                             <li>Education Services Industry CTO Database</li>
                                             <li>Food and Beverage Industry CTO Leads</li>
                                             <li>Insurance Industry CTO Database</li>
                                             <li>List of Banking Industry CTO's</li>
                                             <li>List of Biotechnology Industry CTO's</li>
                                             <li>Manufacturing Industry CTO Contact Database</li>
                                             <li>Media & Marketing Industry CTO Database</li>
                                             <li>Medical Industry CTO Marketing Database</li>
                                             <li>Oil and Gas Industry CTO Leads</li>
                                             <li>Telecom Industry CTO Contacts</li>
                                        </ul>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>
     <section class="grey-sec-light">
          <div class="container-fluid">
               <div class="row">
                    <div class="col-lg-6 mb-4 wow fadeInLeft">
                         <div class="pad-sec">
                              <h2 class="subhead-small-blk">Enhance Business with CTO Mailing Database</h2>
                              <p style="text-align:Justify;">Affluence Business Inc provides segmented <strong>mailing
                                        list of CTOs</strong> to assist global campaigns. We lay emphasis on targeted
                                   and segmented data to help brands achieve unmatched campaign success. The well
                                   curated and exhaustive data sets ensure that marketers gain the competitive edge. It
                                   helps B2B campaigns reap the desired business results. That is not all; the <a
                                        href="/email-appending"
                                        title="Email Appending Services"><strong>email appending services</strong></a>
                                   and <a href="/data-enrichment-services"
                                        title="Data Enrichment Services"><strong>data enrichment services</strong></a>
                                   ensures that your data health is well maintained, in a cost-effective way.</p>
                              <div class="mt-4"> <a href="/request-quote"
                                        class="dgreen-btn circle-fa">Request for A Quote &nbsp; <i
                                             class="fa icon ion-android-arrow-forward"></i></a> </div>
                         </div>
                    </div>
                    <div class="col-lg-6 geotargeted-list-sgs wow fadeInRight"> </div>
               </div>
          </div>
     </section>
     <section class="section-sec-10-20" style="padding: 50px 0 0px 0;">
          <div class="container">
               <div class="row">
                    <div class="col-lg-6 mb-4 wow fadeInLeft section-fpad2 mb-sec">
                         <h2 class="subhead-small-blk text-center">Data Fields We Provide Includes</h2><a
                              href="#requestquote"><img
                                   src="/static/assets/img/CTO-Data-Fields.jpg"
                                   alt="CTO-Data-Fields" class="respo-img"></a>
                    </div>
                    <div class="col-lg-6 mb-4 wow fadeInRight">
                         <h2 class="subhead-small-blk">Enhance Campaign Growth with Tele-verified CTO Email List</h2>
                         <p style="text-align:Justify;">Affluence Business Inc provides one of the most thoroughly
                              verified mailing list of CTOs. The <a
                                   href="/"
                                   title="geo-targeted mailing list"><strong>geo-targeted mailing list</strong></a> is a
                              boon for marketers as it fosters brand building and revenue generation through global
                              campaigns. The CTO email list is certain to maximize campaign success through global
                              campaigns and help in effective brand building through B2B campaigns. The exhaustive CTO
                              business database has opt-in data with unmatched quality, ensuring that campaigns are
                              successful.<br>The tele-verified and accurate <strong>CTO email database</strong> has
                              assisted marketers to network with influential CTOs, helping them sell products and
                              services without any glitches. The CTO mailing list is loaded with permission-based email
                              addresses that can amplify campaign growth and assist marketers to gain access to list of
                              genuine targeted audience base. Once marketers invest in the list, they get access to
                              tele-verified and responsive data that can significantly impact their campaign returns.
                         </p>
                    </div>
               </div>
               <p style="text-align:Justify;">There are many reasons <a
                         href="/email-lists/"
                         title="why investing in an email list"><strong>why investing in an email list</strong></a> is a
                    good business decision. The <strong>CTO email address list</strong> is a comprehensive <a
                         href="/b2b-email-list/"
                         title="business mailing list"><strong>business mailing list</strong></a> that can help
                    marketers reach CTOs from businesses worldwide. The permission-based email addresses enhance
                    deliverables and qualified lead generation. Besides, building an email list can be time consuming
                    with various other factors and hurdles involved. Investing in a professionally collated mailing list
                    of CTOs is thus important for assured campaign success and brand building initiatives. </p>
               <p style="text-align:Justify;">Equip your campaign strategies with meticulously verified data and enhance
                    campaign returns. Stay ahead of the competition with the verified <strong>CTO email lists</strong>
                    and generate unmatched revenue through successful campaigns.</p>
          </div>
     </section>
     <section class="section-sec-small">
          <div class="container">
               <div class="row mb-sec">
                    <div class="col-lg-12 mb-1 wow fadeInLeft text-center mb-sec">
                         <h2 class="subhead-small-blk mb-2 mb-sec">Frequently Asked Questions</h2>
                    </div>
                    <div class="col-lg-12 wow fadeInLeft">
                         <div class="bs-example">
                              <div class="accordion " id="accordionExample">
                                   <div class="row">
                                        <div class="col-sm-6">
                                             <div class="card">
                                                  <div class="card-header" id="headingOne">
                                                       <h2 class="mb-0"> <button type="button" class="btn btn-link"
                                                                 data-toggle="collapse" data-target="#collapseOne"><i
                                                                      class="fa fa-plus"></i>Are CTO email lists
                                                                 actually helpful for marketing?</button> </h2>
                                                  </div>
                                                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                                       data-parent="#accordionExample">
                                                       <div class="card-body">
                                                            <p>The reliability and authenticity of a professionally
                                                                 curated list can do wonders for your next marketing
                                                                 campaign. affluencebusiness services provides 100% accurate,
                                                                 highly-targeted, and responsive CTO mailing lists. Our
                                                                 cost-effective solutions provide these lists at
                                                                 affordable rates too.</p>
                                                       </div>
                                                  </div>
                                             </div>
                                             <div class="card">
                                                  <div class="card-header" id="headingTwo">
                                                       <h2 class="mb-0"> <button type="button"
                                                                 class="btn btn-link collapsed" data-toggle="collapse"
                                                                 data-target="#collapseTwo"><i
                                                                      class="fa fa-plus"></i>Can I run multi-channel
                                                                 marketing campaigns using this CTO mailing
                                                                 list?</button> </h2>
                                                  </div>
                                                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                                       data-parent="#accordionExample">
                                                       <div class="card-body">
                                                            <p>Why not! Our versatile <strong>CTO email
                                                                      database</strong> helps you target leads at many
                                                                 customer-touch points by empowering you to run
                                                                 effective marketing campaigns across multiple channels
                                                                 like the event, email, content, direct, social media,
                                                                 and telemarketing.</p>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                        <div class="col-sm-6">
                                             <div class="card">
                                                  <div class="card-header" id="headingThree">
                                                       <h2 class="mb-0"> <button type="button"
                                                                 class="btn btn-link collapsed" data-toggle="collapse"
                                                                 data-target="#collapseThree"><i
                                                                      class="fa fa-plus"></i>How do you ensure that the
                                                                 data in these CTO mailing lists is correct?</button>
                                                       </h2>
                                                  </div>
                                                  <div id="collapseThree" class="collapse"
                                                       aria-labelledby="headingThree" data-parent="#accordionExample">
                                                       <div class="card-body">
                                                            <p>affluencebusiness provides 360-degree verified data in
                                                                 our <strong>CTO mailing lists</strong>. We implement
                                                                 data enrichment and data appending to get rid of any
                                                                 data decay or redundancies. Our data repository is
                                                                 regularly updated, once every 30 days for maximum
                                                                 hygiene.</p>
                                                       </div>
                                                  </div>
                                             </div>
                                             <div class="card">
                                                  <div class="card-header" id="headingfive">
                                                       <h2 class="mb-0"> <button type="button"
                                                                 class="btn btn-link collapsed" data-toggle="collapse"
                                                                 data-target="#collapsefive"><i
                                                                      class="fa fa-plus"></i>What details will I receive
                                                                 in my CTO email list?</button> </h2>
                                                  </div>
                                                  <div id="collapsefive" class="collapse" aria-labelledby="headingfive"
                                                       data-parent="#accordionExample">
                                                       <div class="card-body">
                                                            <p>Our expertly-collated <strong>CTO database</strong>
                                                                 contains extensive contact details of key
                                                                 decision-makers. We provide fields such as geographical
                                                                 location, mailing address, first & last name, ZIP code,
                                                                 company details, NAICS code, mailing address, and many
                                                                 more</p>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>
     <section class="section-sec light-grey-sec">
          <div class="container">
               <div class="row">
                    <div class="col-lg-12 wow fadeInLeft">
                         <h2 class="subhead-small-blk ">Top Segmented Professional Lists</h2>
                    </div>
                    <div class="col-lg-6 wow fadeInLeft">
                         <div class="dgreen-bg-list-outer">
                              <table class="dgreen-bg-list">
                                   <tr>
                                        <td><a href="/ceo-email-list"
                                                  title="CEO Email Addresses">CEO Email Addresses</a></td>
                                   </tr>
                                   <tr>
                                        <td><a href="/cto-email-list"
                                                  title="CTO Contact Data">CTO Contact Data</a></td>
                                   </tr>
                                   <tr>
                                        <td><a href="/cmo-email-list"
                                                  title="CMO Mailing Database">CMO Mailing Database</a></td>
                                   </tr>
                                   <tr>
                                        <td><a href="/cfo-email-list"
                                                  title="CFO Email Leads">CFO Email Leads</a></td>
                                   </tr>
                                   <tr>
                                        <td><a href="/cio-email-list"
                                                  title="CIO Marketing Lists">CIO Marketing Lists</a></td>
                                   </tr>
                                   <tr>
                                        <td><a href="/home-inspectors-email-list"
                                                  title="Home Inspectors Email Addresses">Home Inspectors Email
                                                  Addresses</a></td>
                                   </tr>
                                   <tr>
                                        <td><a href="/fire-department-email-list"
                                                  title="Fire Department Sales Leads">Fire Department Sales Leads</a>
                                        </td>
                                   </tr>
                                   <tr>
                                        <td><a href="/loan-officer-email-list"
                                                  title="Loan Officer Email List">Loan Officer Email List</a></td>
                                   </tr>
                                   <tr>
                                        <td><a href="/stockbrokers-email-list"
                                                  title="StockBrokers Mailing List">StockBrokers Mailing List</a></td>
                                   </tr>
                                   <tr>
                                        <td><a href="/canadian-ceo-email-list"
                                                  title="Canadian CEO Email List">Canadian CEO Email List</a></td>
                                   </tr>
                                   <tr>
                                        <td><a href="/canadian-cfo-email-list"
                                                  title="Canadian CFO Email List">Canadian CFO Email List</a></td>
                                   </tr>
                                   <tr>
                                        <td><a href="/canadian-cmo-email-list"
                                                  title="Canadian CMO Email List">Canadian CMO Email List</a></td>
                                   </tr>
                                   <tr>
                                        <td><a href="/canadian-cpa-email-list"
                                                  title="Canadian CPA Email List">Canadian CPA Email List</a></td>
                                   </tr>
                                   <tr>
                                        <td><a href="/canadian-software-developers-email-list"
                                                  title="Canadian Software Developers Email List">Canadian Software
                                                  Developers Email List</a></td>
                                   </tr>
                                   <tr>
                                        <td><a href="/chief-and-vp-of-operations-email-list"
                                                  title="Chief and VP of Operations Email List">Chief and VP of
                                                  Operations Email List</a></td>
                                   </tr>
                              </table>
                         </div>
                    </div>
                    <div class="col-lg-6 wow fadeInLeft">
                         <div class="dgreen-bg-list-outer">
                              <table class="dgreen-bg-list">
                                   <tr>
                                        <td><a href="/general-manager-email-list"
                                                  title="General Manager Email List">General Managers Contacts</a></td>
                                   </tr>
                                   <tr>
                                        <td><a href="/attorney-email-list"
                                                  title="Attorney Email List">Attorney/Lawyers Email List</a></td>
                                   </tr>
                                   <tr>
                                        <td><a href="/architect-email-list"
                                                  title="architect Email List">Email List of Architect's</a></td>
                                   </tr>
                                   <tr>
                                        <td><a href="/merchandise-manager-email-list"
                                                  title="Merchandise Manager Email List">Merchandise Manager Emails</a>
                                        </td>
                                   </tr>
                                   <tr>
                                        <td><a href="/cpa-email-list"
                                                  title="CPA Email List">CPA Email Addresses</a></td>
                                   </tr>
                                   <tr>
                                        <td><a href="/event-organizers-email-list"
                                                  title="Event Organizer Email List">List of Event Organizers</a></td>
                                   </tr>
                                   <tr>
                                        <td><a href="/payroll-email-list"
                                                  title="Payroll Email List">Payroll Mailing Addresses</a></td>
                                   </tr>
                                   <tr>
                                        <td><a href="/bankruptcy-email-list"
                                                  title="Bankruptcy Email List">Bankruptcy Mailing Database</a></td>
                                   </tr>
                                   <tr>
                                        <td><a href="/insurance-brokers-email-list"
                                                  title="Insurance Brokers Email List">Insurance Brokers Email List</a>
                                        </td>
                                   </tr>
                                   <tr>
                                        <td><a href="/chief-and-vp-of-quality-email-list"
                                                  title="Chief and VP of Quality Email List">Chief and VP of Quality
                                                  Email List</a></td>
                                   </tr>
                                   <tr>
                                        <td><a href="/chief-and-vp-software-email-list"
                                                  title="Chief and VP of Software Email List">Chief and VP of Software
                                                  Email List</a></td>
                                   </tr>
                                   <tr>
                                        <td><a href="/chro-email-list"
                                                  title="CHRO Email List">CHRO Email List</a></td>
                                   </tr>
                                   <tr>
                                        <td><a href="/coo-email-list"
                                                  title="COO Email List">COO Email List</a></td>
                                   </tr>
                                   <tr>
                                        <td><a href="/cso-email-list"
                                                  title="CSO Email List">CSO Email List</a></td>
                                   </tr>
                                   <tr>
                                        <td><a href="/it-decision-makers-email-list"
                                                  title="IT Decision Makers Email List">IT Decision Makers Email
                                                  List</a></td>
                                   </tr>
                              </table>
                         </div>
                    </div>
                    <div class="clearfix"></div>
               </div>
          </div>
     </section>
     <div id="requestquote"> </div>
     <section class="free-quote-sec">
          <div class="container">
               <div class="row">
                    <div class="col-lg-5 wow fadeInRight centeralign">
                         <div>
                              <h2>GET A FREE QUOTE</h2>
                              <p>Finding the right data can be<br /> complicated, so we are here to help </p>
                         </div>
                    </div>
                    <div class="col-lg-7 wow fadeInRight">
                         <div class="contact-quote">
                              <div class="form">
                                   <form method="post" name="contactside" class="contactForm"
                                        onsubmit="return fnValidationContactside()"
                                        action=" "
                                        enctype="multipart/form-data"> <input name="subject" type="hidden"
                                             value="Contact Details from Affluence Business Inc"> <input
                                             name="redirect_url" type="hidden"
                                             value=" ">
                                        <div class=" form-row">
                                             <div class="col-lg-6 form-group"> <input type="text" name="fname"
                                                       class="form-control" id="fname" placeholder="First Name*"> </div>
                                             <div class="col-lg-6 form-group"> <input type="text" name="lname"
                                                       class="form-control" id="lname" placeholder="Last Name*"> </div>
                                             <div class="col-lg-6 form-group"> <input type="email" class="form-control"
                                                       name="email" id="email" placeholder="Business Email*"> </div>
                                             <div class="col-lg-6 form-group"> <input type="text" class="form-control"
                                                       name="phone" id="phone" placeholder="Phone*"> </div>
                                        </div>
                                        <div class="form-row">
                                             <div class="col-lg-12 form-group">
                                                  <div class="input-container"> <select name="contact"
                                                            class="form-control">
                                                            <option value="">No. of contacts</option>
                                                            <option value="Less than 10k">Less than 10k</option>
                                                            <option value="10k-50k">10k-50k</option>
                                                            <option value="50k-100k">50k-100k</option>
                                                            <option value="100k+">100k+</option>
                                                       </select> </div>
                                             </div>
                                        </div>
                                        <div class="form-group"> <textarea class="form-control " name="comments"
                                                  rows="2" placeholder="Requirements"></textarea> </div>
                                        <div class="form-group"><button type="submit" class="circle-fa">CLICK HERE TO
                                                  SUBMIT</button></div>
                                   </form>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>
</main>

{% endblock %}