{% extends 'base.html' %}

{% block content %}
<section class="inner-banner professional-list-banner">
    <div class="overlay">
    	<div class="container">
            <div class="row">
              <div class="col-lg-6 mb-3 wow fadeInLeft"></div>
              <div class="col-lg-6 mb-3 wow fadeInLeft">
                    <h1>Attorney Email List</h1>
                    <p>Supercharge Your Marketing Campaigns with the Power of Right Data</p>
                    <div class="mt-4">
                    <a href="#" data-toggle="modal" data-target="#send-message" class="white-br-btn circle-fa">Book Your Data &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a>
                    <h5 class="mt-5 text-white h6"><strong>Last Updated : June 18, 2023</strong></h5>
                </div>
              </div>
            </div>
        </div>
    </div>	
</section>
<main id="main">
    <section class="section-sec-0-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 section-fpad wow fadeInLeft">
                    <h2 class="subhead-small-blk mb-sec">Avail Targeted HR Mailing Lists from Span Global Services and
                        Boost Your Campaign</h2>
                    <p style="text-align: justify;">Procure the best-in-class <strong>HR Email List</strong> that is
                        highly-targeted, accurate, and timely-verified, from Span Global Services and boost your sales
                        and marketing campaigns to generate significant ROI. Put all of your expertise in building
                        immaculate products, services, and solutions; and all of your efforts in preparing impeccable
                        marketing collaterals, while leaving the responsibility of targeting your niche audience to us.
                        Our <strong>Human Resources Email Address</strong> comply with GDPR, CCPA, and other customer
                        data regulation policies. Thus, your brand can enjoy broad exposure with well-segmented and
                        trustworthy <strong>HR Contacts Lists</strong> at affordable costs!</p>
                    <p style="text-align: justify;">Officials of the Human Resource (HR) department are no longer
                        limited to training and recruitment. They do multiple hats and play a strategic role in every
                        organization. HR executives are potent agents of change and take part in crucial decision-making
                        processes. Thus, it is no wonder that their ever-evolving busy role makes them difficult to
                        reach out to. With targeted and accurate <strong>HR Mailing Lists</strong> from Span Global
                        Services, you can seamlessly connect and market your products and services to the key prospects!
                    </p>
                    <h2 class="subhead-small-blk">Customize your HR Managers Lists by</h2>
                    <div class="row respo-icon">
                        <div class="col-lg-2 wow fadeInLeft text-center"
                            style="visibility: visible; animation-name: fadeInLeft;"> <img
                                src="/static/assets/img/assets-size.png" alt="assets-size"
                                title="assets-size" class="respo-img">
                            <p>Assets Size</p>
                        </div>
                        <div class="col-lg-2 wow fadeInLeft text-center"
                            style="visibility: visible; animation-name: fadeInLeft;"> <img
                                src="/static/assets/img/company-size.gif" alt="company-size"
                                title="company-size" class="respo-img">
                            <p>Company Size</p>
                        </div>
                        <div class="col-lg-2 wow fadeInLeft text-center"
                            style="visibility: visible; animation-name: fadeInLeft;"> <img
                                src="/static/assets/img/geographic.png" alt="geographic"
                                title="geographic" class="respo-img">
                            <p>Geographic</p>
                        </div>
                        <div class="col-lg-2 wow fadeInLeft text-center"
                            style="visibility: visible; animation-name: fadeInLeft;"> <img
                                src="/static/assets/img/industry.gif" alt="industry"
                                title="industry" class="respo-img">
                            <p>Industry</p>
                        </div>
                        <div class="col-lg-2 wow fadeInLeft text-center"
                            style="visibility: visible; animation-name: fadeInLeft;"> <img
                                src="/static/assets/img/job-title.png" alt="job-title"
                                title="job-title" class="respo-img">
                            <p>Job Title</p>
                        </div>
                        <div class="col-lg-2 wow fadeInLeft text-center"
                            style="visibility: visible; animation-name: fadeInLeft;"> <img
                                src="/static/assets/img/technology.gif" alt="technology"
                                title="technology" class="respo-img">
                            <p>Technology</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 mb-4 wow fadeInRight">
                    <div class="mx-800 floating-div">
                        <div class="contact-side">
                            <h4>GET A FREE QUOTE</h4>
                            <p>We have got you covered on all your email and direct marketing needs</p>
                            <div class="form">
                                <form name="f12" id="contact-form"
                                    action=" " method="post"
                                    onSubmit="return validationcon()"> <input type="hidden" name="returnURL"
                                        value=" "><input name="title"
                                        type="hidden" value="Contact Request from Span Global Services">
                                    <div class=" form-row">
                                        <div class="col-lg-6 form-group">
                                            <div class="input-container"> <input type="text" name="fname"
                                                    class="form-control" id="fname" placeholder="First Name*"> <i
                                                    class="fa fa-user icon"></i> </div>
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <div class="input-container"> <input type="text" name="lname"
                                                    class="form-control" id="lname" placeholder="Last Name"> <i
                                                    class="fa fa-user icon"></i> </div>
                                        </div>
                                    </div>
                                    <div class=" form-row">
                                        <div class="col-lg-6 form-group">
                                            <div class="input-container"> <input type="email" class="form-control"
                                                    name="email" id="email" placeholder="Business Email*"> <i
                                                    class="fa fa-envelope icon"></i> </div>
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <div class="input-container"> <input type="text" class="form-control"
                                                    name="phone" id="phone" placeholder="Business Phone*"> <i
                                                    class="fa fa-phone icon"></i> </div>
                                        </div>
                                    </div>
                                    <div class=" form-row">
                                        <div class="col-lg-12 form-group">
                                            <div class="input-container"> <input type="text" name="company"
                                                    class="form-control" id="company" placeholder="Company Name*"> <i
                                                    class="fa fa-briefcase icon"></i> </div>
                                        </div>
                                    </div>
                                    <div class=" form-row">
                                        <div class="col-lg-12 form-group">
                                            <div class="input-container"> <select name="contact" class="form-control">
                                                    <option value="">No. of contacts</option>
                                                    <option value="Less than 10k">Less than 10k</option>
                                                    <option value="10k-50k">10k-50k</option>
                                                    <option value="50k-100k">50k-100k</option>
                                                    <option value="100k+">100k+</option>
                                                </select> </div>
                                        </div>
                                    </div>
                                    <div class="form-group"> <textarea class="form-control " name="comments" rows="1"
                                            placeholder="Message*"></textarea> </div>
                                    <div class="form-group"> <label><input name="newslettersubscribe"
                                                value="newslettersubscribe" checked="" type="checkbox"> I would like to
                                            subscribe to your Newsletter.</label> </div>
                                    <div class="form-group mt-4"><button type="submit" class="circle-fa">Submit Data
                                            Counts and Quote Request &nbsp; <i
                                                class="fa icon ion-android-arrow-forward"></i></button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
    <section class="section-sec-60 mb-sec">
        <div class="container mb-sec">
            <div class="row mb-sec">
                <div class="col-lg-12 wow fadeInLeft mb-sec">
                    <div class="mx-700 mb-sec mb-sec">
                        <h2 class="subhead-small-blk text-center mb-sec">HR Contacts Lists by Specialty & Other Details
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row mb-sec">
                <div class="col-lg-3 mb-4 wow fadeInRight">
                    <div class="tab mb-tab-text">
                        <div class="row ">
                            <div class="col-sm-2"> <img
                                    src="/static/assets/img/mailing-list.png"
                                    alt="Speciality" title="" class="table-icon" /> </div>
                            <div class="col-sm-10"> <button class="tablinks" onclick="openCity(event, 'Company')"
                                    id="defaultOpen">HR Mailing Lists by Specialty</button> </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"> <img
                                    src="/static/assets/img/other-detials.png"
                                    alt="Other Details" title="" class="table-icon" /> </div>
                            <div class="col-sm-10"> <button class="tablinks" onclick="openCity(event, 'Other')">Other
                                    Details</button> </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 mb-4 wow fadeInRight">
                    <div id="Company" class="tabcontent">
                        <div class="tab-scroll">
                            <table class="border-tab-new01"
                                style="width: 100%; border-collapse: collapse; border-spacing: 0px;">
                                <tbody>
                                    <tr>
                                        <th>Category</th>
                                        <th>Counts</th>
                                        <th>Category</th>
                                        <th>Counts</th>
                                    </tr>
                                    <tr>
                                        <td>HR Analysts</td>
                                        <td>23,320</td>
                                        <td>HR Specialists</td>
                                        <td>36,070</td>
                                    </tr>
                                    <tr>
                                        <td>HR Advocates</td>
                                        <td>11,076</td>
                                        <td>HR Managers</td>
                                        <td>17,360</td>
                                    </tr>
                                    <tr>
                                        <td>HR VPs</td>
                                        <td>9,180</td>
                                        <td>Benefits Specialist</td>
                                        <td>2,400</td>
                                    </tr>
                                    <tr>
                                        <td>HR Manager&rsquo;s Assistants</td>
                                        <td>10,837</td>
                                        <td>Compensation Analysts</td>
                                        <td>5,110</td>
                                    </tr>
                                    <tr>
                                        <td>HR Generalists</td>
                                        <td>16,500</td>
                                        <td>Technical Recruiters</td>
                                        <td>13,035</td>
                                    </tr>
                                    <tr>
                                        <td>HR Advisers</td>
                                        <td>12,000</td>
                                        <td>Human Resources Consultants</td>
                                        <td>16,325</td>
                                    </tr>
                                    <tr>
                                        <td>Staffing Consultants</td>
                                        <td>9,700</td>
                                        <td>HR Directors Consultants</td>
                                        <td>5,819</td>
                                    </tr>
                                    <tr>
                                        <td>Employee Retention Managers</td>
                                        <td>6,325</td>
                                        <td>Senior HR Specialists</td>
                                        <td>25,769</td>
                                    </tr>
                                    <tr>
                                        <td>HR Administrators</td>
                                        <td>4,345</td>
                                        <td>Employee Relations Consultant</td>
                                        <td>1,010</td>
                                    </tr>
                                    <tr>
                                        <td>Labor Relations Consultants</td>
                                        <td>3,732</td>
                                        <td>Talent Acquisition Managers</td>
                                        <td>34,200</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p><i><strong>*Counts may vary slightly due to rigorous quality checks performed at regular
                                    intervals.</strong></i></p>
                    </div>
                    <div id="Other" class="tabcontent">
                        <div class="tab-scroll">
                            <table class="border-tab-new01">
                                <tbody>
                                    <tr>
                                        <td>List Utility</td>
                                        <td>Email Campaigns, Demand Generation, Social Outreach, Tele Marketing, Direct
                                            Mail</td>
                                    </tr>
                                    <tr>
                                        <td>List Delivery Guarantee</td>
                                        <td>90%+ for Direct mails, 85%+ for Tele-contacts and 65% to 75%+ for emails
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Available Formats</td>
                                        <td>XLS, Text, CSV, TSV</td>
                                    </tr>
                                    <tr>
                                        <td>Turn Around Time (TAT)</td>
                                        <td>7-8 Business Days</td>
                                    </tr>
                                    <tr>
                                        <td>Data Sources</td>
                                        <td>Trade Fairs & Trade Show Organizers, Opt-in Email Addresses, Leading
                                            Journals, Business Directories, Content Creators, Yellow Pages and more</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="mb-4 mt-4 text-center"> <a href="#" data-toggle="modal" data-target="#send-message"
                            class="green-btn circle-fa">Get HR Mailing Database Now! &nbsp; <i
                                class="fa icon ion-android-arrow-forward"></i></a> </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-sec-60-0 grey-sec-light">
        <div class="container-fluid mb-sec">
            <div class="row">
                <div class="col-lg-6 geotargeted-list-sgs wow fadeInLeft mb-sec"> </div>
                <div class="col-lg-6 mb-4 wow fadeInRight">
                    <div class="pad-sec">
                        <h2 class="subhead-small-blk mb-sec">Benefits of Procuring Span Global Services’ HR Managers
                            Email Lists</h2>
                        <p><img src="/static/assets/img/green-right.png" alt="Benefits"
                                title="" class="repo-img" style="width:30px;height:30px;">&nbsp;<strong>200+ unique data
                                attributes</strong> </p>
                        <p><img src="/static/assets/img/green-right.png" alt="Benefits"
                                title="" class="repo-img" style="width:30px;height:30px;">&nbsp;<strong>100% Data
                                Refresh Every Quarter</strong></p>
                        <p><img src="/static/assets/img/green-right.png" alt="Benefits"
                                title="" class="repo-img" style="width:30px;height:30px;">&nbsp;<strong>Customized lists
                                based on user’s need</strong> </p>
                        <p><img src="/static/assets/img/green-right.png" alt="Benefits"
                                title="" class="repo-img" style="width:30px;height:30px;">&nbsp;<strong>Worldwide
                                outreach with data from US, Canada, UK, Europe, Australia, and other countries </strong>
                        </p>
                        <p><img src="/static/assets/img/green-right.png" alt="Benefits"
                                title="" class="repo-img" style="width:30px;height:30px;">&nbsp;<strong>Fresh and active
                                data verified quarterly with SMTP & NCOA protocols</strong></p>
                        <p><img src="/static/assets/img/green-right.png" alt="Benefits"
                                title="" class="repo-img" style="width:30px;height:30px;">&nbsp;<strong>All-inclusive
                                data to facilitate multi-channel & cross-channel marketing.</strong></p>
                        <div class="mb-4 mt-4"> <a href="#" data-toggle="modal" data-target="#send-message"
                                class="green-btn circle-fa">Contact Us Now! &nbsp; <i
                                    class="fa icon ion-android-arrow-forward"></i></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-sec-60-0 ">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4 wow fadeInLeft">
                    <h2 class="subhead-small-blk">Unlock Incredible Business Opportunities with Our Human Resource Email
                        Addresses</h2>
                    <p style="text-align: justify;">Developing creative and efficient sales campaigns is a tricky task.
                        From ideation to execution, we know how your marketing team puts in a lot of effort.
                        Inaccuracies in your <strong>HR Managers List</strong> will spoil your efforts, and is the last
                        thing you would want to see. Partnering with us can get you connected with your ideal audience,
                        FAST, but not at the expense of profitability.</p>
                    <p style="text-align: justify;">So, choose the industry expertise, experience, and data intelligence
                        of Span Global Services! Purchase email list from us and beat your competition &ndash; get
                        better CTRs, high conversions, and eliminate cold call fears and low email bounce backs.</p>
                </div>
                <div class="col-lg-6 mb-4 wow fadeInRight">
                    <h2 class="subhead-small-blk text-center">Data Fields We Provide Includes</h2>
                    <p><a href="#requestquote"><img
                                src="/static/assets/img/hr-data-field.jpg"
                                alt="HR Mailing Lists" title="" class="repo-img"></a></p>
                </div>
            </div>
            <div class="col-lg-12 wow fadeInLeft">
                <h2 class="subhead-small-blk text-center">One-Stop Mailing List Services Provider to End All Your
                    Database Woes</h2>
                <p style="text-align: justify;">Besides targeting top-level management using our <strong>HR Managers
                        Email Lists</strong>, you can avail various other services such as data enrichment, email
                    append, customer profiling, and so on to foster and maintain strong relationships with your
                    customers. Our data analysts have over a decade experience in the field of contact data and we aim
                    to build your business the right way, the foundation for which is a solid marketing database. You
                    can rely on our practices of data procurement, analysis, verification, and validation, each
                    exclusively carried out with your unique marketing goals in mind.</p>
                <p style="text-align: justify;">Moreover, the data we provide undergoes multiple vetting processes to
                    ensure that our database is full of relevant and fresh data at all times. Our <strong>List of HR
                        Managers</strong> will help you reach verified sales prospects by collating data from
                    trustworthy sources only. These sources include business cards, websites, press conferences, public
                    surveys, yellow pages, seminars, feedback forms, industry directories, government and public
                    records, and many more. With such verified and consent-based information, you can stay assured that
                    your message always hits the right inbox.</p>
                <p style="text-align: justify;">With the growing adoption of Artificial Intelligence (AI), predictive
                    analytics, and process automation, the future of HR is surely not dying; it&rsquo;s only going to be
                    distinct from what it is now. Buckling up and stepping your marketing game now using an up-to-date
                    <strong>HR Email List</strong> will only position you as an industry authority in the coming years.
                    What&rsquo;s more; expect your database to be freshly cleansed once every 30 days to keep it
                    sparkling new. We will help you take care of your most precious business asset. So, get in touch
                    today!</p>
                <div class="mb-4 mt-4 text-center"><a href="#" data-toggle="modal" data-target="#send-message"
                        class="green-btn circle-fa">Get Your FREE Sample Today! &nbsp; <i
                            class="fa icon ion-android-arrow-forward"></i></a></div>
            </div>
        </div>
        </div>
    </section>
    <section class="section-sec-small ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 wow fadeInLeft">
                    <h2 class="subhead-small-blk ">Industry-Wise Lists</h2>
                </div>
                <div class="col-lg-6 wow fadeInLeft">
                    <div class="dgreen-bg-list-outer">
                        <table class="dgreen-bg-list">
                            <tr>
                                <td><a href="/gas-stations-email-list"
                                        title="Gas Stations Mailing List">Gas Stations Mailing List</a></td>
                            </tr>
                            <tr>
                                <td><a href="/hvac-contractors-email-list"
                                        title="HVAC Contractors Email List">HVAC Contractors Email List</a></td>
                            </tr>
                            <tr>
                                <td><a href="/bankruptcy-email-list"
                                        title="Bankruptcy Email Leads">Bankruptcy Email Leads</a></td>
                            </tr>
                            <tr>
                                <td><a href="/home-business-email-list"
                                        title="Home Business Mailing Addresses">Home Business Mailing Addresses</a></td>
                            </tr>
                            <tr>
                                <td><a href="/child-care-center-email-list"
                                        title="Child Care Center Contact List">Child Care Center Contact List</a></td>
                            </tr>
                            <tr>
                                <td><a href="/environmental-directors-email-list"
                                        title="Environmental Directors Mailing Database">Environmental Directors Mailing
                                        Database</a></td>
                            </tr>
                            <tr>
                                <td><a href="/fitness-and-recreation-center-email-list"
                                        title="Fitness & Recreation Center Directroy">Fitness & Recreation Center
                                        Directroy</a></td>
                            </tr>
                            <tr>
                                <td><a href="/outdoor-sports-email-list"
                                        title="List of Outdoor Sports">List of Outdoor Sports</a></td>
                            </tr>
                            <tr>
                                <td><a href="/pastors-priests-email-list"
                                        title="Pastors & Priests Email Addresses">Pastors & Priests Email Addresses</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInLeft">
                    <div class="dgreen-bg-list-outer">
                        <table class="dgreen-bg-list">
                            <tr>
                                <td><a href="/payroll-email-list"
                                        title="Payroll Email List">Payroll Email List</a></td>
                            </tr>
                            <tr>
                                <td><a href="/pest-control-email-list"
                                        title="Pest Control Contact Database">Pest Control Contact Database</a></td>
                            </tr>
                            <tr>
                                <td><a href="/photographers-email-list"
                                        title="Photographers Mailing List">Photographers Mailing List</a></td>
                            </tr>
                            <tr>
                                <td><a href="/sporting-and-recreational-good-email-list"
                                        title="Sporting And Recreational Email Directory">Sporting And Recreational
                                        Email Directory</a></td>
                            </tr>
                            <tr>
                                <td><a href="/stockbrokers-email-list"
                                        title="Stockbrokers Email Addresses">Stockbrokers Email Addresses</a></td>
                            </tr>
                            <tr>
                                <td><a href="/loan-officer-email-list"
                                        title="Loan Officer Email List">Loan Officer Email List</a></td>
                            </tr>
                            <tr>
                                <td><a href="/insurance-brokers-email-list"
                                        title="List of Insurance Brokers">List of Insurance Brokers</a></td>
                            </tr>
                            <tr>
                                <td><a href="/auto-dealer-email-list"
                                        title="Auto Dealers Mailing Database">Auto Dealers Mailing Database</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
    <div id="requestquote"> </div>
    <section class="free-quote-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 wow fadeInRight centeralign">
                    <div>
                        <h2>GET A FREE QUOTE</h2>
                        <p>Finding the right data can be<br /> complicated, so we are here to help </p>
                    </div>
                </div>
                <div class="col-lg-7 wow fadeInRight">
                    <div class="contact-quote">
                        <div class="form">
                            <form method="post" name="contactside" class="contactForm"
                                onsubmit="return fnValidationContactside()"
                                action=" "
                                enctype="multipart/form-data"> <input name="subject" type="hidden"
                                    value="Contact Details from Span Global Services"> <input name="redirect_url"
                                    type="hidden" value=" ">
                                <div class=" form-row">
                                    <div class="col-lg-6 form-group"> <input type="text" name="fname"
                                            class="form-control" id="fname" placeholder="First Name*"> </div>
                                    <div class="col-lg-6 form-group"> <input type="text" name="lname"
                                            class="form-control" id="lname" placeholder="Last Name*"> </div>
                                    <div class="col-lg-6 form-group"> <input type="email" class="form-control"
                                            name="email" id="email" placeholder="Business Email*"> </div>
                                    <div class="col-lg-6 form-group"> <input type="text" class="form-control"
                                            name="phone" id="phone" placeholder="Phone*"> </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-lg-12 form-group">
                                        <div class="input-container"> <select name="contact" class="form-control">
                                                <option value="">No. of contacts</option>
                                                <option value="Less than 10k">Less than 10k</option>
                                                <option value="10k-50k">10k-50k</option>
                                                <option value="50k-100k">50k-100k</option>
                                                <option value="100k+">100k+</option>
                                            </select> </div>
                                    </div>
                                </div>
                                <div class="form-group"> <textarea class="form-control " name="comments" rows="2"
                                        placeholder="Requirements"></textarea> </div>
                                <div class="form-group"><button type="submit" class="circle-fa">CLICK HERE TO
                                        SUBMIT</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}