{% extends 'base.html' %}

{% block content %}
<section class="inner-banner about-us-banner">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-3 wow fadeInLeft"></div>
                <div class="col-lg-6 mb-3 wow fadeInLeft">
                    <h1>Disruptive Growth Stories Begin with the Philosophy of Data Intelligence-</h1>
                    <p>Make your go-to-market journey take an insightful data-driven turn.</p>
                    <div class="mt-4"> <a href="#" data-toggle="modal" data-target="#send-message"
                            class="white-br-btn circle-fa">Book A Free Data Consultation Now &nbsp; <i
                                class="fa icon ion-android-arrow-forward"></i></a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<main id="main">


    <section class="section-sec-small">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 wow fadeInLeft">
                    <h2 class="subhead-bold mb-2">Who We Are?</h2>
                    <p>We have been in the industry for over 15+ years and our industry verified global data wealth
                        grosses over 42 million. We partner with Fortune 500 and Fortune 1000 clients with one growth
                        dream.</p>
                </div>
                <div class="col-lg-8 wow fadeInUp">
                    <div id="facts-about">
                        <div class="col-md-12">
                            <div class="row counters">
                                <div class="col-md-3 centeralign">
                                    <div> <span data-toggle="counter-up">296</span><span>M</span>
                                        <p>B2B Contacts</p>
                                    </div>
                                </div>
                                <div class="col-md-3 centeralign">
                                    <div> <span data-toggle="counter-up">80</span><span>M</span>
                                        <p>Decision <br /> Makers</p>
                                    </div>
                                </div>
                                <div class="col-md-3 centeralign">
                                    <div> <span data-toggle="counter-up">15</span><span>+</span>
                                        <p>Global Regulations<br /> Complied</p>
                                    </div>
                                </div>
                                <div class="col-md-3 centeralign">
                                    <div> <span data-toggle="counter-up">78</span>
                                        <p>Core Database<br /> Fields</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="grey-sec-light">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 mb-4 wow fadeInLeft">
                    <div class="pad-sec">
                        <h2 class="subhead-small-blk">We are Affluence Business Inc</h2>
                        <p>We are niche pioneers of business accelerating data intelligence, data consultancy and
                            data-driven services, for industries and verticals that target rapid revenue goals. We make
                            business sustainability and growth utopia - a sure-*shot reality*!</p>
                        <p>Affluence Business Inc has incubated ground-breaking data solutioning, IT-integration and
                            data-driven marketing processes for some of the top technology firms of the world. </p>
                        <p>Our sophisticated data gamut also forays into business insights, market reports and IT
                            support services - so that your business can focus on its ascent without forked
                            distractions. </p>

                        <div class="mb-4 mt-4"> <a href="/contact-us/"
                                class="dgreen-btn circle-fa">Talk to us &nbsp; <i
                                    class="fa icon ion-android-arrow-forward"></i></a> </div>
                    </div>
                </div>
                <div class="col-lg-6 about-sgs wow fadeInRight"> </div>
            </div>
        </div>
    </section>
    <section class="section-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4 wow fadeInLeft">
                    <h2 class="subhead-small-blk">Our Vision</h2>
                    <p>Affluence Business Inc believes in the ramifications of informed decisions, that are backed by
                        painstaking Data.</p>
                    <p>We help clients scale their marketing investments by enriching them with hyper-focused audience
                        data. Our services are cost-efficient for both small and large enterprises. We believe in
                        instigating growth cycles by bringing fundamental changes in the prospect and customer
                        communication methods. </p>
                </div>
                <div class="col-lg-6 mb-4 wow fadeInRight">
                    <h2 class="subhead-small-blk">Our Capabilities Include Custom-fit Solutions</h2>
                    <p>We understand that your business needs are unique.
                        Our flexible and personalized datasets and data consultancy services promise to lay the
                        necessary groundwork for every stage of your business growth. We tailor to your needs not the
                        other way round!
                        Trust our exceptional data-driven partnership – as data providers, marketers, and data experts.
                    </p>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 mb-0 wow fadeInLeft">
                    <h2 class="subhead-small-blk">Our Services-</h2>
                </div>
                <div class="col-lg-4 mb-4 wow fadeInLeft"> <img
                        src="/static/assets/img/as-a-marketers.jpg" alt="As a Marketer"
                        title="As a Marketer" class="respo-img" />
                    <h4 class="pt-3 para-head">As a Marketer</h4>
                    <ul class="space-list">
                        <li>Telemarketing</li>
                        <li>Email Marketing</li>
                        <li>Social Media Marketing</li>
                        <li>Search Marketing</li>
                        <li>Event Marketing</li>
                        <li>Direct Mail Marketing</li>
                    </ul>
                    <div class=""> <a href="#"
                            class="blk-text-link circle-blk-fa">See More &nbsp; <i
                                class="fa icon ion-android-arrow-forward"></i></a> </div>
                </div>
                <div class="col-lg-4 mb-4 wow fadeInLeft"> <img
                        src="/static/assets/img/as-a-consultant.jpg" alt="As a Consultant"
                        title="As a Consultant" class="respo-img" />
                    <h4 class="pt-3 para-head">As a Consultant</h4>
                    <ul class="space-list">
                        <li>Marketing Consulting</li>
                        <li>Demand Generation</li>
                        <li>Marketing Automation</li>
                        <li>Marketing/Sales Integration</li>
                        <li>Business Consulting</li>

                    </ul>
                    <div>
                        <a href="#"
                            class="blk-text-link circle-blk-fa">See More &nbsp; <i
                                class="fa icon ion-android-arrow-forward"></i></a> </div>
                </div>
                <div class="col-lg-4 mb-4 wow fadeInLeft"> <img
                        src="/static/assets/img/as-a-data-expert.jpg" alt="Data Expert"
                        title="Data Expert" class="respo-img" />
                    <h4 class="pt-3 para-head">Data Expert</h4>
                    <ul class="space-list">
                        <li>List building management</li>
                        <li>Data Profiling</li>
                        <li>Technology Data Intelligence</li>
                        <li>Data Appending Services</li>
                        <li>Data Cleansing &amp; Verification</li>
                        <li>Tech Install-base Lists</li>
                    </ul>
                    <div> <a href="#"
                            class="blk-text-link circle-blk-fa">See More &nbsp; <i
                                class="fa icon ion-android-arrow-forward"></i></a> </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-sec lighter-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-4 wow fadeInLeft">
                    <h2 class="subhead-small-blk">Industries We Serve-</h2>
                </div>
                <div class="col-lg-6 mb-4 wow fadeInLeft">
                    <div class="row">
                        <div class="col-md-3 text-center mb-4 "> <img
                                src="/static/assets/img/automobile-thumb.png"
                                alt="Auto Mobile" title="Auto Mobile" class="respo-img" />
                            <p>Automobile</p>
                        </div>
                        <div class="col-md-3 text-center mb-4 "> <img
                                src="/static/assets/img/finance-thumb.png" alt="Finance"
                                title="Finance" class="respo-img" />
                            <p>Finance</p>
                        </div>
                        <div class="col-md-3 text-center mb-4 "> <img
                                src="/static/assets/img/healthcare-thumb.png"
                                alt="Healthcare" title="Healthcare" class="respo-img" />
                            <p>Healthcare</p>
                        </div>
                        <div class="col-md-3 text-center mb-4 "> <img
                                src="/static/assets/img/real-estate-thumb.png"
                                alt="Real Estate" title="Real Estate" class="respo-img" />
                            <p>Real Estate</p>
                        </div>
                        <div class="col-md-3 text-center mb-4 "> <img
                                src="/static/assets/img/marketing-add-thumb.png"
                                alt="Marketing & Advertising" title="Marketing & Advertising" class="respo-img" />
                            <p>Marketing &amp; Advertising</p>
                        </div>
                        <div class="col-md-3 text-center mb-4 "> <img
                                src="/static/assets/img/manufacturing-thumb.png"
                                alt="Manufacturing" title="Manufacturing" class="respo-img" />
                            <p>Manufacturing</p>
                        </div>
                        <div class="col-md-3 text-center mb-4 "> <img
                                src="/static/assets/img/media-thumb.png"
                                alt="Media & Publishing" title="Media & Publishing" class="respo-img" />
                            <p>Media &amp; Publishing</p>
                        </div>
                        <div class="col-md-3 text-center mb-4 "> <img
                                src="/static/assets/img/information-thumb.png"
                                alt="Information Technology" title="Information Technology" class="respo-img" />
                            <p>Information Technology</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInLeft centeralign">
                    <div>
                        <p>Globally, our industry-centric databases have recorded substantial profits in legion of
                            sectors like healthcare, real estate, education, finance and many more. </p>
                        <p>We have deep-dived into technology businesses, like no one else, with our exclusive tech data
                            search tool – Tech Connect!</p>
                        <p>Which industry do you serve?</p>
                        <div class="mb-4 mt-4"> <a href="/contact-us/"
                                class="dgreen-btn circle-fa">Get A Free Industry-wise Consultation &nbsp; <i
                                    class="fa icon ion-android-arrow-forward"></i></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-sec-small">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-4 mt-4 wow fadeInLeft">
                    <h2 class="subhead-small-blk mb-2">We Let Our Numbers Speak for Themselves-</h2>
                </div>
                <div class="col-lg-6 mb-4 wow fadeInLeft">
                    <div class="br-blk">
                        <h5 class="para-bighead"><span>42M+</span> B2B professional and <span>350M+</span> B2C consumer
                            contacts. Our extensive master database is the best in business!</h5>
                    </div>
                </div>
                <div class="col-lg-6 mb-4 wow fadeInLeft">
                    <div class="br-blk">
                        <h5 class="para-bighead mb-1"><strong>Data from <span>170</span> Countries.</strong></h5>
                        <p>Global Expansion is now at your fingertips.</p>
                    </div>
                </div>
                <div class="col-lg-6 mb-4 wow fadeInLeft">
                    <div class="br-blk">
                        <h5 class="para-bighead mb-3"><span>1</span> Customer Data record comprises <span>72</span>
                            Intelligence Fields . Our extensive master database is the best in business!</h5>
                        <p>We ensure highly accurate matching with any database on the planet. International Marketing
                            is on!</p>
                    </div>
                </div>
                <div class="col-lg-6 mb-4 wow fadeInLeft">
                    <div class="br-blk">
                        <h5 class="para-bighead mb-3"><strong>Offices in <span>4</span> Major Locations across the
                                world</strong><br /> Global Expansion is now at your fingertips.</h5>
                        <p>We help your business proliferate with real-time collection of global data, unmatched
                            business intelligence insights and the right international exposure to your products. </p>
                    </div>
                </div>
                <div class="col-lg-6 mb-4 wow fadeInLeft">
                    <div>
                        <h5 class="para-bighead mb-3"><strong><span>Cloud-based automation</span></strong> to squeeze
                            out that extra ROI!</h5>
                        <p>With uninterrupted technological access, you are the lord of your campaigns. Suit up for
                            success!</p>
                    </div>
                </div>
                <div class="col-lg-6 mb-4 wow fadeInLeft">
                    <div>
                        <h5 class="para-bighead mb-3">Wide collection of Data-marketing insights from
                            <strong><span>In-house Marketing Resource Library</span></strong></h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--    <section class="section-sec lighter-grey">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-6 mb-4 wow fadeInLeft centeralign">-->
<!--                    <h2 class="subhead-small-blk">They Trust Us</h2>-->
<!--                    <p>Our thriving clientele is a reflection of how we score quick upturn for our customers! Affluence-->
<!--                        Business Inc serves SMBs to large technology organizations. Our offerings compass data-driven-->
<!--                        marketing, data management solutions and advisory services.-->
<!--                        We present our clients with bespoke solutions that deliver results. Our eye for detail and-->
<!--                        insightful data invigorates our clients’ digital presence and builds up their market share. </p>-->
<!--                </div>-->
<!--                <div class="col-lg-6 mb-4 wow fadeInLeft centeralign">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-3 col-4 mb-2 text-center wow fadeInLeft"> <img-->
<!--                                src="/static/assets/img/icon/1.png" class="respo-img"-->
<!--                                alt="VMWare" title="VMWare" /> </div>-->
<!--                        <div class="col-md-3 col-4 mb-2 text-center wow fadeInLeft"> <img-->
<!--                                src="/static/assets/img/icon/2.png" class="respo-img"-->
<!--                                alt="Lawson" title="Lawson" /> </div>-->
<!--                        <div class="col-md-3 col-4 mb-2 text-center wow fadeInLeft"> <img-->
<!--                                src="/static/assets/img/icon/3.png" class="respo-img"-->
<!--                                alt="Standard & Poor's" title="Standard & Poor's" /> </div>-->
<!--                        <div class="col-md-3 col-4 mb-2 text-center wow fadeInLeft"> <img-->
<!--                                src="/static/assets/img/icon/4.png" class="respo-img"-->
<!--                                alt="Applied Biosystems" title="Applied Biosystems" /> </div>-->
<!--                        <div class="col-md-3 col-4 mb-2 text-center wow fadeInLeft"> <img-->
<!--                                src="/static/assets/img/icon/5.png" class="respo-img"-->
<!--                                alt="Nationwide" title="Nationwide" /> </div>-->
<!--                        <div class="col-md-3 col-4 mb-2 text-center wow fadeInLeft"> <img-->
<!--                                src="/static/assets/img/icon/6.png" class="respo-img"-->
<!--                                alt="Bank of America" title="Bank of America" /> </div>-->
<!--                        <div class="col-md-3 col-4 mb-2 text-center wow fadeInLeft"> <img-->
<!--                                src="/static/assets/img/icon/7.png" class="respo-img"-->
<!--                                alt="TriNet" title="TriNet" /> </div>-->
<!--                        <div class="col-md-3 col-4 mb-2 text-center wow fadeInLeft"> <img-->
<!--                                src="/static/assets/img/icon/8.png" class="respo-img"-->
<!--                                alt="Cisco" title="Cisco" /> </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <section class="free-quote-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 wow fadeInRight centeralign">
                    <div>
                        <h2>GET A FREE QUOTE</h2>
                        <p>Finding the right data can be<br /> complicated, so we are here to help </p>
                    </div>
                </div>
                <div class="col-lg-7 wow fadeInRight">
                    <div class="contact-quote">
                        <div class="form">
                            <form name="contactside" id ="about_contact_form" action="/contactdat_azax/" method="post"> 
                               
                                <div class=" form-row">
                                    <div class="col-lg-6 form-group"> <input type="text" name="first_name"
                                            class="form-control" id="fname" placeholder="First Name*"> </div>
                                    <div class="col-lg-6 form-group"> <input type="text" name="last_name"
                                            class="form-control" id="lname" placeholder="Last Name*"> </div>
                                    <div class="col-lg-6 form-group"> <input type="email" class="form-control"
                                            name="email" id="email" placeholder="Business Email*"> </div>
                                    <div class="col-lg-6 form-group"> <input type="text" class="form-control"
                                            name="phone" id="phone" placeholder="Phone*"> </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-lg-12 form-group">
                                        <div class="input-container"> <select name="contacts_no" class="form-control">
                                                <option value="">No. of contacts</option>
                                                <option value="Less than 10k">Less than 10k</option>
                                                <option value="10k-50k">10k-50k</option>
                                                <option value="50k-100k">50k-100k</option>
                                                <option value="100k+">100k+</option>
                                            </select> </div>
                                    </div>
                                </div>
                                <div class="form-group"> <textarea class="form-control " name="message" rows="2"
                                        placeholder="Requirements"></textarea> </div>
                                <div class="form-group">
                                    <button type="submit" class="circle-fa">CLICK HERE TO SUBMIT</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% block extar_js %}
<script>
   
     
      
    document.addEventListener("DOMContentLoaded", function() {
        var form = document.getElementById("about_contact_form");
      
        form.addEventListener("submit", function(event) {
          event.preventDefault(); // Prevent the default form submission
      
          var formData = new FormData(form);
      
          var xhr = new XMLHttpRequest();
          xhr.open(form.getAttribute("method"), form.getAttribute("action"));
          xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
      
          xhr.onload = function() {
            if (xhr.status >= 200 && xhr.status < 400) {
              var response = JSON.parse(xhr.responseText);
              // Handle the response data
              form.reset();
              {% comment %} $("#myModal").modal("hide"); {% endcomment %}
              console.log(response);
            } else {
              console.error("Error: " + xhr.status);
            }
          };
      
          xhr.onerror = function() {
            console.error("Request failed.");
          };
      
          xhr.send(formData);
        });
      });
      
</script>
{% endblock %}
{% endblock %}