{% extends 'base.html' %}

{% block content %}


<style>
  .nav-menu .high-text a {
    color: #036532;
    font-weight: bold;
    font-size: 13px;
  }

  .nav-menu ul li a {
    padding: 7px;
  }

  .nav-menu ul li ul li a {
    padding: 7px;
  }

  .nav-menu ul li ul li a:hover {
    padding: 7px;
    background-color: #1e8c09;
    ;
    color: #fff;
  }

  .nav-menu ul li ul {
    margin: 0;
    padding: 0px;
  }
</style>
<section class="inner-banner b2bemail-list-banner">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-3 wow fadeInLeft"></div>
        <div class="col-lg-6 mb-3 wow fadeInLeft">
          <h1>Stay in the Lead with Simon-Pure B2B Contact Data</h1>
          <p><strong style="color:#f56c0d">Avail Yours From Over 80 Million Business Executives Database</strong>-
            Engage in Fruitful Business Conversations with Top-Tier USA Executives like a Champion!</p>
          <p>Tap into global markets with the right B2B sales leads</p>
          <div class="mt-4">
            <a href="/connect-with-us/" data-toggle="modal" data-target="#send-message"
              class="white-br-btn circle-fa">Connect Now &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<main id="main">


  <section class="section-sec-0-60" style="padding: 0px 0 0px 0;">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 section-fpad wow fadeInLeft">
          <h2 class="subhead-small-blk" style="margin-top:-10px;">Let Span Global Services Escort Your Business Towards
            the Path of Incontestable Success!</h2>
          <p style="text-align:Justify;">The digital era has called for a paradigm shift in marketing’s quintessential
            methods. One of the most sought-after ways of new-age marketing includes B2B emailing. Wordstream’s recent
            survey results have revealed that the Click Through Rates (CTRs) for B2B emailing campaigns were
            significantly higher than any other marketing channels.</p>
          <p style="text-align:Justify;">Besides, 59% of the top marketing professionals have voted for <strong>B2B
              Email Lists</strong> to be the most effective channel when the focus is on revenue generation. It is no
            wonder that B2B email marketing has become the cynosure of marketing approaches. However, to harness its
            maximum potential, employing an authentic B2B list is as crucial as it gets.</p>
          <p style="text-align:Justify;">Businesses are now focusing all their attention on generating useful B2B
            marketing leads. Why? Because sending out a <strong>Cold Email Blast</strong> to a homegrown list of
            contacts is not only unfulfilling but unforgivingly detrimental to your time and budget. </p>
          <p style="text-align:Justify;">By partnering with Span Global Services, those worries won’t be shoveling you
            into a corner. Our <strong>B2B Email Lists</strong> house isochronally-appended and <a
              href="/data-enrichment-services/" title="Enriched Data"><strong>enriched data</strong></a>. Therefore,
            your business marketing strategies can hit the road to success with our pre-verified mailing lists, sans
            obstacles. </p>

          <h2 class="subhead-small-blk">Customize your B2B Mailing List by</h2>

          <div class="row respo-icon">
            <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;">
              <img src="/static/assets/img/assets-size.png" alt="assets-size" class="respo-img">
              <p>Assets Size</p>
            </div>
            <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;">
              <img src="/static/assets/img/company-size.gif" alt="company-size" class="respo-img">
              <p>Company Size</p>
            </div>
            <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;">
              <img src="/static/assets/img/geographic.png" alt="geographic" class="respo-img">
              <p>Geographic</p>
            </div>
            <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;">
              <img src="/static/assets/img/industry.gif" alt="industry" class="respo-img">
              <p>Industry</p>
            </div>
            <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;">
              <img src="/static/assets/img/job-title.png" alt="job-title" class="respo-img">
              <p>Job Title</p>
            </div>
            <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;">
              <img src="/static/assets/img/technology.gif" alt="technology" class="respo-img">
              <p>Technology</p>
            </div>


          </div>



        </div>
        <div class="col-lg-5 mb-4 wow fadeInRight">
          <div class="mx-800">
            <div class="contact-side">
              <h4>GET A FREE QUOTE</h4>
              <p>We have got you covered on all your email and direct marketing needs</p>
              <div class="form">


                <form name="f12" id="contact-form" action="/scripts/formmail" method="post"
                  onSubmit="return validationcon()">
                  <input type="hidden" name="returnURL" value="/thanks">
                  <input name="title" type="hidden" value="Contact Request from Span Global Services">


                  <div class=" form-row">
                    <div class="col-lg-6 form-group">
                      <div class="input-container">
                        <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name*">
                        <i class="fa fa-user icon"></i>
                      </div>
                    </div>
                    <div class="col-lg-6 form-group">
                      <div class="input-container">
                        <input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name">
                        <i class="fa fa-user icon"></i>
                      </div>

                    </div>
                  </div>

                  <div class=" form-row">
                    <div class="col-lg-6 form-group">
                      <div class="input-container">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Business Email*">
                        <i class="fa fa-envelope icon"></i>
                      </div>
                    </div>
                    <div class="col-lg-6 form-group">
                      <div class="input-container">
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Business Phone*">
                        <i class="fa fa-phone icon"></i>
                      </div>
                    </div>
                  </div>


                  <div class=" form-row">

                    <div class="col-lg-12 form-group">
                      <div class="input-container">
                        <input type="text" name="company" class="form-control" id="company" placeholder="Company Name*">
                        <i class="fa fa-briefcase icon"></i>
                      </div>

                    </div>
                  </div>

                  <div class=" form-row">

                    <div class="col-lg-12 form-group">
                      <div class="input-container">

                        <select name="contact" class="form-control">
                          <option value="">No. of contacts</option>
                          <option value="Less than 10k">Less than 10k</option>
                          <option value="10k-50k">10k-50k</option>
                          <option value="50k-100k">50k-100k</option>
                          <option value="100k+">100k+</option>
                        </select>
                      </div>

                    </div>
                  </div>



                  <div class="form-group">
                    <textarea class="form-control " name="comments" rows="1" placeholder="Message*"></textarea>
                  </div>
                  <div class="form-group">
                    <label><input name="newslettersubscribe" value="newslettersubscribe" checked="" type="checkbox"> I
                      would like to subscribe to your Newsletter.</label>
                  </div>

                  <div class="form-group mt-4"><button type="submit" class="circle-fa">Submit Data Counts and Quote
                      Request &nbsp; <i class="fa icon ion-android-arrow-forward"></i></button></div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>




      </div>


    </div>
  </section>


  <section class="section-b2bsec">
    <div class="container">
      <h2 class="subhead-small-blk  text-center">Choose B2B Email Marketing Lists from the Following Categories:</h2>

      <div class="row">
        <div class="col-lg-12 ">
          <div class="row b2b-tech-tab-list">
            <div class="col-lg-6 mb-3 text-center">
              <table class="techlist-tab" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <th>Category</th>
                    <th>Total No of Records Available</th>
                  </tr>

                  <tr>
                    <td><a href="/technology-lists/">Technology Users lists</a></td>
                    <td>38,596,287</td>
                  </tr>
                  <tr>
                    <td><a href="/healthcare-lists/">Healthcare Email Database</a></td>
                    <td>27,705,712</td>
                  </tr>
                  <tr>
                    <td><a href="/geo-targeted-lists/">Geo Targeted Mailing Lists</a></td>
                    <td> 30,147,130</td>
                  </tr>
                  <tr>
                    <td><a href="/industry-wise-lists/">Industry-wise Mailing List</a></td>
                    <td>17,068,516</td>
                  </tr>
                  <tr>
                    <td><a href="/professional-lists/">Professional Email Addresses</a></td>
                    <td>25,331,106</td>
                  </tr>

                </tbody>
              </table>
            </div>
            <div class="col-lg-6 mb-3 text-center">
              <table class="techlist-tab" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <th>Category</th>
                    <th>Total No of Records Available</th>
                  </tr>
                  <tr>
                    <td>Small Business Owners List</a></td>
                    <td>15,329,754</td>
                  </tr>

                  <tr>
                    <td>C-Level Executives Email List</a></td>
                    <td>6,769,025</td>
                  </tr>
                  <tr>
                    <td>IT Services Industry List</a></td>
                    <td>947,711</td>
                  </tr>
                  <tr>
                    <td>Event Organizers List</a></td>
                    <td>131,776</td>
                  </tr>
                  <tr>
                    <td>Decision Makers List</a></td>
                    <td>570,364</td>
                  </tr>

                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>


  </section>

  <section class="section-sec-0-60 b2b-email-list-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 mb-0 wow fadeInLeft">
          <div class="dark-green ">
            <div>
              <h2 class="subhead-small-blk">Best Profiles from our Business Email Lists</h2>
            </div>
          </div>
        </div>
        <div class="col-lg-7 mt-1 mb-1 section-fpad wow fadeInLeft">
          <div class="row">
            <div class="col-lg-6 mb-1 wow fadeInLeft mb-sec">
              <ul class="space-list-white mb-sec">
                <li>List of Brokers &amp; Resellers</li>
                <li>Business &amp; Research Consultants</li>
                <li>Business Publishers</li>
                <li>IT &amp; Web Development Professionals</li>
                <li>Sales Professionals</li>
                <li>Key Decision Makers</li>
              </ul>
            </div>
            <div class="col-lg-6 mb-1 wow fadeInLeft mb-sec">
              <ul class="space-list-white">
                <li>Marketing Professionals</li>
                <li>C-Level Executives</li>
                <li>Recruiting/Staffing Professionals</li>
                <li>Merchant Services </li>
                <li>Banking Professionals</li>
                <li>Financial Planners</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="section-b2bsec">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mb-4 wow fadeInLeft">
          <h2 class="subhead-small-blk  mb-2">Our Top Selling Business Email List and Contact Databases</h2>
        </div>
        <div class="col-lg-12 wow fadeInLeft">
          <div class="dgreen-bg-list-outer tab-scroll">
            <table class="dgreen-bg-list">
              <tr>
                <td style="font-family:verdana; font-size:15px">Top Selling Technology Data</td>
                <td style="font-family:verdana; font-size:15px">Top Selling C-Level Data</td>
                <td style="font-family:verdana; font-size:15px">Top Selling Healthcare Data</td>

              </tr>
              <tr>
                <td><a href="/magento-users-list"
                    title="Magento Users Email List">Magento Users List</a></td>
                <td><a href="/ceo-email-list/"
                    title="Fortune 500 Companies CEO Email Adddress">Fortune 500 Companies CEO Email Address</a></td>
                <td><a href="/hospital-email-list/"
                    title="Hospital Email List">Hospital Email Addresses</a></td>

              </tr>
              <tr>
                <td><a href="/peoplesoft-users-list/"
                    title="PeopleSoft Users Email List">Companies Using PeopleSoft</a></td>
                <td><a href="/cmo-email-list/"
                    title="CMO Sales Leads">CMO Sales Leads</a></td>
                <td><a href="/hospital-executives-email-list/"
                    title="Hospital Executives Email List">Hospital Executives Email List</a></td>
              </tr>

              <tr>
                <td><a href="/quickbooks-users-list/"
                    title="QuickBooks Users Email List">List of QuickBooks Users</a></td>
                <td><a href="/cfo-email-list/"
                    title="CFO Contact Database">CFO Contact Database</a></td>
                <td><a href="/dermatologists-email-list/"
                    title="List of Dermatologists">List of Dermatologists</a></td>
              </tr>

              <tr>
                <td><a href="/hadoop-users-list/"
                    title="Hadoop Users Email List">Hadoop Customers List</a></td>
                <td><a href="/cto-email-list/"
                    title="CTO Email List">Full List of CTO's</a></td>
                <td><a href="/neurologists-email-list/"
                    title="Neurologists Email List">Neurologists Sales Leads</a></td>
              </tr>

              <tr>
                <td><a href="/mongodb-users-list/"
                    title="MongoDB Users Email List">List of companies using MongoDB</a></td>
                <td><a href="/cio-email-list/"
                    title="CIO Marketing Database">CIO Marketing Database</a></td>
                <td><a href="/physician-assistant-email-list/"
                    title="Physician Assistant Contact Data">Physician Assistant Contact Data</a></td>
              </tr>

              <tr>
                <td><a href="/managed-service-providers-email-list/"
                    title="Managed Service Providers List">Managed Service Providers List</a></td>
                <td><a href="/directors-email-list/"
                    title="Directors Email List">Email List of Top Companies Directors</a></td>
                <td><a href="/physician-email-list/"
                    title="Physicians Email Database">Physicians Email Database</a></td>
              </tr>

              <tr>
                <td><a href="/tableau-users-list"
                    title="Tableau Users Email List/">List of companies using Tableau</a></td>
                <td><a href="/attorney-email-list/"
                    title="Mailing List of Attorney">Mailing List of Attorney</a></td>
                <td><a href="/chiropractor-email-list/"
                    title="Chiropractors Email List">Email List of Chiropractors</a></td>
              </tr>

              <tr>
                <td><a href="/adp-users-list/"
                    title="ADP Clients List">ADP Clients List</a></td>
                <td><a href="/insurance-brokers-email-list/"
                    title="Insurance Brokers Email Addresses">Insurance Brokers Email Addresses</a></td>
                <td><a href="/hospital-decision-makers-email-list"
                    title="Hospital Decision Makers Email List">Hospital Decision Makers Email Leads</a></td>
              </tr>

              <tr>
                <td><a href="/solarwinds-users-list/"
                    title="List of Solarwinds Customers">List of Solarwinds Customers</a></td>
                <td><a href="/cpa-email-list/"
                    title="Certified Public Accountant Email List">Certified Public Accountant Email List</a></td>
                <td><a href="/pathologists-email-list/"
                    title="Pathologist Email List">Pathologist Contact Database</a></td>
              </tr>

              <tr>
                <td><a href="/value-added-resellers-email-list/"
                    title="Value Added Resellers contact Data">Value Added Resellers Contact Data</a></td>
                <td><a href="/cpo-email-list/"
                    title="Chief Purchasing Officer Email List">Chief Purchasing Officer Email List</a></td>
                <td><a href="/dentists-email-list/"
                    title="Dentists Email List">Dentists Email Addresses</a></td>
              </tr>



            </table>

          </div>
        </div>

        <div class="clearfix"></div>

      </div>
    </div>
  </section>


  <div class="clearfix"></div>

  <section class="section-sec-0-60" style="padding: 0px 0 0px 0;">
    <div class="container">
      <div class="row">

        <div class="col-lg-12 wow fadeInLeft">
          <h2 class="subhead-small-blk ">Get All Your B2B Email List Concerns Addressed Here</h2>
        </div>

        <div class="col-lg-12">
          <style>
            .bs-example-blk .card-header .collapsed {
              width: 100%;
              text-align: left;
              background: #ebebeb;
              padding: 5px 10px 5px 10px;
              min-height: 45px;
              color: #000000;
              border-radius: 0px;
              border: 0px solid #fff;

            }

            .bs-example-blk .accordion .fa {
              margin-right: 0.5rem;
              float: right;
              color: #000000;
              width: 20px;
              height: 20px;
              text-align: center;
              line-height: 20px;
            }
          </style>
          <div class="bs-example-blk">
            <div class="accordion " id="accordionExample">

              <div class="row">
                <div class="col-lg-6 mb-4 wow fadeInLeft">

                  <div class="card">
                    <div class="card-header" id="headingOne1">
                      <h2 class="mb-0">
                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                          data-target="#collapseOne1"><i class="fa fa-plus"></i> How authentic are your B2B email lists?
                        </button>
                      </h2>
                    </div>
                    <div id="collapseOne1" class="collapse" aria-labelledby="headingOne1"
                      data-parent="#accordionExample">
                      <div class="card-body">
                        <p>We have compiled business data from globally legitimate sources like business directories,
                          trade fairs, government listings, opt-in email addresses, leading journals, etc. So each data
                          you obtain from our list of business emails is error-free and accurate.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo2">
                      <h2 class="mb-0">
                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                          data-target="#collapseTwo2"><i class="fa fa-plus"></i> How frequently do you update your B2B
                          marketing email lists?</button>
                      </h2>
                    </div>
                    <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2"
                      data-parent="#accordionExample">
                      <div class="card-body">
                        <p>To maintain the freshness of our provided B2B email marketing list, we verify our B2B data
                          regularly every quarter. We make over 70 million verification phone calls and over 7.5 million
                          verification emails are sent out to maintain the hygiene of our B2B email data.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingThree3">
                      <h2 class="mb-0">
                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                          data-target="#collapseThree3"><i class="fa fa-plus"></i> Do you provide opt-in B2B email
                          addresses?</button>
                      </h2>
                    </div>
                    <div id="collapseThree3" class="collapse" aria-labelledby="headingThree3"
                      data-parent="#accordionExample">
                      <div class="card-body">
                        <p>Marketers cannot send marketing messages to professionals without their permission (as per
                          Can-Spam regulations). So we offer can-spam compliant opt-in B2B email lists that help
                          marketers to keep their marketing messages free from all communication obstacles like spam,
                          bounce, dropped calls, etc.</p>
                      </div>
                    </div>
                  </div>



                </div>
                <div class="col-lg-6 mb-4 wow fadeInLeft">

                  <div class="card">
                    <div class="card-header" id="headingfour4">
                      <h2 class="mb-0">
                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                          data-target="#collapsefour4"><i class="fa fa-plus"></i> What is the deliverability rate of
                          your B2B email data lists?</button>
                      </h2>
                    </div>
                    <div id="collapsefour4" class="collapse" aria-labelledby="headingfour4"
                      data-parent="#accordionExample">
                      <div class="card-body">
                        <p>We provide top-quality <strong>B2B email lists</strong> that come with a guarantee of
                          providing 70-75% campaign deliverability. There are instances where we have achieved 95%
                          deliverability too.</p>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingfive5">
                      <h2 class="mb-0">
                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                          data-target="#collapsefive5"><i class="fa fa-plus"></i> Do you provide B2B email lists
                          targeted to specific geographies?</button>
                      </h2>
                    </div>
                    <div id="collapsefive5" class="collapse" aria-labelledby="headingfive5"
                      data-parent="#accordionExample">
                      <div class="card-body">
                        <p>Limiting business campaigns within a particular locality is not a smart move. We help
                          marketers to make their business global by providing geo-targeted business email lists that
                          consists of data on the key decision-makers across all geographies.</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>


            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="section-sec-20-30">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 wow fadeInLeft">

          <h2 class="subhead-small-blk">Bespoke B2B Mailing Databases that Cater to Your Business’s Unique Requirements!
          </h2>
          <p style="text-align:Justify;">With umpteen number of <strong>B2B Email List Providers</strong> mushrooming in
            the market, you may find it challenging to figure out the best of the lot. Nonetheless, pull the plug on
            your concerns as you can avail niche B2B mailing lists from us.</p>
          <p style="text-align:Justify;">Your marketing executives can interact with the preeminent professionals of an
            array of American companies, taking your campaigning to levels far above your competition. We know how your
            experts leave no stone unturned in curating exceptional marketing campaigns, and you can expect nothing
            short of that from us either!</p>
        </div>
        <div class="clearfix"></div>
      </div>


    </div>
    </div>
  </section>


  <section class="grey-sec-light-01">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 wow fadeInRight">
          <a href="#requestquote"> <img src="/static/assets/img/B2B-Email-List.webp" alt="b2b email list"
              class="respo-img mb-3"></a>
        </div>
        <div class="col-lg-6 pt-5 pb-5 mt-3 wow fadeInLeft mb-sec">
          <h2 class="subhead-small-blk mb-sec">We at Span Global Take Pride in Delivering Quality over Quantity</h2>

          <p style="text-align:Justify;">The market’s appetite for B2B prospect databases has skyrocketed. The most
            logical outcome of the status quo is the emanation of numerous firms that offer mailing list services. It is
            natural for business owners to be overwhelmed by the vast array of options around them. </p>
          <p style="text-align:Justify;">It is worth noting that fruitful business conversions are only possible with
            accurate and consent-based contact lists. Thus, accuracy, precision, and the databases’ legitimacy are of
            acute importance, and that’s what you gain with us. You can count to stand by your side in your endeavor to
            reach the cream of the crop business decision-makers!</p>
          <div class="mt-4 pt-3">
            <a href="#" data-toggle="modal" data-target="#send-message" class="green-btn circle-fa">Book Your Free
              Sample Mailing Database Now! &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-sec-60-0">
    <div class="container">
      <div class="row">

        <div class="col-lg-12 wow fadeInLeft mb-sec">

          <h2 class="subhead-small-blk mb-sec">Unleash Limitless Marketing Possibilities with Top-Notch Data Solutions
            from Span Global Services</h2>
          <p style="text-align:Justify;">In Stephen. R. Covey’s words, “The key is in not spending time, but investing
            in it”. The same formula applies to resources, and in this case, B2B email lists. Thus, the key to achieving
            masterstrokes of marketing wins is to invest in <a href="/email-lists"
              title="Premium Mailing Databases"><strong>premium mailing databases</strong></a> that enhance the
            likelihood of your B2B sales leads.</p>
          <p style="text-align:Justify;">The right data compilations can engineer long-standing relationships with A1
            business professionals and other prospects. These connections have enough potential to give your business
            the much-needed push and thereby puts your firm on the fast track to successful campaigning.</p>
          <p style="text-align:Justify;">As evident, <strong>B2B Mailing Lists</strong> form a vital cornerstone in
            yielding the success your business deserves, and we strive to furnish that precisely. At Span Global
            Services, our mailing databases are regularly updated and made relevant for marketing and branding needs.
            Our CAN-SPAM compliant emailing lists undergo rigorous data cleansing to guarantee invaluable clients like
            you are provided with high-quality data. </p>
          <p style="text-align:Justify;">Irrespective of the mode of communication and the geographical location you
            choose, our data solutions guarantee 95-98% campaign deliverability.</p>
          <p style="text-align:Justify;">Discovering potent businesses and connecting with them is now easier than ever!
            Get in touch with <a href=/ title="Span Global Services"><strong>Span
                Global Services</strong></a> today to experience excellence blended with credibility! So, what are you
            waiting for? Subscribe to the B2B email lists from our data data repositories right away and up your
            marketing game! </p>
          <h2 class="subhead-small-blk">Take Your Business from Ambiguity to Certainty by Procuring the Right Contact
            Data </h2>
          <p style="text-align:Justify;">Span Global Services’ <strong>B2B Database</strong> covers contact information
            that will help you conduct multi-channel campaigning transcending all boundaries of geography, industry,
            even job titles. With us, you can target over 120 industries from different spheres. Take a look –</p>

          <div class=" col-lg-12 wow fadeInLeft">

            <div class="tab-scroll">

              <table class="border-tab-new-b2b" style="width: 100%; border-collapse: collapse; border-spacing: 0px;">
                <tbody>
                  <tr>
                    <td>Automotive</td>
                    <td>Banking and Finance</td>
                    <td>Business Services</td>
                    <td>Construction</td>

                  </tr>
                  <tr>
                    <td>Education Services</td>
                    <td>Food and Beverage</td>
                    <td>Health and Beauty</td>
                    <td>Healthcare</td>
                  </tr>
                  <tr>
                    <td>IT Services</td>
                    <td>Machinery and Equipment</td>
                    <td>Manufacturing</td>
                    <td>Non-profit Organizations</td>
                  </tr>
                  <tr>
                    <td>Oil and Gas</td>
                    <td>Real Estate</td>
                    <td>Retail</td>
                    <td>Transportation & More.</td>
                  </tr>

                </tbody>
              </table>
            </div>





          </div>
          <p><br /></p>
          <p style="text-align:Justify;">Bring all kinds of <strong>B2B Marketing Leads</strong> under your belt, even
            the heavily-guarded top-tier of the management. This includes –</p>
          <div class="row b2b-list-code">
            <div class="col-lg-3 mb-4 wow fadeInLeft">
              <ul class="green-star-list">
                <li>Accountants</li>
                <li>Agents</li>

              </ul>
            </div>
            <div class="col-lg-3 mb-4 wow fadeInLeft">
              <ul class="green-star-list">
                <li>C-level Executives</li>
                <li>Marketers</li>

              </ul>
            </div>
            <div class="col-lg-3 mb-4 wow fadeInLeft">
              <ul class="green-star-list">
                <li>Middlemen</li>
                <li>Professionals &amp; More!</li>
              </ul>
            </div>

          </div>
          <!----mobile code start--->
          <style>
            @media screen and (max-width:768px) {
              .respo-mb-table {
                height: 500px;
                overflow-y: scroll;
              }
            }

            @media screen and (max-width:1600px) {
              .mobile-tableview .tab-scroll {
                display: none !important;
              }
            }

            @media screen and (max-width:768px) {
              .respo-green-box .col-lg-4 {
                display: none;
              }

              .green-right-list {
                display: none;
              }

              .mobile-tableview .tab-scroll {
                display: block !important;
              }

              .mobile-tableview {
                margin-top: -10px;
              }
            }

            @media screen and (max-width:768px) {
              .mobile-tableview .col-lg-6 {
                width: 100%;
              }

              .b2b-list-code .col-lg-3 {
                display: none;
              }
            }
          </style>
          <div class="row mobile-tableview">
            <div class="col-lg-12 wow fadeInLeft">
              <div class="tab-scroll">
                <ul class="green-star-list ">
                  <li>Accountants</li>
                  <li>Agents</li>
                  <li>C-level Executives</li>

                  <li>Marketers</li>
                  <li>Middlemen</li>
                  <li>Professionals &amp; More!</li>
                </ul>

              </div>

            </div>

          </div>
          <!----mobile code end--->

          <p style="text-align:Justify;">Make your brand locally-relevant in the US or across the borders by targeting
            qualified <strong>B2B Sales Leads</strong> in the UK, Australia, Asia, and Singapore, among other regions.
            Get in touch with us for a FREE sample list today! </p>



        </div>
        <div class="clearfix"></div>
      </div>



    </div>
    </div>
  </section>

  <style>
    .b2b-tech-tab-list table {
      border-spacing: 0;
    }

    .techlist-tab tbody {
      text-align: center;
    }

    .techlist-tab td,
    th {
      padding: 7px;
      border-radius: 20px;
      border: 4px solid #ffff;
      text-align: center;
    }

    .techlist-tab th {
      width: 40%;
    }

    .techlist-tab td {
      width: 40%;
      font-size: 14px;
    }

    .techlist-tab th {
      background-color: #036733;
      ;
      color: #ffff;
      text-align: center;
      font-size: 15px;
    }

    .techlist-tab tr:nth-child(even) {
      background: #F5F5F5;
      border-radius: 8px;
      color: black;
    }

    .techlist-tab tr:nth-child(odd) {
      background: #90EE90;
      ;
      border-radius: 8px;
      color: black;
    }

    .techlist-tab td a {
      color: black;
    }

    .techlist-tab td a:hover {
      color: black;
      text-decoration: underline;
    }

    .b2b-tech-tab-list {
      padding-left: 30px;
      padding-right: 30px;
    }

    .section-b2bsec {
      padding-top: 50px;
      padding-bottom: 40px;
      background: rgb(248, 248, 248);
      ;
    }

    @media screen and (max-width:768px) {
      .b2b-tech-tab-list {
        padding-left: 2px;
        padding-right: 2px;
      }

      .section-b2bsec {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

    .section-sec-20-30 {
      padding: 20px 0 30px 0;
    }

    .border-tab-new-b2b {
      margin-bottom: 1px;
      font-size: 14px;
    }

    .border-tab-new-b2b td {
      color: #333333;
      border: 4px solid #fff;
      padding: 8px;
      border-radius: 10px;
    }

    .border-tab-new-b2b th {
      color: #ffffff;
      border: 4px solid #fff;
      padding: 8px;
      border-radius: 10px;
      background: #026733;
    }

    .border-tab-new-b2b tr:nth-child(even) {
      background: #e5e5e5;
    }

    .border-tab-new-b2b tr:nth-child(odd) {
      background: #90EE90;
    }
  </style>
  <div id="requestquote">

  </div>

  <section class="free-quote-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 wow fadeInRight centeralign">
          <div>
            <h2>GET A FREE QUOTE</h2>
            <p>Finding the right data can be<br />
              complicated, so we are here to help </p>
          </div>
        </div>
        <div class="col-lg-7 wow fadeInRight">
          <div class="contact-quote">
            <div class="form">
              <form method="post" name="contactside" class="contactForm" onsubmit="return fnValidationContactside()"
                action=" " enctype="multipart/form-data">
                <input name="subject" type="hidden" value="Contact Details from Span Global Services">
                <input name="redirect_url" type="hidden" value=" ">
                <div class=" form-row">
                  <div class="col-lg-6 form-group">
                    <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name*">
                  </div>
                  <div class="col-lg-6 form-group">
                    <input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name*">
                  </div>
                  <div class="col-lg-6 form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Business Email*">
                  </div>
                  <div class="col-lg-6 form-group">
                    <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone*">
                  </div>
                </div>

                <div class="form-row">

                  <div class="col-lg-12 form-group">
                    <div class="input-container">

                      <select name="contact" class="form-control">
                        <option value="">No. of contacts</option>
                        <option value="Less than 10k">Less than 10k</option>
                        <option value="10k-50k">10k-50k</option>
                        <option value="50k-100k">50k-100k</option>
                        <option value="100k+">100k+</option>
                      </select>
                    </div>

                  </div>
                </div>

                <div class="form-group">
                  <textarea class="form-control " name="comments" rows="2" placeholder="Requirements"></textarea>
                </div>
                <div class="form-group"><button type="submit" class="circle-fa">CLICK HERE TO SUBMIT</button></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
{% endblock %}