 {% extends 'base.html' %} {% block extra_css %}
<style>
    .crypto-head {
        background-color: green;
        color: white;
        margin-top: 0px;
    }

    .crypto-head p {
        color: white;
        font-size: 16px;
        text-align: left;
        padding-top: 6px;
    }

    #header {
        padding: 0px 0;
    }

    #header .crypto-head .div-hd {
        margin-top: 6px;
        float: left;
        margin-left: 300px;
    }

    #header .crypto-head .div-hd img {
        padding-left: 16px;
    }

    @media screen and (max-width:768px) {
        #header .crypto-head .div-hd {
            display: none;
        }
        .crypto-head p {
            color: white;
            font-size: 12px;
            text-align: center;
            padding-top: 4px;
            margin-left: 0px;
        }
    }
</style>
<style>
    .whats-phone-wrapper {
        display: flex;
        gap: 10px;
        flex-direction: column;
        position: fixed;
        top: 577px;
        z-index: 999;
        right: 23px;
    }
</style>
{% endblock %} {% block content %}
<section class="inner-banner data-intelligence-banner"> <div class="overlay"> <div class="container"> <div class="row"> <div class="col-lg-6 mb-3 wow fadeInLeft"></div> <div class="col-lg-6 mb-3 wow fadeInLeft"> <h1>Get More Out Of What Data Intelligence Can Do For You</h1> <p><strong>Make business communication easier with the right business data.</strong></p> <div class="mt-4"> <a href="https://www.spanglobalservices.com/connect-with-us" data-toggle="modal" data-target="#send-message" class="white-br-btn circle-fa">Book A Free Data Consultation Now &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a> </div> </div> </div> </div> </div></section>
<main id="main">
    <section class="section-sec-0-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 section-fpad wow fadeInLeft">
                    <h2 class="subhead-small-blk">Data Intelligence Services</h2>
                    <h3 class="normal-head">Power up your marketing with our data intelligence solutions</h3>
                    <p>As a B2B marketer, if you want to stay ahead of your competitors and expand your B2B network then you should not limit your promotional activities within the boundary of traditional marketing methodologies. You need to keep track of
                        every beat of this dynamic market and the contemporary marketing trends. At Span Global Services, we help businesses in market expansion and amplifying ROI by providing highly-responsive, yet affordable marketing intelligence solutions.
                        Are you ready for that?</p>
                    <h3 class="normal-head">Reach the perfect audience with our marketing intelligence services</h3>
                    <p>When marketers are busy planning their marketing strategies and campaign budget, they usually miss out on one yet the most important factor - using the right business database. It is a must to use authentic data, as it forms the foundation
                        of every marketing campaign. With people changing jobs, houses, email addresses and interests frequently, keeping track is getting tougher for marketers. At Span Global Services, we offer cost-effective Data Intelligence Solutions
                        to keep your data up-to-date to get optimum results and improve revenues generation. Translate data into actionable insights with our solutions:</p>
                    <div class="row">
                        <div class="col-lg-4 wow fadeInLeft">
                            <h3 class="normal-head-green"><a href="https://www.spanglobalservices.com/list-management" title="List Management">List Management</a></h3>
                            <ul class="space-list ml-0">
                                <li><a href="https://www.spanglobalservices.com/email-lists" alt="Email Lists" title="Email Lists">Email Lists</a></li>
                                <li><a href="https://www.spanglobalservices.com/list-building" alt="List Building" title="List Building">List Building</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-8 wow fadeInRight">
                            <h3 class="normal-head-green"><a href="https://www.spanglobalservices.com/database-enhancement" style="text-decoration:none" title="Data Management">Data Management</a></h3>
                            <div class="row">
                                <div class="col-lg-6 wow fadeInLeft">
                                    <ul class="space-list ml-0">
                                        <li><a href="https://www.spanglobalservices.com/data-cleansing" alt="Data Cleansing" title="Data Cleansing">Data Cleansing</a></li>
                                        <li><a href="https://www.spanglobalservices.com/data-profiling" alt="Data Profiling" title="Data Profiling">Data Profiling</a></li>
                                        <li><a href="https://www.spanglobalservices.com/data-verification" alt="Data Verification" title="Data Verification">Data Verification</a></li>
                                        <li><a href="https://www.spanglobalservices.com/data-append/data-appending" alt="Data Appending" title="Data Appending">Data Appending</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 wow fadeInLeft">
                                    <ul class="space-list ml-0">
                                        <li><a href="https://www.spanglobalservices.com/data-append/email-appending" alt="Email Appending" title="Email Appending">Email Appending</a></li>
                                        <li><a href="https://www.spanglobalservices.com/data-append/phone-appending" alt="Phone Appending" title="Phone Appending">Phone Appending</a></li>
                                        <li><a href="https://www.spanglobalservices.com/data-append/contact-appending" alt="Contact Appending" title="Contact Appending">Contact Appending</a></li>
                                        <li><a href="https://www.spanglobalservices.com/data-append/social-media-profile-appending" alt="Social Media Profile Appending" title="Social Media Profile Appending">Social Media Profile Appending</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 mb-4 wow fadeInRight">
                    <div class="mx-800">
                        <div class="contact-side">
                            <h4>REQUEST<br/> A CALL BACK NOW</h4>
                            <p>We have got you covered on all your email and direct marketing needs</p>
                            <div class="form">
                                <form name="f12" id="contact-form" action="https://www.spanglobalservices.com/scripts/formmail" method="post" onSubmit="return validationcon()"> <input type="hidden" name="returnURL" value="https://www.spanglobalservices.com/thanks"><input name="title" type="hidden" value="Contact Request from Span Global Services">
                                    <div class=" form-row">
                                        <div class="col-lg-6 form-group">
                                            <div class="input-container"> <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name*"> <i class="fa fa-user icon"></i> </div>
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <div class="input-container"> <input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name"> <i class="fa fa-user icon"></i> </div>
                                        </div>
                                    </div>
                                    <div class=" form-row">
                                        <div class="col-lg-6 form-group">
                                            <div class="input-container"> <input type="email" class="form-control" name="email" id="email" placeholder="Business Email*"> <i class="fa fa-envelope icon"></i> </div>
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <div class="input-container"> <input type="text" class="form-control" name="phone" id="phone" placeholder="Business Phone*"> <i class="fa fa-phone icon"></i> </div>
                                        </div>
                                    </div>
                                    <div class=" form-row">
                                        <div class="col-lg-12 form-group">
                                            <div class="input-container"> <input type="text" name="company" class="form-control" id="company" placeholder="Company Name*"> <i class="fa fa-briefcase icon"></i> </div>
                                        </div>
                                    </div>
                                    <div class=" form-row">
                                        <div class="col-lg-12 form-group">
                                            <div class="input-container"> <select name="contact" class="form-control"> <option value="">No. of contacts</option> <option value="Less than 10k">Less than 10k</option> <option value="10k-50k">10k-50k</option> <option value="50k-100k">50k-100k</option> <option value="100k+">100k+</option></select>                                                </div>
                                        </div>
                                    </div>
                                    <div class="form-group"> <textarea class="form-control " name="comments" rows="1" placeholder="Message*"></textarea> </div>
                                    <div class="form-group"> <label><input name="newslettersubscribe" value="newslettersubscribe" checked="" type="checkbox"> I would like to subscribe to your Newsletter.</label> </div>
                                    <div class="form-group mt-4"><button type="submit" class="circle-fa">GET DATA COUNTS & QUOTES &nbsp; <i class="fa icon ion-android-arrow-forward"></i></button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
    <section class="grey-sec-light section-sec-0-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pb-4 wow fadeInRight"> <img src="/static/assets/img/data-intelligence-sub.jpg" alt="Data Intelligence" title="Data Intelligence" class="respo-img mb-3" /> </div>
                <div class="col-lg-6 pb-4 section-fpad mb-4 wow fadeInLeft centeralign">
                    <div>
                        <h2 class="subhead-small-blk">Trust our Data Marketing Services for Saving Time and Resource</h2>
                        <p>With data demanding a close watch, and its importance increasing every day, it is essential to ensure that all the data that you have procured or rented, needs to be maintained efficiently. As with many companies, it is an arduous
                            task to do the same. Collaborating with a data services provider such as Span Global Services allows you with a larger bandwidth of services, coupled with expertise and precise knowledge that is hard to come by. Be it list
                            management that involves list building or email lists, or data management in general, we will assist you with everything.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-sec-40-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-4 wow fadeInLeft">
                    <h2 class="subhead-list mb-2">FAQ's</h2>
                </div>
                <div class="col-lg-12">
                    <div class="bs-example">
                        <div class="accordion " id="accordionExample">
                            <div class="row">
                                <div class="col-lg-6 mb-4 wow fadeInLeft">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0"> <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"><i class="fa fa-plus"></i> What is Data Intelligence? </button> </h2>
                                        </div>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>Data Intelligence essentially means the analysis of various forms of data to enable a better understanding of the information to help companies enhance their services and investments. Data intelligence helps
                                                    organizations adapt more quickly to industry trends. It ensures that organizations can develop information-based ideas.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h2 class="mb-0"> <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"><i class="fa fa-plus"></i> How to get Data Intelligence Services?</button> </h2>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>Span Global Services offers <strong>Data Intelligence solutions</strong> to keep data up-to-date for optimum campaign results. To help us manage your data with suitable data intelligence solutions, write
                                                    to us at <a href="mailto:info@affluencebusiness.com">info@affluencebusiness.com</a> or call on 877 837- 4884.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4 wow fadeInRight">
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h2 class="mb-0"> <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"><i class="fa fa-plus"></i> Why Data Intelligence is so important?</button> </h2>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>Business data demands a close watch and at Span Global Services we ensure that your data will remain scrupulous and well maintained. Data Intelligence gains prominence with people changing jobs and email
                                                    addresses frequently. This reiterates the need to keep data up-to-date for optimal results.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingfour">
                                            <h2 class="mb-0"> <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour"><i class="fa fa-plus"></i> Is Span Global Services Data Intelligence worth it?</button> </h2>
                                        </div>
                                        <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>Yes, the Data Intelligence Services offered by Span Global Services are worth the investment. It offers a larger bandwidth of services and expertise that is unparalleled. You may call on 877 837- 4884 to
                                                    know more about the services.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="free-quote-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 wow fadeInRight centeralign">
                    <div>
                        <h2>GET A FREE QUOTE</h2>
                        <p>Finding the right data can be<br/> complicated, so we are here to help </p>
                    </div>
                </div>
                <div class="col-lg-7 wow fadeInRight">
                    <div class="contact-quote">
                        <div class="form">
                            <form method="post" name="contactside" class="contactForm" onsubmit="return fnValidationContactside()" action="https://www.spanglobalservices.com/scripts/formmail" enctype="multipart/form-data"> <input name="subject" type="hidden" value="Contact Details from Span Global Services"> <input name="redirect_url" type="hidden" value="https://www.spanglobalservices.com/thanks">
                                <div class=" form-row">
                                    <div class="col-lg-6 form-group"> <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name*"> </div>
                                    <div class="col-lg-6 form-group"> <input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name*"> </div>
                                    <div class="col-lg-6 form-group"> <input type="email" class="form-control" name="email" id="email" placeholder="Business Email*"> </div>
                                    <div class="col-lg-6 form-group"> <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone*"> </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-lg-12 form-group">
                                        <div class="input-container"> <select name="contact" class="form-control"> <option value="">No. of contacts</option> <option value="Less than 10k">Less than 10k</option> <option value="10k-50k">10k-50k</option> <option value="50k-100k">50k-100k</option> <option value="100k+">100k+</option></select>                                            </div>
                                    </div>
                                </div>
                                <div class="form-group"> <textarea class="form-control " name="comments" rows="2" placeholder="Requirements"></textarea> </div>
                                <div class="form-group"><button type="submit" class="circle-fa">CLICK HERE TO SUBMIT</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>



{% endblock %}