 {% extends 'base.html' %}
  {% block extra_css %}
<style>
    .crypto-head {
        background-color: green;
        color: white;
        margin-top: 0px;
    }

    .crypto-head p {
        color: white;
        font-size: 16px;
        text-align: left;
        padding-top: 6px;
    }

    #header {
        padding: 0px 0;
    }

    #header .crypto-head .div-hd {
        margin-top: 6px;
        float: left;
        margin-left: 300px;
    }

    #header .crypto-head .div-hd img {
        padding-left: 16px;
    }

    @media screen and (max-width:768px) {
        #header .crypto-head .div-hd {
            display: none;
        }
        .crypto-head p {
            color: white;
            font-size: 12px;
            text-align: center;
            padding-top: 4px;
            margin-left: 0px;
        }
    }
</style>
<style>
    .whats-phone-wrapper {
        display: flex;
        gap: 10px;
        flex-direction: column;
        position: fixed;
        top: 577px;
        z-index: 999;
        right: 23px;
    }
</style>
<style>
    .section-sec-padbtm {
        margin-bottom: 20px;
    }

    .newcrd1 {
        text-align: center;
    }

    .newcrd1 {
        background: rgb(240, 240, 240);
        ;
        padding: 8px;
    }

    .newcrd1:hover {
        background: rgb(241, 250, 240);
        ;
        padding: 8px;
    }

    .newcrd1 h2 {
        color: green;
        margin-bottom: 8px;
    }

    .newcrd1 h6 {
        color: black;
        font-weight: bold;
    }

    .newcrd1 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }

    @media screen and (max-width:768px) {
        .num-sec .col-sm-2 {
            width: 50%;
            padding: 5px;
        }
        .newcrd1 h2 {
            font-size: 20px;
            color: green;
            margin-bottom: 8px;
        }
        .newcrd1 h6 {
            color: black;
            font-size: 14px;
        }
        .numsec {
            margin-top: -30px;
        }
    }

    .section-sec-0-30 {
        padding-bottom: 30px;
    }
</style>
  <style>
  .white-br-btn{ border: 1px solid #ffffff; background: #1c8908; color: #fff;
    }
</style>
{% endblock %}
 {% block content %}
 <section class="inner-banner data-cleansing-banner"> <div class="overlay"> <div class="container"> <div class="row"> <div class="col-lg-6 mb-3 wow fadeInLeft"></div> <div class="col-lg-6 mb-3 wow fadeInLeft"> <h1>Top-of-the-Line Data Cleansing Services</h1> <p>If You Care for Your Data, It Will Care for You!</p> <div class="mb-5 mt-4"> <a href="#" data-toggle="modal" data-target="#send-message-new" class="white-br-btn circle-fa"> Try Cleansing a Sample File &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a> </div> </div> </div> </div> </div></section>

<main id="main">
    <section class="section-sec-0-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 section-fpad wow fadeInLeft">
                    <h2 class="subhead-small-blk">Keep Your Data Clean and Reap the Maximum Rewards</h2>
                    <p style="text-align:Justify;">When it comes to machine learning, <strong>data cleansing services</strong> (or cleaning) are paramount, as these ensure the delivery of highly-relevant and fruitful information. This is undeniably advantageous for email marketers,
                        as accurate data automatically translates to better-yielding ROIs.</p>
                    <p style="text-align:Justify;"><strong>Data clensing</strong> plays a critical role in building a machine learning model, which ultimately provides insights for any campaign. However, it hardly gets any praise and is not often discussed, despite it being one of
                        the most essential jobs for data scientists who spend immense effort on it.</p>
                    <p style="text-align:Justify;"> At Affluence Business Inc, we believe that data should be clean, green, and lean. To that aid, we provide you data that is free of errors as in clean, fresh, which means it’s green, and relevant to your business requirements, as in lean.
                        A total win-win-win!</p>
                    <p style="text-align:Justify;">Is your business in need of <strong>data scrubbing services</strong>? If so, then we provide the best ones, helping you acquire verified data that is easier to use and store effectively. As such, your job becomes more convenient since
                        you can use such credible statistics to make the most informed business decisions.</p>
                    <p style="text-align:Justify;">Improved quality is reflected in updated marketing data, which shows performance. You may have a suitable database stored and arranged, and you may have a calendar set up to follow your marketing strategies based on it, but did you
                        realize that B2B data degrades at a rate of 2.1% every month? That suggests the data in your repository is likely outdated or about to become obsolete. Therefore, your data must be clean and healthy, free of any inaccuracies, in
                        order to target the appropriate prospects at the right time and in the right way.</p>
                </div>
                <div class="col-lg-5 mb-4 wow fadeInRight">
                    <div class="mx-800">
                        <div class="contact-side">
                            <h4>Free Cleansing Test</h4>
                            </br>
                            <div class="form">
                                <form name="f20" id="contact-form" action="" method="post"  enctype="multipart/form-data"> 

                                    <div class=" form-row">
                                        <div class="col-lg-6 form-group">
                                            <div class="input-container"> <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name*"> <i class="fa fa-user icon"></i> </div>
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <div class="input-container"> <input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name"> <i class="fa fa-user icon"></i> </div>
                                        </div>
                                    </div>
                                    <div class=" form-row">
                                        <div class="col-lg-6 form-group">
                                            <div class="input-container"> <input type="email" class="form-control" name="email" id="email" placeholder="Business Email*"> <i class="fa fa-envelope icon"></i> </div>
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <div class="input-container"> <input type="text" class="form-control" name="phone" id="phone" placeholder="Business Phone*"> <i class="fa fa-phone icon"></i> </div>
                                        </div>
                                    </div>
                                    <div class=" form-row">
                                        <div class="col-lg-12 form-group">
                                            <div class="input-container"> <input type="text" name="company" class="form-control" id="company" placeholder="Company Name*"> <i class="fa fa-briefcase icon"></i> </div>
                                        </div>
                                    </div>
                                    <div class=" form-row">
                                        <div class="col-lg-12 form-group">
                                            <div class="input-container"> <select name="contact" class="form-control"> <option value="">No. of contacts</option> <option value="Less than 10k">Less than 10k</option> <option value="10k-50k">10k-50k</option> <option value="50k-100k">50k-100k</option> <option value="100k+">100k+</option></select>                                                </div>
                                        </div>
                                    </div>
                                    <div class="form-group"> <textarea class="form-control " name="comments" rows="1" placeholder="Message*"></textarea> </div>
                                    <div class="col-lg-12 form-group">
                                        <div class="input-container"> <label for="user" style="font-size:14px;">Upload Sample File :<span style="color:#Ff0000";>*</span></label><input type="file" name="upload" id="upload" value="" style="background:#ffffff;" /></div>
                                    </div>
                                    <div class="form-group"> <label><input name="newslettersubscribe" value="newslettersubscribe" checked="" type="checkbox"> I would like to subscribe to your Newsletter.</label> </div>
                                    <div class="form-group mt-4">
                                        <button type="submit" class="circle-fa">Cleanse Data Now! <i class="fa icon ion-android-arrow-forward"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 wow fadeInRight">
                        <h2 class="subhead-small-blk">Give Your Marketing Campaigns a Clear Direction with Our CRM Data Cleansing Solutions</h2>
                        <p style="text-align:Justify;">Marketers often chase clean data as they can be a powerhouse for any marketing campaign. While that can be tedious, you can expedite the process by simply partnering with Affluence Business Inc. Our data cleaning and data scrubbing
                            will furnish you with the industry-best solutions, reviving your database and increasing its relevancy tenfold.</p>
                        <p style="text-align:Justify;">As a leading data provider, we have made a name in the industry by proving lucrative and quality data. Thus, we pride ourselves on providing <strong>CRM data cleansing solutions</strong> that help our clients reap maximum rewards
                            from their campaigns, using cleansed insights to conduct no-nonsense email marketing.</p>
                    </div>
                </div>
    </section>

    <section class="section-sec-0-30 ">
        <div class="container num-sec">
            <div class="row">
                <div class="col-lg-12 wow fadeInRight">
                    <div class="row">
                        <div class="col-sm-2 text-center">
                            <div class="newcrd1"> <img src="/static/assets/img/Cost-Saving.png" alt="Cost Saving" title="Cost Saving" />
                                <h2><strong>40%</strong></h2>
                                <h6> Cost Savings</h6>
                            </div>
                        </div>
                        <div class="col-sm-2 text-center">
                            <div class="newcrd1"> <img src="/static/assets/img/Data-Accuracy.png" alt="Data Accuracy" title="Data Accuracy" />
                                <h2><strong>99%</strong></h2>
                                <h6> Data Accuracy</h6>
                            </div>
                        </div>
                        <div class="col-sm-2 text-center">
                            <div class="newcrd1"> <img src="/static/assets/img/Customizability.png" alt="Customizability" title="Customizability" />
                                <h2><strong>100%</strong></h2>
                                <h6> Customizability</h6>
                            </div>
                        </div>
                        <div class="col-sm-2 text-center">
                            <div class="newcrd1"> <img src="/static/assets/img/Success-Stories.png" alt="Success Stories" title="Success Stories" />
                                <h2><strong>500+</strong></h2>
                                <h6> Success Stories</h6>
                            </div>
                        </div>
                        <div class="col-sm-2 text-center">
                            <div class="newcrd1"> <img src="/static/assets/img/Data-Experts.png" alt="Data Experts" title="Data Experts" />
                                <h2><strong>250+</strong></h2>
                                <h6> Data Experts</h6>
                            </div>
                        </div>
                        <div class="col-sm-2 text-center">
                            <div class="newcrd1"> <img src="/static/assets/img/Quick-Turnaround.png" alt="Quick Turnaround" title="Quick Turnaround" />
                                <h2><strong>< 24hrs</strong></h2>
                                <h6> Quick Turnaround</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-sec-0-30 ">
        <div class="container num-sec">
            <div class="col-lg-12 wow fadeInLeft padlf-none high-light-row">
                <div class="light-br-box">
                    <div class="mx-800">
                        <div class="row">
                            <div class="col-lg-4 mb-2 wow fadeInLeft centeralign">
                                <div> <img src="/static/assets/img/data-cleansing.png" alt="Data Cleansing" title="Data Cleansing" style="width:230px;height:130px;" /> </div>
                            </div>
                            <div class="col-lg-8 mb-2 wow fadeInLeft centeralign">
                                <div class="mb-4 mt-4">
                                    <h2>Wanna try Data Cleansing?</h2> <a href="#" data-toggle="modal" data-target="#send-message-new" class="green-btn circle-fa">UPLOAD HERE &nbsp; <i class="fa icon ion-android-arrow-down"></i></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-sec-new01">
        <div class="section-sec-0-30 container mb-sec">
            <div class="row">
                <style>
                    .section-sec-new01 {
                        margin-top: 0px;
                    }

                    .respo-icon p {
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    .respo-icon p:hover {
                        color: green;
                    }

                    .email-list-style ul li {
                        margin-left: -30px;
                        font-size: 14px;
                        color: #333333;
                        margin-bottom: 4px;
                    }

                    .email-list-style ul li {
                        list-style-type: none;
                    }

                    @media screen and (max-width: 992px) {
                        .respo-icon .col-lg-3 {
                            width: 100%;
                        }
                    }

                    @media screen and (max-width:768px) {
                        .respo-icon .col-lg-3 {
                            width: 50%;
                        }
                        .align-lft {
                            margin-left: 30px;
                        }
                        .newcrd .col-sm-4 {
                            margin-bottom: 5px;
                        }
                        .benifit-dc .col-sm-4 {
                            margin-bottom: 5px;
                        }
                    }

                    @media screen and (max-width: 600px) {
                        .respo-icon.col-lg-3 {
                            width: 50%;
                        }
                    }

                    .high-light-row {
                        background: #e9ffdb;
                        padding: 0;
                        margin: 0;
                    }

                    .new-business-card h5 {
                        color: green;
                        font-size: 16px;
                        text-align: center;
                        margin-bottom: 7px;
                    }

                    .new-business-card img {
                        text-align: center;
                        display: block;
                        margin-bottom: 8px;
                        width: 40px;
                        height: 40px;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    .new-business-card {
                        padding: 14px;
                        text-align: center;
                        background: #eee;
                        box-shadow: 0 8px 8px -4px green;
                    }

                    .new-business-card:hover {
                        padding: 14px;
                        text-align: center;
                        background: #fff;
                        box-shadow: 0 8px 8px -4px green;
                    }
                </style>
                <div class="col-lg-12 benifit-dc mb-4 wow fadeInRight ">
                    <h2 class="subhead-small-blk">Benefits of Availing Data Hygiene Services from Affluence Business Inc</h2>
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <div class="new-business-card"> <img src="/static/assets/img/Free-Trial.png" alt="Free Trial" class="respo-img " />
                                <h5> <strong>Free Trial </strong> </h5>
                                <p>Free trial offered with all the functionalities and services.</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="new-business-card"> <img src="/static/assets/img/Improved-Decision-Making.png" alt="Improved Decision Making" class="respo-img " />
                                <h5> <strong>Improved Decision Making</strong></h5>
                                <p>With data deterioration eliminated, better campaign decisions are made.</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="new-business-card"> <img src="/static/assets/img/Faster-Turnaround.png" alt="Faster Turnaround" class="respo-img " />
                                <h5><strong>Faster Turnaround</strong></h5>
                                <p>A rapid and effective method of cleansing within set deadlines.</p>
                            </div>
                        </div>
                    </div><br>
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <div class="new-business-card"> <img src="/static/assets/img/Improved-ROI.png" alt="Improved ROI" class="respo-img " />
                                <h5> <strong>Improved ROI</strong> </h5>
                                <p>Improved conversion rate and revenue in a short span.</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="new-business-card"> <img src="/static/assets/img/Cost-Effective-Time-Efficient.png" alt="Cost Effective – Time Efficient" class="respo-img " />
                                <h5> <strong>Cost Effective – Time Efficient</strong></h5>
                                <p>Faster outreach to interested prospects saves both time and cost.</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="new-business-card"> <img src="/static/assets/img/Data-Security.png" alt="Data Security" class="respo-img " />
                                <h5><strong>Data Security</strong></h5>
                                <p>Elimination of unauthorized access by following stringent security measures.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-sec-0-30">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 wow fadeInLeft">
                    <h2 class="subhead-small-blk">Get Rid of Dead Information and Manage Unwanted Outliers</h2>
                    <p style="text-align:Justify;">As the amount of data increases, so does the possibility of errors. Every year, most leading companies in the US spend truckloads of money on ‘bad’ or ‘dirty data.’ This consists of inaccuracies, typing errors, misplaced entries, etc.
                        Since data keeps changing, missing out on updating it is highly-probable and detrimental.</p>
                    <p style="text-align:Justify;">Hence, we believe in optimizing our data management processes and boosting consistency with our data quality services. We use data quality techniques, tools, and technology to help you get the best ROI through lucrative marketing.
                        Since we outsource <strong>CRM Data Cleansing Services</strong> to ensure efficiency and speed, there is hardly any room for error.</p>
                </div>
                <div class="col-sm-7 text-center wow fadeInLeft">
                    <h2 class="subhead-small-blk">How does Data Cleansing Work?</h2> <img src="/static/assets/img/Data-Cleansing-Process.jpg" alt="Data Cleansing Process" class="respo-img " /> </div>
                <div class="col-sm-12 text-center">
                    <div class="mb-3"> <a href="#" data-toggle="modal" data-target="#send-message" class="green-btn circle-fa">Send Us Your Requirements &nbsp;<i class="fa icon ion-android-arrow-forward"></i></a> </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-sec-0-30">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 wow fadeInLeft">
                    <h2 class="subhead-small-blk">We Can Help You Care for Your Most Valuable Business Asset</h2>
                    <p style="text-align:Justify;">Data quality determines how effective your decision-making can be. Thus, data is the most valuable business asset that requires your utmost attention. At Affluence Business Inc, we help you manage, correct, delete, validate, modify,
                        organize and format data from various fields and across different databases.</p>
                    <p style="text-align:Justify;">Our <strong>data cleaning services</strong> guarantee high operational efficiency and reduce costs spent correcting bad data. Furthermore, we utilize them to deliver top-quality data solutions. During our vigorous data cleaning and
                        data scrubbing services, we highlight vital information for our clients’ convenience.</p>
                    <p style="text-align:Justify;">What does all this accrue to you? Well, you invest in a competitive edge to overtake your competitors and rise above. Therefore, if you want your business to flourish, invest in Affluence Business Inc’ <strong>data hygiene services</strong>                        and witness the power of clean insights.</p>
                    <p style="text-align:Justify;">Get in touch with our data experts by emailing us at <a href="mailto:steve@affluencebizdata.com"><strong>steve@affluencebizdata.com</strong></a> or call us on <a href="tel:307-213-7098"><strong>307-213-7098</strong></a> to get
                        a free consultation today! </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section-sec-0-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 wow fadeInLeft">
                    <h2 class="subhead-small-blk text-center">Frequently Asked Questions</h2>
                </div>
                <div class="col-lg-12 wow fadeInLeft">
                    <div class="bs-example">
                        <div class="accordion" id="accordionExample">
                            <div class="row">
                                <div class="col-lg-6 mb-5 wow fadeInLeft">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0"> <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"><i class="fa fa-plus"></i>What is Data Cleansing?</button> </h2>
                                        </div>
                                        <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>Data cleansing is the process of identifying and correcting data inconsistencies, missing values, and outliers to make your data more accurate. <strong>Data cleansing solutions</strong> ensure that data
                                                    is error-free, and is abiding by guidelines. Cleansing data helps you maximize the deliverability of your campaigns.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h2 class="mb-0"> <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"><i class="fa fa-plus"></i>How is Data Clensing Done?</button> </h2>
                                        </div>
                                        <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>Data cleansing works by removing inaccuracies and inconsistencies in the data with human-verified intelligence and algorithm-based solutions. With <strong>CRM data cleansing services</strong>, inconsistences
                                                    and inaccurate data are mapped with a larger data set from credible sources to append it with the most recent, accurate, and contextually relevant data.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h2 class="mb-0"> <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"><i class="fa fa-plus"></i>What are the Data Cleansing Methods you Use?</button> </h2>
                                        </div>
                                        <div id="collapseThree" class="collapse " aria-labelledby="headingThree" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>We use both manual and AI automated methods to cleanse data. This enables us to fix incorrect data as part of the <strong>B2B data cleansing</strong> requirement. We then segment the data and scrub duplicates
                                                    in the process. This is followed by a stringent validation drive where the data is checked for accuracy.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-5 wow fadeInLeft">
                                    <div class="card">
                                        <div class="card-header" id="headingfour">
                                            <h2 class="mb-0"> <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour"><i class="fa fa-plus"></i>How much do you Charge to Cleanse My Data?</button> </h2>
                                        </div>
                                        <div id="collapsefour" class="collapse " aria-labelledby="headingfour" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>It is only by analyzing your specific situation we can conclude the amount that can be allocated for the tasks such as <strong>CRM data cleansing</strong>. This includes the number of records and fields
                                                    in each record, the age of the records, the file systems, and the degree of cleaning required.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingfive">
                                            <h2 class="mb-0"> <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefive"><i class="fa fa-plus"></i>Why Choose Affluence Business Inc for Data Cleansing Solutions?</button> </h2>
                                        </div>
                                        <div id="collapsefive" class="collapse " aria-labelledby="headingfive" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>We have been providing data services for a slew of Fortune 500, Fortune 1000 clients and SME’s. We have over 800 people dedicated to continuous data collection and verification processes. With all these
                                                    credentials, we help you leverage the best <strong>data cleaning services</strong>.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingsix">
                                            <h2 class="mb-0"> <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesix"><i class="fa fa-plus"></i>How do I Initiate my Data Cleansing Requirement?</button> </h2>
                                        </div>
                                        <div id="collapsesix" class="collapse " aria-labelledby="headingsix" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>We have got you covered at every step of the data discovery journey while we help you meet your <strong>B2B data cleansing</strong> needs. Call us at <a href="tel:307-213-7098">307-213-7098</a> for a
                                                    free one-on-one consultation or book your appointment for a free lead insights session <a href="https://calendly.com/spanglobal/schedule-a-call" title="Schedule A Call with Our Expert">Schedule A Call with Our Expert</a>.
                                                    You can also email us at <a href="mailto:steve@affluencebizdata.com">steve@affluencebizdata.com</a>.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="free-quote-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 wow fadeInRight centeralign">
                    <div>
                        <h2>GET A FREE QUOTE</h2>
                        <p>Finding the right data can be<br/> complicated, so we are here to help </p>
                    </div>
                </div>
                <div class="col-lg-7 wow fadeInRight">
                    <div class="contact-quote">
                        <div class="form">
                            <form  name="contactside" id="affluenContact" class="contactForm" method="post">
                              {% csrf_token %}
                                
                                <div class=" form-row">
                                    <div class="col-lg-6 form-group"> 
                                        <input type="text" name="first_name" class="form-control" id="fname" placeholder="First Name*"> </div>
                                    <div class="col-lg-6 form-group">
                                         <input type="text" name="last_name" class="form-control" id="lname" placeholder="Last Name*"> </div>
                                    <div class="col-lg-6 form-group"> 
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Business Email*">
                                     </div>
                                    <div class="col-lg-6 form-group">
                                         <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone*"> </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-lg-12 form-group">
                                        <div class="input-container">
                                             <select name="contact_no" class="form-control"> <option value="">No. of contacts</option> 
                                                <option value="Less than 10k">Less than 10k</option> 
                                                <option value="10k-50k">10k-50k</option> 
                                                <option value="50k-100k">50k-100k</option> 
                                                <option value="100k+">100k+</option>
                                            </select> 
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                     <textarea class="form-control " name="message" rows="2" placeholder="Requirements"></textarea> </div>
                                <div class="form-group">
                                    <button type="submit" class="circle-fa">CLICK HERE TO SUBMIT</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% block extra_js %}
<script>
    $('#affluenContact').on("submit",function(event) {
    event.preventDefault(); // Prevent the default form submission
    var formData = $(this).serialize();
    
    $.ajax({
      url: "/contactdat_azax/",
      type: "POST",
      data: formData,
      dataType: 'json',
      success: function(response) {
        // Handle the response data
        console.log(response);
      },
      error: function(error) {
        // Handle any error that occurred during the request
        console.error(error);
      }
    });
  });
</script>
{% endblock %}
{% endblock %}