{% extends 'base.html' %}

{% block content %}
    <section class="inner-banner geotargeted-banner">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-3 wow fadeInLeft"></div>
                    <div class="col-lg-6 mb-3 wow fadeInLeft">
                        <h1>Channelize your Efforts to the Right Markets with Geo Targeted Email List</h1>
                        <p>Use Email Lists that are functional, flexible, reliable, cost-effective and credible.</p>
                        <div class="mt-4"> <a href="#" data-toggle="modal" data-target="#send-message"
                                class="white-br-btn circle-fa">Book Your Data &nbsp; <i
                                    class="fa icon ion-android-arrow-forward"></i></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <main id="main">
        <section class="section-sec-0-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 section-fpad mb-4 wow fadeInLeft">
                        <h2 class="subhead-small-blk">Geo-targeted Email List</h2>
                        <p style="text-align:Justify;">There are almost 196 countries (195 if you leave Taiwan out) in
                            the world. It is obvious that as marketers your marketing campaign to prospects, will not be
                            directed to all of them. That's not going to be of benefit. Instead, what you need is to
                            identify your target audience based on geography and reach out to them accordingly. Using
                            geo-targeted email marketing lists is a good way to go about your business as it will guide
                            your campaigns to targeted markets. And if you think you are unsure as to where to acquire
                            the list from, reach us at Span Global Services, and let us help you with the Country wise
                            Professionals email database. </p>
                        <p style="text-align:Justify;">At Span Global Services we understand that your campaigns need to
                            be niche. It needs to be targeted as per country, state, industry and other categories to
                            make sure that your message is reaching its intended prospects. With our mailing list of
                            Geo-targeted professionals we can accordingly support your marketing initiatives with data
                            that is relevant and will make sure that reaching out to prospects beyond regional borders
                            is not a challenge.</p>
                        <p><strong>We can accordingly provide data on:</strong></p>
                        <ul class="space-list">
                            <li>Country-wise list</li>
                            <li>State-wise list</li>
                            <li>State-wise list with zip code</li>
                            <li>Industry-specific Geo-targeted lists</li>
                            <li>B2B Geo-targeted lists and more</li>
                        </ul>
                        <p style="text-align:Justify;">Buy Geo-targeted business executives list today and take your B2B
                            campaigns to the next level. </p>
                    </div>
                    <div class="col-lg-5 mb-4 wow fadeInRight">
                        <div class="mx-800">
                            <div class="contact-side">
                                <h4>GET A FREE QUOTE</h4>
                                <p>We have got you covered on all your email and direct marketing needs</p>
                                <div class="form">
                                    <form name="f12" id="contact-form"
                                        action="https://www.spanglobalservices.com/scripts/formmail" method="post"
                                        onSubmit="return validationcon()"> <input type="hidden" name="returnURL"
                                            value="https://www.spanglobalservices.com/thanks"><input name="title"
                                            type="hidden" value="Contact Request from Span Global Services">
                                        <div class=" form-row">
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="text" name="fname"
                                                        class="form-control" id="fname" placeholder="First Name*"> <i
                                                        class="fa fa-user icon"></i> </div>
                                            </div>
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="text" name="lname"
                                                        class="form-control" id="lname" placeholder="Last Name"> <i
                                                        class="fa fa-user icon"></i> </div>
                                            </div>
                                        </div>
                                        <div class=" form-row">
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="email" class="form-control"
                                                        name="email" id="email" placeholder="Business Email*"> <i
                                                        class="fa fa-envelope icon"></i> </div>
                                            </div>
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="text" class="form-control"
                                                        name="phone" id="phone" placeholder="Business Phone*"> <i
                                                        class="fa fa-phone icon"></i> </div>
                                            </div>
                                        </div>
                                        <div class=" form-row">
                                            <div class="col-lg-12 form-group">
                                                <div class="input-container"> <input type="text" name="company"
                                                        class="form-control" id="company" placeholder="Company Name*">
                                                    <i class="fa fa-briefcase icon"></i> </div>
                                            </div>
                                        </div>
                                        <div class=" form-row">
                                            <div class="col-lg-12 form-group">
                                                <div class="input-container"> <select name="contact"
                                                        class="form-control">
                                                        <option value="">No. of contacts</option>
                                                        <option value="Less than 10k">Less than 10k</option>
                                                        <option value="10k-50k">10k-50k</option>
                                                        <option value="50k-100k">50k-100k</option>
                                                        <option value="100k+">100k+</option>
                                                    </select> </div>
                                            </div>
                                        </div>
                                        <div class="form-group"> <textarea class="form-control " name="comments"
                                                rows="1" placeholder="Message*"></textarea> </div>
                                        <div class="form-group"> <label><input name="newslettersubscribe"
                                                    value="newslettersubscribe" checked="" type="checkbox"> I would like
                                                to subscribe to your Newsletter.</label> </div>
                                        <div class="form-group mt-4"><button type="submit" class="circle-fa">Submit Data
                                                Counts and Quote Request &nbsp; <i
                                                    class="fa icon ion-android-arrow-forward"></i></button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
        <section class="section-sec lighter-grey">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-4 wow fadeInLeft"> <img
                            src="https://www.spanglobalservices.com/assets/img/geo-targeted-list-benefit.jpg"
                            alt="Geo Targeted Lists" title="Geo Targeted Lists" class="respo-img" /> </div>
                    <div class="col-lg-6 mb-4 wow fadeInRight">
                        <h2 class="subhead-small-blk">The benefit of Using Our Geo-Targeted Mailing Database</h2>
                        <p style="text-align:Justify;">In the current market place, it is not enough to be established
                            in your local market. You have to be prominent in the global market as well. Regional
                            business has its limitations and marketers need to design campaigns to cater to regional,
                            national and global audiences. And when you want to expand and explore opportunities in
                            unexplored markets, you need to start with <a
                                href="https://www.spanglobalservices.com/email-lists"
                                title="Targeted Email Lists">targeted email lists</a>.</p>
                        <p style="text-align:Justify;">With the business email addresses of Geo-targeted professionals
                            we aid marketers to connect with executives from across the UK, Europe, APAC, Canada and
                            more. Segmented and suitable for multichannel communications, our lists are a powerful way
                            for you to make new beginnings. </p>
                        <p style="text-align:Justify;">Contact us today at Span Global Services and let us offer a
                            customized geography-based marketing database for b2b campaigns!</p>
                        <div class="mb-5 mt-4"> <a href="https://www.spanglobalservices.com/request-quote"
                                class="green-btn circle-fa">Request A Quote &nbsp; <i
                                    class="fa icon ion-android-arrow-forward"></i></a> </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-sec-50-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mb-4 wow fadeInLeft">
                        <h2 class="subhead-list mb-2">Some of Our Top Selling C-Level Executives List, Industry
                            Wise<br />
                            Executives Email List and Healthcare Mailing Addresses for the USA Include:</h2>
                    </div>
                    <div class="col-lg-6 wow fadeInLeft">
                        <div class="row">
                            <div class="col-lg-7 wow fadeInLeft">
                                <table class="list-head-tab" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td bgcolor="#066933"> <img
                                                src="https://www.spanglobalservices.com/assets/img/c-level-list-icon.png"
                                                class="respo-img" alt="C Level Email List" title="C Level Email List" />
                                        </td>
                                        <td class="list-head-outer">
                                            <h2 class="list-head"><a
                                                    href="https://www.spanglobalservices.com/professional-lists/">C-Level
                                                    Executives List</a></h2>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="dgreen-bg-list-outer">
                            <table class="grey-bg-list">
                                <tr>
                                    <td height="20"></td>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td valign="top"><a
                                            href="https://www.spanglobalservices.com/professional-lists/ceo-email-list">United
                                            States of America Companies CEOs Email List</a></td>
                                    <td valign="top"><a
                                            href="https://www.spanglobalservices.com/professional-lists/cio-email-list">USA
                                            CIOs Email List</a></td>
                                </tr>
                                <tr>
                                    <td valign="top"><a
                                            href="https://www.spanglobalservices.com/professional-lists/cto-email-list">USA
                                            CTOs Email List</a></td>
                                    <td valign="top"><a
                                            href="https://www.spanglobalservices.com/professional-lists/cmo-email-list">USA
                                            CMOs Email List</a></td>
                                </tr>
                                <tr>
                                    <td valign="top"><a
                                            href="https://www.spanglobalservices.com/professional-lists/cfo-email-list">USA
                                            CFOs Email List</a></td>
                                    <td valign="top">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td valign="top"><a
                                            href="https://www.spanglobalservices.com/industry-wise-lists/">Industry Wise
                                            USA Email List</a></td>
                                    <td valign="top"><a
                                            href="https://www.spanglobalservices.com/industry-wise-lists/oil-and-gas-industry-email-list">Oil
                                            &amp; Gas Industry USA Email List</a></td>
                                </tr>
                                <tr>
                                    <td valign="top"><a
                                            href="https://www.spanglobalservices.com/industry-wise-lists/pharmaceutical-industry-email-list">USA
                                            Pharmaceutical Manufacturing Email List</a></td>
                                    <td valign="top"><a
                                            href="https://www.spanglobalservices.com/industry-wise-lists/real-estate-industry-email-list">Real
                                            Estate Agents &amp; Mortgage Brokers List</a></td>
                                </tr>
                                <tr>
                                    <td valign="top"><a
                                            href="https://www.spanglobalservices.com/industry-wise-lists/insurance-service-industry-email-list">Insurance
                                            Service Industry USA Email List</a></td>
                                    <td valign="top"><a
                                            href="https://www.spanglobalservices.com/industry-wise-lists/advertising-industry-email-list">Advertising
                                            &amp; Marketing Industry Email List</a></td>
                                </tr>
                                <tr>
                                    <td valign="top"><a
                                            href="https://www.spanglobalservices.com/industry-wise-lists/automotive-industry-email-list">Automotive
                                            Industry US Email List</a></td>
                                    <td valign="top">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                    <td height="20"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInLeft">
                        <div class="row">
                            <div class="col-lg-7 wow fadeInLeft">
                                <table class="list-head-tab" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td bgcolor="#066933"> <img
                                                src="https://www.spanglobalservices.com/assets/img/health-list-icon.png"
                                                class="respo-img" alt="Healthcare list" title="Healthcare list" /> </td>
                                        <td class="list-head-outer">
                                            <h2 class="list-head"><a
                                                    href="https://www.spanglobalservices.com/healthcare-lists/">Healthcare
                                                    Email Lists</a></h2>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="dgreen-bg-list-outer">
                            <table class="grey-bg-list">
                                <tr>
                                    <td height="20"></td>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td><a
                                            href="https://www.spanglobalservices.com/healthcare-lists/hospital-email-list">USA
                                            Hospital Email Database</a></td>
                                    <td><a
                                            href="https://www.spanglobalservices.com/healthcare-lists/pharmaceutical-email-list">USA
                                            Pharmaceutical Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a
                                            href="https://www.spanglobalservices.com/healthcare-lists/cosmetologists-email-list">USA
                                            Cosmetologist Email List</a></td>
                                    <td><a
                                            href="https://www.spanglobalservices.com/healthcare-lists/addiction-counselors-email-list">Addiction
                                            Counselors Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a
                                            href="https://www.spanglobalservices.com/healthcare-lists/family-marital-therapists-email-list">Family
                                            Marital Therapists</a></td>
                                    <td><a
                                            href="https://www.spanglobalservices.com/healthcare-lists/gynecologists-email-list">Gynecologists
                                            Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a
                                            href="https://www.spanglobalservices.com/healthcare-lists/internal-medicine-email-list">Internal
                                            Medicine Email List</a></td>
                                    <td><a
                                            href="https://www.spanglobalservices.com/healthcare-lists/internists-email-list">Internists
                                            Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a
                                            href="https://www.spanglobalservices.com/healthcare-lists/massage-therapists-email-list">Massage
                                            Therapists Email List</a></td>
                                    <td><a
                                            href="https://www.spanglobalservices.com/healthcare-lists/medical-and-hospital-equipments-email-list">Medical
                                            and Hospital Equipments Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a
                                            href="https://www.spanglobalservices.com/healthcare-lists/physician-email-list">Physician
                                            Email List</a></td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                    <td height="20"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
        <section class="section-sec-small pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mb-4 wow fadeInLeft">
                        <h2 class="subhead-list mb-2">Geo Targeted Country Wise Lists</h2>
                    </div>
                    <div class="col-lg-12 wow fadeInLeft">
                        <div class="dgreen-bg-list-outer">
                            <table class="dgreen-bg-list">
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/netherlands-business-email-list"
                                            title="Netherlands Business Email List">Netherlands Business Email List</a>
                                    </td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/japan-business-email-list"
                                            title="Japan Business Email List">Japan Business Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/spain-business-email-list"
                                            title="Spain Business Email List">Spain Business Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/switzerland-business-email-list"
                                            title="Switzerland Business Email List">Switzerland Business Email List</a>
                                    </td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/denmark-business-email-list"
                                            title="Denmark Business Email List">Denmark Business Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/china-business-email-list"
                                            title="ChinaBusiness Email List">China Business Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/singapore-business-email-list"
                                            title="Singapore Business Email List">Singapore Business Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/canada-business-email-list"
                                            title="Canada Business Email List">Canada Business Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/australia-business-email-list"
                                            title="Australia Business Email List">Australia Business Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/germany-business-email-list"
                                            title="Germany Business Email List">Germany Business Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/france-business-email-list"
                                            title="France Business Email List">France Business Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/india-business-email-list"
                                            title="India Business Email List">India Business Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/hong-kong-business-email-list"
                                            title="Hong Kong Business Email List">Hong Kong Business Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/uk-business-email-list"
                                            title="UK Business Email List">UK Business Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/israel-b2b-email-list"
                                            title="Israel B2B Email List">Israel B2B Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/new-zealand-b2b-email-list"
                                            title="New Zealand B2B Email List">New Zealand B2B Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/usa-business-email-list"
                                            title="USA Business Email List">USA Business Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/south-korea-b2b-email-list"
                                            title="South Korea B2B Email List">South Korea B2B Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/asia-pacific-countries-business-email-list"
                                            title="Asia Pacific Countries Business Email List">Asia Pacific Countries
                                            Business Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/atlanta-business-email-list"
                                            title="Atlanta Business Email List">Atlanta Business Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/austria-b2b-email-list"
                                            title="Austria B2B Email List">Austria B2B Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/belgium-business-email-list"
                                            title="Belgium Business Email List">Belgium Business Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/boston-business-email-list"
                                            title="Boston Business Email List">Boston Business Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/brazil-business-email-list"
                                            title="Brazil Business Email List">Brazil Business Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/california-email-list"
                                            title="California Email List">California Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/chicago-business-email-list"
                                            title="Chicago Business Email List">Chicago Business Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/czech-republic-business-email-list"
                                            title="Czech Republic Business Email List">Czech Republic Business Email
                                            List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/dallas-business-email-list"
                                            title="Dallas Business Email List">Dallas Business Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/emea-countries-business-email-list"
                                            title="EMEA Countries Business Email List">EMEA Countries Business Email
                                            List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/finland-business-email-list"
                                            title="Finland Business Email List">Finland Business Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/ireland-business-email-list"
                                            title="Ireland Business Email List">Ireland Business Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/italy-business-email-list"
                                            title="Italy Business Email List">Italy Business Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/los-angeles-business-email-list"
                                            title="Los Angeles Email List">Los Angeles Business Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/malaysia-business-email-list"
                                            title="Malaysia Business Email List">Malaysia Business Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/mexico-b2b-email-list"
                                            title="Mexico B2B Email List">Mexico B2B Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/middle-east-business-email-list"
                                            title="Middle East Business Email List">Middle East Business Email List</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/middle-east-north-african-business-email-list"
                                            title="Middle East North African Business Email List">Middle East North
                                            African Business Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/new-york-email-list"
                                            title="New York Email List">New York Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/norway-b2b-email-list"
                                            title="Norway B2B Email List">Norway B2B Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/oceania-business-email-list"
                                            title="Oceania Business Email List">Oceania Business Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/poland-b2b-email-list"
                                            title="Poland B2B Email List">Poland B2B Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/russia-b2b-email-list"
                                            title="Russia B2B Email List">Russia B2B Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/south-africa-b2b-email-list"
                                            title="South Africa Email List">South Africa Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/south-america-business-email-list"
                                            title="South America Business Email List">South America Business Email
                                            List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/sweden-business-email-list"
                                            title="Sweden Business Email List">Sweden Business Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/texas-business-email-list"
                                            title="Texas Business Email List">Texas Business Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/turkey-b2b-email-list"
                                            title="Turkey B2B Email List">Turkey B2B Email List</a></td>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
        <section class="section-sec-small pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mb-4 wow fadeInLeft">
                        <h2 class="subhead-list mb-2">Geo Targeted Region Wise Lists</h2>
                    </div>
                    <div class="col-lg-12 wow fadeInLeft">
                        <div class="dgreen-bg-list-outer">
                            <table class="dgrey-bg-list">
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/asia-business-email-list"
                                            title="Asia Business Email List">Asia Business Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/north-america-business-email-list"
                                            title="North America Business Email List">North America Business Email
                                            List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/african-business-email-list"
                                            title="African Business Email List">African Business Email List</a></td>
                                    <td><a href="https://www.spanglobalservices.com/geo-targeted-lists/european-business-email-list"
                                            title="European Business Email List">European Business Email List</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
        <section class="free-quote-sec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 wow fadeInRight centeralign">
                        <div>
                            <h2>GET A FREE QUOTE</h2>
                            <p>Finding the right data can be<br /> complicated, so we are here to help </p>
                        </div>
                    </div>
                    <div class="col-lg-7 wow fadeInRight">
                        <div class="contact-quote">
                            <div class="form">
                                <form method="post" name="contactside" class="contactForm"
                                    onsubmit="return fnValidationContactside()"
                                    action="https://www.spanglobalservices.com/scripts/formmail"
                                    enctype="multipart/form-data"> <input name="subject" type="hidden"
                                        value="Contact Details from Span Global Services"> <input name="redirect_url"
                                        type="hidden" value="https://www.spanglobalservices.com/thanks">
                                    <div class=" form-row">
                                        <div class="col-lg-6 form-group"> <input type="text" name="fname"
                                                class="form-control" id="fname" placeholder="First Name*"> </div>
                                        <div class="col-lg-6 form-group"> <input type="text" name="lname"
                                                class="form-control" id="lname" placeholder="Last Name*"> </div>
                                        <div class="col-lg-6 form-group"> <input type="email" class="form-control"
                                                name="email" id="email" placeholder="Business Email*"> </div>
                                        <div class="col-lg-6 form-group"> <input type="text" class="form-control"
                                                name="phone" id="phone" placeholder="Phone*"> </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-lg-12 form-group">
                                            <div class="input-container"> <select name="contact" class="form-control">
                                                    <option value="">No. of contacts</option>
                                                    <option value="Less than 10k">Less than 10k</option>
                                                    <option value="10k-50k">10k-50k</option>
                                                    <option value="50k-100k">50k-100k</option>
                                                    <option value="100k+">100k+</option>
                                                </select> </div>
                                        </div>
                                    </div>
                                    <div class="form-group"> <textarea class="form-control " name="comments" rows="2"
                                            placeholder="Requirements"></textarea> </div>
                                    <div class="form-group"><button type="submit" class="circle-fa">CLICK HERE TO
                                            SUBMIT</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main> 
    {% endblock %}