{% extends 'base.html' %}

{% block content %}

  <main id="main">
   
   <!--?php include("includes/technology-email-list.php"); ?-->
   
  <!--?php include("includes/popular-list.php"); ?-->
  <section class="section-sec-50-40 " >
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center wow fadeInLeft">
            <div class="mx-700">
              <h2 class="shead-sblk mb-2">Want to Demonstrate Your Transformation Capabilities to Government Sector Decision Makers?</h2>
              <p>Find out how our lead-generation services are helping our clients engage and convert government decision-makers, policy influencers and government implementation agencies.</p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
 </section>

 <section class="section-sec-0-60 b2b-email-list-sec" >
      <div class="container">
        <div class="row">
          <div class="col-lg-5 mb-4 wow fadeInLeft">
          	<div class="dark-green ">
			<div>
               <h2>Increased Email Open Rates by 300% Among Government Sector Decision Makers </h2>
          	</div>
			</div>
          </div>
          <div class="col-lg-7 mt-3 mb-3 section-fpad wow fadeInLeft">
			<div class="row">
          		<div class="col-lg-12 mb-4 wow fadeInLeft">
                   <ul class="space-list-white">
                   	 <li>10,000+ Unique Government Sector Records Delivered</li> 
                     <li>Identified 7 Different Segments of Government Sector Contacts</li> 
                     <li>27% Increase in Click-through Rates in The Open Emails</li> 
                     <li>3X Improvements Experienced in Response From Government Sector Prospects</li>
                   </ul>
                </div>
            </div>
          </div>
        </div>
     </div>
 </section>

 <section class="section-sec-50-40 " >
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center wow fadeInLeft">
		  
          <h2 class="subhead-small-blk">The Client’s Interest in the Government Sector:</h2>
          <p>The client was a leading IT service provider specializing in government sector transformation projects.</p>
          <p>Span provided email records of IT Security professionals which included decision-makers from the government sector.</p>
          </div>
          <div class="clearfix"></div>
          </div>
        </div>
      </div>
 </section>

 <section class="section-sec-0-40 " >
      <div class="container">
        <div class="row">
          <div class="col-lg-4 mb-4 wow fadeInLeft">
             <div class="grey-box-con-1">
                <h4>Accurate list of decision-makers that included those with a keen interest in executing government sector projects.</h4>
                <p>Education : 3,581 unique records Finance : 1,211 unique records IT Consulting/Services - 749 unique records Telecommunication - 244 unique records
                </p>
                <p>Insurance - 515 unique records Medical - 801 unique records Manufacturing - 1,472 unique records </p>
            </div>
          </div>
          <div class="col-lg-4 mb-4 wow fadeInLeft">
             <div class="grey-box-con-1">
                <h4>Solved a key challenge by ensuring accurate delivery to the target government sector audience email IDs.</h4>
                <p>Accurate email delivery was ensured by matching the client’s existing CRM lead data with a refreshed and accurate list maintained by Affluence Business Inc lead data experts. </p>
                <p>Multiple email inaccuracies were solved and replaced with the individual’s present and updated contact details.</p>
            </div>
          </div>
          <div class="col-lg-4 mb-4 wow fadeInLeft">
             <div class="grey-box-con-1">
                <h4>A personalized nurture journey was launched through drip email marketing campaign targeting different government decision-makers.</h4>
                <p>Unique government audience segments were identified based on their current job titles, positions, and responsibilities.</p>
                <p>After their email IDs were identified and classified, the campaign team helped set up a unique nurture journey for each segment.</p>
            </div>
          </div>
          <div class="col-lg-12 text-center wow fadeInLeft">
                <div class="mb-4 mt-4">
                    <a href="#" data-toggle="modal" data-target="#send-message" data-title="Book Your Government Sector Lead-Gen Appointment" class="green-btn circle-fa">Connect With Our Government Sector Lead-Gen Experts to View More Case Studies &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a>
                </div>
          </div>
        </div>
      </div>
 </section>



  <section class="grey-sec-light pt-5 pb-5" >
      <div class="container pt-5 pb-5">
        <div class="row">
        
          <div class="col-lg-12 text-center mb-4 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
               <h2 class="shead-sblk mb-2">Knowledge is Power When it Comes to<br/>Government Sector Decision Maker Personas.</h2>
               <h4 class="normal-hblk mt-4">Push forward with insights on your government sector audiences.</h4>
               <h4 class="normal-hblk pb-4">Decode government sector decision maker purchase intent and project assistance required.</h4>
               
               <h2 class="shead-sblk mb-2">Few data fields included in our 110+ government sector insight categories:</h2>
               
          </div>
          
          <div class="col-lg-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
          <div class="dgreen-bg-list-outer">
          	<table class="dgreen-bg-list">
			<tbody>
                <tr>
                	<td>Technology Installed</td> 
					<td>Contact Name</td> 
					<td>Contact Title</td>
                    <td>Country</td>
                    <td>State</td>
			    </tr>
                <tr>
                	<td>Phone Number</td> 
					<td>SIC Code</td> 
					<td>LinkedIn Id</td>
                    <td>Email Address</td>
                    <td>Metro City</td>
			    </tr>
            </tbody>
            </table>
            
            <div class="text-center mt-5">
                <h2 class="shead-sblk mb-4">Sample overview of government sector audiences you can target:</h2>
            </div>
            
            <table class="dgreen-bg-list">
			<tbody>
                <tr>
                	<td>Federal Government</td> 
					<td>State Government</td> 
					<td>Local Administration</td>
                    <td>Foreign Affairs</td>
                    <td>Legal Affairs</td>
			    </tr>
                <tr>
                	<td>Healthcare Officials</td> 
					<td>Higher Education</td> 
					<td>IT and Procurement</td>
                    <td>Civic Planning</td>
                    <td>Public Safety</td>
			    </tr>
            </tbody>
            </table>
            
            <div class="text-center mt-5">
                <a href="/contact-us" class="green-btn circle-fa">Connect With Our Government Sector Lead Data Experts &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a>
            </div>
            
            
            
            </div>
           </div>
          
        </div>
       </div>
 </section>
  
  <section class="section-sec-0-60" >
      <div class="container">
        <div class="row">
          <div class="col-lg-7 section-fpad wow fadeInLeft">
		  
               <h2 class="subhead-small-blk">Helping you Partner with the People Who Call the Shots</h2>
                        
              <p style="text-align:Justify;">We help you connect with decision-makers who matter the most in government agencies, government departments, and public sector entities. With our government services decision maker’s data, you can quickly align your services that are geared towards ease of governance. </p> 
			   <p style="text-align:Justify;">This data is replete with contacts of top decision-makers, policymakers, and civil servants in the government function. By aligning your services you can aid governments to build a better working world for their citizens.</p> 
			   <p style="text-align:Justify;">This is a fast-paced world, with high-speed communication channels – where people demand change more rapidly. Citizen behavior and the patterns of engagement with the government have changed for good. This is attributed to digital technologies that have created environments for people to work in new ways, rely on futuristic services, and build high expectations on the amenities that they need on a day to-day basis.</p>
               
               <p style="text-align:Justify;">This has a ripple effect and poses new challenges for all organizations and creates added pressure on governments too to deliver. Relying on digital technologies is the way forward for governments to reach the kind of efficiency that is required for them to succeed.</p> 
			   <p style="text-align:Justify;">Affluence Business Inc Government sector decision-maker data help you to align your services towards digital technology adoption. Our data solutions also make the adoption of allied products and solutions a seamless process. By leveraging our Government Sector Decision maker data you are more enabled to help governments deliver better governance, achieve better outcomes for their citizens. Eventually this helps build sustainable working environments for government and public sector workers as well.</p>
               
               
               <p style="text-align:Justify;">We help you align your digital services for the government sector so that they can pass on better services to their citizens. Your services would enable them to optimize returns on public investment and help them develop smart infrastructure to help societies and economies function better. In essence, you help them deliver a robust governance model that promises citizen security and keeps strategic interests safe. With our government decision makers' data, we can help you drive meaningful conversations with people who matter the most in the government functionary and help them address their challenges head-on.

                </p>
                
                <div class="mb-4 mt-4">
                    <a href="#" data-toggle="modal" data-target="#send-message" class="green-btn circle-fa">Try Our Data Samples &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a>
                </div>
               
              
               
          </div>
          <div class="col-lg-5 mb-4 wow fadeInRight">
               <div class="mx-800">
				<div class="contact-side">
	<h4>GET A FREE QUOTE</h4>
	<p>We have got you covered on all your email and direct marketing needs</p>
    <div class="form">
         
			
		    <form name="f12" id="contact-form" action=" " method="post" onSubmit="return validationcon()" >
			<input type="hidden" name="returnURL" value=" ">
			<input name="title" type="hidden" value="Contact Request from Affluence Business Inc">


			  <div class=" form-row">
              	<div class="col-lg-6 form-group">
                	<div class="input-container">
                        <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name*">
                        <i class="fa fa-user icon"></i>
                    </div>
                </div>
                <div class="col-lg-6 form-group">
                	<div class="input-container">
                    	<input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name">
                        <i class="fa fa-user icon"></i>
                    </div>
              		
                </div>
              </div>
			  
			   <div class=" form-row">
              	<div class="col-lg-6 form-group">
                	<div class="input-container">
              			<input type="email" class="form-control" name="email" id="email" placeholder="Business Email*">
                    	<i class="fa fa-envelope icon"></i>
                    </div>
                </div>
                <div class="col-lg-6 form-group">
                	<div class="input-container">
              			<input type="text" class="form-control" name="phone" id="phone" placeholder="Business Phone*">
                        <i class="fa fa-phone icon"></i>
                    </div>
                </div>
              </div>
			
			
              <div class=" form-row">
              	
                <div class="col-lg-12 form-group">
                	<div class="input-container">
                		<input type="text" name="company" class="form-control" id="company" placeholder="Company Name*">
                        <i class="fa fa-briefcase icon"></i>
                    </div>
              		
                </div>
              </div>
			  
			   <div class=" form-row">
              	
                <div class="col-lg-12 form-group">
                	<div class="input-container">
                		
                        <select name="contact" class="form-control">
  <option value="">No. of contacts</option>
  <option value="Less than 10k">Less than 10k</option>
  <option value="10k-50k">10k-50k</option>
  <option value="50k-100k">50k-100k</option>
  <option value="100k+">100k+</option>
</select>
                    </div>
              		
                </div>
              </div>
            
              
              
              <div class="form-group">
              	<textarea class="form-control " name="comments" rows="1" placeholder="Message*"></textarea>
              </div>
              <div class="form-group">
              <label ><input name="newslettersubscribe" value="newslettersubscribe" checked="" type="checkbox"> I would like to subscribe to your Newsletter.</label>
              </div>
              
              <div class="form-group mt-4"><button type="submit" class="circle-fa" >Submit Data Counts and Quote Request &nbsp; <i class="fa icon ion-android-arrow-forward"></i></button></div>
          </form>
     </div>
</div>              </div>
              
               <div id="facts-gr" class="mt-4">
                 <div class="col-md-12">
                    <div class="row counters">
                          <div class="col-md-6 centeralign">
                            <div>
                                <span data-toggle="counter-up">296</span><span>M</span>
                            	<p>B2B Contacts</p>
                            </div>
                          </div>
                          <div class="col-md-6 centeralign">
                            <div>
                                <span data-toggle="counter-up">80</span><span>M</span>
                                <p>Decision <br/>
                                 Makers</p>
                            </div>
                          </div>
                          <div class="col-md-6 centeralign">
                            <div>
                                <span data-toggle="counter-up">15</span><span>+</span>
                                <p>Global Regulations<br/>
                                Complied</p>
                            </div>
                          </div>
                          <div class="col-md-6 centeralign">
                            <div>
                                <span data-toggle="counter-up">78</span>
                                <p>Core Database<br/>
                                 Fields</p>
                             </div>
                          </div>
                        </div>
                    </div>
                </div>
              
          
          </div>
          
          <div class="clearfix"></div>
          
          
          
          
      </div>
    </div>
  </section>
  
  <section class="grey-sec-light section-sec-0-60" >
      <div class="container">
        <div class="row">
          <div class="col-lg-6 pb-4 wow fadeInRight">
          	<img src="/static/assets/img/gov-sector-sub.jpg" alt="Gov Sector Decision Makers Data" class="respo-img mb-3" />
          </div>
          <div class="col-lg-6 pb-4 section-fpad mb-4 wow fadeInLeft centeralign">
          	<div>
                <h2 class="subhead-small-blk">Aligning your Services that are geared to Enable Good Governance  </h2>
                <p style="text-align:Justify;">We at Affluence Business Inc not only provide you with Government Decision maker’s data we help you run multichannel marketing campaigns, nurture campaigns, and drip campaigns. We also help you employ a slew of online marketing campaigns such as Google, PPC, and remarketing campaigns to reach out to and pitch your services to government agencies at the most appropriate time. </p>
				<p style="text-align:Justify;">Our focused digital campaigns for the government sector help you strike the right notes with government officials and build the right conversation with top government bureaucrats, ministers and policy makers. Our efforts just don’t stop here – we map the entire journey of your engagement with government sector prospects and also support you in crafting tailored and convincing content for all communications.</p>
                
                <p style="text-align:Justify;">We support you with intelligence at every step to know the priorities of your target government sector audience. Our data helps you uncover planning, implementation, and transformation needs based on what target government officials are researching online. Establish connections with officials who allocate budget spends, solicit competitive bids for projects – by helping them find the right-fit solutions. You can also dish out credible use cases for improving governance.</p>
                
                <p style="text-align:Justify;">You have a Business to Government Stakeholder Targeting (B2G) need – think no further than Affluence Business Inc. </p>
                
                 <div class="mb-4 mt-4">
                    <a href="#" data-toggle="modal" data-target="#send-message" class="green-btn circle-fa">Get Data Counts & Price! &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a>
                </div>
                
            </div>
          </div>
        </div>
      </div>
 </section>

 
  

 
 <section class="free-quote-sec" >
      <div class="container">
      <div class="row">
      	  <div class="col-lg-5 wow fadeInRight centeralign">
          	<div>
          	<h2>GET A FREE QUOTE</h2>
            <p>Finding the right data can be<br/> 
			complicated, so we are here to help </p>
            </div>
          </div>
          <div class="col-lg-7 wow fadeInRight">
            <div class="contact-quote">
    <div class="form">
          <form method="post" name="contactside" class="contactForm" onsubmit="return fnValidationContactside()" action=" " enctype="multipart/form-data">
            <input name="subject" type="hidden" value="Contact Details from Affluence Business Inc">
            <input name="redirect_url" type="hidden" value=" ">
              <div class=" form-row">
              	<div class="col-lg-6 form-group">
              		<input type="text" name="fname" class="form-control" id="fname" placeholder="First Name*">
                </div>
                <div class="col-lg-6 form-group">
              		<input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name*">
                </div>
                <div class="col-lg-6 form-group">
                	<input type="email" class="form-control" name="email" id="email" placeholder="Business Email*">              		
                </div>
                <div class="col-lg-6 form-group">
                	<input type="text" class="form-control" name="phone" id="phone" placeholder="Phone*">            		
                </div>
              </div>
			  
			     <div class="form-row">
              	
                <div class="col-lg-12 form-group">
                	<div class="input-container">
                		
                        <select name="contact" class="form-control">
  <option value="">No. of contacts</option>
  <option value="Less than 10k">Less than 10k</option>
  <option value="10k-50k">10k-50k</option>
  <option value="50k-100k">50k-100k</option>
  <option value="100k+">100k+</option>
</select>
                    </div>
              		
                </div>
              </div>
                            
              <div class="form-group">
              	<textarea class="form-control " name="comments" rows="2" placeholder="Requirements"></textarea>
              </div>
              <div class="form-group"><button type="submit" class="circle-fa" >CLICK HERE TO SUBMIT</button></div>
          </form>
     </div>
</div>          </div>
      </div>
      </div>
</section>
   
    
  </main>

  {% endblock %}


  
  