<!DOCTYPE html>
<html lang="en">

<head>



  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Buy B2B Email List | 100% Opt-in B2B Email Database | </title>
<meta name="description" content="The quality of your B2B email list can make or break your campaign. So, trust accurate and verified contact data from Span Global Services."/>
<meta name="keywords" content="B2B Email List, B2B Email DataBase, B2B Email Leads, B2B Email List Providers, Buy Business Contact Lists, B2B Email Marketing Lists, B2B Email Addresses, B2B Email Data, B2B Mailing Lists, B2B Contact Lists, Buy B2B Email Lists"/>
<meta name="robots" content="index, follow" />
<link rel="canonical" href="/b2b-email-list"/>
<!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="/b2b-email-list">
  <meta property="og:title" content="Buy B2B Email List | 100% Opt-in B2B Email Database | SGS">
  <meta property="og:description" content="The quality of your B2B email list can make or break your campaign. So, trust accurate and verified contact data from Span Global Services.">
  <meta property="og:image" content="/static/assets/img/new-affluence-logo.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="/b2b-email-list">
  <meta property="twitter:title" content="Buy B2B Email List | 100% Opt-in B2B Email Database | SGS">
  <meta property="twitter:description" content="The quality of your B2B email list can make or break your campaign. So, trust accurate and verified contact data from Span Global Services.">
  <meta property="twitter:image" content="/static/assets/img/logo.png">

<link rel="alternate" hreflang="en-US" href="/b2b-email-list"/>

  <!-- Favicons -->
  <link href="/static/assets/img/icon/logo-icon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet" disabled>
  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="all">
  <link href="/static/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" defer>
  <link href="/static/assets/vendor/ionicons/css/ionicons.min.css" rel="stylesheet" defer>
  <link href="/static/assets/vendor/animate.css/animate.min.css" rel="stylesheet" media="all">
  <link href="/static/assets/vendor/venobox/venobox.css" rel="stylesheet" media="all">
  <link href="/static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet" media="all">
  <link href="/static/assets/css/style.css" rel="stylesheet" media="all">

	<style>
  .crypto-head {
    background-color: green;
    color: white;
    margin-top: 0px;
  }

  .crypto-head p {
    color: white;
    font-size: 16px;
    text-align: left;
    padding-top: 6px;
  }

  #header {
    padding: 0px 0;
  }

  #header .crypto-head .div-hd {
    margin-top: 6px;

    float: left;
    margin-left: 300px;
  }

  #header .crypto-head .div-hd img {
    padding-left: 16px;
  }

  @media screen and (max-width:768px) {
    #header .crypto-head .div-hd {
      display: none;
    }

    .crypto-head p {
      color: white;
      font-size: 12px;
      text-align: center;
      padding-top: 4px;
      margin-left: 0px;
    }
  }
</style>
    <style>
        .nav-menu .high-text a {
            color: #036532;
            font-weight: bold;
            font-size: 13px;
        }

        .nav-menu ul li a {
            padding: 7px;
        }

        .nav-menu ul li ul li a {
            padding: 7px;
        }

        .nav-menu ul li ul li a:hover {
            padding: 7px;
            background-color: #1e8c09;
            ;
            color: #fff;
        }

        .nav-menu ul li ul {
            margin: 0;
            padding: 0px;
        }
    </style>
{% block extra_css %}

    {% endblock %}
</head>

<body>




<div class="hs">
  <header id="header">
    <div class="container-fluid crypto-head">


    </div>
    <div class="container-fluid">
<!--      <div class="top-right-contact">-->
<!--        <span class="top-phone">-->
<!--          <a href="tel:307-213-7098" class="big-text">307-213-7098</a>-->
<!--          <a href="mailto:steve@affluencebizdata.com" class="small-text">steve@affluencebizdata.com </a>-->
<!--        </span>-->
<!--      </div>-->

      <div class="clearfix"></div>

      <div id="logo" class="pull-left">
        <a href="/" alt="Span Global Services" title="Span Global Services"><img src="/static/assets/img/new-affluence-logo.png" alt="Span Global Services Logo"></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-has-children"><a href="#">Company</a>
            <ul>
              <li><a href="/about-us/">About Us</a></li>

            </ul>
          </li>
          <li class="menu-has-children"><a href="/email-lists/">Our Data</a>
            <ul>
              <li><a href="/total-addressable-market/"><img src="/static/assets/img/Total-Addressable-Market.png" alt="Total-Addressable-Market">&nbsp;Total Addressable Market</a></li>
              <li><a href="/b2b-email-list/"><img src="/static/assets/img/B2B-Sales-Leads.png" alt="B2B-Sales-Leads">&nbsp;B2B Sales Leads</a></li>
              <li><a href="/investors-email-list/"><img src="/static/assets/img/Industry-Wise-Data.png" alt="Investors emaillist">&nbsp;Investors Email List</a></li>
              <li class="menu-has-children"><a href="/technology-lists/"><img src="/static/assets/img/Technology-Data.png" alt="Technology-Data">&nbsp;Technology Data</a>
                <ul>
                  <li><a href="/as-400-users-list/">&#9656;&nbsp;AS/400 Users List</a>
                  </li>
                  <li><a href="/amazon-web-services-users-list/">&#9656;&nbsp;AWS Users List</a>
                  </li>
                  <li><a href="/crm-users-list/">&#9656;&nbsp;CRM Users List</a>
                  </li>
                  <li><a href="/erp-users-list/">&#9656;&nbsp;ERP Users List</a>
                  </li>
                  <li><a href="/ms-dynamics-crm-users-list/">&#9656;&nbsp;MS Dynamics Users List</a>
                  </li>
                  <li><a href="/peoplesoft-users-list/">&#9656;&nbsp;PeopleSoft Users List</a>
                  </li>
                  <li><a href="/quickbooks-users-list/">&#9656;&nbsp;QuickBooks Users List</a>
                  </li>
                  <li><a href="/salesforce-crm-users-list/">&#9656;&nbsp;Salesforce users list</a>
                  </li>
                  <li><a href="/sap-users-list/">&#9656;&nbsp;SAP Users List</a>
                  </li>
                  <li class="high-text"><a href="/technology-lists/">&#9656;&nbsp;And More!</a>
                  </li>
                </ul>
              </li>

              <li class="menu-has-children"><a href="/professional-lists/"><img src="/static/assets/img/Professionals-Data.png" alt="Professionals-Data">&nbsp;Professionals Data</a>
                <ul>
                  <li><a href="/cpa-email-list/">&#9656;&nbsp; Accountants Email List</a>
                  </li>
                  <li><a href="/attorney-email-list/">&#9656;&nbsp;Attorney Email List </a></li>
                  <li><a href="/ceo-email-list/">&#9656;&nbsp;CEO Email List</a></li>
                  <li><a href="/cfo-email-list/">&#9656;&nbsp;CFO Email list</a></li>
                  <li><a href="/cio-email-list/">&#9656;&nbsp;CIO Email List</a></li>
                  <li><a href="/cmo-email-list/">&#9656;&nbsp;CMO Email List </a></li>
                  <li><a href="/cto-email-list/">&#9656;&nbsp;CTO Email List </a></li>
                  <li><a href="/hr-executives-mailing-list/">&#9656;&nbsp;HR Email List </a></li>
                  <li><a href="/loan-officer-email-list/">&#9656;&nbsp;Loan Officers Email List</a></li>
                  <li class="high-text"><a href="/professional-lists/">&#9656;&nbsp;And More! </a></li>

                </ul>
              </li>
              <li class="menu-has-children"><a href="/industry-wise-lists/"><img src="/static/assets/img/Industry-Wise-Data.png" alt="Industry-Wise-Data">&nbsp;Industry Wise Data</a>
                <ul>
                  <li><a href="/automotive-industry-email-list/">&#9656;&nbsp; Automotive Industry </a></li>
                  <li><a href="/banking-and-finance-industry-email-list">&#9656;&nbsp; Banking & Finance Industry </a></li>
                  <li><a href="/oil-and-gas-industry-email-list">&#9656;&nbsp; Oil & Gas Industry </a></li>
                  <li><a href="/real-estate-industry-email-list">&#9656;&nbsp; Real Estate Industry </a></li>
				  <li><a href="/manufacturing-industries-email-list">&#9656;&nbsp; Manufacturing Industry </a></li>
                  <li class="high-text"><a href="/industry-wise-lists/">&#9656;&nbsp;And More! </a></li>
                </ul>
              </li>
              <li class="menu-has-children"><a href="/healthcare-lists/"><img src="/static/assets/img/Healthcare-Data.png" alt="Healthcare-Data">&nbsp;Healthcare Data</a>
                <ul>
                  <li><a href="/dentists-email-list">&#9656;&nbsp; Dentists Email List </a></li>
                  <li><a href="/hospital-email-list">&#9656;&nbsp; Hospital Email List </a></li>
                  <li><a href="/nurses-email-list">&#9656;&nbsp; Nurses Email List </a></li>
                  <li><a href="/physician-email-list">&#9656;&nbsp; Physicians Email List </a></li>
                  <li class="high-text"><a href="/healthcare-lists/">&#9656;&nbsp;And More! </a></li>
                </ul>
              </li>
              <li><a href="/gov-sector-decision-makers-data/"><img src="/static/assets/img/Govt-Sector-Data.png" alt="Govt-Sector-Data">&nbsp;Govt Sector Data</a></li>
              <li class="menu-has-children"><a href="/geo-targeted-lists/"><img src="/static/assets/img/Geo-Targeted-Data.png" alt="Geo-Targeted-Data">&nbsp;Geo Targeted Data</a>
                <ul>
                  <li><a href="/usa-business-email-list/">&#9656;&nbsp; USA Business Email List </a></li>
                  <li><a href="/canada-business-email-list/">&#9656;&nbsp; Canada Business Email List </a></li>
                  <li><a href="/uk-business-email-list/">&#9656;&nbsp; UK Business Email List </a></li>
                  <li><a href="/australia-business-email-list/">&#9656;&nbsp; Australia Business Email List </a></li>
                  <li class="high-text"><a href="/geo-targeted-lists/">&#9656;&nbsp;And More! </a></li>
                </ul>
              </li>

            </ul>
          </li>

          <li class="menu-has-children"><a href="#">Enhance</a>
            <ul>
              <li><a href="/email-appending/">Email Append</a></li>
              <li><a href="/data-appending/">Data Append</a></li>
              <li><a href="/data-verification/">Data Verification</a></li>
              <li><a href="/data-profiling/">Data Profiling</a></li>
              <li><a href="/data-intelligence/">Data Management</a></li>
              <li><a href="/data-cleansing/">Data Cleansing</a></li>
            </ul>
          </li>
          
          
          <li><a href="/contact-us/" class="scrollto">Contact Us</a></li>
<!--          <li><a href="/datasets"><img src="/static/assets/img/Explore-Data-Card.gif" alt="Explore Data Card" title="Explore Data Card" class="respo-img"></a></li>-->
        </ul>
      </nav>
    </div>
    <div class="clearfix"></div>

  </header>
</div>
