{% extends 'base.html' %}

{% block content %}
    <section class="inner-banner healthcare-list-banner">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-3 wow fadeInLeft"></div>
                    <div class="col-lg-6 mb-3 wow fadeInLeft">
                        <h1>Client-Centric Healthcare Mailing Database</h1>
                        <p>Turn healthcare executives, from strangers to your customers, with our healthcare email
                            lists’ 100% accurate data.</p>
                        <div class="mt-4"> <a href="#" data-toggle="modal" data-target="#send-message"
                                class="white-br-btn circle-fa">Book Your Data &nbsp; <i
                                    class="fa icon ion-android-arrow-forward"></i></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <main id="main">
        <section class="section-sec-0-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 section-fpad wow fadeInLeft">
                        <h2 class="subhead-small-blk mb-2">Want a Bite of the Multi-Trillion Dollar Pie? Choose Span
                            Global Services and Ace Healthcare Marketing</h2>
                        <p style="text-align:Justify;">The Covid-19 pandemic transformed the world in ways we still
                            haven’t been able to comprehend. However, it laid one of its biggest brunt on the healthcare
                            industry, ripping through it like a bittersweet sword. While medical units worldwide
                            suffered a blow they could’ve never anticipated; healthcare evolved to be ever so efficient
                            as well. When considering this in terms of sheer numbers, the amount of profits a marketer
                            can accrue is larger-than-life. However, you will need a robust <strong>Healthcare Email
                                Database</strong> to get this job done.</p>
                        <p style="text-align:Justify;">Even before the deadly virus arrived, the healthcare sector
                            boasted an $8.5 trillion value in 2018. Today, it is projected to be approximately $10
                            trillion by 2022, housing over 784,000 companies in the USA alone. Are your marketing senses
                            tingling already? Well, to catch the bigger fish, you need a giant net, don’t you? </p>
                        <p style="text-align:Justify;">The sheer amount of American healthcare companies translates to a
                            gamut of professionals whom you can target. From C-level executives of health organizations
                            to doctors, physicians, chiropractors, surgeons, pharmacists, nurses, and chemists, the list
                            is endless. </p>
                        <p style="text-align:Justify;">How a surgeon can’t operate without the right tools, you can’t
                            successfully market amidst this goldmine if you don’t possess the correct avenues. The
                            appropriate data, in-depth customer details, and even more so, maintaining the genuineness
                            of all the information. If these worry you, Affluence Business Inc has the best treatment –
                            our <strong>Healthcare Mailing List</strong>.</p>
                        <div class="mt-4"> <a href="#" data-toggle="modal" data-target="#send-message"
                                class="green-btn circle-fa">Purchase Healthcare Data Now! &nbsp; <i
                                    class="fa icon ion-android-arrow-forward"></i></a> </div>
                    </div>
                    <div class="col-lg-5 wow fadeInRight">
                        <div class="mx-800">
                            <div class="contact-side">
                                <h4>GET A FREE QUOTE</h4>
                                <p>We have got you covered on all your email and direct marketing needs</p>
                                <div class="form">
                                    <form name="f12" id="contact-form"
                                        action=" " method="post"
                                        onSubmit="return validationcon()"> <input type="hidden" name="returnURL"
                                            value=" "><input name="title"
                                            type="hidden" value="Contact Request from Affluence Business Inc">
                                        <div class=" form-row">
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="text" name="fname"
                                                        class="form-control" id="fname" placeholder="First Name*"> <i
                                                        class="fa fa-user icon"></i> </div>
                                            </div>
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="text" name="lname"
                                                        class="form-control" id="lname" placeholder="Last Name"> <i
                                                        class="fa fa-user icon"></i> </div>
                                            </div>
                                        </div>
                                        <div class=" form-row">
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="email" class="form-control"
                                                        name="email" id="email" placeholder="Business Email*"> <i
                                                        class="fa fa-envelope icon"></i> </div>
                                            </div>
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="text" class="form-control"
                                                        name="phone" id="phone" placeholder="Business Phone*"> <i
                                                        class="fa fa-phone icon"></i> </div>
                                            </div>
                                        </div>
                                        <div class=" form-row">
                                            <div class="col-lg-12 form-group">
                                                <div class="input-container"> <input type="text" name="company"
                                                        class="form-control" id="company" placeholder="Company Name*">
                                                    <i class="fa fa-briefcase icon"></i> </div>
                                            </div>
                                        </div>
                                        <div class=" form-row">
                                            <div class="col-lg-12 form-group">
                                                <div class="input-container"> <select name="contact"
                                                        class="form-control">
                                                        <option value="">No. of contacts</option>
                                                        <option value="Less than 10k">Less than 10k</option>
                                                        <option value="10k-50k">10k-50k</option>
                                                        <option value="50k-100k">50k-100k</option>
                                                        <option value="100k+">100k+</option>
                                                    </select> </div>
                                            </div>
                                        </div>
                                        <div class="form-group"> <textarea class="form-control " name="comments"
                                                rows="1" placeholder="Message*"></textarea> </div>
                                        <div class="form-group"> <label><input name="newslettersubscribe"
                                                    value="newslettersubscribe" checked="" type="checkbox"> I would like
                                                to subscribe to your Newsletter.</label> </div>
                                        <div class="form-group mt-4"><button type="submit" class="circle-fa">Submit Data
                                                Counts and Quote Request &nbsp; <i
                                                    class="fa icon ion-android-arrow-forward"></i></button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
        <section class="grey-sec-light">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 mb-4 wow fadeInLeft">
                        <div class="pad-sec">
                            <h2 class="subhead-small-blk mb-2">Tired of Carrying the Entire Weight of Your Marketing?
                                Let Us Help You Shed it Off!</h2>
                            <p style="text-align:Justify;">Trying to connect with vital decision-makers and
                                professionals of such a vast industry is undoubtedly tedious. That’s why we offer these
                                benefits with our <strong>Healthcare Email Database</strong> so that your team can only
                                focus on creating attractive messages: -</p>
                            <ul class="space-list">
                                <li> 95% deliverable data to conduct marketing across an array of channels</li>
                                <li>100% accurate customer-centric insights to rest assured about your campaigning</li>
                                <li>Segmentation based on specialists to target particular healthcare audiences</li>
                                <li>Ethically-sourced data from online surveys, business cards, press conferences, etc.
                                </li>
                                <li>Data cleansing, appending, and vetting to maintain relevance</li>
                                <li>Over 296M B2B contacts to never miss an opportunity</li>
                            </ul>
                            <p style="text-align:Justify;">Why wait? Connect with us today and embrace the real power of
                                deep-data intelligence!</p>
                            <div class="mb-4 mt-4"> <a href="/contact-us/"
                                    class="dgreen-btn circle-fa">Explore Healthcare Email List Now! &nbsp; <i
                                        class="fa icon ion-android-arrow-forward"></i></a> </div>
                        </div>
                    </div>
                    <div class="col-lg-6 geotargeted-list-sgs wow fadeInRight"> </div>
                </div>
            </div>
        </section>
        <section class="grey-sec-light-01">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 wow fadeInRight"><img
                            src="/static/assets/img/custom-built-email-database.jpg"
                            class="respo-img" title="Healthcare Lists" alt="Healthcare Lists" /></div>
                    <div class="col-lg-6 pt-5 pb-5 mt-3 wow fadeInLeft">
                        <h2 class="subhead-small-blk mb-2">Your Wishes? Our Commands! Let Our Healthcare Mailing
                            Database Work for You. </h2>
                        <p style="text-align:Justify;">Whether you want to market your offerings to medical consumers or
                            engage with CEOs, CTOs, COOs, CFOs, Directors, etc., of healthcare companies, our
                            <strong>Healthcare Email List</strong> is your go-to option. Our database houses the most
                            extensive, triple-vetted, responsive insights that help you quickly converse with these
                            tough-to-reach professionals. How? Here’s how.</p>
                        <p style="text-align:Justify;">Our <a href="#/"
                                title="Mailing List"><strong>mailing list</strong></a> will equip you with intricate
                            contact details, whether it’s an organization or a medical professional. These will include
                            data fields about their name, mailing address, SIC code, ZIP code, employee size, revenue,
                            social profile, geographical location, and more. Thus, you can access precise data, create
                            messages accordingly, and convert leads quicker than your competitors.</p>
                        <div class="mt-4"> <a href="/request-quote"
                                class="dgreen-btn circle-fa">Request A Quote &nbsp; <i
                                    class="fa icon ion-android-arrow-forward"></i></a> </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-sec-0-60 healthcare-inner-text-bg">
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-5 mb-4 wow fadeInLeft">
                        <div class="dark-green ">
                            <h2>You Can Trust Us with Your B2B Marketing Success</h2>
                        </div>
                    </div>
                    <div class="col-lg-7 section-fpad wow fadeInLeft">
                        <h2 class="subhead-small-blk mb-2">Affluence Business Inc Focuses on Who You Want, More than who
                            You Are.</h2>
                        <p style="text-align:Justify;">Whether you’re a start-up or a decade-old marketer, to us, you’re
                            equal. That’s why we have devised a <strong>Healthcare Email Database</strong> that is
                            extremely affordable and offers all solutions under a single roof. Thus, you save a lot of
                            time and change in your pocket while getting the work done seamlessly.</p>
                        <p style="text-align:Justify;">Moreover, our focus lies on your bridging the gap between you and
                            your target audience. Thus, our experts collate holistic data that transcends boundaries.
                            Whether you wish to engage with an American user base or establish your brand presence
                            across the Middle East, Europe, Asia, the UK, or the USA, we have you covered.</p>
                    </div>
                </div>
            </div>
        </section>
        </div>
        </div>
        </section>
        <section class="section-sec-50-40 ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 wow fadeInLeft">
                        <h2 class="subhead-small-blk mb-2">Maintain a Balanced Blood Pressure; Let Us Eliminate Your
                            Pain Points within a Jiffy!</h2>
                        <p style="text-align:Justify;">As we rapidly progress towards a hi-tech age, no industry is
                            leaving any stone unturned when adapting to new norms. While Covid-19 taught us that
                            normality can be changed within days, it also brought on the “trend” of quickly adapting in
                            the face of adversity. The healthcare world has been no stranger to this.</p>
                        <p style="text-align:Justify;">According to Deloitte US, this particular sector is quickly
                            evolving. 5G, Cloud computing, AI, Internet of Medical Things (IoMT), Data-as-a-Platform
                            (DaaP), etc., are already transforming this sphere by infusing technology. As a result,
                            virtual healthcare is quickly becoming a reality, and to properly conquer this industry, you
                            must adapt as a marketer. </p>
                        <p style="text-align:Justify;">Instead of banking on spray-and-pray emails and desperate
                            outreaching, rely on data intelligence. Our <strong>healthcare email list</strong> at Span
                            Global Services amalgamates intelligent customer insights with years of industry expertise
                            to bring you the best solution. With us, you access a regularly-updated databank that houses
                            new contacts, allowing you to engage with prospects who’ve hopped on the virtual healthcare
                            train, as well as the traditional medical organizations. </p>
                        <p style="text-align:Justify;">Moreover, our lists also support CRM-integrations and quick
                            segmentations. Hence, you can incorporate our database into your pre-existing business model
                            or partner with our experts to customize your list based on who you want to target. With
                            such high-performing information, you can quickly engage with healthcare professionals
                            without intermediaries, removing all hurdles between your organization and its campaigning
                            success.</p>
                        <div class="mb-4 mt-4"> <a href="/connect-with-us"
                                class="dgreen-btn circle-fa">Grab Healthcare Marketing Data Now! &nbsp; <i
                                    class="fa icon ion-android-arrow-forward"></i></a> </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-sec lighter-grey">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 wow fadeInLeft">
                        <h2 class="subhead-small-blk ">Our Healthcare Email List by Specialty:</h2>
                    </div>
                    <div class="col-lg-12 wow fadeInLeft">
                        <div class="dgreen-bg-list-outer tab-scroll">
                            <table class="dgreen-bg-list">
                                <tr>
                                    <td><a href="/addiction-counselors-email-list"
                                            title="Addiction Counselors Directory">Addiction Counselors Directory</a>
                                    </td>
                                    <td><a href="/cosmetologists-email-list"
                                            title="Cosmetologists Mailing Database">Cosmetologists Mailing Database</a>
                                    </td>
                                    <td><a href="/gynecologists-email-list"
                                            title="Gynecologists Mailing Addresses">Gynecologists Mailing Addresses</a>
                                    </td>
                                    <td><a href="/asthma-specialist-email-list"
                                            title="List of Asthma Specialists">List of Asthma Specialists</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/obstetrics-email-list"
                                            title="Obstetrics Email List">Obstetrics Email List</a></td>
                                    <td><a href="/anesthetists-email-list"
                                            title="Anesthetists Email List">Anesthetists Mailing Addresses</a></td>
                                    <td><a href="/hospital-executives-email-list"
                                            title="Hospital Executives Email List">Hospital Executives Email
                                            Directory</a></td>
                                    <td><a href="/cardiologists-email-list"
                                            title="Cardiologists Mailing List">Cardiologists Mailing List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/oncologists-email-list"
                                            title="Oncologists Email List">Oncologists Email List</a></td>
                                    <td><a href="/deputy-medical-director-email-list"
                                            title="Deputy Medical Director Email list">Deputy Medical Director Email
                                            List</a></td>
                                    <td><a href="/family-marital-therapists-email-list"
                                            title="Family/Marital Therapists Email List">Family/Marital Therapists Email
                                            List</a></td>
                                    <td><a href="/hospital-email-list"
                                            title="Hospital Email List">Hospital Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/internal-medicine-email-list"
                                            title="Internal Medicine Sales Leads">Internal Medicine Sales Leads</a></td>
                                    <td><a href="/hipaa-compliance-managers-email-list"
                                            title="Hipaa Compliance Managers Contacts">HIPAA Compliance Managers
                                            Contacts</a></td>
                                    <td><a href="/naturopathic-physicians-email-list"
                                            title="Naturopathic Physicians Email Leads">Naturopathic Physicians Email
                                            Leads</a></td>
                                    <td><a href="/family-practice-director-email-list"
                                            title="List of Family Medicine Directors">List of Family Medicine
                                            Directors</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/gastroenterology-director-email-list"
                                            title="Gastroenterology Directors Database">Gastroenterology Directors
                                            Database</a></td>
                                    <td><a href="/chief-medical-officer-email-list"
                                            title="Chief Medical Officer Email Adresses">Chief Medical Officer Email
                                            Addresses</a></td>
                                    <td><a href="/hospital-office-managers-email-list"
                                            title="Mailing List of Hospital Office Manager">Mailing List of Hospital
                                            Office Managers</a></td>
                                    <td><a href="/orthopedists-email-list"
                                            title="Orthopedists Contact List">Orthopedists Contact List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/psychiatrists-email-list"
                                            title="Psychiatrists Marketing List">Psychiatrists Marketing List</a></td>
                                    <td><a href="/internists-email-list"
                                            title="Internist's Email Leads">Internist's Email Leads</a></td>
                                    <td><a href="/massage-therapists-email-list"
                                            title="Massage Therapists Email List">Massage Therapists Email List</a></td>
                                    <td><a href="/pharmaceutical-email-list"
                                            title="Pharmaceutical Email List">Pharmaceutical Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/infection-control-directors-email-list"
                                            title="Infection Control Director Email List">Infection Control Directors
                                            Database</a></td>
                                    <td><a href="/icu-directors-email-list"
                                            title="ICU Directors Email List">ICU Directors Mailing Addresses</a></td>
                                    <td><a href="/plastic-surgeons-email-list"
                                            title="Plastic Surgeons Email List">Mailing List of Plastic Surgeons</a>
                                    </td>
                                    <td><a href="/chiropractor-email-list"
                                            title="Chiropractors Email List">Chiropractors Contact Database</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/hospital-decision-makers-email-list"
                                            title="Hospital Decision Makers Email List">Hospital Decision Makers
                                            Directory</a></td>
                                    <td><a href="/nurses-email-list"
                                            title="Nurses Email List">Nurses Email List</a></td>
                                    <td><a href="/pathologists-email-list"
                                            title="Mailing List of Pathologists">Mailing List of Pathologists</a></td>
                                    <td><a href="/physical-therapists-email-list"
                                            title="Physical Therapist Email List">Physical Therapist Email Addresses</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="/orthopedic-surgeons-email-list"
                                            title="Orthopedic Surgeons Email List">Orthopedic Surgeons Database</a></td>
                                    <td><a href="/medical-and-hospital-equipments-email-list"
                                            title="Medical and Hospital Equipments">List of Medical and Hospital
                                            Equipments</a></td>
                                    <td><a href="/physician-email-list"
                                            title="Physician Email List">Physician Email List</a></td>
                                    <td><a href="/healthcare-executives-email-list"
                                            title="Healthcare Executives Email List">Healthcare Executives Mailing
                                            Database</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/physician-assistant-email-list"
                                            title="Physician Assistant Email List">Physician Assistant Email
                                            Directory</a></td>
                                    <td><a href="/neurologists-email-list"
                                            title="Neurologists Email List">Mailing List of Neurologists</a></td>
                                    <td><a href="/dermatologists-email-list"
                                            title="Dermatologists Email List">Dermatologists Mailing Addresses</a></td>
                                    <td><a href="/geriatric-services-directors-email-list"
                                            title="Geriatric Services Directors Email List">List of Geriatric Services
                                            Directors</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/cancer-specialists-email-list"
                                            title="Cancer Specialist Mailing Database">Cancer Specialist Mailing
                                            Database</a></td>
                                    <td><a href="/hc-payer-and-provider-email-list"
                                            title="List of HC Payer And Provider">List of HC Payer And Provider</a></td>
                                    <td><a href="/pediatricians-email-list"
                                            title="Pediatricians Mailing List">Pediatricians Mailing List</a></td>
                                    <td><a href="/pharmacy-director-email-list"
                                            title="Pharmacy Director Contact Database">Pharmacy Director Contact
                                            Database</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/veterinarians-email-list"
                                            title="Veterinarians Email Leads">Veterinarians Email Leads</a></td>
                                    <td><a href="/infection-control-directors-email-list"
                                            title="List of Infection Control Directors">List of Infection Control
                                            Directors</a></td>
                                    <td><a href="/ailments-email-list"
                                            title="Ailments Email List">Ailments Email List</a></td>
                                    <td><a href="/allergy-Immunology-nurses-email-list"
                                            title="Allergy Immunology Nurses Email List">Allergy Immunology Nurses Email
                                            List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/arthritis-specialist-email-list"
                                            title="Arthritis Specialist Email List">Arthritis Specialist Email List</a>
                                    </td>
                                    <td><a href="/athletic-therapists-email-list"
                                            title="Athletic Therapist Email List">Athletic Therapist Email List</a></td>
                                    <td><a href="/audiologists-email-and-mailing-list"
                                            title="Audiologists Email and Mailing List">Audiologists Email and Mailing
                                            List</a></td>
                                    <td><a href="/bariatrician-email-list"
                                            title="Bariatrician Email List">Bariatrician Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/clinical-lab-scientists-email-list"
                                            title="Clinical Lab Scientists Email List">Clinical Lab Scientists Email
                                            List</a></td>
                                    <td><a href="/dental-laboratories-email-list"
                                            title="Dental Laboratories Email List">Dental Laboratories Email List</a>
                                    </td>
                                    <td><a href="/denturists-email-and-mailing-list"
                                            title="Ailments Email List">Denturists Email and Mailing List</a></td>
                                    <td><a href="/diabetes-specialists-email-list"
                                            title="Allergy Immunology Nurses Email List">Diabetes Specialists Email
                                            List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/diagnostic-radiologists-email-and-mailing-list"
                                            title="Diagnostic Radiologists Email and Mailing List">Diagnostic
                                            Radiologists Email and Mailing List</a></td>
                                    <td><a href="/dialysis-nurses-email-and-mailing-list"
                                            title="Dialysis Nurses Email and Mailing List">Dialysis Nurses Email and
                                            Mailing List</a></td>
                                    <td><a href="/emergency-medicine-specialists-email-and-mailing-list"
                                            title="Emergency Medicine Specialists Email and Mailing List">Emergency
                                            Medicine Specialists Email and Mailing List</a></td>
                                    <td><a href="/endocrinologists-email-list"
                                            title="Endocrinologists Email List">Endocrinologists Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/ent-specialist-email-list"
                                            title="ENT Specialist Email List">ENT Specialist Email List</a></td>
                                    <td><a href="/gastroenterologists-email-and-mailing-list"
                                            title="Gastroenterologists Email and Mailing List">Gastroenterologists Email
                                            and Mailing List</a></td>
                                    <td><a href="/general-surgeons-email-and-mailing-list"
                                            title="General Surgeons Email and Mailing List">General Surgeons Email and
                                            Mailing List</a></td>
                                    <td><a href="/global-physician-email-list"
                                            title="Global Physician Email List">Global Physician Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/heart-disease-specialist-email-list"
                                            title="Heart Disease Specialist Email List">Heart Disease Specialist Email
                                            List</a></td>
                                    <td><a href="/hematologist-email-list"
                                            title="Hematologist Email List">Hematologist Email List</a></td>
                                    <td><a href="/hmo-and-ppo-managers-email-and-mailing-list"
                                            title="HMO and PPO Managers Email and Mailing List">HMO and PPO Managers
                                            Email and Mailing List</a></td>
                                    <td><a href="/home-healthcare-providers-email-and-mailing-list"
                                            title="Home Healthcare Providers Email and Mailing List">Home Healthcare
                                            Providers Email and Mailing List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/hospital-administrators-email-and-mailing-list"
                                            title="Hospital Administrators Email and Mailing List">Hospital
                                            Administrators Email and Mailing List</a></td>
                                    <td><a href="/hospital-hr-directors-email-list"
                                            title="Hospital HR Directors Email List">Hospital HR Directors Email
                                            List</a></td>
                                    <td><a href="/hypnotists-email-and-mailing-list"
                                            title="Hypnotists Email and Mailing List">Hypnotists Email and Mailing
                                            List</a></td>
                                    <td><a href="/iv-infusion-therapy-providers-email-list"
                                            title="IV Infusion Therapy Providers Email List">IV Infusion Therapy
                                            Providers Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/medical-geneticist-email-list"
                                            title="Medical Geneticist Email List">Medical Geneticist Email List</a></td>
                                    <td><a href="/neurosurgeons-email-list"
                                            title="Neurosurgeons Email List">Neurosurgeons Email List</a></td>
                                    <td><a href="/nurse-managers-email-and-mailing-list"
                                            title="Nurse Managers Email and Mailing List">Nurse Managers Email and
                                            Mailing List</a></td>
                                    <td><a href="/nursing-home-operators-email-and-mailing-list"
                                            title="Nursing Home Operators Email and Mailing List">Nursing Home Operators
                                            Email and Mailing List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/nursing-homes-email-list"
                                            title="Nursing Homes Email List">Nursing Homes Email List</a></td>
                                    <td><a href="/nutritionist-medicine-physician-email-list"
                                            title="Nutritionist Medicine Physician Email List">Nutritionist Medicine
                                            Physician Email List</a></td>
                                    <td><a href="/oncology-nurses-email-and-mailing-list"
                                            title="Oncology Nurses Email and Mailing List">Oncology Nurses Email and
                                            Mailing List</a></td>
                                    <td><a href="/optometrists-email-list"
                                            title="Optometrists Email List">Optometrists Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/oral-and-maxillofacial-surgeons-email-and-mailing-list"
                                            title="Oral and Maxillofacial Surgeons Email and Mailing List">Oral and
                                            Maxillofacial Surgeons Email and Mailing List</a></td>
                                    <td><a href="/oral-surgeons-email-list"
                                            title="Oral Surgeons Email List">Oral Surgeons Email List</a></td>
                                    <td><a href="/orthodontists-email-and-mailing-list"
                                            title="Orthodontists Email and Mailing List">Orthodontists Email and Mailing
                                            List</a></td>
                                    <td><a href="/oxygen-therapy-equipment-email-list"
                                            title="Oxygen Therapy Equipment Email List">Oxygen Therapy Equipment Email
                                            List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/physician-recruiters-email-and-mailing-list"
                                            title="Physician Recruiters Email and Mailing List">Physician Recruiters
                                            Email and Mailing List</a></td>
                                    <td><a href="/professional-career-women-in-healthcare-email-and-mailing-list"
                                            title="Professional Career Women in Healthcare Email and Mailing List">Professional
                                            Career Women in Healthcare Email and Mailing List</a></td>
                                    <td><a href="/psychologists-email-and-mailing-list"
                                            title="Psychologists Email and Mailing List">Psychologists Email and Mailing
                                            List</a></td>
                                    <td><a href="/pulmonologist-email-list"
                                            title="Pulmonologist Email List">Pulmonologist Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/quality-assurance-directors-email-and-mailing-list"
                                            title="Quality Assurance Directors Email and Mailing List">Quality Assurance
                                            Directors Email and Mailing List</a></td>
                                    <td><a href="/radiologists-email-list"
                                            title="Radiologists Email List">Radiologists Email List</a></td>
                                    <td><a href="/radiology-directors-email-list"
                                            title="Radiology Directors Email List">Radiology Directors Email List</a>
                                    </td>
                                    <td><a href="/registered-nurses-email-list"
                                            title="Registered Nurses Email List">Registered Nurses Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/respiratory-therapists-email-and-mailing-list"
                                            title="Respiratory Therapists Email and Mailing List">Respiratory Therapists
                                            Email and Mailing List</a></td>
                                    <td><a href="/rheumatologists-email-and-mailing-list"
                                            title="Rheumatologists Email and Mailing List">Rheumatologists Email and
                                            Mailing List</a></td>
                                    <td><a href="/surgeon-email-list"
                                            title="Surgeon Email List">Surgeon Email List</a></td>
                                    <td><a href="/urologist-email-list"
                                            title="Urologist Email List">Urologist Email List</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
        <section class="section-sec-small pt-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mb-2 text-center wow fadeInLeft ">
                        <h2 class="subhead-small-blk">FAQs </h2>
                    </div>
                    <div class="col-lg-12 mb-5 wow fadeInLeft">
                        <div class="bs-example">
                            <div class="accordion" id="accordionExample">
                                <div class="row">
                                    <div class="col-lg-6 mb-5 wow fadeInLeft">
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h2 class="mb-0"> <button type="button" class="btn btn-link"
                                                        data-toggle="collapse" data-target="#collapseOne"><i
                                                            class="fa fa-plus"></i>What is a Healthcare Email
                                                        List?</button> </h2>
                                            </div>
                                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>The Healthcare email list is a comprehensive database of
                                                        healthcare professionals, C-level executives of hospitals and
                                                        more. It is a boon for multichannel marketing campaigns at the
                                                        global level. The database is 100% accurate, reliable and
                                                        responsive and are integral for niche marketing campaigns. It is
                                                        apt to foster brand building and revenue generation through
                                                        global campaigns.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingfour">
                                                <h2 class="mb-0"> <button type="button" class="btn btn-link collapsed"
                                                        data-toggle="collapse1" data-target="#collapseThree">Where can I
                                                        get Healthcare mailing lists?</button> </h2>
                                            </div>
                                            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>As a brand associated with high levels of efficiency, the B2B
                                                        email address database is accurate, responsive, and
                                                        cost-effective. So, an astute marketer should ideally invest in
                                                        the <strong>healthcare email lists</strong> and reap unmatched
                                                        revenue.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-5 wow fadeInLeft">
                                        <div class="card">
                                            <div class="card-header" id="headingfour">
                                                <h2 class="mb-0"> <button type="button" class="btn btn-link collapsed"
                                                        data-toggle="collapse1" data-target="#collapseThree">Should I
                                                        buy Healthcare email leads?</h2>
                                            </div>
                                            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>Yes. It would be a prudent business decision as one may achieve
                                                        business excellence and reap campaign success.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingfour">
                                                <h2 class="mb-0"> <button type="button" class="btn btn-link collapsed"
                                                        data-toggle="collapse1" data-target="#collapseThree">Are
                                                        Healthcare sales leads helpful for Marketing?</button> </h2>
                                            </div>
                                            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>The authenticity and reliability of a professionally collated
                                                        list are helpful in marketing as it reduces your overall
                                                        campaign costs and the sales cycle time. The healthcare email
                                                        lists from Affluence Business Inc have accurate, responsive and
                                                        tele-verified data that can enhance your campaign revenue.
                                                        Besides, the list may be customized to suit your business
                                                        criteria.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </section>
        <section class="free-quote-sec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 wow fadeInRight centeralign">
                        <div>
                            <h2>GET A FREE QUOTE</h2>
                            <p>Finding the right data can be<br /> complicated, so we are here to help </p>
                        </div>
                    </div>
                    <div class="col-lg-7 wow fadeInRight">
                        <div class="contact-quote">
                            <div class="form">
                                <form method="post" name="contactside" class="contactForm"
                                    onsubmit="return fnValidationContactside()"
                                    action=" "
                                    enctype="multipart/form-data"> <input name="subject" type="hidden"
                                        value="Contact Details from Affluence Business Inc"> <input name="redirect_url"
                                        type="hidden" value=" ">
                                    <div class=" form-row">
                                        <div class="col-lg-6 form-group"> <input type="text" name="fname"
                                                class="form-control" id="fname" placeholder="First Name*"> </div>
                                        <div class="col-lg-6 form-group"> <input type="text" name="lname"
                                                class="form-control" id="lname" placeholder="Last Name*"> </div>
                                        <div class="col-lg-6 form-group"> <input type="email" class="form-control"
                                                name="email" id="email" placeholder="Business Email*"> </div>
                                        <div class="col-lg-6 form-group"> <input type="text" class="form-control"
                                                name="phone" id="phone" placeholder="Phone*"> </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-lg-12 form-group">
                                            <div class="input-container"> <select name="contact" class="form-control">
                                                    <option value="">No. of contacts</option>
                                                    <option value="Less than 10k">Less than 10k</option>
                                                    <option value="10k-50k">10k-50k</option>
                                                    <option value="50k-100k">50k-100k</option>
                                                    <option value="100k+">100k+</option>
                                                </select> </div>
                                        </div>
                                    </div>
                                    <div class="form-group"> <textarea class="form-control " name="comments" rows="2"
                                            placeholder="Requirements"></textarea> </div>
                                    <div class="form-group"><button type="submit" class="circle-fa">CLICK HERE TO
                                            SUBMIT</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main> 

    {% endblock %}