{% extends 'base.html' %}

{% block content %}
    <section class="inner-banner industry-wise-list-banner">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-3 wow fadeInLeft"></div>
                    <div class="col-lg-6 mb-3 wow fadeInLeft">
                        <h1>Penetrate Bigger Markets with Industry Email Lists</h1>
                        <p>Email Lists that are functional, flexible, reliable, cost-effective, and credible.</p>
                        <div class="mt-4"> <a href="#" data-toggle="modal" data-target="#send-message"
                                class="white-br-btn circle-fa">Book Your Data &nbsp; <i
                                    class="fa icon ion-android-arrow-forward"></i></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <main id="main">
        <section class="section-sec-0-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 section-fpad wow fadeInLeft">
                        <h2 class="subhead-small-blk mb-2">Fuel Your Marketing Campaign's Success: The Importance of an
                            Accurate Industry Email Database</h2>
                        <p style="text-align:Justify;">Maximize the value of your marketing campaign by simply
                            subscribing to our services. What’s different? Well, a lot. Our curated and extremely
                            precise Industry Email list are your best bet to reach out to the right markets. As a B2B
                            marketer, you know the value of a greatly run marketing campaign. You know how important it
                            is to spot a credible industry email database.</p>
                        <p style="text-align:Justify;">Without a functional and accurate <strong>Industry-specific email
                                database</strong>, you can’t address the right set of audiences. Well, that’s common
                            sense. But why only us? You can try us out before you arrive at any conclusions. We have
                            only one goal and that is to turn over every stone that falls a barrier to your campaign
                            success. We make yours a success story everytime by delivering your communication to the
                            right prospects who will benefit from your products and services.</p>
                        <p style="text-align:Justify;">Affluence Business Inc is the market leader with superior industry
                            solutions for targeting the industries required to reach your marketing goals, and we make
                            it possible with the most relevant industry mailing lists. Our data makes it easy to reach
                            highly responsive decision-makers, who usually decide the future of your highly capable
                            marketing campaigns.</p>
                        <p style="text-align:Justify;">Well, before we move ahead to explain our scope and services, you
                            can either speak to our expert, get a free quote or request a call back.</p>
                        <div class="mb-5 mt-4"> <a href="/contact-us/"
                                class="green-btn circle-fa">Get A Free Industry-wise Consultation Now&nbsp; <i
                                    class="fa icon ion-android-arrow-forward"></i></a> </div>
                    </div>
                    <div class="col-lg-5 mb-4 wow fadeInRight">
                        <div class="mx-800">
                            <div class="contact-side">
                                <h4>GET A FREE QUOTE</h4>
                                <p>We have got you covered on all your email and direct marketing needs</p>
                                <div class="form">
                                    <form name="f12" id="contact-form"
                                        action=" " method="post"
                                        onSubmit="return validationcon()"> <input type="hidden" name="returnURL"
                                            value=" "><input name="title"
                                            type="hidden" value="Contact Request from Affluence Business Inc">
                                        <div class=" form-row">
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="text" name="fname"
                                                        class="form-control" id="fname" placeholder="First Name*"> <i
                                                        class="fa fa-user icon"></i> </div>
                                            </div>
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="text" name="lname"
                                                        class="form-control" id="lname" placeholder="Last Name"> <i
                                                        class="fa fa-user icon"></i> </div>
                                            </div>
                                        </div>
                                        <div class=" form-row">
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="email" class="form-control"
                                                        name="email" id="email" placeholder="Business Email*"> <i
                                                        class="fa fa-envelope icon"></i> </div>
                                            </div>
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="text" class="form-control"
                                                        name="phone" id="phone" placeholder="Business Phone*"> <i
                                                        class="fa fa-phone icon"></i> </div>
                                            </div>
                                        </div>
                                        <div class=" form-row">
                                            <div class="col-lg-12 form-group">
                                                <div class="input-container"> <input type="text" name="company"
                                                        class="form-control" id="company" placeholder="Company Name*">
                                                    <i class="fa fa-briefcase icon"></i> </div>
                                            </div>
                                        </div>
                                        <div class=" form-row">
                                            <div class="col-lg-12 form-group">
                                                <div class="input-container"> <select name="contact"
                                                        class="form-control">
                                                        <option value="">No. of contacts</option>
                                                        <option value="Less than 10k">Less than 10k</option>
                                                        <option value="10k-50k">10k-50k</option>
                                                        <option value="50k-100k">50k-100k</option>
                                                        <option value="100k+">100k+</option>
                                                    </select> </div>
                                            </div>
                                        </div>
                                        <div class="form-group"> <textarea class="form-control " name="comments"
                                                rows="1" placeholder="Message*"></textarea> </div>
                                        <div class="form-group"> <label><input name="newslettersubscribe"
                                                    value="newslettersubscribe" checked="" type="checkbox"> I would like
                                                to subscribe to your Newsletter.</label> </div>
                                        <div class="form-group mt-4"><button type="submit" class="circle-fa">Submit Data
                                                Counts and Quote Request &nbsp; <i
                                                    class="fa icon ion-android-arrow-forward"></i></button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
        <section class="section-sec-small pt-0" style="margin-top:20px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 wow fadeInLeft">
                        <h2 class="subhead-small-blk ">Some of our Industry-Wise Lists</h2>
                    </div>
                    <div class="col-lg-6 wow fadeInLeft">
                        <div class="dgreen-bg-list-outer">
                            <table class="dgreen-bg-list">
                                <tr>
                                    <td><a href="/3d-printing-industry-email-list/"
                                            title="3D Printing Industry Email List">3D Printing Industry Email List</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="/aviation-industry-email-list/"
                                            title="Aviation Industry Email List">Aviation Industry Mailing Database</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="/advertising-industry-email-list/"
                                            title="Advertising &amp; Marketing Industry Email List">Advertising &amp;
                                            Marketing Industry List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/asset-management-business-email-list"
                                            title="Asset Management Business Mailing Leads">Asset Management Business
                                            Mailing Leads</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/agriculture-industry-email-list/"
                                            title="Agriculture Industry Email List">Agriculture Industry Contact
                                            List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/automotive-industry-email-list/"
                                            title="Automotive Industry Email List">Automotive Industry Email List</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="/banking-and-finance-industry-email-list/"
                                            title="Banking And Finance Industry Contact Database">Banking And Finance
                                            Industry Contact Database</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/cement-industry-email-list/"
                                            title="Cement Industry Email List">Cement Industry Email Leads</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/chemical-industry-email-list/"
                                            title="Chemical Industry Email List">Chemical Industry Contact Database</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="/contractors-email-list/"
                                            title="Contractors Mailing Database">Contractors Mailing Database</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/consumer-goods-and-services-email-list/"
                                            title="Consumer Goods And Services Industry Email List">Consumer Goods And
                                            Services Industry Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/energy-industry-email-list/"
                                            title="Energy Industry Email List">Energy Industry Mailing Addresses</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="/education-industry-email-list/"
                                            title="Education Industry Mailing Data">Education Industry Mailing Data</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="/fire-department-email-list/"
                                            title="Fire Department Email List">Fire Department Email Directory</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/gov-sector-decision-makers-data/"
                                            title="Government and Public Services Contact Data">Government &amp; Public
                                            Services Contact Data</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/hotel-industry-email-list"
                                            title="Hotel, Motels &amp; Resorts List">Hotel Industry Sales Database</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="/architectural-service-industry-executives-email-list"
                                            title="Architectural Service Industry Executives Email List">Architectural
                                            Service Industry Executives Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/business-services-industry-executives-email-list"
                                            title="Business Services Industry Executives Email List">Business Services
                                            Industry Executives Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/computer-software-industry-executives-email-list"
                                            title="Computer Software Industry Executives Email List">Computer Software
                                            Industry Executives Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/consulting-services-industry-executives-email-list"
                                            title="Consulting Services Industry Executives Email List">Consulting
                                            Services Industry Executives Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/biotechnology-industry-executives-email-list"
                                            title="Biotechnology Industry Executives Email List">Biotechnology Industry
                                            Executives Email List</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInLeft">
                        <div class="dgreen-bg-list-outer">
                            <table class="dgreen-bg-list">
                                <tr>
                                    <td><a href="/insurance-service-industry-email-list/"
                                            title="Insurance Service Industry List">Insurance Service Industry List</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="/large-equipment-shipping-email-list/"
                                            title="Large Equipment Shipping Email List">Large Equipment Shipping
                                            Contacts</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/logistics-services-email-list/"
                                            title="Logistics Services Mailing Addresses">Logistics Services Mailing
                                            Addresses</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/life-science-industry-email-list/"
                                            title="Life Science Industry Database">Life Science Industry Database</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="/logistics-services-email-list/"
                                            title="Logistics Services Mailing List">Logistics Services Mailing List</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="/machinery-and-equipment-industry-email-list/"
                                            title="Machinery and Equipment Industry Email List">Machinery and Equipment
                                            Industry Directory</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/medical-device-equipment-industry-email-list"
                                            title="Medical Device Manufacturing Industry List">Medical Device
                                            Manufacturers Service Industry List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/merchandise-manager-email-list"
                                            title="Merchandise Manager Email List">Merchandise Manager Emails</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/oil-and-gas-industry-email-list"
                                            title="Oil and Gas Industry List">Oil and Gas Industry List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/pharmaceutical-industry-email-list/"
                                            title="Pharma Industry Email List">Pharma Industry Email Leads</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/premix-compound-feed-industry-email-list/"
                                            title="Premix & Compound Feed industry List">Premix & Compound Feed industry
                                            Sales Leads</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/plumbing-and-HVAC-equipment-email-list/"
                                            title="Plumbing And HVAC Industry Email List">Plumbing And HVAC Industry
                                            Email Contacts</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/pest-control-email-list/"
                                            title="Pest Control Email List">Pest Control Mailing Database</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/real-estate-industry-email-list/"
                                            title="Real Estate Agents &amp; Mortgage Brokers List">Real Estate Industry
                                            Email Leads</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/supply-chain-and-logistics-industry-email-list/"
                                            title="Supply Chain And Logistics Industry Email List">Supply Chain And
                                            Logistics Industry Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/health-beauty-industry-executives-email-list/"
                                            title="Health Beauty Industry Executives Email List">Health Beauty Industry
                                            Executives Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/legal-services-industry-executives-email-list/"
                                            title="Legal Services Industry Executives Email List">Legal Services
                                            Industry Executives Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/mining-industry-email-list/"
                                            title="Mining Industry Email List">Mining Industry Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/pet-care-industry-email-list/"
                                            title="Pet Care Industry Email List">Pet Care Industry Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/printing-publishing-industry-executives-email-list/"
                                            title="Printing Publishing Industry Executives Email List">Printing
                                            Publishing Industry Executives Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/telecommunication-industry-executives-email-list/"
                                            title="Telecommunication Industry Executives Email List">Telecommunication
                                            Industry Executives Email List</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
        <section class="text-center wow fadeInRight"> <img
                src="/static/assets/img/industry-wise-list-banner-sub.jpg"
                alt="Industry Wise List" title="Industry Wise List" class="full-img" /> </section>
        <section class="section-sec lighter-grey">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 wow fadeInLeft">
                        <h2 class="subhead-small-blk">You can Swear by Our Extensively Curated B2B Emailing list</h2>
                        <p style="text-align:Justify;">Let’s come to answering why. You must be thinking that buying a
                            business email list is highly cliched. Well, you must know that while it’s one of the most
                            followed practices, you can still rely on the success rate of your marketing based on the
                            extensive <strong><a href="/b2b-email-list/"
                                    title="B2B Mailing Lists">B2B Mailing Lists</a></strong> that guarantees to reach
                            the right audience at the right time.</p>
                        <p style="text-align:Justify;">With our services, you can easily choose from countless
                            industries and occupational titles like agriculture, automobiles, aviation, banking, IT
                            &amp; ITES, manufacturing, telecommunications or any other industry. If you are thinking
                            that such marketing spends won’t be able to get you the desired results, then think again.
                            It can’t get easier and affordable to target specific business email list data for your
                            email marketing campaigns. Affluence Business Inc specializing in boosting lead generation and
                            sales for companies large and small. Our email marketing experts dedicatedly work with you
                            to identify, quantify and target prospects to propel your sales leads. Marketing to the
                            service industry top-notch professionals is now easier and more efficient with service
                            <strong>industry email lists</strong>. Reach the services industry's top professionals - key
                            influencers and decision-makers - including health, legal, engineering, education, and other
                            business and professional services.</p>
                        <h2 class="subhead-small-blk">Get Started before your Competitors Steal the Success Show</h2>
                        <p style="text-align:Justify;">Industry email lists are highly accurate, comprehensive and
                            up-to-date to get you the best marketing campaigns. Our extensive <strong>Industry-wise
                                Email List</strong> targets industries like Information Technology, Healthcare,
                            Manufacturing, Real Estate, Mining, Telecom and many others. We generate our database from
                            emails that we source through trusted trade shows, B2B Exhibitions, Trade Fairs, industry
                            meets, conferences, directories, business magazines, interviews with the top-notch industry
                            leaders, directories that are updated daily, and more.</p>
                        <div class="mb-4 mt-4"> <a href="#" data-toggle="modal" data-target="#send-message"
                                class="green-btn circle-fa">Get Data Counts Now! &nbsp; <i
                                    class="fa icon ion-android-arrow-forward"></i></a> </div>
                    </div>
                    <div class="col-lg-6 mb-4 wow fadeInRight">
                        <h2 class="subhead-small-blk">Your Challenges Are Our Very Own, and Why Not, We Are Your B2B
                            Data Partner</h2>
                        <p style="text-align:Justify;">Our precisely curated <strong>Industry Mailing Lists</strong>
                            cover hundreds of sectors, enabling you to reach the prospects of your choice with no
                            hassles. Our business is to accelerate your sales and revenue rate by providing you with
                            unique <strong>B2B Indstry-wise Mailing Lists</strong>, that are industry specific and up to
                            the mark. Our focus is to maximize your sales rate and revenue by offering the most
                            impeccable data. We are just trying to reduce rather than share your workload of gathering
                            the right data to leverage your services to the right target audience. As data forms the
                            foundation to build your business, our <a
                                href="/email-lists/"><strong>email list</strong></a> of
                            several industries provides result-oriented records to help you grow at a great pace.</p>
                        <p style="text-align:Justify;">We aspire to make your marketing efforts count with our
                            geo-targeted services of business and can also provide data on executives from across the
                            UK, Europe, APAC, Canada and more.</p>
                        <h2 class="subhead-small-blk">The Benefit of Using our Industry Professionals Mailing Database
                        </h2>
                        <p style="text-align:Justify;">We, at Affluence Business Inc, are here to assist B2B marketers in
                            their campaigns. Our niche list of Industry Professionals in the USA is a meticulously built
                            list with data on professionals from across industries. Whether you are looking for <a
                                href="/professional-lists/"><strong>C-Level
                                    titles</strong></a>, Managers, Directors or Officers, our database can help you with
                            your needs. </p>
                        <p style="text-align:Justify;">The business email addresses of Industry professionals can
                            accordingly be <a href="/"
                                title="Geo Targeted">geo-targeted</a> and provide data on executives from across the UK,
                            Europe, APAC, Canada and more. </p>
                        <p style="text-align:Justify;"><a href="/contact-us/"
                                title="Contact Us"><strong>Contact us</strong></a> today at Affluence Business Inc and let
                            us offer a customized industry-wise marketing database for B2B email campaigns!</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="free-quote-sec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 wow fadeInRight centeralign">
                        <div>
                            <h2>GET A FREE QUOTE</h2>
                            <p>Finding the right data can be<br /> complicated, so we are here to help </p>
                        </div>
                    </div>
                    <div class="col-lg-7 wow fadeInRight">
                        <div class="contact-quote">
                            <div class="form">
                                <form method="post" name="contactside" class="contactForm"
                                    onsubmit="return fnValidationContactside()"
                                    action=" "
                                    enctype="multipart/form-data"> <input name="subject" type="hidden"
                                        value="Contact Details from Affluence Business Inc">

                                    <div class=" form-row">
                                        <div class="col-lg-6 form-group"> <input type="text" name="fname"
                                                class="form-control" id="fname" placeholder="First Name*"> </div>
                                        <div class="col-lg-6 form-group"> <input type="text" name="lname"
                                                class="form-control" id="lname" placeholder="Last Name*"> </div>
                                        <div class="col-lg-6 form-group"> <input type="email" class="form-control"
                                                name="email" id="email" placeholder="Business Email*"> </div>
                                        <div class="col-lg-6 form-group"> <input type="text" class="form-control"
                                                name="phone" id="phone" placeholder="Phone*"> </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-lg-12 form-group">
                                            <div class="input-container"> <select name="contact" class="form-control">
                                                    <option value="">No. of contacts</option>
                                                    <option value="Less than 10k">Less than 10k</option>
                                                    <option value="10k-50k">10k-50k</option>
                                                    <option value="50k-100k">50k-100k</option>
                                                    <option value="100k+">100k+</option>
                                                </select> </div>
                                        </div>
                                    </div>
                                    <div class="form-group"> <textarea class="form-control " name="comments" rows="2"
                                            placeholder="Requirements"></textarea> </div>
                                    <div class="form-group"><button type="submit" class="circle-fa">CLICK HERE TO
                                            SUBMIT</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main> 
    {% endblock %}
    