{% extends 'base.html' %} {% block extra_css %}
<style>
    .loan-officer-banner {
        background: url(/static/assets/img/investor-email-banner.jpg) no-repeat top left;
        background-size: cover;
    }

    .cbx img {
        float: left;
        width: 60px;
        height: 60px;
    }

    .txtcnt h2 {
        font-size: 50px;
        color: green;
        font-weight: bold;
        margin-bottom: 4px;
    }

    .txtcnt p {
        margin-left: 60px;
        font-size: 18px;
    }

    .section-sec--60 {
        padding: 60px 0px 20px 0px;
    }
</style>
{% endblock %} {% block content %}

<section class="inner-banner loan-officer-banner">
    <div class="overlay bg-none">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 mb-3 wow fadeInLeft"></div>
                <div class="col-lg-10 mb-3 wow fadeInLeft text-center">
                    <h1>The Most Comprehensive, Reliable, and Accurate Investor Database – Now At Your Fingertips</h1>
                </div>
                <div class="col-lg-1 mb-3 wow fadeInLeft"></div>
            </div>
        </div>
    </div>
    </div>
</section>

<main id="main">
    <section class="section-sec--60">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 wow fadeInLeft">
                    <div class="countbox-sec">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="cbx"> <img src="/static/assets/img/cnt-bx-Icon-1.png" alt="icon" />
                                    <div class="txtcnt">
                                        <h2> 220,530</h2>
                                        <p>Global Companies</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="cbx"> <img src="/static/assets/img/cnt-bx-Icon-2.png" alt="icon" />
                                    <div class="txtcnt">
                                        <h2>64,894</h2>
                                        <p>USA Companies</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-6">
                                <div class="cbx"> <img src="/static/assets/img/cnt-bx-Icon-3.png" alt="icon" />
                                    <div class="txtcnt">
                                        <h2>42,657</h2>
                                        <p>Angle Investors </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="cbx"> <img src="/static/assets/img/cnt-bx-Icon-4.png" alt="icon" />
                                    <div class="txtcnt">
                                        <h2> 90%</h2>
                                        <p>Deliverability Guaranteed </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4 wow fadeInRight">
                    <h2 class="subhead-small-blk">Discover A More Innovative Approach to Data-Driven Excellence</h2>
                    <p> When you are a B2B marketer, time is the most precious (and scarce) resource. So, why spend long hours compiling a contact database from scratch? And that's not all; you have the laborious tasks of verifying, updating, and maintaining
                        it. </p>
                    <p>Span Global Services is here to save the day with a faster, easier, and smarter way to execute data-driven marketing. Save your time and resources, channel your efforts into running campaigns, and don't worry about data. </p>
                    <div
                        class="mb-4 mt-2"> <a href="#" data-toggle="modal" data-target="#send-message" class="green-btn circle-fa">Access Now &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a> </div>
            </div>
            <div class="clearfix"></div>
        </div>
        </div>
    </section>
    <section class="grey-sec-light">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 wow fadeInRight">
                    <div class="pad-sec">
                        <h2 class="subhead-small-blk">Deliver Your Marketing Messages to The Top Investors Globally</h2>
                        <p> Our comprehensive investor database contains 100% accurate information on over 100K+ angel investors, investment partners, and venture capitalists worldwide. Every investor profile includes rich data fields like their investment
                            interests, industry, location, and complete contact information.</p>
                        <p> To help you refine your campaigns with granular precision, we have segmented our records by investment focus, previous investments, investment type, and region. So, you can pinpoint the most relevant prospects for your offerings
                            just by taking a look! </p>
                        <div class="mb-4 mt-4"> <a href="#" data-toggle="modal" data-target="#send-message" class="green-btn circle-fa">Get Your Free Sample Today! &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a> </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4 wow fadeInLeft"><br> <img src="/static/assets/img/investor-global-right.jpg" alt="right-img" class="right-data mt-4" /> </div>
            </div>
        </div>
    </section>
    <style>
        .right-data {
            width: 80%;
        }

        @media screen and (max-width: 768px) {
            body .right-data {
                width: 100%;
                margin-top: -300px;
            }
        }

        .space-list1 {
            list-style-type: none;
            font-size: 14px;
            padding-left: -10px;
        }

        .mb-sec-new1 {
            margin-top: -30px;
        }

        .dgreen-bg-list td {
            text-align: left;
        }

        .section-60 {
            padding: 40px 0px;
        }

        .databimg {
            width: 120%;
        }
    </style>
    <section class="section-60">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-lg-6 mb-4 wow fadeInLeft">
                        <h2 class="subhead-small-blk">How Our Personalized Database Puts You Above the Competition</h2>
                        <p style="text-align:Justify;"> The competitive B2B marketing world is about HOW you connect with your prospects. Personalizing your marketing campaigns is the top priority. So, customize your marketing messages and increase your brand's appeal.</p>
                        <p> Our well-vetted database enables you to locate active investors in your desired industries and fit your target profile based on title, location, exit count, and more. All contact information in our database is pre-verified, pre-segmented,
                            easily deployable, and sales-ready.</p>
                        <div class="mb-2 mt-2"> <a href="#" data-toggle="modal" data-target="#send-message" class="green-btn circle-fa">Get More Details &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a> </div>
                    </div>
                    <div class="col-lg-6 wow fadeInRight">
                        <p> You can access over 500K+ venture capital and private equity partners, directors, and managers. Explore a wealth of relevant data fields like full names, titles, professional emails, business phone numbers, and investment stages,
                            like the following:</p>
                        <div class="dvv tab-scroll" style="overflow-x:auto;">
                            <table class="dgreen-bg-list">
                                <tr>
                                    <td><a href="#">Seed</a></td>
                                    <td><a href="#">Early-stage venture</a> </td>
                                    <td><a href="#">Late-stage venture</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Venture</a></td>
                                    <td><a href="#">Private equity</a> </td>
                                    <td><a href="#">Crowdfunding</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Debt</a></td>
                                    <td><a href="#">Grant </a> </td>
                                    <td><a href="#">Non-Equity Assistance</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Convertible Note</a></td>
                                    <td><a href="#">Secondary market</a> </td>
                                    <td><a href="#">Post-IPO</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Initial coin offering</a></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section class="section-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <h2 class="subhead-small-blk">High Deliverability Guaranteed With 100% Verified Lists</h2>
                    <p> Every record in our investor database undergoes a thorough data verification process to ensure that every contact is a qualified lead. We have the statistics to back up any marketing effort, no matter its need or nature. <br> Connect
                        with top investing decision-makers and all specialist profiles that can hugely impact your company's growth. Increase the number of relevant and readily converting investor leads in your sales pipeline. </p>
                    <h2 class="subhead-small-blk"
                        style="font-size:18px;"> Some Of Our Popular Mailing Lists For Investors Include The Following</h2>
                    <div class="dvv" style="overflow-x:auto;">
                        <table class="dgreen-bg-list">
                            <tr>
                                <td><a href="#">Venture capital</a></td>
                                <td><a href="#"> Angel investors</a> </td>
                                <td><a href="#">Private equity firm</a></td>
                            </tr>
                            <tr>
                                <td><a href="#"> Accelerator</a></td>
                                <td><a href="#"> Investment partner</a> </td>
                                <td><a href="#">Corporate Venture capital</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Micro VC</a></td>
                                <td><a href="#"> Angel Group </a> </td>
                                <td><a href="#">Incubator</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Investment bank</a></td>
                                <td><a href="#">Family Investment office</a> </td>
                                <td><a href="#">Venture debt</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Co-working space</a></td>
                                <td><a href="#">Fund of funds</a></td>
                                <td><a href="#">Hedge fund</a></td>
                            </tr>
                            <tr>
                                <td><a href="#"> Government office</a></td>
                                <td><a href="#">University Program</a></td>
                                <td><a href="#"> Entrepreneurship Program</a></td>
                            </tr>
                            <tr>
                                <td><a href="#"> Secondary purchaser</a></td>
                                <td><a href="#">Start-up competition</a></td>
                                <td><a href="#">Syndicate</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-lg-5 mt-2"> <img src="/static/assets/img/database-email.jpg" alt="right-img" class="databimg " /> </div>
                <div class="col-sm-12 mt-4 text-center">
                    <div class="mb-2 mt-4 "> <a href="#" data-toggle="modal" data-target="#send-message" class="green-btn circle-fa">Contact Now &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a> </div>
                </div>
            </div>
        </div>
    </section>
    <div id="requestquote"> </div>
    <section class="free-quote-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 wow fadeInRight centeralign">
                    <div>
                        <h2>GET A FREE QUOTE</h2>
                        <p>Finding the right data can be<br /> complicated, so we are here to help </p>
                    </div>
                </div>
                <div class="col-lg-7 wow fadeInRight">
                    <div class="contact-quote">
                        <div class="form">
                            <form method="post" name="contactside" class="contactForm" onsubmit="return fnValidationContactside()" action="https://www.spanglobalservices.com/scripts/formmail" enctype="multipart/form-data"> <input name="subject" type="hidden" value="Contact Details from Span Global Services"> <input name="redirect_url" type="hidden" value="https://www.spanglobalservices.com/thanks">
                                <div class=" form-row">
                                    <div class="col-lg-6 form-group"> <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name*"> </div>
                                    <div class="col-lg-6 form-group"> <input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name*"> </div>
                                    <div class="col-lg-6 form-group"> <input type="email" class="form-control" name="email" id="email" placeholder="Business Email*"> </div>
                                    <div class="col-lg-6 form-group"> <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone*"> </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-lg-12 form-group">
                                        <div class="input-container"> <select name="contact" class="form-control"> <option value="">No. of contacts</option> <option value="Less than 10k">Less than 10k</option> <option value="10k-50k">10k-50k</option> <option value="50k-100k">50k-100k</option> <option value="100k+">100k+</option></select>                                            </div>
                                    </div>
                                </div>
                                <div class="form-group"> <textarea class="form-control " name="comments" rows="2" placeholder="Requirements"></textarea> </div>
                                <div class="form-group"><button type="submit" class="circle-fa">CLICK HERE TO SUBMIT</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}