
 {% extends 'base.html' %}
 {% block extra_css %}
    <style>
        .crypto-head {
            background-color: green;
            color: white;
            margin-top: 0px;
        }

        .crypto-head p {
            color: white;
            font-size: 16px;
            text-align: left;
            padding-top: 6px;
        }

        #header {
            padding: 0px 0;
        }

        #header .crypto-head .div-hd {
            margin-top: 6px;
            float: left;
            margin-left: 300px;
        }

        #header .crypto-head .div-hd img {
            padding-left: 16px;
        }

        @media screen and (max-width:768px) {
            #header .crypto-head .div-hd {
                display: none;
            }
            .crypto-head p {
                color: white;
                font-size: 12px;
                text-align: center;
                padding-top: 4px;
                margin-left: 0px;
            }
        }
    </style>

    <style>
        .nav-menu .high-text a {
            color: #036532;
            font-weight: bold;
            font-size: 13px;
        }

        .nav-menu ul li a {
            padding: 7px;
        }

        .nav-menu ul li ul li a {
            padding: 7px;
        }

        .nav-menu ul li ul li a:hover {
            padding: 7px;
            background-color: #1e8c09;
            ;
            color: #fff;
        }

        .nav-menu ul li ul {
            margin: 0;
            padding: 0px;
        }
    </style>
     <style>
        .file-form-control {
            display: block;
            width: 100%;
            height: calc(2.5em + 1.75rem + 2px);
        }
    </style>

 {% endblock %}

 {% block content %}

    <section class="inner-banner phone-appending-banner">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-3 wow fadeInLeft"></div>
                    <div class="col-lg-6 mb-3 wow fadeInLeft">
                        <h1>Phone Appending</h1>
                        <p>Boost your dial power!</p>
                        <p>Maximize telemarketing ROI with Phone Appending.</p>
                        <div class="mt-4"> <a href="#" data-toggle="modal" data-target="#send-message" class="white-br-btn circle-fa">Append Data &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <main id="main">
        <section class="section-sec-0-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 section-fpad wow fadeInLeft">
                        <h2 class="subhead-small-blk">Get phone numbers of your customers and prospects by effectively using Telephone Appending Services</h2>
                        <p>Have you amassed a bunch of postal addresses and wish you had telephone numbers for them as well? Do you know where to look when you want to <strong>append relevant phone numbers</strong> to these records? Affluence Business Inc'
                            <strong>Phone Appending</strong> adds phone numbers and helps in connecting better to your customers and prospects. </p>
                        <p>For any telemarketing campaign to be successful, you need an <a href="#" title="Email List"><strong>accurate email list</strong></a> that connects you with prospects.</p>
                        <p>Affluence Business Inc enhances your existing <strong>database by appending</strong> missing phone numbers and replacing wrong phone numbers with updated ones. More importantly, it is also ensured that none of these phone numbers
                            are on the ‘Do Not Call’ registry. </p>
                        <p>We cater to a variety of industries globally and our <strong>phone append</strong> line of services provides you with access to the largest repository of phone numbers that are thoroughly verified to deliver excellent result to
                            our customers. </p>
                        <h2 class="subhead-small-sub">Phone Appending Services aims to connect with your clients and accomplish your marketing goal</h2>
                        <p>Our excellent Business <strong>telephone append services</strong> can help boost or even replace the role of a traditional marketing campaign. At Affluence Business Inc, we utilize many different sources to provide you with unrivalled
                            accuracy and exceptional phone match rates.</p>
                        <p>Not only this, we can fine-tune our process and existing database to match your individual needs (business objective), goals and budget. The data we supply to our clients is updated monthly with fresh set of numbers. We are the
                            only <a href="/" title="Email Database Provider"><strong>email database provider</strong></a> that verifies each number against the telephone service provider database and update the file immediately.</p>
                        <p><strong>Fill in the gaps in your database, with our niche appending services:</strong></p>
                        <div class="row sicon">
                            <div class="col-lg-4 mb-4 ">
                                <a href="/email-appending/" title="Email Appending">
                                    <div class="icon"><img src="/static/assets/img/email-appending-thumb.jpg" alt="Email Appending" class="respo-img" /> </div>
                                    <p class="description">Email<br/> Appending</p>
                                </a>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <a href="/phone-appending/" title="Phone Appending">
                                    <div class="icon"><img src="/static/assets/img/phone-appending-thumb.jpg" alt="Phone Appending" class="respo-img" /> </div>
                                    <p class="description">Phone<br/> Appending</p>
                                </a>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <a href="/contact-appending" title="Contact Appending">
                                    <div class="icon"><img src="/static/assets/img/contact-appending-thumb.jpg" alt="Contact Appending" class="respo-img" /> </div>
                                    <p class="description">Contact<br/> Appending</p>
                                </a>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <a href="/b2c-email-appending/" title="B2C Email Appending">
                                    <div class="icon"><img src="/static/assets/img/b2c-email-appending-thumb.jpg" alt="B2C Email Appending" class="respo-img" /> </div>
                                    <p class="description">B2C Email<br/> Appending</p>
                                </a>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <a href="/social-media-profile-appending/" title="Social Media Profile Appending">
                                    <div class="icon"><img src="/static/assets/img/social-profile-appending-thumb.jpg" alt="Social Media Profile Appending" class="respo-img" /> </div>
                                    <p class="description">Social Media<br/>Profile Appending</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 mb-4 wow fadeInRight">
                        <div class="mx-800">
                            <div class="contact-side">
                                <h4>Free Append Test</h4>
                                </br>
                                <div class="form">
                                    <form name="f20" id="contact-form" action=" " method="post" onSubmit="return dataappendvalidation()" enctype="multipart/form-data"> <input type="hidden" name="returnURL" value="/"><input name="title" type="hidden" value="Contact Request from Affluence Business Inc">
                                        <div class=" form-row">
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name*"> <i class="fa fa-user icon"></i> </div>
                                            </div>
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name"> <i class="fa fa-user icon"></i> </div>
                                            </div>
                                        </div>
                                        <div class=" form-row">
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="email" class="form-control" name="email" id="email" placeholder="Business Email*"> <i class="fa fa-envelope icon"></i> </div>
                                            </div>
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="text" class="form-control" name="phone" id="phone" placeholder="Business Phone*"> <i class="fa fa-phone icon"></i> </div>
                                            </div>
                                        </div>
                                        <div class=" form-row">
                                            <div class="col-lg-12 form-group">
                                                <div class="input-container"> <input type="text" name="company" class="form-control" id="company" placeholder="Company Name*"> <i class="fa fa-briefcase icon"></i> </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-lg-12 form-group">
                                                <div class="input-container"> <select name="contact" class="form-control"> <option value="">No. of contacts</option> <option value="Less than 10k">Less than 10k</option> <option value="10k-50k">10k-50k</option> <option value="50k-100k">50k-100k</option> <option value="100k+">100k+</option></select>                                                    </div>
                                            </div>
                                        </div>
                                        <div class="form-group"> <textarea class="form-control " name="comments" rows="1" placeholder="Message*"></textarea> </div>
                                        <div class="col-lg-12 form-group">
                                            <div class="input-container"> <label for="user" style="font-size:14px;">Upload Sample File :<span style="color:#Ff0000";>*</span></label><input type="file" name="upload" id="upload" value="" style="background:#ffffff;" /></div>
                                        </div>
                                        <div class="form-group"> <label><input name="newslettersubscribe" value="newslettersubscribe" checked="" type="checkbox"> I would like to subscribe to your Newsletter.</label> </div>
                                        <div class="form-group mt-4"><button type="submit" class="circle-fa">Append Data Now! <i class="fa icon ion-android-arrow-forward"></i></button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
        <section class="lighter-grey">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-4 wow fadeInLeft">
                        <div class="">
                            <h2 class="subhead-small-blk">Phone Appending - For increased conversion rates and higher customer satisfaction levels </h2>
                            <p>If you have business records with telephone numbers, but no names or postal addresses to associate with them, we can do <strong>reverse phone append service</strong> for our clients and can help you match these orphaned data
                                with complete postal address. We assure that our clients receive optimum level of business data from the services we provide.</p>
                            <p>As the leader in data-driven solutions, we enable companies to engage and connect with million plus consumers and businesses on a daily basis. So use our <strong>phone appending services</strong> and give your client unprecedented
                                access to an extensive and qualified phone appending list. We have put together information required to respond immediately to the needs of customers.</p>
                            <ul class="space-list">
                                <li>Run telemarketing campaigns and generate leads</li>
                                <li>Get in touch with your lost customers</li>
                                <li>Expand your marketing horizons</li>
                                <li>Reduce on telemarketing costs</li>
                            </ul>
                            <p>By signing up for our phone appending services, you can reduce the time wasted on calling wrong numbers or numbers not in use. All you need to do is give us your database and we will give you the <strong>phone appended list</strong>                                in less than 7 business days.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInRight"> <img src="/static/assets/img/increased-conversion.jpg" alt="Phone Appending" class="full-img" /> </div>
                </div>
            </div>
        </section>
        <section class="blue-sec-light">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 wow fadeInRight padlf-none"> <img src="/static/assets/img/data-appending-sub.jpg" alt=" Phone Appending" class="full-img" /> </div>
                    <div class="col-lg-6 mb-4 wow fadeInLeft centeralign">
                        <div class="">
                            <h4 class="subhead-big mb-2">Manage Data </h4>
                            <h2 class=" normal-head">before it manages you </h2>
                            <div class="mb-4 mt-4"> <a href="/contact-us/" class="blk-btn ">Let's Talk &nbsp; <i class="fa fa-phone"></i></a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="free-quote-sec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 wow fadeInRight centeralign">
                        <div>
                            <h2>GET A FREE QUOTE</h2>
                            <p>Finding the right data can be<br/> complicated, so we are here to help </p>
                        </div>
                    </div>
                    <div class="col-lg-7 wow fadeInRight">
                        <div class="contact-quote">
                            <div class="form">
                                <form method="post" name="contactside" class="contactForm" onsubmit="return fnValidationContactside()" action=" " enctype="multipart/form-data"> <input name="subject" type="hidden" value="Contact Details from Affluence Business Inc"> <input name="redirect_url" type="hidden" value=" ">
                                    <div class=" form-row">
                                        <div class="col-lg-6 form-group"> <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name*"> </div>
                                        <div class="col-lg-6 form-group"> <input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name*"> </div>
                                        <div class="col-lg-6 form-group"> <input type="email" class="form-control" name="email" id="email" placeholder="Business Email*"> </div>
                                        <div class="col-lg-6 form-group"> <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone*"> </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-lg-12 form-group">
                                            <div class="input-container"> <select name="contact" class="form-control"> <option value="">No. of contacts</option> <option value="Less than 10k">Less than 10k</option> <option value="10k-50k">10k-50k</option> <option value="50k-100k">50k-100k</option> <option value="100k+">100k+</option></select>                                                </div>
                                        </div>
                                    </div>
                                    <div class="form-group"> <textarea class="form-control " name="comments" rows="2" placeholder="Requirements"></textarea> </div>
                                    <div class="form-group"><button type="submit" class="circle-fa">CLICK HERE TO SUBMIT</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


 {% endblock %}