{% extends 'base.html' %}

{% block extra_css %}
<style>
     .nav-menu .high-text a { color: #036532; font-weight: bold; font-size: 13px; } .nav-menu ul li a { padding: 7px; } .nav-menu ul li ul li a { padding: 7px; } .nav-menu ul li ul li a:hover { padding: 7px; background-color: #1e8c09; ; color: #fff; } .nav-menu ul li ul { margin: 0; padding: 0px; }
</style>
{% endblock %}
{% block content %}
<section class="inner-banner privacy-banner">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-3 wow fadeInLeft"></div>
                <div class="col-lg-6 mb-3 wow fadeInLeft"><h1>We are – seasoned, prolific, creative and different</h1>
                    <div class="mt-4"><a href="#" data-toggle="modal" data-target="#send-message"
                                         class="white-br-btn circle-fa">Free Data Consultation &nbsp; <i
                            class="fa icon ion-android-arrow-forward"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<main id="main">
    <section class="section-sec-0-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 section-fpad wow fadeInLeft"><h2 class="subhead-small-blk">Privacy</h2>
                    <p style="text-align:Justify;">Affluence Business Inc respects and is committed to protect your
                        digital privacy. The following content of this page discloses and clarifies the information
                        gathering, dissemination practices of and consequent security measures taken by Affluence Business Inc
                        Services (also referred to as "Affluence Business Inc", "we", "our", and "us"). </p>
                    <p style="text-align:Justify;">It is to note that this policy is no way supersedes, replaces, or
                        otherwise complements the privacy policy for our customers. This is merely a tool for users to
                        understand the vehement care that is taken while handling their precious personal data. </p>
                    <p style="text-align:Justify;">By continuing to visit and using our website and/or services, you
                        agree to this Policy and the usage of personal data as stated henceforth, or amended
                        hereafter.</p>
                    <p style="text-align:Justify;"><strong>To report any violations or abuse of our services, or to
                        enquire about this policy, contact Affluence Business Inc by mail <a
                                href="mailto:steve@affluencebizdata.com">steve@affluencebizdata.com</a> or call 1
                        307-213-7098 .</strong></p>
                    <h3 class="normal-head">Compliance References:</h3>
                    <p style="text-align:Justify;">Affluence Business Inc complies with all federal and state laws
                        (including GDPR) concerning data privacy and usage and adopt the subsequent guidelines,
                        procedures and best practices established by industry groups which we are a contributing member,
                        including the Direct Marketing Association (DMA).</p>
                    <p style="text-align:Justify;">Strict data privacy and usage controls are maintained throughout our
                        contracts, and are covered in our agreements with customers.</p>
                    <p style="text-align:Justify;">Hereafter, we have mentioned the key aspects of our privacy policy
                        and data security measures. Also, we have provided answers to some of the prominent concerns
                        inherent to the trade wherever possible.</p>
                    <h3 class="normal-head">1. Data Compilation</h3>
                    <p><strong>1.1.</strong>The information compiled by Affluence Business Inc incorporates several data
                        elements for businesses and consumers. The information is acquired from reliable sources and we
                        take utmost care through specific quality control procedures to verify and maintain the accuracy
                        of the said information.</p>
                    <p><strong>1.2.</strong>Our Business to Business Marketing database is sourced from the following
                        reputed sources:</p>
                    <ul class="space-list">
                        <li>Government records</li>
                        <li>B2B Directories</li>
                        <li>Annual Reports, SEC Filings</li>
                        <li>Newspaper Subscription Offers</li>
                        <li>Sign-up data from email Campaigns</li>
                        <li>Business tradeshow attendee lists</li>
                        <li>Public Record Information</li>
                        <li>Registration process for subscription sites</li>
                        <li>Community postings</li>
                        <li>Nationwide utility transaction reports</li>
                        <li>Transactional data</li>
                        <li>Phone surveys with every business</li>
                        <li>Web-based Registrations and/or offers</li>
                        <li>Business trade magazine subscription offers</li>
                    </ul>
                    <p style="text-align:Justify;"><strong>1.3</strong>We also collect information on our website and
                        other branded websites, where from time to time we act as an agent to collect data for some of
                        our partners. When filling out subscription or information request forms, visitors are required
                        to fill out personal data that includes name, official email addresses, and official point of
                        contact (phone numbers). This is in order to serve our clients and visitors better at their own
                        convenience.</p>
                    <p style="text-align:Justify;"><strong>1.4</strong>The information we collect is used to create
                        demographic profiles of our subscribers, clients, and visitors so we can improve the content of
                        our website and email alerts.</p>
                    <h3 class="normal-head">2. Disclosure and/or Sharing of Personal Information</h3>
                    <p style="text-align:Justify;"><strong>2.1.</strong>Affluence Business Inc reserves full ownership
                        over the information collected on this domain <a href="www.affluencebizdata.com"
                                                                         title="affluence business">(https://www.affluencebizdata.com)</a>
                        and its subsidiaries. The said information is collected from reputed sources (Section 1.2) and
                        from different points in the said domain and its sub-domains. We will not sell, share, and/or
                        rent the said data to third-party vendor(s) in other ways than disclosed as below:</p>
                    <ul class="space-list">
                        <li>In reasonable need to offer similar services</li>
                        <li>When you have provided us consent for the purpose</li>
                        <li>When we are legally obliged to do so</li>
                    </ul>
                    <p>Sections 2.2 and 2.3 discuss the above conditions in detail.</p>
                    <p><strong>2.2. Usage of Personal Data</strong></p>
                    <p><strong>2.2.1.</strong> We lawfully process subject data in abiding to fulfill our "legitimate
                        interests". The following includes a non-exhaustive list of "legitimate interests" under which
                        we operate:</p>
                    <ul class="space-list">
                        <li>Betterment of our Services by providing easily accessible and usable technology(ies) that
                            enable our clients to execute their business objectives with more certainty.
                        </li>
                        <li>When prior consent is asked from and provided by subjects through the same channel of
                            communication, and the objective of such communication is in line with clause a).
                        </li>
                        <li>Where processing in necessary to comply with our legal obligations, and on demand from
                            regulatory authorities.
                        </li>
                    </ul>
                    <p><strong>2.2.2.</strong> The data and content provided or made available to us by users across our
                        different Services is used in the collection, compilation and collation of data of respective
                        subjects. Subject data is also used in conducting research and development programs to improve
                        user experiences across our digital spectrum, and for the overall improvement of our Services.
                    </p>
                    <p style="text-align:Justify;">2.2.3. We notify subjects about the usage of their data in writing,
                        through emails or other media as available (SMS, push notifications etc.) and agreed by both
                        parties. Our communications may also include:</p>
                    <ul class="space-list">
                        <li><strong>Service Messages:</strong> to acknowledge ongoing and concluded transactions and
                            interactions. Examples include: welcome messages, meeting schedules etc. There are no
                            opt-out options for service messages.
                        </li>
                        <li>When prior consent is asked from and provided by subjects through the same channel of
                            communication, and the objective of such communication is in line with clause a).
                        </li>
                        <li><strong>Marketing Communications:</strong> on our own behalf or on behalf of known third
                            parties. Such communications maybe sent when subjects have shown interest in receiving so –
                            even when they do not have an account with us. Each of our marketing communications has an
                            opt-out option at the footer of the messaging, in case subjects desire to stop receiving
                            future mails in the same regard.
                        </li>
                    </ul>
                    <p style="text-align:Justify;"><strong>2.2.4.</strong> We do not use personal data to engage in
                        automated decision-making about subjects.</p>
                    <p style="text-align:Justify;"><strong>2.3. Sharing of Personal Data</strong></p>
                    <p style="text-align:Justify;"><strong>2.3.1.</strong> We share subject data with:</p>
                    <ul class="space-list">
                        <li>Our Affiliates (legal entities controlled by us, controlling us, or share a common authority
                            of control with us) within reasonable limits, with the sole purpose of providing our
                            Services.
                        </li>
                        <li>Selected Third Parties, including our business partners, vendors/suppliers, and
                            sub-contractors, for the performance of the contract we are in with them.
                        </li>
                        <li>Analytics and Search Engine Providers who assist us in improving our digital presence from
                            time to time.
                        </li>
                    </ul>
                    <p style="text-align:Justify;"><strong>2.3.2.</strong> Under special circumstances, we may disclose
                        your data to other third parties too. Such circumstances may include and not be limited to:</p>
                    <ul class="space-list">
                        <li>Selling or buying of business assets</li>
                        <li>Business acquisition by third party (data may become a transferred asset)</li>
                    </ul>
                    <p style="text-align:Justify;"><strong>2.3.3.</strong> We ensure maximum contractual and operational
                        safeguards in the instance of third-party processing of subject data.</p>
                    <p style="text-align:Justify;"><strong>2.4. Subject Rights for Data Security, Accuracy &amp;
                        Retention</strong></p>
                    <p style="text-align:Justify;"><strong>2.4.1.</strong> Under applicable data privacy regulations,
                        subjects may:</p>
                    <ul class="space-list">
                        <li>Request for access to the data we have about them</li>
                        <li>Request for the same to be updated, rectified, deleted, or blocked</li>
                        <li>Request to abstain from using the said data</li>
                        <li>Revoke their consent on processing their data (for consent-based processing)</li>
                        <li>Request for a machine-readable copy of the data we have of them.</li>
                    </ul>
                    <p style="text-align:Justify;">To exercise any of the rights listed above, please email us at <a
                            href="mailto:steve@affluencebizdata.com">steve@affluencebizdata.com </a>or write to us at
                        the following address: Affluence Business Inc, 1309 COFFEEN AVENUE STE 1200 SHERIDAN, WY 82801
                        </p>
                    <p style="text-align:Justify;"><strong>Please note:</strong> We cannot always delete records of all
                        historical data, and this is in compliance to legal audits and financial reporting purposes.</p>
<!--                    <p>-->
<!--                        <strong>2.4.2. Opt-out Policy:</strong></p>-->
<!--                    <p>Upon your request, Affluence Business Inc will:</p>-->
<!--                    <ul class="space-list">-->
<!--                        <li>Allow any subscriber to "opt out" of further promotional contacts/li&gt;</li>-->
<!--                        <li>Use reasonable efforts to allow subscriber to update/correct personal information previously-->
<!--                            submitted which he/she states is erroneous to the extent such activities will not compromise-->
<!--                            privacy or security interests-->
<!--                        </li>-->
<!--                        <li>Initiate reasonable efforts to functionally delete the subscriber and his/her personal-->
<!--                            information from its database. Visitors should be aware that it might be impossible to-->
<!--                            completely delete erroneous information or a visitor's personal information without some-->
<!--                            residual information remaining in its database because of backups and records of deletions.-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                    <p style="text-align:Justify;"><strong>2.4.3.</strong> In case of breaches or any other data-related-->
<!--                        concerns (subject to this privacy statement), subjects may lodge complaints with their regional-->
<!--                        data privacy regulator. For UK citizens, it is the Information Commissioner’s Office. Concerns-->
<!--                        can be directly reported at <a href="http://www.ico.org.uk/concerns">http://www.ico.org.uk/concerns</a>.-->
<!--                    </p>-->
<!--                    <p style="text-align:Justify;"><strong>2.4.4.</strong> We retain subject data for as long as it is-->
<!--                        reasonably necessary, for providing our Services. Such data is anonymized in a reasonably-->
<!--                        practical time-frame after the subject stops using our Services.</p>-->
<!--                    <p style="text-align:Justify;">2.4.5. Sufficient safeguards are taken while transferring subject-->
<!--                        data to other countries. We are obliged to provide a copy of said safeguards and related privacy-->
<!--                        rights on request by the subjects in concern.</p>-->
                    <h3 class="normal-head">3. Data Security &amp; Confidentiality</h3>
                    <p style="text-align:Justify;">At Affluence Business Inc, we give utmost importance to safeguard your
                        privacy, at every step of processing or storing your personal information. We take every step to
                        protect the confidentiality and security of the said data. We apply a state-of-the-art server
                        with the latest encryption. To provide you better services, without causing any disruption to
                        your experience with us, we may share your personal information only with partners whose
                        products/services are relevant to you.</p>
                    <p style="text-align:Justify;"><strong>3.1.</strong> Affluence Business Inc ensures that all customer
                        data remains the property of the respective customers. We also do not use, rent, sell, transfer,
                        or otherwise expose the contents of the tracking information resulting from click-through,
                        messages opened, messages read, or eCommerce conversions. Affluence Business Inc provides an SSL
                        encrypted, password-protected mechanism for viewing and extracting customer data.</p>
                    <p style="text-align:Justify;"><strong>3.2.</strong> We maintain all customer data in a
                        carrier-class secure facility protected by firewalls and other security devices. These measures
                        are designed to protect visitor and client information from loss, misuse, or unauthorized
                        alteration.</p>
                    <p style="text-align:Justify;"><strong>3.3.</strong> We use a third party for credit card
                        processing. This intermediary is solely a link in the distribution chain and is not permitted to
                        store, retain, or use the information provided expect for the sole purpose of credit card
                        processing. We restrict access to this information to only those employees who require the
                        information for business purposes.</p>
                    <h3 class="normal-head">4. Cookies &amp; Tracking Technologies</h3>
                    <p><strong>Does Affluence Business Inc use cookies?</strong></p>
                    <p style="text-align:Justify;">Yes, like most websites, Affluence Business Inc uses cookies to improve
                        your experience in our website. Cookies help us keep a record of the behavior of users on our
                        website. Cookies help us in omitting irrelevant content from the site from time to time, and in
                        adding fresh relevant user-friendly content.</p>
                    <p style="text-align:Justify;"><strong>How does Affluence Business Inc' tracking technology
                        work?</strong></p>
                    <p style="text-align:Justify;">Affluence Business Inc uses single-pixel gif images to count web page
                        accesses and gather some general statistical information such as, if an email has been opened or
                        read. Collected information is tied to the users' personally identifiable information to provide
                        offers and improve the content of the site for the user. This profile is used to tailor a user’s
                        visit to our website and to direct pertinent marketing promotions to them. We do not share your
                        profile with other third parties.</p>
                    <h3 class="normal-head">5. Third-party Site Links</h3>
                    <p style="text-align:Justify;">Affluence Business Inc' website or messages may contain links to other
                        (third-party) websites. Affluence Business Inc is not responsible for the privacy practices or the
                        content of such "other" websites. Third parties may independently collect information about
                        website visitors when users view ads or other communications from third parties through Affluence Business Inc
                         products or services. Visitors must contact the third-party companies directly
                        regarding actions on these matters.</p>
                    <p style="text-align:Justify;">In addition, the existence of a link to another site or resource does
                        not constitute a recommendation or endorsement of that. We do not accept any responsibility or
                        liability for any information leakage at any of the sites linked to/from this directory and
                        henceforth advice you to use such sites at your own risk.</p>
                    <h3 class="normal-head">6. Unsolicited Commercial Email (SPAM)</h3>
                    <ul class="space-list">
                        <li>Affluence Business Inc is committed to providing a permission-based model for email marketing.
                            To that end, we carry a strict internationally acclaimed anti-spam policy for all of our
                            clients.
                        </li>
                        <li>Our clients are explicitly prohibited from sending any unsolicited material to recipients
                            who have not expressed their permission to receive communications from them.
                        </li>
                        <li>Our services may only be used for lawful purposes and may not violate or intervene any
                            local, state, federal or international laws.
                        </li>
                    </ul>
                    <p style="text-align:Justify;">These policies are part of our broader reaching Acceptable Use Policy
                        that each of our clients are contractually bound to. Violation of this policy will lead to
                        speedy termination of all access to Affluence Business Inc’ applications, servers, and
                        network.</p>
                    <h3 class="normal-head">7. Campaign Content (Emails)</h3>
                    <p style="text-align:Justify;">We review the content of the email campaigns sent through our
                        platform to verify compliance with the state, national, or international laws. In this regard,
                        we use software with content algorithms to track the content of said email campaigns. This
                        filtering benefits all users who avail our services and it reduces bounces and ensures high
                        deliverability.</p>
                    <h3 class="normal-head">8. Changes to Privacy Policy</h3>
                    <p style="text-align:Justify;">Affluence Business Inc reserves the right to change any clause in the
                        privacy policy without any prior notice. We may also amend this Privacy Policy from time to
                        time, and therefore encourage you to revisit this page periodically or when you notice new
                        features on our website.</p>
                    <p style="text-align:Justify;">However, you will be immediately notified in case of any change in
                        the privacy policy. All our premium customers who have signed-in for our promotional newsletter
                        services will also be informed about that change through emails. </p>
                    <p style="text-align:Justify;"><strong>By using the website, you agree, without limitation or
                        qualification, accept to adhere by the above Privacy Policy.</strong></p>
                    <h3 class="normal-head">Questions and Suggestions</h3>
                    <p>For any queries, doubts, or suggestions regarding our privacy policy statement above, please
                        contact Affluence Business Inc at:</p>
                    <p> Phone:307-213-7098<br>Email: <a href="mailto:steve@affluencebizdata.com">steve@affluencebizdata.com</a>
                    </p>
                    <p><strong>Postal Address</strong> : <br>Affluence Business Inc<br> 1309 COFFEEN AVENUE STE 1200 SHERIDAN,  </br> WY 82801<br />
                        </p></div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
</main>

{% endblock %}