{% extends 'base.html' %}

{% block content %}
    <section class="inner-banner professional-list-banner">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-3 wow fadeInLeft"></div>
                    <div class="col-lg-6 mb-3 wow fadeInLeft">
                        <h1>100% Trusted Professional Email List</h1>
                        <p>Choose Affluence Business Inc to Enjoy Premium Company with C-level Executives as Your
                            Customers</p>
                        <div class="mt-4"> <a href="#" data-toggle="modal" data-target="#send-message"
                                class="white-br-btn circle-fa">Book Your Data &nbsp; <i
                                    class="fa icon ion-android-arrow-forward"></i></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <main id="main">
        <section class="section-sec light-grey-sec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 wow fadeInLeft">
                        <h2 class="subhead-small-blk ">Top Segmented Professional Lists</h2>
                    </div>
                    <div class="col-lg-6 wow fadeInLeft">
                        <div class="dgreen-bg-list-outer">
                            <table class="dgreen-bg-list">
                                <tr>
                                    <td><a href="/ceo-email-list/"
                                            title="CEO Email Addresses">CEO Email Addresses</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/cto-email-list/"
                                            title="CTO Contact Data">CTO Contact Data</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/cmo-email-list/"
                                            title="CMO Mailing Database">CMO Mailing Database</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/cfo-email-list/"
                                            title="CFO Email Leads">CFO Email Leads</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/cio-email-list/"
                                            title="CIO Marketing Lists">CIO Marketing Lists</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/home-inspectors-email-list/"
                                            title="Home Inspectors Email Addresses">Home Inspectors Email Addresses</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="/fire-department-email-list/"
                                            title="Fire Department Sales Leads">Fire Department Sales Leads</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/loan-officer-email-list/"
                                            title="Loan Officer Email List">Loan Officer Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/stockbrokers-email-list/"
                                            title="StockBrokers Mailing List">StockBrokers Mailing List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/canadian-ceo-email-list/"
                                            title="Canadian CEO Email List">Canadian CEO Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/canadian-cfo-email-list/"
                                            title="Canadian CFO Email List">Canadian CFO Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/canadian-cmo-email-list/"
                                            title="Canadian CMO Email List">Canadian CMO Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/canadian-cpa-email-list/"
                                            title="Canadian CPA Email List">Canadian CPA Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/canadian-software-developers-email-list/"
                                            title="Canadian Software Developers Email List">Canadian Software Developers
                                            Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/chief-and-vp-of-operations-email-list"
                                            title="Chief and VP of Operations Email List">Chief and VP of Operations
                                            Email List</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInLeft">
                        <div class="dgreen-bg-list-outer">
                            <table class="dgreen-bg-list">
                                <tr>
                                    <td><a href="/general-manager-email-list"
                                            title="General Manager Email List">General Managers Contacts</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/attorney-email-list"
                                            title="Attorney Email List">Attorney/Lawyers Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/architect-email-list"
                                            title="architect Email List">Email List of Architect's</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/merchandise-manager-email-list/"
                                            title="Merchandise Manager Email List">Merchandise Manager Emails</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/cpa-email-list/"
                                            title="CPA Email List">CPA Email Addresses</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/event-organizers-email-list/"
                                            title="Event Organizer Email List">List of Event Organizers</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/payroll-email-list"
                                            title="Payroll Email List">Payroll Mailing Addresses</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/bankruptcy-email-list"
                                            title="Bankruptcy Email List">Bankruptcy Mailing Database</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/insurance-brokers-email-list"
                                            title="Insurance Brokers Email List">Insurance Brokers Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/chief-and-vp-of-quality-email-list"
                                            title="Chief and VP of Quality Email List">Chief and VP of Quality Email
                                            List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/chief-and-vp-software-email-list"
                                            title="Chief and VP of Software Email List">Chief and VP of Software Email
                                            List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/chro-email-list"
                                            title="CHRO Email List">CHRO Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/coo-email-list"
                                            title="COO Email List">COO Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/cso-email-list"
                                            title="CSO Email List">CSO Email List</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/it-decision-makers-email-list"
                                            title="IT Decision Makers Email List">IT Decision Makers Email List</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
        <section class="section-sec-0-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 section-fpad wow fadeInLeft">
                        <h2 class="subhead-small-blk">Our Professional Email List is the Kryptonite You Need to Engage
                            with Influential Leads Successfully</h2>
                        <p style="text-align:Justify;">Put merely, C-suite executives are the torchbearers of their
                            organizations. From overlooking day-to-day responsibilities to leading their employees
                            towards a successful career, their plate remains full, 24x7. Punctuality and professionalism
                            are paramount to these individuals, and to reach them; your marketing game must be
                            top-notch. If you’re looking for the solution that will help you seal the deal with them,
                            Affluence Business Inc’Professionals email marketing database is what you need.</p>
                        <p style="text-align:Justify;">The <strong>professional sector of C-suite</strong> workers has
                            been one of the sprawling ones in the USA. With over 2,100,000 top executives currently
                            employed, this is a brimming window for marketers looking to engage with premium clientele.
                            However, to reach such a niche audience and build a robust brand presence, you will need a
                            highly-relevant C-level executives email list.</p>
                        <p style="text-align:Justify;">That’s where our expertly-collated professional contact database
                            shines. Comprising 100% ethically-collected customer data from globally credible sources,
                            our <a href="#"><strong>mailing
                                    database</strong></a> ensures that you receive genuine contact details and not waste
                            an ounce of your resources. With a highly-affordable, one-time investment, you access all
                            the necessary tools to bag in the top decision-makers of companies all across the USA! </p>
                        <p style="text-align:Justify;">More often than not, marketers opt for homegrown email lists,
                            thinking they’re economically better. Instead, they drain out the budget and simultaneously
                            deplete the sales team’s morale with unfulfilling results. To assure profits and successful
                            email campaigns, you need lists that consistently deliver results with fool-proof data.
                            While doing so, your team’s focus remains on crafting the best pitches, thus securing the
                            top-tier leads quicker and better. If you’re looking for the same, Affluence Business Inc is
                            here to help. </p>
                    </div>
                    <div class="col-lg-5 mb-4 wow fadeInRight">
                        <div class="mx-800">
                            <div class="contact-side">
                                <h4>GET A FREE QUOTE</h4>
                                <p>We have got you covered on all your email and direct marketing needs</p>
                                <div class="form">
                                    <form name="f12" id="contact-form"
                                        action="contact-us" method="post"
                                        >
                                        {% csrf_token %}

                                        <div class=" form-row">
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="text" name="first_name"
                                                        class="form-control" id="first_name" placeholder="First Name*"> <i
                                                        class="fa fa-user icon"></i> </div>
                                            </div>
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="text" name="last_name"
                                                        class="form-control" id="last_name" placeholder="Last Name"> <i
                                                        class="fa fa-user icon"></i> </div>
                                            </div>
                                        </div>
                                        <div class=" form-row">
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="email" class="form-control"
                                                        name="email" id="email" placeholder="Business Email*"> <i
                                                        class="fa fa-envelope icon"></i> </div>
                                            </div>
                                            <div class="col-lg-6 form-group">
                                                <div class="input-container"> <input type="text" class="form-control"
                                                        name="phone" id="phone" placeholder="Business Phone*"> <i
                                                        class="fa fa-phone icon"></i> </div>
                                            </div>
                                        </div>
                                        <div class=" form-row">
                                            <div class="col-lg-12 form-group">
                                                <div class="input-container"> <input type="text" name="company"
                                                        class="form-control" id="company" placeholder="Company Name*">
                                                    <i class="fa fa-briefcase icon"></i> </div>
                                            </div>
                                        </div>
                                        <div class=" form-row">
                                            <div class="col-lg-12 form-group">
                                                <div class="input-container"> <select name="contact_no"
                                                        class="form-control">
                                                        <option value="">No. of contacts</option>
                                                        <option value="Less than 10k">Less than 10k</option>
                                                        <option value="10k-50k">10k-50k</option>
                                                        <option value="50k-100k">50k-100k</option>
                                                        <option value="100k+">100k+</option>
                                                    </select> </div>
                                            </div>
                                        </div>
                                        <div class="form-group"> <textarea class="form-control " name="message"
                                                rows="1" placeholder="Message*"></textarea> </div>
                                        <div class="form-group"> <label><input name="newslettersubscribe"
                                                    value="newslettersubscribe" checked="" type="checkbox"> I would like
                                                to subscribe to your Newsletter.</label> </div>
                                        <div class="form-group mt-4"><button type="submit" class="circle-fa">Submit Data
                                                Counts and Quote Request &nbsp; <i
                                                    class="fa icon ion-android-arrow-forward"></i></button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
        <section class="grey-sec-light-01">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 wow fadeInRight"><img
                            src="/static/assets/img/custom-built-email-database.jpg"
                            class="respo-img" title="Professional Lists" alt="Professional Lists" /></div>
                    <div class="col-lg-6 pt-5 pb-5 mt-3 wow fadeInLeft">
                        <h2 class="subhead-small-blk">B2B Decision Makers Marketing List:</h2>
                        <div class="row">
                            <div class="col-lg-4 wow fadeInLeft">
                                <ul class="green-star-list">
                                    <li><a href="/ceo-email-list"
                                            title="CEO Email List">CEO Email List</a></li>
                                    <li><a href="/cto-email-list"
                                            title="CTO Email List">CTO Email List</a></li>
                                    <li><a href="/cmo-email-list"
                                            title="CMO Email List">CMO Email List</a></li>
                                    <li><a href="/cfo-email-list"
                                            title="CFO Email List">CFO Email List</a></li>
                                    <li><a href="/cio-email-list"
                                            title="CIO Email List">CIO Email List</a></li>
                                    <li><a href="/cpa-email-list"
                                            title="CPA Email List">CPA Email List</a></li>
                                    <li><a href="/it-vp-email-list"
                                            title="IT VP Email List">IT VP Email List</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-4 wow fadeInLeft">
                                <ul class="green-star-list">
                                    <li><a href="/supply-chain-executives-email-list"
                                            title="General Manager Email List">Supply Chain Executives Email List</a>
                                    </li>
                                    <li><a href="/cpo-email-list"
                                            title="Chief Purchasing Officer Email List">Chief Purchasing Officer Email
                                            list</a></li>
                                    <li><a href="/event-organizers-email-list"
                                            title="Event Organizers Email List">Event Organizers Email List</a></li>
                                    <li><a href="/project-directors-managers-email-list"
                                            title="Project Directors & Managers Email List">Project Directors & Managers
                                            Email List</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-4 wow fadeInLeft">
                                <ul class="green-star-list">
                                    <li><a href="/architect-email-list/"
                                            title="Architects Email List">Architects Email List</a></li>
                                    <li><a href="/chairman-email-list/"
                                            title="Chairman Email List">Chairman Email List</a></li>
                                    <li><a href="/chartered-accountants-email-list/"
                                            title="CA Email List">CA Email list</a></li>
                                    <li><a href="/general-manager-email-list/"
                                            title="General Manager Email List">General Manager Email List</a></li>
                                    <li><a href="/directors-email-list/"
                                            title="Directors Email List">Directors Email List</a></li>
                                    <li><a href="/accounting-and-taxing-professionals-email-list/"
                                            title="Accounting And Taxing Professionals Email Lists">Accounting And
                                            Taxing Professionals Email Lists</a></li>
                                </ul>
                            </div>
                            <p style="text-align:Justify;">Your campaigns are exclusive and what you do today will help
                                you in carving a better tomorrow. So don't hesitate to do what's right for you.
                                Data-driven marketing is in, and the right <a
                                    href="#"
                                    title="B2B Mailing List"><strong>B2B Mailing List</strong></a> will ensure that your
                                marketing messages are reaching the right professionals. So take this step to improve
                                deliverables and returns. Buy business email addresses of C-Level Executives today!</p>
                        </div>
                    </div>
                </div>
        </section>
        <section class="grey-sec-light">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 mb-4 wow fadeInLeft">
                        <div class="pad-sec">
                            <h2 class="subhead-small-blk">Our Deep Data Intelligence and Your Business Model results in
                                Securing = C-Suite Professional</h2>
                            <p style="text-align:Justify;">While aiming at these executives, the “when” and “how” of
                                marketing your services isn’t the main hurdle. It is capturing their attention as soon
                                as possible that poses the main hurdle. Such high-ranking officials have no time to
                                waste, and if your strategies are directed towards the wrong one, even the best
                                marketing tactic will fail. Employ our professional email list to tackle this aptly.</p>
                            <p style="text-align:Justify;">Through our <a
                                    href="#"
                                    title="Email Database"><strong>email database</strong></a>, you can access intricate
                                details such as full name, company size, revenue, employee size, ROI, SIC code, physical
                                location, ZIP code, and many more. These 100% accurate data fields will help you seal
                                the deal by reaching out to the best-suited professional.</p>
                            <div class="mt-4"> <a href="/request-quote"
                                    class="dgreen-btn circle-fa">Request For A Quote &nbsp; <i
                                        class="fa icon ion-android-arrow-forward"></i></a> </div>
                        </div>
                    </div>
                    <div class="col-lg-6 geotargeted-list-sgs wow fadeInRight"> </div>
                </div>
            </div>
        </section>
        <section class="section-sec-50-40 ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 wow fadeInLeft">
                        <h2 class="subhead-small-blk">Want to be a Winner? Rely on Relevant Data and Unlock Quality
                            Conversations Rapidly. </h2>
                        <p style="text-align:Justify;">Sure, comprehensive data helps, but not always. To run marketing
                            campaigns that you can rest assured about, you will need a highly-relevant professionals
                            mailing database. While curating one is a Herculean endeavor, we do the heavy-lifting so
                            that you have nothing to worry about!</p>
                        <p style="text-align:Justify;">Our data-driven team sources consumer data from public surveys,
                            business cards, yellow pages, and other trusted sources. Moreover, we only offer
                            consent-based, tele-verified insights, thus removing any data silos, cold leads, and
                            underperforming data. By accessing such rich information, you can confidently conduct
                            campaigns across multiple verticals, knowing that your messages will land on the right inbox
                            every time.</p>
                        <div class="mb-5 mt-4"> <a href="/contact-us/"
                                class="green-btn circle-fa">Explore Our Data-Smart Professionals Mailing Database Today!
                                &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a> </div>
                        <h2 class="subhead-small-blk">Partner with this Industry’s Big Players and Garner a Customer
                            Circle of High-Tier Clients Easily</h2>
                        <p style="text-align:Justify;">Data providing holds the immaculate power of either making or
                            breaking an email marketing campaign. Having been in this business for years, Affluence Business Inc
                            Services knows the mistakes to avoid and the opportunities to capitalize. To help our
                            clients win, we utilize our strong suits and help them conduct successful campaigns left and
                            right.</p>
                        <p style="text-align:Justify;">Our <strong>C-level Executives Email List</strong> promises
                            unhindered engagement with the country’s top executives, from CEOs, COOs, to Managers,
                            Directors, and various other leaders. To live up to this assurance, we employ <a
                                href="/data-appending/"><strong>data
                                    appending</strong></a>, vetting, cleansing, and thorough tele-calling, to keep our
                            database fresh and 100% relevant. Besides, we regularly update each data field on the list,
                            thus ensuring that your sales funnel improves tenfold, with authentic leads who are
                            genuinely interested in your organization. </p>
                        <p style="text-align:Justify;">In America alone, there are over 195,000 CEOs currently employed.
                            Based on this, there is an array of top executives from various continents you can target
                            and expand your success. Why take the risk of containing your strategy in a single region if
                            your services transcend boundaries? Our database houses vast insights that will extend your
                            emails to the UK, Middle East, Asia, Europe, Australia, and more!</p>
                        <p style="text-align:Justify;">Why wait when marketing success awaits you? Connect with us and
                            start enjoying rich customer data from today itself.</p>
                    </div>
                </div>
        </section>
        <section class="free-quote-sec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 wow fadeInRight centeralign">
                        <div>
                            <h2>GET A FREE QUOTE</h2>
                            <p>Finding the right data can be<br /> complicated, so we are here to help </p>
                        </div>
                    </div>
                    <div class="col-lg-7 wow fadeInRight">
                        <div class="contact-quote">
                            <div class="form">
                                <form method="post" name="contactside" class="contactForm"
                                    onsubmit="return fnValidationContactside()"
                                    action=" "
                                    enctype="multipart/form-data"> <input name="subject" type="hidden"
                                        value="Contact Details from Affluence Business Inc">

                                    <div class=" form-row">
                                        <div class="col-lg-6 form-group"> <input type="text" name="fname"
                                                class="form-control" id="fname" placeholder="First Name*"> </div>
                                        <div class="col-lg-6 form-group"> <input type="text" name="lname"
                                                class="form-control" id="lname" placeholder="Last Name*"> </div>
                                        <div class="col-lg-6 form-group"> <input type="email" class="form-control"
                                                name="email" id="email" placeholder="Business Email*"> </div>
                                        <div class="col-lg-6 form-group"> <input type="text" class="form-control"
                                                name="phone" id="phone" placeholder="Phone*"> </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-lg-12 form-group">
                                            <div class="input-container"> <select name="contact" class="form-control">
                                                    <option value="">No. of contacts</option>
                                                    <option value="Less than 10k">Less than 10k</option>
                                                    <option value="10k-50k">10k-50k</option>
                                                    <option value="50k-100k">50k-100k</option>
                                                    <option value="100k+">100k+</option>
                                                </select> </div>
                                        </div>
                                    </div>
                                    <div class="form-group"> <textarea class="form-control " name="comments" rows="2"
                                            placeholder="Requirements"></textarea> </div>
                                    <div class="form-group"><button type="submit" class="circle-fa">CLICK HERE TO
                                            SUBMIT</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
    