{% extends 'base.html' %}

{% block content %}
<section class="inner-banner tam-banner pos-rel">
  <div class="overlay3">
    <div class="container">
      <div class="row">
        <div class="mx-700">
          <div class="col-lg-12 text-center mb-3 wow fadeInLeft">
            <h1>Find Accurate Lead Data To Measure Your Total Addressable Market<br />(TAM)</h1>
            <p>Calculate market potential by measuring<br />the most promising territories and active decision-makers.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-sec-80-40 pt-0 mt--80 top-layer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-4 wow fadeInLeft">
        <div class="green-bg-box">
          <div class="row">
            <div class="col-lg-8 wow fadeInLeft">
              <h2 class="shead-sblk text-white mb-3">Book Your Personalized TAM Targeting Session</h2>
              <p class="text-white mb-0">Identify the best and most affordable way to capture your Total Addressable
                Market</p>
            </div>
            <div class="col-lg-4 mt-3 wow fadeInRight">
              <div class="">
                <a href="/contact-us/" class="white-br-btn circle-fa">Talk To Us &nbsp; <i
                    class="fa icon ion-android-arrow-forward"></i></a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<main id="main">
  <section class="section-sec-80-40 pt-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-4 wow fadeInLeft">
          <h2 class="mhead-blk mb-3">Your Total Market Potential is Now Measurable & Achievable</h2>
          <p>Find qualified leads that make your total addressable market. </p>
          <div class="row">
            <div class="col-lg-6 mb-3 wow fadeInLeft">
              <div class="lgreen-br-box pos-rel pad-right-70">
                <p class="mb-0">You have scoured the web to find your most prospective buyers.</p>
                <img src="https://www.spanglobalservices.com/assets/img/perspective-thumb.png"
                  alt="Most Prospective Buyers" class="respo-img pos-bot-right mb-3" />
              </div>
            </div>
            <div class="col-lg-6 mb-3 wow fadeInLeft">
              <div class="lgreen-br-box pos-rel pad-right-70">
                <p class="mb-0">You are yet able to reach only a small proportion of the target market.</p>
                <img src="https://www.spanglobalservices.com/assets/img/small-proportion-thumb.png"
                  alt="Small Proportion of the Target Market" class="respo-img pos-bot-right mb-3" />
              </div>
            </div>
            <div class="col-lg-6 mb-3 wow fadeInLeft">
              <div class="lgreen-br-box pos-rel pad-right-70">
                <p class="mb-0">There are many potential customers whom you are missing out on due to lead leakage.</p>
                <img src="https://www.spanglobalservices.com/assets/img/potential-customers-thumb.png"
                  alt="Potential Customers" class="respo-img pos-bot-right mb-3" />
              </div>
            </div>
            <div class="col-lg-6 mb-3 wow fadeInLeft">
              <div class="lgreen-br-box pos-rel pad-right-70">
                <p class="mb-0">There are existing customers whom you are unable to re-connect and re-activate due to
                  bad data.</p>
                <img src="https://www.spanglobalservices.com/assets/img/re-activate-thumb.png"
                  alt="Re-connect and Re-activate" class="respo-img pos-bot-right mb-3" />
              </div>
            </div>
          </div>

          <p class="blk">Our Total Addressable Market Solution experts can show you how to grow your market share with
            accuracy.</p>

          <p class="blk">Design a perfect strategy with accurate lead data to go from your present capitalization and to
            grow and reach over 90% of your total market.</p>

          <p class="blk">Find out about the segments or customer groups and analyze user behavior and purchase intent to
            personalize offerings.</p>

        </div>
        <div class="col-lg-6 mb-4 wow fadeInRight">
          <img src="https://www.spanglobalservices.com/assets/img/big-budget-thumb.jpg" alt="Total Addressable Market"
            class="respo-img" />
        </div>
      </div>
    </div>
  </section>
  <section class="section-sec-80-40 grey-sec-el">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-4 mt--80 wow fadeInLeft">
          <img src="https://www.spanglobalservices.com/assets/img/identify-target-market.jpg"
            alt="How can our data experts help?" class="respo-img" />

        </div>
        <div class="col-lg-6 mb-4 wow fadeInRight">
          <h2 class="mhead-blk mb-2">Your Marketing Dollars<br />
            Are Very Valuable</h2>

          <h4 class="normal-hblk mt-3 mb-2">This is how you can drive a bigger bang for your bucks!</h4>
          <h4 class="shead-smblk">How can our data experts help?</h4>

          <div class="col-lg-12 mb-3 marketing-sm-box">
            <div class="icon"><img src="https://www.spanglobalservices.com/assets/img/calculator-thumb.png"
                alt="Calculate your market reach" class="respo-img" /></div>
            <p class="description">Calculate your market reach before making big-budget B2B marketing plans.</p>
            <div class="clearfix"> </div>
          </div>
          <div class="clearfix"> </div>
          <div class="col-lg-12 mb-3  marketing-sm-box">
            <div class="icon"><img src="https://www.spanglobalservices.com/assets/img/pre-segmented-thumb.png"
                alt="pre-segmented lead data" class="respo-img" /></div>
            <p class="description">Probe if you can find pre-segmented lead data that are waiting to be tapped.</p>
            <div class="clearfix"> </div>
          </div>
          <div class="clearfix"> </div>
          <div class="col-lg-12 mb-3  marketing-sm-box">
            <div class="icon"><img src="https://www.spanglobalservices.com/assets/img/buying-behaviour-thumb.png"
                alt="buying behavior" class="respo-img" /></div>
            <p class="description">Find out about the trends and buying behavior of your target audience. </p>
            <div class="clearfix"> </div>
          </div>
          <div class="clearfix"> </div>
          <div class="col-lg-12 mb-3  marketing-sm-box">
            <div class="icon"><img src="https://www.spanglobalservices.com/assets/img/prospective-customers-thumb.png"
                alt="prospective customers" class="respo-img" /></div>
            <p class="description">Know if your most prospective customers are eager to hear from you.</p>
            <div class="clearfix"> </div>
          </div>
          <div class="clearfix"> </div>

          <p>Our Total Addressable Market Solution experts can show you how to grow your market share with accuracy.</p>

          <p>Design a perfect strategy with accurate lead data to go from your present capitalization and to grow and
            reach over 90% of your total market.</p>

          <p>Find out more about the segments or customer groups and analyze user behavior and purchase intent to
            personalize offerings.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-sec-80-40 inbound-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 centeralign mb-4 wow fadeInLeft">
          <div class="pad-sec">
            <h2 class="bhead-blk mb-4">Thinking of an Outbound or Inbound Sales Plan?</h2>
            <h4 class="normal-hblk pb-4">Stop running the race blindfolded without<br />measuring your total buyer
              universe.</h4>
            <div class="mb-2 mt-4"> <a href="https://www.spanglobalservices.com/connect-with-us"
                class="green-btn circle-fa">Connect With US! &nbsp; <i
                  class="fa icon ion-android-arrow-forward"></i></a> </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4 wow fadeInRight pad-none">
          <img src="https://www.spanglobalservices.com/assets/img/most-valuable-bg.jpg"
            alt="Outbound or Inbound Sales Plan" class="full-img" />
        </div>
      </div>
    </div>
  </section>
  <section class="section-sec-80-40 identify-target-market-sec ">
    <div class="container pt-5 pb-5">
      <div class="row">
        <div class="col-lg-12 text-center mb-4 wow fadeInLeft">
          <div class="mx-800">
            <h2 class="lgreen-head br-white-bottom mb-5 pb-5">Identify Your Target Market To Maximize Revenues</h2>
            <h4 class="normal-hblk text-white">Identify how many target customers exist in the market.</h4>
            <h4 class="normal-hblk text-white">Calculate the total market size of your prospects with Span Global
              Services data experts.</h4>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-sec-80-40">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-4 wow fadeInLeft">
          <img src="https://www.spanglobalservices.com/assets/img/identify-convert-bg.jpg"
            alt="See your Marketing Pursuits Take-Off!" class="respo-img" />
        </div>
        <div class="col-lg-6 mb-4 wow fadeInRight">
          <h2 class="mhead-blk mb-2">See your Marketing Pursuits Take-Off!</h2>
          <h4 class="normal-hblk">Find out where your target audience exists and grow with speed.</h4>
          <h4 class="normal-hblk">Reach out to the right audiences where they exist and grow your footprint at an
            exponentially good pace.</h4>
          <div class="col-lg-12 mb-3 mt-5 pt-5 br-grey-top value-sm-box">
            <div class="icon"><img src="https://www.spanglobalservices.com/assets/img/total-buyer-icon.png"
                alt="Calculate Total Buyey Universe" class="respo-img" /></div>
            <p class="description">Calculate the total buyer universe of any target market and then proceed to your next
              step.</p>
            <div class="clearfix"> </div>
          </div>
          <div class="col-lg-12 mb-3 value-sm-box">
            <div class="icon"><img src="https://www.spanglobalservices.com/assets/img/expert-advise-icon.png"
                alt="Seek our Expert Advice" class="respo-img" /></div>
            <p class="description">Seek our expert advice to launch lead generation campaigns for every potential
              segment.</p>
            <div class="clearfix"> </div>
          </div>

          <div class="col-lg-12 mb-3 value-sm-box">
            <div class="icon"><img src="https://www.spanglobalservices.com/assets/img/reach-sales-icon.png"
                alt="Launch multi-channel Campaigns" class="respo-img" /></div>
            <p class="description">Launch multi-channel campaigns to reach sales targets and strategic business
              objectives.</p>
            <div class="clearfix"> </div>
          </div>

          <div class="col-lg-12 mb-3 value-sm-box">
            <div class="icon"><img src="https://www.spanglobalservices.com/assets/img/hyper-personalized-icon.png"
                alt="Reach Every Segment" class="respo-img" /></div>
            <p class="description">Reach every segment with unique hyper-personalized messages to drive higher
              engagement.</p>
            <div class="clearfix"> </div>
          </div>


        </div>

      </div>
    </div>
  </section>



  <section class="grey-sec-light">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 mb-4 wow fadeInRight">
          <div class="pad-sec">
            <h2 class="shead-sblk mb-2">Are You Able To Measure Your Market Potential With Accuracy?<br />
              <h4 class="shead-smblk">Identify, Reach and Convert</h4>
              <h4 class="normal-hblk">Target your total market buyers and solution seekers accurately.</h4>

              <h4 class="shead-smblk">Here’s what you can achieve with us:</h4>

              <ul class="green-tick-list">
                <li>Set practical &amp; achievable goals</li>
                <li>Identify new avenues of revenue</li>
                <li>Calculate total potential revenue</li>
                <li>Forecast customer behavior</li>
                <li>Speed-up B2B lead generation</li>
              </ul>

              <p class="blk">Now is the time to garner competitive edge &amp; optimize your sales pipeline with
                high-quality leads.</p>

              <p class="blk">Size up and segmentyour TAM in-depth with the help of our industry-leading lead generation
                experts. Speak with our data experts who manage the world’s best B2B data and super charge your growth.
              </p>
          </div>
        </div>
        <div class="col-lg-6 identify-reach-side wow fadeInRight">
        </div>
      </div>
    </div>
  </section>

  <section class="section-sec-80-40 ">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mb-4 wow fadeInLeft">
          <div class="row">
            <div class="col-lg-8 wow fadeInLeft">
              <h2 class="mhead-blk mb-3">Measure Your Total Addressable Market</h2>
              <p class="mb-0">Set a target and get a free sample of your hottest leads!</p>
            </div>
            <div class="col-lg-4 mt-3 wow fadeInRight">
              <div class="">
                <a href="https://www.spanglobalservices.com/connect-with-us" class="green-btn circle-fa">Talk To Us
                  &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>


{% endblock %}