{% extends 'base.html' %}

{% block content %}

  <main id="main">
  
 
  <section class="section-sec-0-60" >
      <div class="container">
        <div class="row">
          <div class="col-lg-7 section-fpad wow fadeInLeft">
		 
			<div class="col-lg-12 wow fadeInLeft">
  
               
			   
			   
			  <h2 class="subhead-small-blk">Connect to your Niche Audience Worldwide with 100% Verified CRM Users Email List</h2>
			   <p><strong>Some of the companies that use CRM software includes Activision, Ben & Jerry’s, Mayo Clinic, Progressive Insurance, Wells Fargo and many more.</strong></p>
			   <p align="justify">Procure the CRM users email lists from <a href="https://www.spanglobalservices.com/"><strong>Span Global Services</strong></a> and get connected to your niche audience all across the globe. We offer accurate and dynamic data, collected from legitimate sources, that is verified by our expert data scientists.</p>
			   <p align="justify">Businesses use Customer Relationship Management (CRM) Software to foster a personalized relationship with the customer. They map the customer journey and make an effort to understand customer preferences and pain points. Doing all of this manually, however, would be time-consuming and prone to human error. The best option, therefore, is to partner with a professional CRM users database solution provider.</p>
			   <p align="justify">So, if you are a marketer looking to target CRM software users, allow the data experts of Span Global Services to help you achieve marketing success using our <strong>CRM Users Mailing List</strong>.</p>
			   
			   <h2 class="subhead-small-blk">Customize your CRM Customers List by </h2>
			    <style>
    .repo-img{max-width:100%;}
     @media screen and (max-width: 992px) { .respo-icon .col-lg-2 { width: 100%; } }
     @media screen and (max-width:768px)  { .respo-icon .col-lg-2 { width: 32%;  } }
     @media screen and (max-width: 600px) { .respo-icon.col-lg-2 { width: 32%; } }
</style>
			   <div class="row respo-icon"> 
			   <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;">
			   <img src="https://www.spanglobalservices.com/assets/img/assets-size.png" alt="assets-size" title="assets-size" class="respo-img" >
			   <p>Assets Size</p>
			   </div>
			   <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;"> 
			   <img src="https://www.spanglobalservices.com/assets/img/company-size.gif" alt="company-size" title="company-size" class="respo-img" >
			    <p>Company Size</p>
			   </div> 
			   <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;">
			   <img src="https://www.spanglobalservices.com/assets/img/geographic.png" alt="geographic" title="geographic" class="respo-img" >
			    <p>Geographic</p>
			   </div> 
			   <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;">
			   <img src="https://www.spanglobalservices.com/assets/img/industry.gif" alt="industry" title="industry" class="respo-img" >
			    <p>Industry</p>
			   </div>
			   <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;">
			   <img src="https://www.spanglobalservices.com/assets/img/job-title.png" alt="job-title" title="job-title" class="respo-img" >
			    <p>Job Title</p>
			   </div> 
			   <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;">
			   <img src="https://www.spanglobalservices.com/assets/img/technology.gif" alt="technology" title="technology" class="respo-img" >
			    <p>Technology</p>
			   </div>
			   
			   
			   </div>
			   
               </div>
			  
          </div>
          <div class="col-lg-5 mb-4 wow fadeInRight">
               <div class="mx-800">
				<div class="contact-side">
	<h4>GET A FREE QUOTE</h4>
	<p>We have got you covered on all your email and direct marketing needs</p>
    <div class="form">
         
			
		    <form name="f12" id="contact-form" action="https://www.spanglobalservices.com/scripts/formmail" method="post" onSubmit="return validationcon()" > 		
			<input type="hidden" name="returnURL" value="https://www.spanglobalservices.com/thanks">
			<input name="title" type="hidden" value="Contact Request from Span Global Services">


			  <div class=" form-row">
              	<div class="col-lg-6 form-group">
                	<div class="input-container">
                        <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name*">
                        <i class="fa fa-user icon"></i>
                    </div>
                </div>
                <div class="col-lg-6 form-group">
                	<div class="input-container">
                    	<input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name">
                        <i class="fa fa-user icon"></i>
                    </div>
              		
                </div>
              </div>
			  
			   <div class=" form-row">
              	<div class="col-lg-6 form-group">
                	<div class="input-container">
              			<input type="email" class="form-control" name="email" id="email" placeholder="Business Email*">
                    	<i class="fa fa-envelope icon"></i>
                    </div>
                </div>
                <div class="col-lg-6 form-group">
                	<div class="input-container">
              			<input type="text" class="form-control" name="phone" id="phone" placeholder="Business Phone*">
                        <i class="fa fa-phone icon"></i>
                    </div>
                </div>
              </div>
			
			
              <div class=" form-row">
              	
                <div class="col-lg-12 form-group">
                	<div class="input-container">
                		<input type="text" name="company" class="form-control" id="company" placeholder="Company Name*">
                        <i class="fa fa-briefcase icon"></i>
                    </div>
              		
                </div>
              </div>
			  
			   <div class=" form-row">
              	
                <div class="col-lg-12 form-group">
                	<div class="input-container">
                		
                        <select name="contact" class="form-control">
  <option value="">No. of contacts</option>
  <option value="Less than 10k">Less than 10k</option>
  <option value="10k-50k">10k-50k</option>
  <option value="50k-100k">50k-100k</option>
  <option value="100k+">100k+</option>
</select>
                    </div>
              		
                </div>
              </div>
            
              
              
              <div class="form-group">
              	<textarea class="form-control " name="comments" rows="1" placeholder="Message*"></textarea>
              </div>
              <div class="form-group">
              <label ><input name="newslettersubscribe" value="newslettersubscribe" checked="" type="checkbox"> I would like to subscribe to your Newsletter.</label>
              </div>
              
              <div class="form-group mt-4"><button type="submit" class="circle-fa" >Submit Data Counts and Quote Request &nbsp; <i class="fa icon ion-android-arrow-forward"></i></button></div>
          </form>
     </div>
</div>              </div>
          </div>
		  
		  
          
          <div class="clearfix"></div>
          
          
          
          
      </div>
	  </div>
	  </section>
	  
	  <section class="grey-sec-light-01" style="box-shadow: -1px 7px 25px #2bb511;">
	  <div class="container"> 
	  <div class="row">
	  <div class="col-lg-12 pt-5 pb-5 mt-3 wow fadeInRight" style="visibility: visible; animation-name: fadeInLeft;"> 
	  <h2 class="subhead-small-blk text-center">Popular CRM Systems that are Used Extensively by Contacts in Our CRM Email Lists</h2> 
	  <div class="row"> 
	  <div class="col-lg-4 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;"> 
	  <ul class="green-star-list"> 
	  <li>1CRM Software</li>
<li>Base Software</li>
<li>CallProof Software</li>
<li>Contractor's Cloud Software</li>
<li>Daylite Software</li>
<li>FollowUp Power Software</li>
<li>Freshdesk Software</li>
<li>Infusionsoft CRM Software</li>
	  
	  </ul> 
	  </div> 
	  <div class="col-lg-4 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;"> 
	  <ul class="green-star-list">
	  <li>JobNimbus Software</li>
<li>Marketo Software</li>
<li>Microsoft Dynamics CRM</li>
<li>PhaseWare Tracker CRM Software</li>
<li>PlanPlus Online Software</li>
<li>Prophet CRM Software</li>
<li>ProsperWorks CRM Software</li>
	  </ul>
	  </div>
	  <div class="col-lg-4 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;"> 
	  <ul class="green-star-list"> 
	  <li>Really Simple Systems Software</li>
<li>SalesNOW Software</li>
<li>SalesOutlook CRM Software</li>
<li>SalesNOW Software</li>
<li>SalesOutlook CRM Software</li>
<li>Workbooks Software</li>
<li>Zipwire Software</li> 
	  </ul> 
	  </div> 
	  </div>
    <div class="row pt-1 pb-1 wow fadeInRight">

                            <div class="col-sm-1"></div>
                            <div class="col-sm-5">
                                <a href="#requestquote">
                                    <div class="cardbox">
                                        <div class="row  wow fadeInRight">

                                            <div class="col-sm-2"><img class="imgin" src="../assets/img/ic1.png" alt="ic1" />
                                            </div>
                                            <div class="col-sm-10 c-top1">
                                                <h2 class="c-numb">141,471  </h2>
                                                <h4 class="c-txt1">Companies Using CRM </h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-5">
                                <a href="#requestquote">
                                    <div class="cardbox">
                                        <div class="row">
                                            <div class="col-sm-2 "><img class="imgin" src="../assets/img/ic2.png" alt="ic2" />
                                            </div>
                                            <div class="col-sm-10 c-top1">
                                                <h2 class="c-numb">406,429 </h2>
                                                <h4 class="c-txt1">Total Contacts Available</h4>
                                            </div>

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
               </div>
  
   
	  </div> 
	  </div>
	  </section>
	  
	  
	  <section class="section-sec-0-60" style="padding: 0px 0 0px 0;">
      <div class="container">
	   <div class="row">
	  <div class="col-lg-12 section-fpad wow fadeInLeft">
	  <div class="mx-700 pb-3">
	  <h2 class="subhead-small-blk text-center">Companies Using CRM Software, Segregated by Market Share (2021), Top Industries, Other Details</h2>
	  <p class="big-para text-center">We have data about 141,471  companies that use CRM Software</p>
		</div>
	  </div>
	  </div>
	  
	  
	  <div class="row">
	  <div class="col-lg-12 mb-4 wow fadeInRight">
	  
	<div class="tab">
      <button class="tablinks" onclick="openCity(event, 'Company')" id="defaultOpen"><img src="https://www.spanglobalservices.com/assets/img/company-icon.png" alt="Companies using CRM" title="" class="table-title-icon01"/>Companies Using CRM </button>
      <button class="tablinks" onclick="openCity(event, 'Countries')"><img src="https://www.spanglobalservices.com/assets/img/crm-icon.png" alt="Market Share" title="" class="table-title-icon01"/>Market Share</button>
      <button class="tablinks" onclick="openCity(event, 'Industries')"><img src="https://www.spanglobalservices.com/assets/img/industries-icon.png" alt="Industries" title="" class="table-title-icon01"/>Industries</button>
      <button class="tablinks" onclick="openCity(event, 'Other')"><img src="https://www.spanglobalservices.com/assets/img/other-detials-icon.png" alt="Other Details" title="" class="table-title-icon01"/>Other Details</button>
</div>

<div id="Company" class="tabcontent">
<div class="tab-scroll">
	<table class="border-tab-new01" style="width: 100%; border-collapse: collapse; border-spacing: 0px;">            
         
	<tbody>
<tr>
<th>Company Name</th>
<th>Website</th>
<th>Headquarters</th>
<th>Industry</th>
<th>Revenue</th>
<th>Employees</th>
</tr>
<tr>
<td>Air Liquide</td>
<td>airliquide.com</td>
<td>Paris, France</td>
<td>Chemicals</td>
<td>$24 Billion</td>
<td>64,500</td>
</tr>
<tr>
<td>Italian SEA Group</td>
<td>theitalianseagroup.com</td>
<td>Italy</td>
<td>Transportation</td>
<td>$812 Million</td>
<td>2,900</td>
</tr>
<tr>
<td>Merck &amp; Co</td>
<td>merck.com</td>
<td>New Jersey, US</td>
<td>Pharmaceuticals</td>
<td>$48 Billion</td>
<td>73,000</td>
</tr>
<tr>
<td>Michelin</td>
<td>michelin.com</td>
<td>France</td>
<td>Automotive</td>
<td>$24 Billion</td>
<td>123,600</td>
</tr>
<tr>
<td>MINISO Co. Ltd</td>
<td>miniso.com</td>
<td>Japan</td>
<td>Retail</td>
<td>$1 Billion</td>
<td>3,011</td>
</tr>
<tr>
<td>NRGi</td>
<td>nrgi.dk</td>
<td>Denmark</td>
<td>Government</td>
<td>$321 Million</td>
<td>1,500</td>
</tr>
</tbody>
			   
	</table>
</div>  
</div>


<div id="Countries" class="tabcontent">
  <h2 class="subhead-small-blk text-center">CRM Market Share</h2>
  <figure class="highcharts-figure">
  <div id="container"></div>
  
</figure> 
</div>
<div id="Industries" class="tabcontent">
  <div class="text-center">
  <h2 class="subhead-small-blk text-center">Top Industries that use CRM</h2>
  <div id="piechart" class="m-auto" style="max-width:700px;"></div>
  </div>
</div>

<div id="Other" class="tabcontent">
  <!--h2 class="subhead-small-blk text-center">Other Details:</h2-->
  <div class="tab-scroll">

<table class="border-tab-new01" style="width: 100%; border-collapse: collapse; border-spacing: 0px;">            
<tbody>
<tr>
<td>List Utility</td>
<td>Email Campaigns, Demand Generation, Social Outreach, Tele Marketing, Direct Mail</td>
</tr>
<tr>
<td>List Delivery Guarantee</td>
<td>90%+ for Direct mails, 85%+ for Tele-contacts and 65% to 75%+ for emails</td>
</tr>
<tr>
<td>Available Formats</td>
<td>XLS, Text, CSV, TSV</td>
</tr>
<tr>
<td>Turn Around Time (TAT)</td>
<td>7-8 Business Days</td>
</tr>
<tr>
<td>Data Sources</td>
<td>Trade Fairs & Trade Show Organizers, Opt-in Email Addresses, Leading Journals, Business Directories, Content Creators, Yellow Pages and more</td>
</tr>
 </tbody>
 </table></div>
</div>
	 <div class="mb-4 mt-4 text-center">
                <a href="#" data-toggle="modal" data-target="#send-message" class="green-btn circle-fa">Send Us Your Requirement!  &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a>
             </div>
	  </div>
	  </div>
	  
    </div>
  </section>
  		 
  <section class="grey-sec-light" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 advantage-tech-list-bg wow fadeInRight"></div>
          <div class="col-lg-6 mb-4 wow fadeInLeft">
          	<div class="pad-sec">
			
			<h2 class="subhead-small-blk">Benefits of Procuring Span Global Services’ CRM Companies List</h2> 
		  <p><img src="https://www.spanglobalservices.com/assets/img/green-right.png" alt="Benefits" title="" class="repo-img" style="width:30px;height:30px;">&nbsp;<strong>200+ unique data attributes</strong> </p>
		  
		   <p><img src="https://www.spanglobalservices.com/assets/img/green-right.png" alt="Benefits" title="" class="repo-img" style="width:30px;height:30px;">&nbsp;<strong>100% Data Refresh Every Quarter</strong></p>
		    <p><img src="https://www.spanglobalservices.com/assets/img/green-right.png" alt="Benefits" title="" class="repo-img" style="width:30px;height:30px;">&nbsp;<strong>Customized lists based on user’s need</strong> </p>
			 <p><img src="https://www.spanglobalservices.com/assets/img/green-right.png" alt="Benefits" title="" class="repo-img" style="width:30px;height:30px;">&nbsp;<strong>Worldwide outreach with data from US, Canada, UK, Europe, Australia, and other countries </strong></p>
			 <p><img src="https://www.spanglobalservices.com/assets/img/green-right.png" alt="Benefits" title="" class="repo-img" style="width:30px;height:30px;">&nbsp;<strong>Fresh and active data verified quarterly with SMTP & NCOA protocols</strong></p>
			 <p><img src="https://www.spanglobalservices.com/assets/img/green-right.png" alt="Benefits" title="" class="repo-img" style="width:30px;height:30px;">&nbsp;<strong>All-inclusive data to facilitate multi-channel & cross-channel marketing.</strong></p>
			 <div class="mb-4 mt-4">
                    <a href="#" data-toggle="modal" data-target="#send-message" class="green-btn circle-fa">Contact Us Now! &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a>
                </div>
                <!--<h2 class="subhead-small-blk">Channelize Your Marketing Efforts Towards Exponential Growth with CRM Users Email Lists and Contacts Database</h2>
				 <p style="text-align:Justify;">Our <strong>Email List of CRM Users</strong> contains extensive information, including name, title, their business contact number, and email address, the size, revenue, SIC Code of their company, and more. With all this information, you will be able to plan and execute multi-channel marketing campaigns that yield higher ROI.</p>
				 <p style="text-align:Justify;">Use this insightful data to devise personalized marketing messages that can be conveyed to these leads on their preferred channels of communication. This way, you can grab their attention and win them over in record time</p>
				
                <div class="mb-4 mt-4">
                    <a href="#" data-toggle="modal" data-target="#send-message" class="green-btn circle-fa">Buy Database Now! &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a>
                </div>-->
                
            </div>
          </div>
        </div>
      </div>
 </section>
 
 <section class="section-sec-50-40 " >
      <div class="container">
	  <div class="row">
		<div class="col-lg-6 mb-4 wow fadeInLeft">
		
			<h2 class="subhead-small-blk">Meet your Prospecting Objectives with Data-driven and Result-oriented Approach</h2>
			 <p style="text-align:Justify;">Cookie-cutter approaches may work with cookies, but they never will when it comes to a premium <strong>CRM Users Email List</strong>. We at Span Global Services understand that your unique business needs data that is accurate and designed to meet its goals like a glove. We customize our CRM users datasets and also ensure that they are 100% accurate and 95% deliverable at the most competitive prices. </p>
			 <p style="text-align:Justify;">Moreover, we regularly update our <a href="https://www.spanglobalservices.com/email-lists" title="Email Database"><strong>email database</strong></a> to remove obsolete, redundant, and inaccurate data. Thus, ensuring that the data you receive always stays relevant and current. Also, since your database will be permission-based, you need not fear the silent treatment from the other end! </p>
			
			
			
            <p style="text-align:Justify;">With email lists, <a href="https://www.spanglobalservices.com/data-enrichment-services" title="Data Enrichment"><strong>data enrichment</strong></a>, and <a href="https://www.spanglobalservices.com/data-append/email-appending" title="Email Append Services"><strong>email append services</strong></a> from Span Global Services, you can increase the effectiveness of your marketing campaigns and watch your business soar to greater heights. Get in touch with us today!</p>
		</div>
		
		
		<div class="col-lg-6 mb-4 wow fadeInRight">
		<h2 class="subhead-small-blk text-center">Data Fields We Provide Includes</h2>
	
     <p><a href="#requestquote"><img src="https://www.spanglobalservices.com/assets/img/technology-data-field.jpg" alt="Technology-Data-Fields" title="" class="repo-img"></a></p>
			
			   
			   </div>
		</div>
	  
	  
        <div class="row">
           <div class="col-lg-12 wow fadeInLeft text-center">
           <h2 class="subhead-small-blk">Partnering with You at Every Stage Even if it Means Walking the Extra Mile</h2>
		   <p style="text-align:Justify;">We understand what it takes to stand out from the crowd, and we will collate your <strong>CRM Customers List</strong> to deliver on that front. The more marketers leverage the power of personalization, the higher their chances of earning a customer. A premium and targeted database plays the first and most vital role in enabling this personalization – it shows the right people to target. </p>
		   <p style="text-align:Justify;">Every company today is fighting hard to not just survive, but also thrive in the market. However, considering the cut-throat market scenario that keeps getting more and more challenging by the day, an unsuccessful marketer will be one who fails to walk that extra mile. Our <strong>Full List of Companies that use CRM</strong> will be collated to suit your unique business across multiple marketing channels, besides being 100% accurate and 95% deliverable.</p>
		   <p style="text-align:Justify;">By choosing us as your data partner, you can forget all about your marketing woes! Wave them a hearty goodbye as you prepare yourself to greet higher ROIs, low email bounce-backs, better brand engagement, and improved brand equity. </p>
		   
			<div class="mb-4 mt-4">
                    <a href="#" data-toggle="modal" data-target="#send-message" class="green-btn circle-fa">Get Your FREE Sample Today! &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a>
            </div>


			
          
          </div>
          
          
          
        </div>
      </div>
 </section>
 
 <style>
.section-sec-test .testi-box{background:#ffff;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 25px;text-align: center;border-radius:20px;}
.section-sec-test img{margin-bottom:5px;}

.section-sec-test .test-name{color:#026831;font-size:18px;margin-bottom:3px;font-weight:400;}
.section-sec-test .test-desg{font-size:15px;}
.section-sec-test{padding:10px 0px 40px 0px;}
.section-sec-test .mb-2{padding-bottom:15px;}
@media screen and (max-width:768px) {
  .section-sec-test .col-lg-4{padding-bottom:10px;} }
        </style>
 <section class="section-sec-test" >
    <div class="container">
         <h2 class="subhead-small-blk text-center mb-2">Hear What Our Customers Say</h2>
        <div class="row">
            <div class="col-lg-4 wow fadeInLeft text-center">
                  <div class="testi-box text-center">
 <img src="../assets/img/testimonial-quote.jpg" alt="testimonial"  class="respo-img">
  <p class="test-content">The crm users list from Span Global Services opened the doors to sales areas we'd been looking for. With the data having more than 90% accuracy, all that was left for our sales and marketing teams was to identify and prioritize the accounts that would bring in fulfilling revenues. And that’s exactly what we achieved in flying colors.<br><br> </p>
  <p class="test-name"><strong>Ryan Agnew</strong> </p>
  <p class="test-desg">Associate VP Marketing</p>
                    </div>
            </div>
                <div class="col-lg-4 wow fadeInLeft text-center">
                  <div class="testi-box text-center">
 <img src="../assets/img/testimonial-quote.jpg" alt="testimonial"  class="respo-img">
  <p class="test-content">Our search for the ideal database partner appeared to go on forever until we met Span Global Service team. With their support, our sales and marketing teams were able to reach out to the markets with the highest returns, thanks to the crm customers list Span Global provided, along with the essential CRM technology intelligence.</p>
  <p class="test-name"><strong>Tom Farley</strong> </p>
  <p class="test-desg">AVP, Sales Operations</p>
                    </div>
            </div>
                <div class="col-lg-4 wow fadeInLeft text-center">
                    <div class="testi-box text-center">
 <img src="../assets/img/testimonial-quote.jpg" alt="testimonial"  class="respo-img">
  <p class="test-content">Partnering with Span Global Services, we were able to obtain real-time data on firmographics, technology usage, buying intent signals, and hundreds of other account attributes with the help of their crm users mailing list. It allowed our sales and marketing teams to devise customized campaigns and follow-ups resulting in successful campaigns in numbers and capital.<br><br> </p>
  <p class="test-name"><strong>Jeff Randel</strong></p>
  <p class="test-desg">VP Sales</p>
                    </div>
            </div>
        </div>
     </div>
 </section>
  
   
 <div id="requestquote">
  <p>&nbsp;</p>
  </div>
 <section class="free-quote-sec" >
      <div class="container">
      <div class="row">
      	  <div class="col-lg-5 wow fadeInRight centeralign">
          	<div>
          	<h2>GET A FREE QUOTE</h2>
            <p>Finding the right data can be<br/> 
			complicated, so we are here to help </p>
            </div>
          </div>
          <div class="col-lg-7 wow fadeInRight">
            <div class="contact-quote">
    <div class="form">
          <form method="post" name="contactside" class="contactForm" onsubmit="return fnValidationContactside()" action="https://www.spanglobalservices.com/scripts/formmail" enctype="multipart/form-data">
            <input name="subject" type="hidden" value="Contact Details from Span Global Services">
            <input name="redirect_url" type="hidden" value="https://www.spanglobalservices.com/thanks">
              <div class=" form-row">
              	<div class="col-lg-6 form-group">
              		<input type="text" name="fname" class="form-control" id="fname" placeholder="First Name*">
                </div>
                <div class="col-lg-6 form-group">
              		<input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name*">
                </div>
                <div class="col-lg-6 form-group">
                	<input type="email" class="form-control" name="email" id="email" placeholder="Business Email*">              		
                </div>
                <div class="col-lg-6 form-group">
                	<input type="text" class="form-control" name="phone" id="phone" placeholder="Phone*">            		
                </div>
              </div>
			  
			     <div class="form-row">
              	
                <div class="col-lg-12 form-group">
                	<div class="input-container">
                		
                        <select name="contact" class="form-control">
  <option value="">No. of contacts</option>
  <option value="Less than 10k">Less than 10k</option>
  <option value="10k-50k">10k-50k</option>
  <option value="50k-100k">50k-100k</option>
  <option value="100k+">100k+</option>
</select>
                    </div>
              		
                </div>
              </div>
                            
              <div class="form-group">
              	<textarea class="form-control " name="comments" rows="2" placeholder="Requirements"></textarea>
              </div>
              <div class="form-group"><button type="submit" class="circle-fa" >CLICK HERE TO SUBMIT</button></div>
          </form>
     </div>
</div>          </div>
      </div>
      </div>
</section>
   
    
  </main>
  {% endblock %}
