{% extends 'base.html' %}

{% block content %}
  <main id="main">
  
   
		  
  <section class="section-sec-0-60" style="padding: 0px 0 25px 0;">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 section-fpad wow fadeInLeft">
		  
			
               <h2 class="subhead-small-blk">Avail Verified and Precise SAP Customers List</h2>
			   <p><strong>Some of the companies that use SAP includes 3M, 7-Eleven Inc, Bobst, DuPont, Johnson & Johnson and many more.</strong></p>
			   <p align="justify">Promote your products and services with the authentic <strong>SAP Clients List</strong> provided by <a href="https://www.spanglobalservices.com/"><strong>Span Global Services</strong></a> and stand out from the crowd. We offer highly-responsive <strong>SAP Customer List</strong> to enhance your marketing efforts so that you can roll out engaging campaigns. Our email list of SAP users comes with the guarantee of 95% deliverability through multi-channel marketing and gives maximum return on campaign investment. Therefore, do not get laid back and procure the right services. Increase of your sales will be guaranteed if you take your campaign efforts to the right direction.</p>
			   <p align="justify">SAP is by far one of the most in-demand enterprise software solution providers across the world. As a result of their worldwide brand reputation and vast client base, many marketers want to expand their market by targeting their client base. So your targeted decision makers in <strong>Companies that use SAP Technologies</strong> are prime targets for many other marketers from different geographies. You really need to be smart with your action plans if you want to stand out from your competitors.</p>
			   
			   <h2 class="subhead-small-blk">Customize your SAP Users Email List by</h2>
			    <style>
    .repo-img{max-width:100%;}
     @media screen and (max-width: 992px) { .respo-icon .col-lg-2 { width: 100%; } }
     @media screen and (max-width:768px)  { .respo-icon .col-lg-2 { width: 32%;  } }
     @media screen and (max-width: 600px) { .respo-icon.col-lg-2 { width: 32%; } }
</style>
			   <div class="row respo-icon"> 
			   <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;">
			   <img src="https://www.spanglobalservices.com/assets/img/assets-size.png" alt="assets-size" title="assets-size" class="respo-img" >
			   <p>Assets Size</p>
			   </div>
			   <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;"> 
			   <img src="https://www.spanglobalservices.com/assets/img/company-size.gif" alt="company-size" title="company-size" class="respo-img" >
			    <p>Company Size</p>
			   </div> 
			   <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;">
			   <img src="https://www.spanglobalservices.com/assets/img/geographic.png" alt="geographic" title="geographic" class="respo-img" >
			    <p>Geographic</p>
			   </div> 
			   <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;">
			   <img src="https://www.spanglobalservices.com/assets/img/industry.gif" alt="industry" title="industry" class="respo-img" >
			    <p>Industry</p>
			   </div>
			   <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;">
			   <img src="https://www.spanglobalservices.com/assets/img/job-title.png" alt="job-title" title="job-title" class="respo-img" >
			    <p>Job Title</p>
			   </div> 
			   <div class="col-lg-2 wow fadeInLeft text-center" style="visibility: visible; animation-name: fadeInLeft;">
			   <img src="https://www.spanglobalservices.com/assets/img/technology.gif" alt="technology" title="technology" class="respo-img" >
			    <p>Technology</p>
			   </div>
			   
			   
			   </div>
			 
          </div>
          <div class="col-lg-5 mb-4 wow fadeInRight">
               <div class="mx-800">
				<div class="contact-side">
	<h4>GET A FREE QUOTE</h4>
	<p>We have got you covered on all your email and direct marketing needs</p>
    <div class="form">
         
			
		    <form name="f12" id="contact-form" action="https://www.spanglobalservices.com/scripts/formmail" method="post" onSubmit="return validationcon()" > 		
			<input type="hidden" name="returnURL" value="https://www.spanglobalservices.com/thanks">
			<input name="title" type="hidden" value="Contact Request from Span Global Services">


			  <div class=" form-row">
              	<div class="col-lg-6 form-group">
                	<div class="input-container">
                        <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name*">
                        <i class="fa fa-user icon"></i>
                    </div>
                </div>
                <div class="col-lg-6 form-group">
                	<div class="input-container">
                    	<input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name">
                        <i class="fa fa-user icon"></i>
                    </div>
              		
                </div>
              </div>
			  
			   <div class=" form-row">
              	<div class="col-lg-6 form-group">
                	<div class="input-container">
              			<input type="email" class="form-control" name="email" id="email" placeholder="Business Email*">
                    	<i class="fa fa-envelope icon"></i>
                    </div>
                </div>
                <div class="col-lg-6 form-group">
                	<div class="input-container">
              			<input type="text" class="form-control" name="phone" id="phone" placeholder="Business Phone*">
                        <i class="fa fa-phone icon"></i>
                    </div>
                </div>
              </div>
			
			
              <div class=" form-row">
              	
                <div class="col-lg-12 form-group">
                	<div class="input-container">
                		<input type="text" name="company" class="form-control" id="company" placeholder="Company Name*">
                        <i class="fa fa-briefcase icon"></i>
                    </div>
              		
                </div>
              </div>
			  
			   <div class=" form-row">
              	
                <div class="col-lg-12 form-group">
                	<div class="input-container">
                		
                        <select name="contact" class="form-control">
  <option value="">No. of contacts</option>
  <option value="Less than 10k">Less than 10k</option>
  <option value="10k-50k">10k-50k</option>
  <option value="50k-100k">50k-100k</option>
  <option value="100k+">100k+</option>
</select>
                    </div>
              		
                </div>
              </div>
            
              
              
              <div class="form-group">
              	<textarea class="form-control " name="comments" rows="1" placeholder="Message*"></textarea>
              </div>
              <div class="form-group">
              <label ><input name="newslettersubscribe" value="newslettersubscribe" checked="" type="checkbox"> I would like to subscribe to your Newsletter.</label>
              </div>
              
              <div class="form-group mt-4"><button type="submit" class="circle-fa" >Submit Data Counts and Quote Request &nbsp; <i class="fa icon ion-android-arrow-forward"></i></button></div>
          </form>
     </div>
</div>              </div>
          </div>
          <div class="clearfix"></div>
      </div>
	  </div>
	  </section>
	  
	   <section class="grey-sec-light-01" style="box-shadow: -1px 7px 25px #2bb511;">
	  <div class="container"> 
	  <div class="row">
	  <div class="col-lg-12 pt-3 pb-3 mt-3 wow fadeInRight" style="visibility: visible; animation-name: fadeInLeft;"> 
	  <h2 class="subhead-small-blk text-center">Our SAP Products Users List Includes:</h2> 
	  <div class="row"> 
	  <div class="col-lg-4 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;"> 
	  <ul class="green-star-list"> 
	  <li>ECC SAP Users</li>
<li>EHSM SAP Users</li>
<li>HANA SAP Users List</li>
<li>ITS SAP Users List</li>
<li>PRD2(P2) SAP Users</li>
<li>SAP Convergent Charging (CC) Users</li>
<li>SAP Crystal Reports ERP Users List</li>
<li>SAP Enterprise Buyer Professional Users</li>
	  
	  </ul> 
	  </div> 
	  <div class="col-lg-4 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;"> 
	  <ul class="green-star-list">
	  <li>SAP ERP Users Email List</li>
<li>SAP Exchange Infrastructure (XI) Users</li>
<li>SAP Financial Services Network</li>
<li>SAP for Business Analytics</li>
<li>SAP for Insurance</li>
<li>SAP for Oil &amp; Gas (IS Oil &amp; Gas)</li>
<li>SAP for Public Sector (IS PSCD)</li>
	  </ul>
	  </div>
	  <div class="col-lg-4 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;"> 
	  <ul class="green-star-list"> 
	  <li>SAP GRC Users Email List</li>
<li>SAP Hybris Users List</li>
<li>SAP Netweaver ERP Users List</li>
<li>SAP R3 ERP Users List</li>
<li>SAP SRM Users List</li>
<li>SAP SuccessFactors Users</li>
<li>SAP Sybase Users List</li>
	  </ul> 
	  </div> 
	  </div> 
     
     <div class="row pt-1 pb-1 wow fadeInRight">

                            <div class="col-sm-1"></div>
                            <div class="col-sm-5">
                                <a href="#requestquote">
                                    <div class="cardbox">
                                        <div class="row  wow fadeInRight">

                                            <div class="col-sm-2"><img class="imgin" src="../assets/img/ic1.png" alt="ic1" />
                                            </div>
                                            <div class="col-sm-10 c-top1">
                                                <h2 class="c-numb">118,784  </h2>
                                                <h4 class="c-txt1">Companies Using SAP </h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-5">
                                <a href="#requestquote">
                                    <div class="cardbox">
                                        <div class="row">
                                            <div class="col-sm-2 "><img class="imgin" src="../assets/img/ic2.png" alt="ic2" />
                                            </div>
                                            <div class="col-sm-10 c-top1">
                                                <h2 class="c-numb">395,295  </h2>
                                                <h4 class="c-txt1">Total Contacts Available</h4>
                                            </div>

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
               </div>
  
	  </div> 
	  </div>
	  </section>
	  
	  
	  
	  
	  <section class="section-sec-0-60" style="padding: 0px 0 0px 0;">
      <div class="container">
	  <div class="row">
	  <div class="col-lg-12 section-fpad wow fadeInLeft">
      <div class="mx-700 pb-3">
<h2 class="subhead-small-blk text-center">Companies Using SAP, Segregated by Top Countries, Top Industries & Other Details				
</h2>
<p class="big-para text-center">We have data about 118,784  companies that use SAP</strong></p>
		  </div>
	  </div>
	  </div>
	  
	  <div class="row">
	  <div class="col-lg-12 mb-4 wow fadeInRight">
	  
	 
	  <div class="tab">
      <button class="tablinks" onclick="openCity(event, 'Company')" id="defaultOpen"><img src="https://www.spanglobalservices.com/assets/img/company-icon.png" alt="Companies using SAP" title="" class="table-title-icon01"/>Companies Using SAP </button>
      <button class="tablinks" onclick="openCity(event, 'Countries')"><img src="https://www.spanglobalservices.com/assets/img/countries-icon.png" alt="Countries" title="" class="table-title-icon01"/>Countries </button>
      <button class="tablinks" onclick="openCity(event, 'Industries')"><img src="https://www.spanglobalservices.com/assets/img/industries-icon.png" alt="Industries" title="" class="table-title-icon01"/>Industries</button>
      <button class="tablinks" onclick="openCity(event, 'Other')"><img src="https://www.spanglobalservices.com/assets/img/other-detials-icon.png" alt="Other Details" title="" class="table-title-icon01"/>Other Details</button>
    </div>





<div id="Company" class="tabcontent">

  <div class="tab-scroll">

<table class="border-tab-new01" style="width: 100%; border-collapse: collapse; border-spacing: 0px;">            

<tbody>
<tr>
  <th>Company Name</th>
<th>Website</th>
<th>Headquarters</th>
<th>Industry</th>
<th>Revenue</th>
<th>Employees</th>
</tr>
<tr>
<td>3M</td>
<td>3m.com</td>
<td>Minnesota, US</td>
<td>Specialty Industrial Machinery</td>
<td>$32 Billion</td>
<td>90316</td>
</tr>
<tr>
<td>7-Eleven, Inc</td>
<td>7-eleven.com</td>
<td>Texas, US</td>
<td>Retail</td>
<td>$10 Billion</td>
<td>50,000</td>
</tr>
<tr>
<td>Bobst</td>
<td>bobst.com</td>
<td>Switzerland</td>
<td>Machinery</td>
<td>$1 Billion</td>
<td>5,555</td>
</tr>
<tr>
<td>DuPont</td>
<td>dupont.com</td>
<td>Wilmington, US</td>
<td>Mechanical or Industrial Engineering</td>
<td>$20 Billion</td>
<td>34,000</td>
</tr>
<tr>
<td>Johnson &amp; Johnson</td>
<td>jnj.com</td>
<td>New Brunswick, US</td>
<td>Hospital &amp; Health Care</td>
<td>$82 Billion</td>
<td>1,34,500</td>
</tr>
<tr>
<td>Lorven Technologies</td>
<td>lorventech.com</td>
<td>Plainsboro, US</td>
<td>IT &amp; Services</td>
<td>$10 Million</td>
<td>33</td>
</tr>
</tbody>

</table>
		   </div>
  
</div>



<div id="Countries" class="tabcontent">
  <h2 class="subhead-small-blk text-center">Top Countries that Use SAP</h2>

        <div class="demo-wrapper">
      <!-- Demo GPD -->

      <div class="demo-container">
       
        <div id="svgMapGPD"></div>
        <script>
var svgMapDataGPD = {
  data: {
    
    
    gdpAdjusted: {
      name: 'Total No. of SAP user :',
      format: '{0}',
      thousandSeparator: ',',
      thresholdMax: 60000,
      thresholdMin: 1000
	  
    }
  },
  applyData: 'gdpAdjusted',
  values: {
    GB: {
      link: '',
      linkTarget: '_blank',
      gdp: 39735,
      change: -1.96,
      linkTarget: '_blank',
      gdpAdjusted: 914,
      changeAdjusted: 1.21
    },
	US: {
      link: '',
      linkTarget: '_blank',
      gdp: 59501,
      change: 3.37,
      linkTarget: '_blank',
      gdpAdjusted: 2397,
      changeAdjusted: 1.48
    },
	IN: {
      link: '',
      linkTarget: '_blank',
      gdp: '',
      change: 13.35,
      linkTarget: '_blank',
      gdpAdjusted: 820,
      changeAdjusted: 5.43
    },
	FR: {
      link: '',
      linkTarget: '_blank',
      gdp: 39869,
      change: 4.35,
      linkTarget: '_blank',
      gdpAdjusted: 241,
      changeAdjusted: 1.46
    },
	DE: {
      link: '',
      linkTarget: '_blank',
      gdp: 44550,
      change: 5.44,
      linkTarget: '_blank',
      gdpAdjusted: 406,
      changeAdjusted: 2.07
    },
	CA: {
      link: '',
      linkTarget: '_blank',
      gdp: 45077,
      change: 6.27,
      linkTarget: '_blank',
      gdpAdjusted: 331,
      changeAdjusted: 2.1
    },
	BR: {
      link: '',
      linkTarget: '_blank',
      gdp: 9895,
      change: 13.74,
      linkTarget: '_blank',
      gdpAdjusted: 512,
      changeAdjusted: 0.23
    },
	ES: {
      link: '',
      linkTarget: '_blank',
      gdp: 28359,
      change: 6.31,
      linkTarget: '_blank',
      gdpAdjusted: 334,
      changeAdjusted: 3.01
    },
	AU: {
      link: '',
      linkTarget: '_blank',
      gdp: 55707,
      change: 7.39,
      linkTarget: '_blank',
      gdpAdjusted: 310,
      changeAdjusted: 0.97
    },
	ZA: {
      link: '',
      linkTarget: '_blank',
      gdp: 6180,
      change: 16.25,
      linkTarget: '_blank',
      gdpAdjusted: 166,
      changeAdjusted: -0.07
    }
  }
};


</script>
        <script>
          new svgMap({
            targetElementID: 'svgMapGPD',
            data: svgMapDataGPD,
            mouseWheelZoomEnabled: true,
            mouseWheelZoomWithKey: true,
			colorMax: '#27af0d',
            colorMin: '#7bbb21',
            colorNoData: '#e2e5e2'
          });
        </script>
      </div>

    </div>
      
   
   
</div>
<div id="Industries" class="tabcontent">
  <div class="text-center">
  <h2 class="subhead-small-blk text-center">Top Industries that Use SAP</h2>
  <div id="piechart" class="m-auto" style="max-width:700px;"></div>
  </div>
</div>

<div id="Other" class="tabcontent">
  <!--h2 class="subhead-small-blk text-center">Other Details:</h2-->
  <div class="tab-scroll">

            <table class="border-tab-new01" style="width: 100%; border-collapse: collapse; border-spacing: 0px;">            
               <tbody>

<tr>
<td>List Utility</td>
<td>Email Campaigns, Demand Generation, Social Outreach, Tele Marketing, Direct Mail</td>
</tr>
<tr>
<td>List Delivery Guarantee</td>
<td>90%+ for Direct mails, 85%+ for Tele-contacts and 65% to 75%+ for emails</td>
</tr>
<tr>
<td>Available Formats</td>
<td>XLS, Text, CSV, TSV</td>
</tr>
<tr>
<td>Turn Around Time (TAT)</td>
<td>7-8 Business Days</td>
</tr>
<tr>
<td>Data Sources</td>
<td>Trade Fairs & Trade Show Organizers, Opt-in Email Addresses, Leading Journals, Business Directories, Content Creators, Yellow Pages and more</td>
</tr>
 </tbody>
 </table></div>
</div>
	  
			<div class="mb-4 mt-4 text-center">
                <a href="#" data-toggle="modal" data-target="#send-message" class="green-btn circle-fa">Send Us Your Requirement!<i class="fa icon ion-android-arrow-forward"></i></a>
            </div>
	  </div>
	  </div>
	  
    </div>
  </section>
  
  <section class="grey-sec-light" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 advantage-tech-list-bg wow fadeInRight"></div>
          <div class="col-lg-6 mb-4 wow fadeInLeft">
          	<div class="pad-sec">
			  <h2 class="subhead-small-blk">Benefits of Procuring Span Global Services’ SAP Users List</h2> 
		  <p><img src="https://www.spanglobalservices.com/assets/img/green-right.png" alt="Benefits" title="" class="repo-img" style="width:30px;height:30px;">&nbsp;<strong>200+ unique data attributes</strong> </p>
		  
		   <p><img src="https://www.spanglobalservices.com/assets/img/green-right.png" alt="Benefits" title="" class="repo-img" style="width:30px;height:30px;">&nbsp;<strong>100% Data Refresh Every Quarter</strong></p>
		    <p><img src="https://www.spanglobalservices.com/assets/img/green-right.png" alt="Benefits" title="" class="repo-img" style="width:30px;height:30px;">&nbsp;<strong>Customized lists based on user’s need</strong> </p>
			 <p><img src="https://www.spanglobalservices.com/assets/img/green-right.png" alt="Benefits" title="" class="repo-img" style="width:30px;height:30px;">&nbsp;<strong>Worldwide outreach with data from US, Canada, UK, Europe, Australia, and other countries </strong></p>
			 <p><img src="https://www.spanglobalservices.com/assets/img/green-right.png" alt="Benefits" title="" class="repo-img" style="width:30px;height:30px;">&nbsp;<strong>Fresh and active data verified quarterly with SMTP & NCOA protocols</strong></p>
			 <p><img src="https://www.spanglobalservices.com/assets/img/green-right.png" alt="Benefits" title="" class="repo-img" style="width:30px;height:30px;">&nbsp;<strong>All-inclusive data to facilitate multi-channel & cross-channel marketing.</strong></p>
			 
		 
			<div class="mb-4 mt-4">
                    <a href="#" data-toggle="modal" data-target="#send-message" class="green-btn circle-fa">Contact Us Now! &nbsp; <i class="fa icon ion-android-arrow-forward"></i></a>
                </div>
                
            </div>
          </div>
        </div>
      </div>
 </section>
 
 <section class="section-sec-50-40 " style="padding: 50px 0 0px 0;">
      <div class="container">
	  
	  <div class="row">
		<div class="col-lg-6 mb-4 wow fadeInLeft">
		
			<h2 class="subhead-small-blk">Take your Business Levels Higher with Valuable Data Insights and Intelligence</h2>
			<p style="text-align:Justify;">Span Global Services’ actionable <strong>SAP Clients List</strong> does more than just offering data. We add intelligence to your campaign that results in the increase of sales like never before. With us, you will be able to pinpoint the right prospects for your campaign messages. </p>
			<p style="text-align:Justify;"> Enabled with our data and intelligence, you will be able to target top-notch decision makers and experienced IT professionals with multi-channel marketing. Span Global Services will give you the right support with a powerful <strong>List of SAP Users</strong> relevant for all direct mail, telemarketing, email marketing, and social media marketing campaigns.</p>
		</div>
		
		
		<div class="col-lg-6 mb-4 wow fadeInRight">
		<h2 class="subhead-small-blk text-center">Data Fields We Provide Includes</h2>
		
		 
<p><a href="#requestquote"><img src="https://www.spanglobalservices.com/assets/img/technology-data-field.jpg" alt="Technology-Data-Fields" title="" class="repo-img"></a></p>	   
			 
			   
			   </div>
		</div>
	  
	  
	  
	  
        <div class="row">
          <div class="col-lg-12 wow fadeInLeft">
		   
          	<h2 class="subhead-small-blk text-center">Connect with the Right Decision-makers to Achieve your Business Goals Efficiently </h2>
			
			<p style="text-align:Justify;">Targeting SAP Users across the world in a competitive business world will be difficult without using the right data. Keep your brand on the top of your prospects mind by delivering personalized content to the right accounts at the right time. Business professionals and decision makers eventually move, retire, pass away or make professional changes each year. The need to clean and verify data sets is, therefore, critical to ensure sales and marketing success. At Span Global Services, we deliver highly-targeted and tele-verified SAP users email list database to help you to connect with the decision makers who are highly probable to procure products and services from you.</p>
			
			<p style="text-align:Justify;">We gather information from the most reputable sources while compiling <a href="https://www.spanglobalservices.com/b2b-email-list"><strong>business databases</strong></a>. As a marketer, if you think of manually developing <strong>SAP Users Mailing Lists</strong> then not only you will be compromising on time and resources, but might even be losing on opportunities. Therefore, let us be of your assistance and deliver you the <strong>List of Companies using SAP</strong> to power your campaigns.</p>
			<p style="text-align:Justify;">Most vendors in the market are not capable of providing authentic data. Whereas we at Span Global Services offer the most accurate <strong>SAP Users Email List</strong> that keeps campaigns niche-based and help marketers get maximum response from market. We develop the most accurate data lists by referring globally legitimate sources like: Business Directories, Government Lists, Trade Fairs, Yellow Pages, Seminars and Conferences, Online Subscriptions etc.</p>
			
			


<p style="text-align:Justify;">When targeting SAP clients from different geographies, limiting your campaigns within a single channel will be wrong. At Span Global Services, we offer delivery-driven verified SAP users email list where a single list can be effectively used as marketing tool for all your marketing endeavors. So, do not waste time brooding over unassertive marketing efforts. Get in touch with us, procure our database services and solutions, and make your sales and marketing more assertive.</p>
			<div class="mb-4 mt-4 text-center">
				<a href="#" data-toggle="modal" data-target="#send-message" class="green-btn circle-fa">Get Your FREE Sample Today!&nbsp; <i class="fa icon ion-android-arrow-forward"></i></a>
			</div>
            </div>
        </div>
      </div>
 </section>
 
 <section class="section-sec" style="padding: 0px 0 0px 0;">
      <div class="container"> 
         <div class="row">
          <div class="col-lg-12 mb-4 mt-4 wow fadeInLeft">
               <h2 class="subhead-small-blk mb-2 text-center">Frequently Asked Questions</h2>
          </div>
          
          
          <div class="col-lg-12">
          
          <div class="bs-example">
            <div class="accordion " id="accordionExample">
            
              <div class="row">          
  
              <div class="col-lg-6 mb-4 wow fadeInLeft">
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"><i class="fa fa-plus"></i>What is SAP and how does it work?</button>                     
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                           <p>SAP is an ERP solutions software for managing business processes to facilitate effective data processing and flow of information across enterprises. It works as a centralized data management system with a single view of business functions. It is one of the most popular ERP software due to which there are many companies using SAP all over the world.</p>
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header" id="headingfour">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour"><i class="fa fa-plus"></i>How many Businesses use SAP?</button>                     
                        </h2>
                    </div>
                    <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>SAP is used by <strong>more than 425,000 customers</strong> worldwide.  </p>
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header" id="headingfive">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefive"><i class="fa fa-plus"></i>Who are some of the SAP users?</button>                     
                        </h2>
                    </div>
                    <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>Some of the <strong>companies that use SAP</strong> are: 3M, 7-Eleven Inc., Bobst, DuPont, Johnson & Johnson, and Lorven Technologies, based all across the globe.</p>
                        </div>
                    </div>
                </div>
                
              </div>
              
              <div class="col-lg-6 mb-4 wow fadeInRight">
                    
                 
                <div class="card">
                            <div class="card-header" id="headingsix">
                                <h2 class="mb-0">
                                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesix"><i class="fa fa-plus"></i>Which countries use SAP the most?</button>                     
                                </h2>
                            </div>
                            <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>The top 10 countries using SAP the most are: United States (2,397), United Kingdom (914), India (820), Brazil (512), Germany (406), Spain (334), Canada (331), Australia (310), France (241), and South Africa (166).  </p> 
                                   
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header" id="headingseven">
                                <h2 class="mb-0">
                                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseseven"><i class="fa fa-plus"></i>What are the industries that use SAP the most?</button>                     
                                </h2>
                            </div>
                            <div id="collapseseven" class="collapse" aria-labelledby="headingseven" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>The industries that use SAP the most are: Manufacturing (2,983), Technical (2,487), Retail (848), Professional Services (787), Construction (698), Automotive (666), and Healthcare (647).  </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingeight">
                                <h2 class="mb-0">
                                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseeight"><i class="fa fa-plus"></i>What Can You Expect From the SAP Companies List of Span Global Services?</button>                     
                                </h2>
                            </div>
                            <div id="collapseeight" class="collapse" aria-labelledby="headingeight" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Span Global Services guarantees a comprehensive, accurate, and updated list of SAP customers. Currently, we have the data of <strong>118,784</strong> companies that use SAP segregated country-wise and industry-wise. With our list, you can contact directors, managers, C-level executives, business analysts, and consultants.</p>
                                </div>
                            </div>
                        </div>
              </div>
              </div>
              
              
              
              </div>
            </div>
        </div>
          
          <div class="clearfix"></div>
          
        </div>
     </div>
 </section>
  
 
 <style>
.section-sec-test .testi-box{background:#ffff;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 25px;text-align: center;border-radius:20px;}
.section-sec-test img{margin-bottom:5px;}
.section-sec-test .test-name{color:#026831;font-size:18px;margin-bottom:3px;font-weight:400;}
.section-sec-test .test-desg{font-size:15px;}
.section-sec-test{padding:10px 0px 40px 0px;}
.section-sec-test .mb-2{padding-bottom:15px;}
@media screen and (max-width:768px) {
  .section-sec-test .col-lg-4{padding-bottom:10px;} }
        </style>
 <section class="section-sec-test" >
    <div class="container">
         <h2 class="subhead-small-blk text-center mb-2">Hear What Our Customers Say</h2>
        <div class="row">
            <div class="col-lg-4 wow fadeInLeft text-center">
                  <div class="testi-box text-center">
 <img src="../assets/img/testimonial-quote.jpg" alt="testimonial"  class="respo-img">
  <p class="test-content">The SAP users list, in combination with additional technology insight, from Span Global Services, aided us in making real-time decisions, ensuring that sales performance remained on track and in line with business goals.<br><br> </p>
  <p class="test-name"><strong>Thomas Shultz</strong> </p>
  <p class="test-desg">CMO</p>
                    </div>
            </div>
                <div class="col-lg-4 wow fadeInLeft text-center">
                  <div class="testi-box text-center">
 <img src="../assets/img/testimonial-quote.jpg" alt="testimonial"  class="respo-img">
  <p class="test-content">With the help of the robust and accurate SAP customers list procured from Span Global Services, our B2B sales and marketing teams were able to find more and better customers, enhance outreach, and close deals faster.</p>
  <p class="test-name"><strong>Katharina Kochova</strong> </p>
  <p class="test-desg">Global PR Director</p>
                    </div>
            </div>
                <div class="col-lg-4 wow fadeInLeft text-center">
                    <div class="testi-box text-center">
 <img src="../assets/img/testimonial-quote.jpg" alt="testimonial"  class="respo-img">
  <p class="test-content">Span Global Services' SAP clients list provided us with a unique perspective on global sectors, markets, and organizations. This allowed our sales, marketing, and strategy teams to identify the most valuable possibilities, thus enabling them to design revenue-optimization and growth-accelerating plans.<br><br> </p>
  <p class="test-name"><strong>Martin Kostur</strong></p>
  <p class="test-desg">Marketing Director</p>
                    </div>
            </div>
        </div>
     </div>
 </section> 

  <section class="section-sec-small pt-0" >
      <div class="container">
        <div class="row">
          <div class="col-lg-12  wow fadeInLeft">
               <h2 class="subhead-small-blk">Some of Our Top Selling Databases and Technology Contact Lists:</h2>
          </div>
          <div class="col-lg-12 wow fadeInLeft">
          <div class="dgreen-bg-list-outer tab-scroll"> 
          	<table class="dgreen-bg-list">
          	<tr>
			
			<td><a href="https://www.spanglobalservices.com/technology-lists/adp-users-list" title="ADP Clients List">ADP Clients List</a></td>
                <td><a href="https://www.spanglobalservices.com/technology-lists/avaya-ip-office-users-list" title="Avaya IP Office Contact List">Avaya IP Office Contact List</a></td>
				<td><a href="https://www.spanglobalservices.com/technology-lists/blackbaud-raisers-edge-nxt-users-list" title="Blackbaud Raiser's Edge Nxt Users List">Blackbaud Raiser's Edge Nxt Users List</a></td>
				<td><a href="https://www.spanglobalservices.com/technology-lists/mongodb-users-list" title="Companies Using MongoDB">Companies Using MongoDB</a></td>
				
				
				
                
			</tr>
			<tr>
			<td><a href="https://www.spanglobalservices.com/technology-lists/as-400-users-list" title="Companies Using AS400">Companies Using AS400</a></td>
				<td><a href="https://www.spanglobalservices.com/technology-lists/salesforce-crm-users-list" title="Companies that use Salesforce CRM">Companies that use Salesforce CRM</a></td>
				<td><a href="https://www.spanglobalservices.com/technology-lists/avaya-customers-list-usa" title="Email List of Avaya Customers">Email List of Avaya Customers</a></td>
				<td><a href="https://www.spanglobalservices.com/technology-lists/sap-users-list" title="Full List of Companies that use Sap">Full List of companies that use Sap</a></td>
				
				
				
			</tr>
			<tr>
			<td><a href="https://www.spanglobalservices.com/technology-lists/hadoop-users-list" title="Hadoop Customers Database">Hadoop Customers Database</a></td>
			<td><a href="https://www.spanglobalservices.com/technology-lists/ibm-users-list" title="IBM Users List">IBM Users List</a></td>
			<td><a href="https://www.spanglobalservices.com/technology-lists/ibm-spss-users-list" title="IBM SPSS Users Email List">IBM SPSS Users Mailing Database</a></td>
				 <td><a href="https://www.spanglobalservices.com/technology-lists/ibm-maximo-erp-users-list" title="IBM Maximo ERP Vendors Database">IBM Maximo ERP Vendors Database</a></td>
				 
				
			
			</tr>
			<tr>
			<td><a href="https://www.spanglobalservices.com/technology-lists/ibm-websphere-users-list" title="IBM Websphere Users List">IBM Websphere Users List</a></td>
			<td><a href="https://www.spanglobalservices.com/technology-lists/ibm-mainframe-users-list" title="IBM Mainframe Users Email List">IBM Mainframe Users List</a></td>
                <td><a href="https://www.spanglobalservices.com/technology-lists/icims-users-list" title="iCims Users Marketing Database">iCims Users Marketing Database</a></td>
				<td><a href="https://www.spanglobalservices.com/technology-lists/ms-office-365-users-list" title="List of companies using office 365">List of companies using office 365</a></td>
				
			</tr>
            <tr>
			<td><a href="https://www.spanglobalservices.com/technology-lists/tableau-users-list" title="List of companies using Tableau">List of companies using Tableau</a></td>
			<td><a href="https://www.spanglobalservices.com/technology-lists/workbooks-users-list" title="List of WorkBooks Customers">List of WorkBooks Customers</a></td>
               
                <td><a href="https://www.spanglobalservices.com/technology-lists/jd-edwards-users-list" title="List of companies using JD Edwards">List of companies using JD Edwards</a></td>
				<td><a href="https://www.spanglobalservices.com/technology-lists/solarwinds-users-list" title="List of Solarwinds Customers">List of Solarwinds Customers</a></td>
				
                
			</tr>
			<tr>
			<td><a href="https://www.spanglobalservices.com/technology-lists/magento-users-list" title="List of companies using Magento">List of Companies Using Magento</a></td>
			<td><a href="https://www.spanglobalservices.com/technology-lists/litify-software-users-list" title="Litify Software Users List">Litify Software Users List</a></td>
			<td><a href="https://www.spanglobalservices.com/technology-lists/ms-sharepoint-users-list" title="Microsoft Sharepoint Client Leads">Microsoft Sharepoint Client Leads</a></td>
			<td><a href="https://www.spanglobalservices.com/technology-lists/netsuite-users-list" title="Netsuite Users List">Netsuite Users List</a></td>
			
			</tr>
            <tr>
			<td><a href="https://www.spanglobalservices.com/technology-lists/peoplesoft-users-list" title="Peoplesoft Clients Data">Peoplesoft Clients Data</a></td>
			<td><a href="https://www.spanglobalservices.com/technology-lists/quickbooks-users-list" title="QuickBooks Users Email List">QuickBooks Users Email Database</a></td>
			<td><a href="https://www.spanglobalservices.com/technology-lists/ringcentral-users-list" title="RingCentral Users List">RingCentral Users List </a></td>
			
			<td><a href="https://www.spanglobalservices.com/technology-lists/quickbooks-online-users-list" title="Quickbooks Online Users List">Quickbooks Online Users List</a></td>
              
                
			</tr>
			<tr>
			<td><a href="https://www.spanglobalservices.com/technology-lists/servicenow-users-list" title="Servicenow Customers Leads">Servicenow Customers Leads</a></td>
			 <td><a href="https://www.spanglobalservices.com/technology-lists/snowflakes-users-list" title="Snowflakes Users Email List">Snowflakes Users Email List</a></td>
			 <td><a href="https://www.spanglobalservices.com/technology-lists/sugarcrm-users-list" title="Sugarcrm Users List">Sugarcrm Users List</a></td>
			<td><a href="https://www.spanglobalservices.com/technology-lists/shopify-plus-users-list" title="Shopify Plus Users List">Shopify Plus Users List</a></td>
			
			
			
			
			</tr>
                <tr>
				<td><a href="https://www.spanglobalservices.com/technology-lists/stripe-customers-list" title="Stripe Customers List">Stripe Customers List</a></td>
			<td><a href="https://www.spanglobalservices.com/technology-lists/twilio-users-list" title="Twilio Users List">Twilio Users List</a></td>
				<td><a href="https://www.spanglobalservices.com/technology-lists/value-added-resellers-email-list" title="Value Added Resellers contact Data">Value-added Resellers Contact Data</a></td>
				<td><a href="https://www.spanglobalservices.com/technology-lists/vmware-users-list" title="VMWare Customers List">VMWare Customers Database</a></td>
				
				</tr>
				<tr>
				<td><a href="https://www.spanglobalservices.com/technology-lists/vonage-business-cloud-users-list" title="Vonage Business Cloud Users List">Vonage Business Cloud Users List</a></td>
				<td><a href="https://www.spanglobalservices.com/technology-lists/yardi-voyager-users-list" title="Yardi Voyager Contact Data">Yardi Voyager Contact Data</a></td>
				</tr>
            </table>
            
          </div>
          </div>
          
          <div class="clearfix"></div>
          
        </div>
     </div>
 </section>


  <div id="requestquote">
  <p>&nbsp;</p>
  </div>
  
  
 
 <section class="free-quote-sec" >
      <div class="container">
      <div class="row">
      	  <div class="col-lg-5 wow fadeInRight centeralign">
          	<div>
          	<h2>GET A FREE QUOTE</h2>
            <p>Finding the right data can be<br/> 
			complicated, so we are here to help </p>
            </div>
          </div>
          <div class="col-lg-7 wow fadeInRight">
            <div class="contact-quote">
    <div class="form">
          <form method="post" name="contactside" class="contactForm" onsubmit="return fnValidationContactside()" action="https://www.spanglobalservices.com/scripts/formmail" enctype="multipart/form-data">
            <input name="subject" type="hidden" value="Contact Details from Span Global Services">
            <input name="redirect_url" type="hidden" value="https://www.spanglobalservices.com/thanks">
              <div class=" form-row">
              	<div class="col-lg-6 form-group">
              		<input type="text" name="fname" class="form-control" id="fname" placeholder="First Name*">
                </div>
                <div class="col-lg-6 form-group">
              		<input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name*">
                </div>
                <div class="col-lg-6 form-group">
                	<input type="email" class="form-control" name="email" id="email" placeholder="Business Email*">              		
                </div>
                <div class="col-lg-6 form-group">
                	<input type="text" class="form-control" name="phone" id="phone" placeholder="Phone*">            		
                </div>
              </div>
			  
			     <div class="form-row">
              	
                <div class="col-lg-12 form-group">
                	<div class="input-container">
                		
                        <select name="contact" class="form-control">
  <option value="">No. of contacts</option>
  <option value="Less than 10k">Less than 10k</option>
  <option value="10k-50k">10k-50k</option>
  <option value="50k-100k">50k-100k</option>
  <option value="100k+">100k+</option>
</select>
                    </div>
              		
                </div>
              </div>
                            
              <div class="form-group">
              	<textarea class="form-control " name="comments" rows="2" placeholder="Requirements"></textarea>
              </div>
              <div class="form-group"><button type="submit" class="circle-fa" >CLICK HERE TO SUBMIT</button></div>
          </form>
     </div>
</div>          </div>
      </div>
      </div>
</section>
   
    
  </main>
  
  
  {% endblock %}
